Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

refactor(whoop): address CodeRabbit — extract mapping helpers, parallel policy lookups
  packages/workout-spa-editor/src/application/whoop/resolve-whoop-sync-flags.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-cycles.use-case.ts
  packages/workout-spa-editor/src/application/whoop/whoop-cycle-to-pending-records.ts
Due: frontend

fix(whoop): address CodeRabbit — bound HR bucket array, partial counts on error
  packages/whoop/src/adapters/converters/metrics-to-heart-rate-series.converter.test.ts
  packages/whoop/src/adapters/converters/metrics-to-heart-rate-series.converter.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-heart-rate.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-heart-rate.use-case.ts
Due: frontend

feat(whoop): wire WHOOP sync into the SPA (wave 5 — pull trigger)
  packages/workout-spa-editor/src/adapters/bridge/whoop-transport.test.ts
  packages/workout-spa-editor/src/adapters/bridge/whoop-transport.ts
  packages/workout-spa-editor/src/hooks/use-calendar-executed.ts
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.ts
Due: frontend

fix(whoop): status capturedAt is a number, not a string
  packages/workout-spa-editor/src/adapters/bridge/whoop-transport.test.ts
  packages/workout-spa-editor/src/adapters/bridge/whoop-transport.ts
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
Due: frontend

feat(whoop): wire WHOOP sync into the SPA (wave 5 — pull trigger) (#946)
  packages/workout-spa-editor/src/adapters/bridge/whoop-transport.test.ts
  packages/workout-spa-editor/src/adapters/bridge/whoop-transport.ts
  packages/workout-spa-editor/src/hooks/use-calendar-executed.ts
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.ts
Due: frontend

fix(spa-editor): surface retryable error when coaching description fetch fails
  .changeset/coaching-description-load-error.md
  packages/workout-spa-editor/src/adapters/train2go/use-expand-callback.ts
  packages/workout-spa-editor/src/application/coaching/expand-day.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.states.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialogContent.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-description-error.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-parts.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountsSection.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/Daily/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Daily/use-today-planned-buckets.ts
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.test.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-activities.test.ts
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  packages/workout-spa-editor/src/i18n/locales/en/coaching.json
  packages/workout-spa-editor/src/i18n/locales/es/coaching.json
  packages/workout-spa-editor/src/types/coaching-expand-result.ts
  packages/workout-spa-editor/src/types/coaching-source.ts
Due: frontend

fix(spa-editor): bind coaching description error to its activity id
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
Due: frontend

fix(spa-editor): surface retryable error when coaching description fetch fails (#947)
  .changeset/coaching-description-load-error.md
  packages/workout-spa-editor/src/adapters/train2go/use-expand-callback.ts
  packages/workout-spa-editor/src/application/coaching/expand-day.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.states.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialogContent.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-description-error.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-parts.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountsSection.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/Daily/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Daily/use-today-planned-buckets.ts
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.test.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-activities.test.ts
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  packages/workout-spa-editor/src/i18n/locales/en/coaching.json
  packages/workout-spa-editor/src/i18n/locales/es/coaching.json
  packages/workout-spa-editor/src/types/coaching-expand-result.ts
  packages/workout-spa-editor/src/types/coaching-source.ts
Due: frontend

test(spa-editor): tighten coaching + whoop test minimality
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountsSection.test.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
Due: frontend

test(spa-editor): tighten coaching + whoop test minimality (#948)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountsSection.test.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
Due: frontend

test(spa-editor): reach Library via BottomNav in mobile e2e nav helper
  packages/workout-spa-editor/e2e/helpers/mobile-menu.ts
  packages/workout-spa-editor/e2e/library-calendar.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/workout-library.spec.ts
Due: none

test(spa-editor): reach Library via BottomNav in mobile e2e nav helper (#949)
  packages/workout-spa-editor/e2e/helpers/mobile-menu.ts
  packages/workout-spa-editor/e2e/library-calendar.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/workout-library.spec.ts
Due: none

test(spa-editor): fold null-activity into the not-trigger it.each in use-coaching-dialog
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
Due: frontend

test(spa-editor): fold null-activity into the not-trigger it.each in use-coaching-dialog (#950)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
Due: frontend

refactor(garmin): dedupe repeat-group input type and drop dead GarminUnit type
  packages/garmin/src/adapters/schemas/common/index.ts
  packages/garmin/src/adapters/schemas/common/unit.schema.ts
  packages/garmin/src/adapters/schemas/input/repeat-input.schema.ts
Due: garmin

refactor(garmin): dedupe repeat-group input type and drop dead GarminUnit type (#951)
  packages/garmin/src/adapters/schemas/common/index.ts
  packages/garmin/src/adapters/schemas/common/unit.schema.ts
  packages/garmin/src/adapters/schemas/input/repeat-input.schema.ts
Due: garmin

test(spa-editor): reuse wrap helper in coaching-dialog missing-record test
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
Due: frontend

test(spa-editor): widen zones-sync read-week wait for cold-CI discovery
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

test: nightly minimality sweep (20260717-0315) (#953)
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
Due: frontend

refactor(garmin-connect): derive ResolvedOptions from RetryOptions to drop duplicated fields
  packages/garmin-connect/src/adapters/http/retry.ts
Due: none

refactor(garmin-connect): derive ResolvedOptions from RetryOptions to drop duplicated fields (#954)
  packages/garmin-connect/src/adapters/http/retry.ts
Due: none

feat(landing): optimize site for AI agents (GEO)
  .changeset/geo-agent-optimization.md
  .github/workflows/deploy-site.yml
  packages/landing/index.html
  packages/landing/public/llms.txt
  packages/landing/public/robots.txt
  packages/landing/public/sitemap-landing.xml
  packages/landing/public/sitemap.xml
  packages/workout-spa-editor/index.html
Due: none

feat(landing): visible FAQ section with FAQPage JSON-LD (EN + ES)
  .changeset/geo-agent-optimization.md
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/index.html
Due: none

feat(docs-site): clean URLs and fix sitemap base prefix
  .changeset/docs-clean-urls.md
  packages/docs/.vitepress/config.ts
Due: none

chore(release): point npm homepages at kaiord.com docs and broaden keywords
  .changeset/npm-discoverability-metadata.md
  DEPLOYMENT.md
  README.md
  docs/deployment.md
  packages/cli/package.json
  packages/core/package.json
  packages/fit/package.json
  packages/garmin-connect/package.json
  packages/garmin/package.json
  packages/mcp/package.json
  packages/tcx/package.json
  packages/workout-spa-editor/README.md
  packages/zwo/package.json
Due: none

feat(mcp): add mcpName and server.json for the official MCP registry
  .changeset/npm-discoverability-metadata.md
  packages/mcp/package.json
  packages/mcp/server.json
Due: none

feat(landing): optimize site for AI agents (GEO) (#955)
  .changeset/docs-clean-urls.md
  .changeset/geo-agent-optimization.md
  .github/workflows/deploy-site.yml
  packages/docs/.vitepress/config.ts
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/index.html
  packages/landing/public/llms.txt
  packages/landing/public/robots.txt
  packages/landing/public/sitemap-landing.xml
  packages/landing/public/sitemap.xml
  packages/workout-spa-editor/index.html
Due: none

chore(release): point npm homepages at kaiord.com docs and broaden keywords (#956)
  .changeset/npm-discoverability-metadata.md
  DEPLOYMENT.md
  README.md
  docs/deployment.md
  packages/cli/package.json
  packages/core/package.json
  packages/fit/package.json
  packages/garmin-connect/package.json
  packages/garmin/package.json
  packages/mcp/package.json
  packages/mcp/server.json
  packages/tcx/package.json
  packages/workout-spa-editor/README.md
  packages/zwo/package.json
Due: none

refactor(mcp): inline single-use RecoveryStatus type alias
  .changeset/mcp-code-reduction.md
  packages/mcp/src/tools/health/derive-recovery-status.ts
Due: none

refactor(mcp): inline single-use RecoveryStatus type alias (#958)
  .changeset/mcp-code-reduction.md
  packages/mcp/src/tools/health/derive-recovery-status.ts
Due: none

chore(whoop-bridge): sync BRIDGE_MANIFEST version to 10.0.0
  packages/whoop-bridge/background.js
Due: none

chore(whoop-bridge): sync extension manifest version to 10.0.0
  packages/whoop-bridge/manifest.json
Due: none

chore(mcp): sync server.json version to released 10.0.0
  packages/mcp/server.json
Due: none

chore(mcp): shorten server.json description to registry 100-char limit
  packages/mcp/server.json
Due: none

chore: add changeset for server.json registry sync
  .changeset/mcp-server-json-registry-sync.md
Due: none

chore(mcp): sync server.json version to released 10.0.0 (#959)
  .changeset/mcp-server-json-registry-sync.md
  packages/mcp/server.json
Due: none

feat(landing): surface official MCP registry listing on landing and README
  .changeset/landing-mcp-registry-mention.md
  README.md
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/index.html
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
