Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

docs(openspec): propose usage-accounting telemetry sink (dual-write + parity)
  openspec/changes/add-ai-usage-telemetry-sink/design.md
  openspec/changes/add-ai-usage-telemetry-sink/proposal.md
  openspec/changes/add-ai-usage-telemetry-sink/specs/spa-ai-usage-telemetry/spec.md
  openspec/changes/add-ai-usage-telemetry-sink/tasks.md
Due: none

feat(spa-editor): localize the settings panels (settings namespace)
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/BridgeStatusRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/EncryptionSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ExtensionsTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelPicker.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelsSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/NotificationsRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PreferencesTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyInformationSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderEditRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderForm.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderList.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncStatusLine.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/UsageEmptyState.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/UsageTable.tsx
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
Due: frontend

feat(spa-editor): localize the data hub (data-hub namespace) (#903)
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubActionableCell.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCell.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCellMenu.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCellModeButtons.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubColumnHeader.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubLegend.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubSourcePriority.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubTab.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/SourceOrderList.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/SourcePriorityRow.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/data-hub-cell-visuals.ts
  packages/workout-spa-editor/src/i18n/locales/en/data-hub.json
  packages/workout-spa-editor/src/i18n/locales/es/data-hub.json
Due: frontend

feat(spa-editor): localize the nutrition page (nutrition namespace)
  packages/workout-spa-editor/src/components/pages/Nutrition/AdaptiveMaintenanceCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeEntryList.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeEntryRow.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeLoggerFields.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeLoggerForm.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/MacroRings.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/MacroSummaryCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/MealSlotField.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionEmptyState.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionGoalSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionPage.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/PresetList.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/PresetRow.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/WeeklyPlanRow.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/WeeklyPlanSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/intake-entry-summary.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/intake-logger-model.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/macro-rings-view-model.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyRollupSummary.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyTrendChartCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyTrendRangeSelector.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyTrendsSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/build-energy-trend-options.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/energy-rollup-view-model.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/energy-trend-metrics.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/energy-trend-range.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/use-intake-actions.ts
  packages/workout-spa-editor/src/i18n/locales/en/nutrition.json
  packages/workout-spa-editor/src/i18n/locales/es/nutrition.json
Due: frontend

feat(spa-editor): localize the zone editor (zones namespace)
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/SportZoneEditor.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/EditableZoneName.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/PaceInput.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/SportZoneSections.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/SportZoneTabs.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/SportZoneThresholds.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ThresholdInput.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ValidationErrors.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneCard.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneEditorActions.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneEditorHeader.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneInputs.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneMethodSelect.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneRow.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneTable.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneEditor.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneValidation.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneValidation.ts
  packages/workout-spa-editor/src/i18n/locales/en/zones.json
  packages/workout-spa-editor/src/i18n/locales/es/zones.json
Due: frontend

feat(spa-editor): localize the health pages (health namespace)
  packages/workout-spa-editor/src/components/pages/health/HealthActivityPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthRecoveryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSleepPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSourceBadge.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSubRouteLinks.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthWeightPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HrvHistoryList.tsx
  packages/workout-spa-editor/src/components/pages/health/TodayStressList.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendMetricSelector.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendRangeSelector.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.tsx
  packages/workout-spa-editor/src/i18n/locales/en/health.json
  packages/workout-spa-editor/src/i18n/locales/es/health.json
Due: frontend

feat(spa-editor): localize the labs report UI (labs-ui namespace)
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryForm.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabFlagBadge.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabHistorySection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterIdentityField.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterMeasurementFields.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportHeaderFields.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportReview.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportsList.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.tsx
  packages/workout-spa-editor/src/i18n/locales/en/labs-ui.json
  packages/workout-spa-editor/src/i18n/locales/es/labs-ui.json
Due: frontend

feat(spa-editor): localize the zone editor (zones namespace) (#907)
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/SportZoneEditor.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/EditableZoneName.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/PaceInput.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/SportZoneSections.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/SportZoneTabs.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/SportZoneThresholds.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ThresholdInput.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ValidationErrors.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneCard.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneEditorActions.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneEditorHeader.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneInputs.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneMethodSelect.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneRow.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneTable.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneEditor.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneValidation.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneValidation.ts
  packages/workout-spa-editor/src/i18n/locales/en/zones.json
  packages/workout-spa-editor/src/i18n/locales/es/zones.json
Due: frontend

feat(landing): build-time Spanish landing at /es/ (i18n scaffold)
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/i18n/meta.json
  packages/landing/package.json
  packages/landing/scripts/build-locales.mjs
  packages/landing/scripts/extract-strings.mjs
  packages/landing/src/i18n-parity.test.ts
  packages/landing/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(spa-editor): localize the file-import chrome (import namespace) (#904)
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUploadButton.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUploadInput.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/FormatBadge.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/LoadingStatus.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/SuccessStatus.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.tsx
  packages/workout-spa-editor/src/i18n/locales/en/import.json
  packages/workout-spa-editor/src/i18n/locales/es/import.json
Due: frontend

feat(spa-editor): localize the settings panels (settings namespace) (#905)
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/BridgeStatusRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/EncryptionSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ExtensionsTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelPicker.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelsSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/NotificationsRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PreferencesTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyInformationSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderEditRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderForm.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderList.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncStatusLine.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/UsageEmptyState.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/UsageTable.tsx
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
Due: frontend

feat(spa-editor): localize the nutrition page (nutrition namespace) (#906)
  packages/workout-spa-editor/src/components/pages/Nutrition/AdaptiveMaintenanceCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeEntryList.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeEntryRow.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeLoggerFields.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeLoggerForm.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/MacroRings.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/MacroSummaryCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/MealSlotField.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionEmptyState.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionGoalSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionPage.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/PresetList.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/PresetRow.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/WeeklyPlanRow.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/WeeklyPlanSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/intake-entry-summary.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/intake-logger-model.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/macro-rings-view-model.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyRollupSummary.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyTrendChartCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyTrendRangeSelector.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyTrendsSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/build-energy-trend-options.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/energy-rollup-view-model.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/energy-trend-metrics.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/energy-trend-range.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/use-intake-actions.ts
  packages/workout-spa-editor/src/i18n/locales/en/nutrition.json
  packages/workout-spa-editor/src/i18n/locales/es/nutrition.json
Due: frontend

feat(cli): English + Spanish for user-facing CLI output (i18n)
  packages/cli/package.json
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/convert/batch-output.ts
  packages/cli/src/commands/convert/batch.ts
  packages/cli/src/commands/convert/single-file-reporter.ts
  packages/cli/src/commands/convert/single-file.ts
  packages/cli/src/commands/convert/yargs-config.ts
  packages/cli/src/commands/diff/yargs-config.ts
  packages/cli/src/commands/extract-workout/index.ts
  packages/cli/src/commands/extract-workout/yargs-config.ts
  packages/cli/src/commands/garmin/yargs-config.ts
  packages/cli/src/commands/garmin/yargs-subcommands.ts
  packages/cli/src/commands/inspect/index.ts
  packages/cli/src/commands/inspect/yargs-config.ts
  packages/cli/src/commands/validate/format-results.ts
  packages/cli/src/commands/validate/index.ts
  packages/cli/src/commands/validate/yargs-config.ts
  packages/cli/src/i18n/en.json
  packages/cli/src/i18n/es.json
  packages/cli/src/i18n/index.ts
  packages/cli/src/i18n/resolve-cli-locale.test.ts
  packages/cli/src/i18n/resolve-cli-locale.ts
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
Due: cli

feat(spa-editor): localize the health pages (health namespace) (#908)
  packages/workout-spa-editor/src/components/pages/health/HealthActivityPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthRecoveryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSleepPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSourceBadge.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSubRouteLinks.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthWeightPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HrvHistoryList.tsx
  packages/workout-spa-editor/src/components/pages/health/TodayStressList.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendMetricSelector.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendRangeSelector.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.tsx
  packages/workout-spa-editor/src/i18n/locales/en/health.json
  packages/workout-spa-editor/src/i18n/locales/es/health.json
Due: frontend

feat(i18n): localize the browser bridge extensions (chrome.i18n)
  packages/garmin-bridge/_locales/en/messages.json
  packages/garmin-bridge/_locales/es/messages.json
  packages/garmin-bridge/manifest.json
  packages/garmin-bridge/manifest.prod.json
  packages/garmin-bridge/popup.js
  packages/train2go-bridge/_locales/en/messages.json
  packages/train2go-bridge/_locales/es/messages.json
  packages/train2go-bridge/manifest.json
  packages/train2go-bridge/manifest.prod.json
  packages/train2go-bridge/popup.js
  packages/whoop-bridge/_locales/en/messages.json
  packages/whoop-bridge/_locales/es/messages.json
  packages/whoop-bridge/manifest.json
  packages/whoop-bridge/popup.js
  packages/whoop-bridge/test/background.test.js
  scripts/package-extension.sh
Due: none

feat(spa-editor): localize the labs report UI (labs-ui namespace) (#910)
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryForm.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabFlagBadge.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabHistorySection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterIdentityField.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterMeasurementFields.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportHeaderFields.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportReview.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportsList.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.tsx
  packages/workout-spa-editor/src/i18n/locales/en/labs-ui.json
  packages/workout-spa-editor/src/i18n/locales/es/labs-ui.json
Due: frontend

feat(landing): build-time Spanish landing at /es/ (i18n scaffold) (#911)
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/i18n/meta.json
  packages/landing/package.json
  packages/landing/scripts/build-locales.mjs
  packages/landing/scripts/extract-strings.mjs
  packages/landing/src/i18n-parity.test.ts
  packages/landing/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(landing): hreflang, language switcher, and localized copy feedback
  .github/workflows/deploy-site.yml
  packages/landing/scripts/build-locales.mjs
  packages/landing/src/install-widget.ts
Due: none

feat(cli): English + Spanish for user-facing CLI output (i18n) (#912)
  packages/cli/package.json
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/convert/batch-output.ts
  packages/cli/src/commands/convert/batch.ts
  packages/cli/src/commands/convert/single-file-reporter.ts
  packages/cli/src/commands/convert/single-file.ts
  packages/cli/src/commands/convert/yargs-config.ts
  packages/cli/src/commands/diff/yargs-config.ts
  packages/cli/src/commands/extract-workout/index.ts
  packages/cli/src/commands/extract-workout/yargs-config.ts
  packages/cli/src/commands/garmin/yargs-config.ts
  packages/cli/src/commands/garmin/yargs-subcommands.ts
  packages/cli/src/commands/inspect/index.ts
  packages/cli/src/commands/inspect/yargs-config.ts
  packages/cli/src/commands/validate/format-results.ts
  packages/cli/src/commands/validate/index.ts
  packages/cli/src/commands/validate/yargs-config.ts
  packages/cli/src/i18n/en.json
  packages/cli/src/i18n/es.json
  packages/cli/src/i18n/index.ts
  packages/cli/src/i18n/resolve-cli-locale.test.ts
  packages/cli/src/i18n/resolve-cli-locale.ts
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
Due: cli

feat(i18n): localize the browser bridge extensions (chrome.i18n) (#913)
  packages/garmin-bridge/_locales/en/messages.json
  packages/garmin-bridge/_locales/es/messages.json
  packages/garmin-bridge/manifest.json
  packages/garmin-bridge/manifest.prod.json
  packages/garmin-bridge/popup.js
  packages/train2go-bridge/_locales/en/messages.json
  packages/train2go-bridge/_locales/es/messages.json
  packages/train2go-bridge/manifest.json
  packages/train2go-bridge/manifest.prod.json
  packages/train2go-bridge/popup.js
  packages/whoop-bridge/_locales/en/messages.json
  packages/whoop-bridge/_locales/es/messages.json
  packages/whoop-bridge/manifest.json
  packages/whoop-bridge/popup.js
  packages/whoop-bridge/test/background.test.js
  scripts/package-extension.sh
Due: none

feat(landing): hreflang, language switcher, and localized copy feedback (#915)
  .github/workflows/deploy-site.yml
  packages/landing/scripts/build-locales.mjs
  packages/landing/src/install-widget.ts
Due: none

feat(spa-editor): add theme-adaptive semantic tokens and color-scheme
  packages/workout-spa-editor/src/index.css
Due: frontend

fix(spa-editor): address review for usage telemetry sink (#899)
  openspec/changes/add-ai-usage-telemetry-sink/design.md
  openspec/changes/add-ai-usage-telemetry-sink/tasks.md
  packages/workout-spa-editor/src/adapters/telemetry/dexie-usage-telemetry-sink.test.ts
  packages/workout-spa-editor/src/application/chat/append-turn-messages.test.ts
  packages/workout-spa-editor/src/application/chat/record-turn-usage.ts
  packages/workout-spa-editor/src/application/usage/append-usage-event.ts
  packages/workout-spa-editor/src/application/usage/fold-usage-events.test.ts
  packages/workout-spa-editor/src/components/pages/batch-process-one.ts
  packages/workout-spa-editor/src/lib/generate-workout.test.ts
  packages/workout-spa-editor/src/lib/generate-workout.ts
  packages/workout-spa-editor/src/types/usage-event-schemas.test.ts
  packages/workout-spa-editor/src/types/usage-event-schemas.ts
Due: frontend

feat(spa-editor): theme-aware uPlot chart axes
  packages/workout-spa-editor/src/components/charts/uplot-base/chart-theme.test.ts
  packages/workout-spa-editor/src/components/charts/uplot-base/chart-theme.ts
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabHistorySection.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.ts
Due: frontend

fix(spa-editor): collapse mobile header and clean up the md breakpoint
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/ProfileEntryButton.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusHeader.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusHeader.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-button.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/routing/nav-destinations.ts
Due: frontend

feat: add theme-dialect mechanical guard
  .changeset/light-theme-consistency.md
  package.json
  scripts/README.md
  scripts/check-theme-dialect.mjs
  scripts/check-theme-dialect.test.mjs
Due: none

test(spa-editor): navigate Library via BottomNav on the mobile e2e flow
  packages/workout-spa-editor/e2e/library-flows.spec.ts
Due: none

chore(spa-editor): apply prettier class ordering to migrated files
  packages/workout-spa-editor/src/components/molecules/RouteErrorFallback.tsx
  packages/workout-spa-editor/src/components/pages/Daily/ReadinessCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/IntakeLoggerForm.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/MacroSummaryCard.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionGoalSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/WeeklyPlanSection.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/trends/EnergyTrendsSection.tsx
Due: frontend

docs(openspec): archive add-ai-usage-telemetry-sink; graduate spa-ai-usage-telemetry
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/design.md
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/proposal.md
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/specs/spa-ai-usage-telemetry/spec.md
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-ai-usage-telemetry/spec.md
Due: none

docs(openspec): archive add-ai-usage-telemetry-sink; graduate spa-ai-usage-telemetry (#920)
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/design.md
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/proposal.md
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/specs/spa-ai-usage-telemetry/spec.md
  openspec/changes/archive/2026-07-10-add-ai-usage-telemetry-sink/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-ai-usage-telemetry/spec.md
Due: none

fix(spa-editor): address review findings on the adaptive-token migration
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/src/components/atoms/Button/button-styles.ts
  packages/workout-spa-editor/src/components/atoms/Pill/Pill.test.tsx
  packages/workout-spa-editor/src/components/atoms/Pill/Pill.tsx
  packages/workout-spa-editor/src/components/atoms/RouteSpinner.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateStartFrom.tsx
  packages/workout-spa-editor/src/components/pages/Daily/DailyHeader.tsx
  packages/workout-spa-editor/src/components/pages/Daily/EnergyBalanceGated.tsx
  packages/workout-spa-editor/src/components/pages/Daily/TrendsCard.tsx
  packages/workout-spa-editor/src/components/pages/Daily/WeekStrip.tsx
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionEmptyState.tsx
  packages/workout-spa-editor/src/contexts/useThemeProvider.ts
  packages/workout-spa-editor/src/index.css
  scripts/check-theme-dialect.mjs
Due: frontend

test(spa-editor): fold usage/schema tests into it.each and standardize migration titles
  packages/workout-spa-editor/src/adapters/dexie/dexie-v25-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v31-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v32-migration.test.ts
  packages/workout-spa-editor/src/application/usage/provider-type-from-sdk.test.ts
  packages/workout-spa-editor/src/types/usage-event-schemas.test.ts
Due: frontend

test(spa-editor): fold usage/schema tests into it.each and standardize migration titles (#921)
  packages/workout-spa-editor/src/adapters/dexie/dexie-v25-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v31-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v32-migration.test.ts
  packages/workout-spa-editor/src/application/usage/provider-type-from-sdk.test.ts
  packages/workout-spa-editor/src/types/usage-event-schemas.test.ts
Due: frontend

refactor(landing): dedupe analytics click-tracking into a helper
  packages/landing/src/setup-analytics.ts
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
