Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

refactor: phase 2 - code quality and consistency (#130)
  .changeset/phase2-cli-refactor.md
  .changeset/phase2-garmin-split.md
  .changeset/phase2-mcp-nonnull.md
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/convert/yargs-config.ts
  packages/cli/src/commands/diff/yargs-config.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/commands/validate/execute-validation.ts
  packages/cli/src/commands/validate/format-results.ts
  packages/cli/src/commands/validate/handle-error.ts
  packages/cli/src/commands/validate/index.ts
  packages/cli/src/commands/validate/types.ts
  packages/cli/src/commands/validate/yargs-config.ts
  packages/cli/src/utils/error-exit-code.ts
  packages/core/src/domain/schemas/krd/metadata.ts
  packages/core/src/domain/schemas/krd/session.ts
  packages/garmin/src/adapters/converters/executable-step.converter.ts
  packages/garmin/src/adapters/converters/flatten-segments.converter.ts
  packages/garmin/src/adapters/converters/garmin-pool-info.mapper.ts
  packages/garmin/src/adapters/converters/garmin-repetition.converter.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/converters/pool-length.mapper.ts
  packages/garmin/src/adapters/mappers/stroke.mapper.ts
  packages/garmin/src/adapters/schemas/garmin-workout-parse.schema.ts
  packages/mcp/src/utils/resolve-input.ts
Due: core, garmin, cli

chore: phase 3 - config, dependencies, and hardening
  .changeset/phase3-core-typeguard.md
  .github/actions/setup-pnpm/action.yml
  packages/cli/tsconfig.json
  packages/core/src/domain/type-guards.test.ts
  packages/core/src/domain/type-guards.ts
  packages/core/src/index.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.mapper.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.mapper.ts
  packages/fit/src/adapters/shared/type-guards.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/round-trip/round-trip.test.ts
  packages/mcp/src/tools/convert-to-krd.ts
  packages/mcp/tsconfig.json
  packages/workout-spa-editor/package.json
  pnpm-lock.yaml
Due: core, fit, garmin

chore: apply lint fixes
  pnpm-lock.yaml
Due: none

fix: add missing type imports in garmin converter test
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.test.ts
Due: garmin

chore: phase 3 - config, dependencies, and hardening (#132)
  .changeset/phase3-core-typeguard.md
  .github/actions/setup-pnpm/action.yml
  packages/cli/tsconfig.json
  packages/core/src/domain/type-guards.test.ts
  packages/core/src/domain/type-guards.ts
  packages/core/src/index.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.mapper.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.mapper.ts
  packages/fit/src/adapters/shared/type-guards.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/round-trip/round-trip.test.ts
  packages/mcp/src/tools/convert-to-krd.ts
  packages/mcp/tsconfig.json
  packages/workout-spa-editor/package.json
  pnpm-lock.yaml
Due: core, fit, garmin

fix: address CodeRabbit review comments
  packages/cli/src/commands/validate/execute-validation.test.ts
  packages/cli/src/utils/fs-errors.test.ts
  packages/fit/src/adapters/target/target-heart-rate.converter.test.ts
  packages/tcx/src/adapters/target/tcx-to-krd.mapper.test.ts
Due: fit, tcx, cli

chore: apply lint fixes
  packages/cli/src/commands/validate/execute-validation.test.ts
Due: cli

test: phase 4 - close coverage gaps across adapter packages
  .changeset/phase4-test-coverage.md
  packages/cli/src/commands/validate/execute-validation.test.ts
  packages/cli/src/utils/directory-handler.test.ts
  packages/cli/src/utils/error-suggestions.test.ts
  packages/cli/src/utils/format-violations.test.ts
  packages/cli/src/utils/fs-errors.test.ts
  packages/cli/src/utils/path-security.test.ts
  packages/fit/src/adapters/target/target-cadence.converter.test.ts
  packages/fit/src/adapters/target/target-heart-rate.converter.test.ts
  packages/fit/src/adapters/target/target-pace.converter.test.ts
  packages/fit/src/adapters/target/target-power.converter.test.ts
  packages/fit/src/adapters/target/target-stroke.converter.test.ts
  packages/garmin/src/adapters/converters/executable-step.converter.test.ts
  packages/garmin/src/adapters/converters/flatten-segments.converter.test.ts
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.test.ts
  packages/tcx/src/adapters/duration/duration-standard-converter.test.ts
  packages/tcx/src/adapters/duration/duration.mapper.test.ts
  packages/tcx/src/adapters/duration/extended-duration.converter.test.ts
  packages/tcx/src/adapters/duration/krd-to-tcx.converter.test.ts
  packages/tcx/src/adapters/duration/standard-duration.converter.test.ts
  packages/tcx/src/adapters/duration/tcx-to-krd.converter.test.ts
  packages/tcx/src/adapters/target/cadence.converter.test.ts
  packages/tcx/src/adapters/target/heart-rate.converter.test.ts
  packages/tcx/src/adapters/target/pace.converter.test.ts
  packages/tcx/src/adapters/target/tcx-to-krd.converter.test.ts
  packages/tcx/src/adapters/target/tcx-to-krd.mapper.test.ts
  packages/tcx/src/adapters/workout/duration-to-tcx-encoder.test.ts
  packages/tcx/src/adapters/workout/krd.converter.test.ts
  packages/tcx/src/adapters/workout/metadata-builder.test.ts
  packages/tcx/src/adapters/workout/metadata-extractor.test.ts
  packages/tcx/src/adapters/workout/step-helpers.test.ts
  packages/tcx/src/adapters/workout/step-to-tcx.converter.test.ts
  packages/tcx/src/adapters/workout/step.converter.test.ts
  packages/tcx/src/adapters/workout/target-to-tcx.converter.test.ts
  packages/tcx/src/adapters/workout/tcx.converter.test.ts
  packages/tcx/src/adapters/workout/workout.converter.test.ts
  packages/zwo/src/adapters/target/pace-cadence.converter.test.ts
  packages/zwo/src/adapters/target/power.converter.test.ts
Due: fit, tcx, zwo, garmin, cli

test: phase 4 - close coverage gaps across adapter packages (#133)
  .changeset/phase4-test-coverage.md
  packages/cli/src/commands/validate/execute-validation.test.ts
  packages/cli/src/utils/directory-handler.test.ts
  packages/cli/src/utils/error-suggestions.test.ts
  packages/cli/src/utils/format-violations.test.ts
  packages/cli/src/utils/fs-errors.test.ts
  packages/cli/src/utils/path-security.test.ts
  packages/fit/src/adapters/target/target-cadence.converter.test.ts
  packages/fit/src/adapters/target/target-heart-rate.converter.test.ts
  packages/fit/src/adapters/target/target-pace.converter.test.ts
  packages/fit/src/adapters/target/target-power.converter.test.ts
  packages/fit/src/adapters/target/target-stroke.converter.test.ts
  packages/garmin/src/adapters/converters/executable-step.converter.test.ts
  packages/garmin/src/adapters/converters/flatten-segments.converter.test.ts
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.test.ts
  packages/tcx/src/adapters/duration/duration-standard-converter.test.ts
  packages/tcx/src/adapters/duration/duration.mapper.test.ts
  packages/tcx/src/adapters/duration/extended-duration.converter.test.ts
  packages/tcx/src/adapters/duration/krd-to-tcx.converter.test.ts
  packages/tcx/src/adapters/duration/standard-duration.converter.test.ts
  packages/tcx/src/adapters/duration/tcx-to-krd.converter.test.ts
  packages/tcx/src/adapters/target/cadence.converter.test.ts
  packages/tcx/src/adapters/target/heart-rate.converter.test.ts
  packages/tcx/src/adapters/target/pace.converter.test.ts
  packages/tcx/src/adapters/target/tcx-to-krd.converter.test.ts
  packages/tcx/src/adapters/target/tcx-to-krd.mapper.test.ts
  packages/tcx/src/adapters/workout/duration-to-tcx-encoder.test.ts
  packages/tcx/src/adapters/workout/krd.converter.test.ts
  packages/tcx/src/adapters/workout/metadata-builder.test.ts
  packages/tcx/src/adapters/workout/metadata-extractor.test.ts
  packages/tcx/src/adapters/workout/step-helpers.test.ts
  packages/tcx/src/adapters/workout/step-to-tcx.converter.test.ts
  packages/tcx/src/adapters/workout/step.converter.test.ts
  packages/tcx/src/adapters/workout/target-to-tcx.converter.test.ts
  packages/tcx/src/adapters/workout/tcx.converter.test.ts
  packages/tcx/src/adapters/workout/workout.converter.test.ts
  packages/zwo/src/adapters/target/pace-cadence.converter.test.ts
  packages/zwo/src/adapters/target/power.converter.test.ts
Due: fit, tcx, zwo, garmin, cli

feat(garmin-connect): add Garmin Connect API client package
  packages/core/src/domain/types/errors.ts
  packages/core/src/domain/types/service-errors.ts
  packages/core/src/index.ts
  packages/core/src/ports/auth-provider.ts
  packages/core/src/ports/token-store.ts
  packages/core/src/ports/workout-service.ts
  packages/garmin-connect/package.json
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.test.ts
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.test.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.test.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.ts
  packages/garmin-connect/src/adapters/http/oauth-signer.ts
  packages/garmin-connect/src/adapters/http/urls.ts
  packages/garmin-connect/src/adapters/mappers/workout-summary.mapper.ts
  packages/garmin-connect/src/adapters/schemas/garmin-token.schema.ts
  packages/garmin-connect/src/adapters/schemas/workout-response.schema.ts
  packages/garmin-connect/src/adapters/token-store/file-token-store.test.ts
  packages/garmin-connect/src/adapters/token-store/file-token-store.ts
  packages/garmin-connect/src/adapters/token-store/memory-token-store.ts
  packages/garmin-connect/src/index.ts
  packages/garmin-connect/tsconfig.json
  packages/garmin-connect/tsup.config.ts
  packages/garmin-connect/vitest.config.ts
  pnpm-lock.yaml
Due: core

chore: apply lint fixes
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.test.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.ts
  packages/garmin-connect/src/adapters/schemas/workout-response.schema.ts
  pnpm-lock.yaml
Due: none

fix(garmin-connect): address CodeRabbit review comments
  packages/garmin-connect/package.json
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.test.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.ts
Due: none

fix(garmin-connect): address second round of review comments
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.ts
  packages/garmin-connect/src/adapters/token-store/file-token-store.ts
Due: none

feat(garmin-connect): add cookie-aware fetch, simplify API, integration tests
  .github/workflows/ci.yml
  packages/garmin-connect/package.json
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.ts
  packages/garmin-connect/src/adapters/client/garmin-connect-client.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/http/cookie-fetch.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.ts
  packages/garmin-connect/src/adapters/http/oauth-consumer.ts
  packages/garmin-connect/src/adapters/http/oauth-signer.ts
  packages/garmin-connect/src/adapters/http/sso-login.ts
  packages/garmin-connect/src/adapters/http/sso-oauth.ts
  packages/garmin-connect/src/adapters/http/sso-validators.ts
  packages/garmin-connect/src/adapters/http/token-refresh.ts
  packages/garmin-connect/src/adapters/http/types.ts
  packages/garmin-connect/src/adapters/integration/garmin-connect.integration.test.ts
  packages/garmin-connect/src/adapters/schemas/workout-response.schema.ts
  packages/garmin-connect/src/index.ts
  packages/garmin-connect/vitest.config.ts
  pnpm-lock.yaml
Due: none

chore(garmin-connect): apply prettier formatting
  .github/workflows/ci.yml
  packages/garmin-connect/vitest.config.ts
  pnpm-lock.yaml
Due: none

fix(garmin-connect): address CodeRabbit review comments and fix integration tests
  .github/workflows/ci.yml
  packages/garmin-connect/package.json
  packages/garmin-connect/src/adapters/http/garmin-http-client.test.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.ts
  packages/garmin-connect/src/adapters/http/sso-login.ts
  packages/garmin-connect/src/adapters/http/urls.ts
  packages/garmin-connect/vitest.integration.config.ts
Due: none

chore: remove claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix(garmin-connect): accept string dates in workout summary schema
  packages/garmin-connect/src/adapters/mappers/workout-summary.mapper.ts
  packages/garmin-connect/src/adapters/schemas/workout-response.schema.ts
Due: none

refactor(garmin-connect): move integration test next to entry point
  packages/garmin-connect/src/index.integration.test.ts
Due: none

feat(garmin-connect): add README and npm publish/release configuration
  .changeset/config.json
  .github/workflows/release.yml
  docs/mcp-lambda-chat.md
  packages/garmin-connect/README.md
  packages/garmin-connect/package.json
  scripts/create-github-releases.js
Due: none

chore(garmin-connect): apply prettier formatting to README
  packages/garmin-connect/README.md
Due: none

chore: add garmin-connect changeset and fix changeset bot
  .changeset/garmin-connect-initial.md
  .claude/settings.local.json
  .github/workflows/changeset-bot.yml
  CLAUDE.md
Due: none

fix(ci): remove registry-url from setup-node, use OIDC for npm publish
  .github/workflows/release.yml
Due: none

feat(cli,mcp): add Garmin Connect integration with login, logout, list, and push
  .changeset/garmin-connect-cli-mcp.md
  packages/cli/package.json
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/garmin/client-factory.ts
  packages/cli/src/commands/garmin/index.ts
  packages/cli/src/commands/garmin/list.test.ts
  packages/cli/src/commands/garmin/list.ts
  packages/cli/src/commands/garmin/login.test.ts
  packages/cli/src/commands/garmin/login.ts
  packages/cli/src/commands/garmin/logout.test.ts
  packages/cli/src/commands/garmin/logout.ts
  packages/cli/src/commands/garmin/push.test.ts
  packages/cli/src/commands/garmin/push.ts
  packages/cli/src/commands/garmin/types.ts
  packages/cli/src/commands/garmin/yargs-config.ts
  packages/cli/src/utils/error-exit-code.ts
  packages/cli/src/utils/exit-codes.ts
  packages/mcp/package.json
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tools/kaiord-garmin-list.test.ts
  packages/mcp/src/tools/kaiord-garmin-list.ts
  packages/mcp/src/tools/kaiord-garmin-login.test.ts
  packages/mcp/src/tools/kaiord-garmin-login.ts
  packages/mcp/src/tools/kaiord-garmin-logout.test.ts
  packages/mcp/src/tools/kaiord-garmin-logout.ts
  packages/mcp/src/tools/kaiord-garmin-push.test.ts
  packages/mcp/src/tools/kaiord-garmin-push.ts
  packages/mcp/src/utils/garmin-client-state.test.ts
  packages/mcp/src/utils/garmin-client-state.ts
  pnpm-lock.yaml
Due: cli

chore: apply prettier formatting to lockfile
  pnpm-lock.yaml
Due: none

fix(cli): add error handling to garmin logout command
  packages/cli/src/commands/garmin/logout.test.ts
  packages/cli/src/commands/garmin/logout.ts
Due: cli

chore: apply prettier formatting
  packages/cli/src/commands/garmin/logout.test.ts
Due: cli

feat(cli,mcp): add Garmin Connect integration (#134)
  .changeset/garmin-connect-cli-mcp.md
  packages/cli/package.json
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/garmin/client-factory.ts
  packages/cli/src/commands/garmin/index.ts
  packages/cli/src/commands/garmin/list.test.ts
  packages/cli/src/commands/garmin/list.ts
  packages/cli/src/commands/garmin/login.test.ts
  packages/cli/src/commands/garmin/login.ts
  packages/cli/src/commands/garmin/logout.test.ts
  packages/cli/src/commands/garmin/logout.ts
  packages/cli/src/commands/garmin/push.test.ts
  packages/cli/src/commands/garmin/push.ts
  packages/cli/src/commands/garmin/types.ts
  packages/cli/src/commands/garmin/yargs-config.ts
  packages/cli/src/utils/error-exit-code.ts
  packages/cli/src/utils/exit-codes.ts
  packages/mcp/package.json
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tools/kaiord-garmin-list.test.ts
  packages/mcp/src/tools/kaiord-garmin-list.ts
  packages/mcp/src/tools/kaiord-garmin-login.test.ts
  packages/mcp/src/tools/kaiord-garmin-login.ts
  packages/mcp/src/tools/kaiord-garmin-logout.test.ts
  packages/mcp/src/tools/kaiord-garmin-logout.ts
  packages/mcp/src/tools/kaiord-garmin-push.test.ts
  packages/mcp/src/tools/kaiord-garmin-push.ts
  packages/mcp/src/utils/garmin-client-state.test.ts
  packages/mcp/src/utils/garmin-client-state.ts
  pnpm-lock.yaml
Due: cli

feat(spa): add workout preview bar chart component
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/thumbnail/step-colors.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreviewBar.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/bar-height.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/flatten-steps.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/workout-preview-types.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutSection.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.tsx
  packages/workout-spa-editor/src/utils/step-colors.ts
Due: frontend

fix(spa): address PR review findings for WorkoutPreview
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreviewBar.tsx
Due: frontend

refactor(spa): add barrel export and improve step color coverage
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/index.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutSection.tsx
  packages/workout-spa-editor/src/utils/step-colors.ts
Due: frontend

fix(spa): use block-bodied forEach callback in WorkoutPreview test
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.test.tsx
Due: frontend

feat(spa): add workout preview bar chart (#135)
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/thumbnail/step-colors.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreviewBar.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/bar-height.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/flatten-steps.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/index.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/workout-preview-types.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutSection.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.tsx
  packages/workout-spa-editor/src/utils/step-colors.ts
Due: frontend

chore(ci): remove unused Claude Code Action workflow
  .github/workflows/claude.yml
Due: none

fix(spa): resolve cross-browser E2E test failures
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/onboarding.spec.ts
  packages/workout-spa-editor/src/store/clipboard-store.ts
Due: frontend

chore: apply prettier formatting
  packages/workout-spa-editor/src/store/clipboard-store.ts
Due: frontend

fix(spa): resolve cross-browser E2E test failures (#136)
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/onboarding.spec.ts
  packages/workout-spa-editor/src/store/clipboard-store.ts
Due: frontend

fix(spa): resolve CI-specific E2E timing failures
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
Due: none

fix(spa): resolve CI-specific E2E timing failures (#137)
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
