Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

fix(spa): fix remaining CI-only E2E failures
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
Due: none

fix(fit): validate zone ranges for power and pace targets
  packages/fit/src/adapters/target/target-pace.converter.test.ts
  packages/fit/src/adapters/target/target-pace.converter.ts
  packages/fit/src/adapters/target/target-power.converter.test.ts
  packages/fit/src/adapters/target/target-power.converter.ts
Due: fit

chore: add changeset for FIT zone validation fix
  .changeset/fix-fit-zone-validation.md
Due: none

fix(fit): validate zone ranges for power and pace targets (#138)
  .changeset/fix-fit-zone-validation.md
  packages/fit/src/adapters/target/target-pace.converter.test.ts
  packages/fit/src/adapters/target/target-pace.converter.ts
  packages/fit/src/adapters/target/target-power.converter.test.ts
  packages/fit/src/adapters/target/target-power.converter.ts
Due: fit

refactor(spa): reorganize workout toolbar layout
  .changeset/reorganize-workout-toolbar.md
  CLAUDE.md
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/ExportFormatSelector.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdownButton.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatOption.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.property.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.tsx
Due: frontend

fix(spa): address CodeRabbit review comments on PR #139
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/ExportFormatSelector.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/ProgressBar.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.test.tsx
Due: frontend

fix(spa): correct JSX `as any` parsing in FormatDropdown test
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.test.tsx
Due: frontend

refactor(spa): rename button variant "ghost" to "tertiary"
  packages/workout-spa-editor/src/components/atoms/Button/Button.stories.tsx
  packages/workout-spa-editor/src/components/atoms/Button/Button.test.tsx
  packages/workout-spa-editor/src/components/atoms/Button/Button.tsx
  packages/workout-spa-editor/src/components/atoms/Button/README.md
  packages/workout-spa-editor/src/components/atoms/Button/button-styles.ts
  packages/workout-spa-editor/src/components/atoms/ErrorMessage/ErrorActions.tsx
  packages/workout-spa-editor/src/components/atoms/ThemeToggle/ThemeToggle.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockSteps.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionCountEditor.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardHeader.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutTitle.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/HeaderNav.tsx
Due: frontend

chore: remove last "ghost" reference from changeset
  .changeset/reorganize-workout-toolbar.md
Due: none

refactor(spa): reorganize workout toolbar layout (#139)
  .changeset/reorganize-workout-toolbar.md
  CLAUDE.md
  packages/workout-spa-editor/src/components/atoms/Button/Button.stories.tsx
  packages/workout-spa-editor/src/components/atoms/Button/Button.test.tsx
  packages/workout-spa-editor/src/components/atoms/Button/Button.tsx
  packages/workout-spa-editor/src/components/atoms/Button/README.md
  packages/workout-spa-editor/src/components/atoms/Button/button-styles.ts
  packages/workout-spa-editor/src/components/atoms/ErrorMessage/ErrorActions.tsx
  packages/workout-spa-editor/src/components/atoms/ThemeToggle/ThemeToggle.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/ExportFormatSelector.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdownButton.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatOption.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockSteps.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionCountEditor.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/ProgressBar.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardHeader.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.property.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutTitle.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/HeaderNav.tsx
Due: frontend

fix(spa): update E2E tests for new toolbar layout
  packages/workout-spa-editor/e2e/button-improvements.spec.ts
Due: none

fix(spa): update E2E tests for new toolbar layout (#140)
  packages/workout-spa-editor/e2e/button-improvements.spec.ts
Due: none

chore: remove stale changeset for ignored private package
  .changeset/reorganize-workout-toolbar.md
Due: none

fix(security): add overrides for qs and undici vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

chore: apply prettier formatting to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

chore(deps): update remaining outdated dependencies
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/fit/package.json
  packages/tcx/package.json
  packages/workout-spa-editor/package.json
  packages/zwo/package.json
  packages/zwo/src/adapters/xsd-validator.test.ts
  pnpm-lock.yaml
Due: zwo

chore: apply prettier 3.8.1 formatting changes
  docs/roadmap-fit-implementation.md
  packages/cli/src/utils/logger-factory.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUpload.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.test.ts
  pnpm-lock.yaml
Due: cli, frontend

fix: align prettier version in SPA package to 3.8.1
  packages/workout-spa-editor/package.json
  pnpm-lock.yaml
Due: none

fix(security): add overrides for qs and undici vulnerabilities (#146)
  .changeset/reorganize-workout-toolbar.md
  package.json
  pnpm-lock.yaml
Due: none

chore: add changeset for production dependency updates
  .changeset/update-dependencies.md
Due: none

chore(deps): update remaining outdated dependencies (#147)
  .changeset/update-dependencies.md
  docs/roadmap-fit-implementation.md
  package.json
  packages/cli/package.json
  packages/cli/src/utils/logger-factory.ts
  packages/core/package.json
  packages/fit/package.json
  packages/tcx/package.json
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUpload.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.test.ts
  packages/zwo/package.json
  packages/zwo/src/adapters/xsd-validator.test.ts
  pnpm-lock.yaml
Due: zwo, cli, frontend

chore(deps): update minor/patch dependencies
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/fit/package.json
  packages/garmin-connect/package.json
  packages/garmin/package.json
  packages/mcp/package.json
  packages/tcx/package.json
  packages/workout-spa-editor/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

chore(deps): migrate Storybook 8 → 10
  packages/workout-spa-editor/.storybook/main.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUpload.stories.tsx
  packages/workout-spa-editor/src/components/organisms/StepEditor/StepEditor.stories.tsx
  pnpm-lock.yaml
Due: frontend

chore(deps): update minor/patch dependencies (#148)
  package.json
  packages/cli/package.json
  packages/core/package.json
  packages/fit/package.json
  packages/garmin-connect/package.json
  packages/garmin/package.json
  packages/mcp/package.json
  packages/tcx/package.json
  packages/workout-spa-editor/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

chore: apply prettier formatting to lockfile
  pnpm-lock.yaml
Due: none

fix(spa): clear pending toast timers in SaveButton test teardown
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
Due: frontend

chore(deps): migrate Storybook 8 → 10 (#149)
  packages/workout-spa-editor/.storybook/main.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUpload.stories.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
  packages/workout-spa-editor/src/components/organisms/StepEditor/StepEditor.stories.tsx
  pnpm-lock.yaml
Due: frontend

chore(deps): fix dependency updates lost in merge conflict
  package.json
  packages/core/package.json
  packages/fit/package.json
  packages/garmin-connect/package.json
  packages/garmin/package.json
  packages/mcp/package.json
  packages/tcx/package.json
  packages/workout-spa-editor/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

chore(deps): fix dependency updates lost in merge (#151)
  package.json
  packages/core/package.json
  packages/fit/package.json
  packages/garmin-connect/package.json
  packages/garmin/package.json
  packages/mcp/package.json
  packages/tcx/package.json
  packages/workout-spa-editor/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

fix(garmin): preserve step description/notes in GCN round-trip
  packages/garmin/src/adapters/converters/executable-step.converter.test.ts
  packages/garmin/src/adapters/converters/executable-step.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.test.ts
  packages/garmin/src/adapters/schemas/garmin-workout-parse.schema.ts
Due: garmin

chore: add changeset for garmin step description fix
  .changeset/fix-garmin-step-description.md
Due: none

fix(garmin): preserve step description/notes in GCN round-trip (#152)
  .changeset/fix-garmin-step-description.md
  packages/garmin/src/adapters/converters/executable-step.converter.test.ts
  packages/garmin/src/adapters/converters/executable-step.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.test.ts
  packages/garmin/src/adapters/schemas/garmin-workout-parse.schema.ts
Due: garmin

feat(ai): add @kaiord/ai package for LLM-powered workout parsing
  .changeset/config.json
  .github/workflows/changeset-bot.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  packages/ai/package.json
  packages/ai/src/adapters/reindex-steps.test.ts
  packages/ai/src/adapters/reindex-steps.ts
  packages/ai/src/adapters/text-to-workout.test.ts
  packages/ai/src/adapters/text-to-workout.ts
  packages/ai/src/adapters/validate-input.test.ts
  packages/ai/src/adapters/validate-input.ts
  packages/ai/src/errors.ts
  packages/ai/src/index.ts
  packages/ai/src/md.d.ts
  packages/ai/src/prompts/load-prompt.test.ts
  packages/ai/src/prompts/load-prompt.ts
  packages/ai/src/prompts/parse-workout.md
  packages/ai/src/types.ts
  packages/ai/tsconfig.json
  packages/ai/tsup.config.ts
  packages/ai/vitest.config.ts
  pnpm-lock.yaml
  scripts/create-github-releases.js
Due: none

chore: add changeset for @kaiord/ai
  .changeset/add-ai-package.md
Due: none

style: format files per pre-push lint:fix
  packages/ai/vitest.config.ts
  pnpm-lock.yaml
  scripts/create-github-releases.js
Due: none
