Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

fix: escape backslashes in generated markdown table cells
  scripts/generate-archive-index.mjs
  scripts/generate-specs-inventory.mjs
  scripts/generate-specs-inventory.test.mjs
Due: none

chore: apply prettier formatting to new test files
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-cadence.converter.test.ts
  packages/zwo/src/adapters/krd-to-zwift/duration-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/power-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/step-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/target-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/text-events-encoder.test.ts
  scripts/check-specs-inventory.test.mjs
  scripts/generate-specs-inventory.test.mjs
Due: fit, zwo

fix: address PR review feedback from CodeRabbit
  .github/workflows/codeql.yml
  packages/cli/src/tests/cross-format-round-trip.test.ts
  packages/fit/src/adapters/krd-to-fit/AGENTS.md
  packages/zwo/src/adapters/krd-to-zwift/duration-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.ts
  packages/zwo/src/adapters/krd-to-zwift/power-encoder.test.ts
  scripts/check-architecture.mjs
  scripts/check-architecture.test.mjs
Due: fit, zwo, cli

fix: resolve CodeQL alert triage findings
  .changeset/codeql-triage-sanitization.md
  .github/workflows/codeql.yml
  packages/docs/scripts/generate-api-docs.mjs
  packages/train2go-bridge/parser.js
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.ts
Due: frontend

fix: resolve CodeQL alert triage findings (#750)
  .changeset/codeql-triage-sanitization.md
  .github/workflows/codeql.yml
  packages/docs/scripts/generate-api-docs.mjs
  packages/train2go-bridge/parser.js
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.ts
Due: frontend

fix(spa-editor): address PR review feedback on indexed-access guards
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/StepList.tsx
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/thumbnail/bar-renderer.ts
  packages/workout-spa-editor/src/components/organisms/OnboardingTutorial/OnboardingTutorial.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/zone-colors.ts
  packages/workout-spa-editor/src/components/pages/CalendarHeader.tsx
  packages/workout-spa-editor/src/components/pages/Today/today-dates.ts
  packages/workout-spa-editor/src/components/pages/use-dialog-handlers.ts
  packages/workout-spa-editor/src/hooks/use-focus-on-route-change.ts
Due: frontend

chore(openspec): propose test-minimality-naming-hardening change
  openspec/changes/test-minimality-naming-hardening/.openspec.yaml
  openspec/changes/test-minimality-naming-hardening/audit/adapters.md
  openspec/changes/test-minimality-naming-hardening/audit/cli-mcp.md
  openspec/changes/test-minimality-naming-hardening/audit/core.md
  openspec/changes/test-minimality-naming-hardening/audit/fit.md
  openspec/changes/test-minimality-naming-hardening/audit/naming-core.md
  openspec/changes/test-minimality-naming-hardening/audit/naming-spa.md
  openspec/changes/test-minimality-naming-hardening/audit/spa.md
  openspec/changes/test-minimality-naming-hardening/design.md
  openspec/changes/test-minimality-naming-hardening/proposal.md
  openspec/changes/test-minimality-naming-hardening/specs/adapter-contracts/spec.md
  openspec/changes/test-minimality-naming-hardening/specs/test-minimality/spec.md
  openspec/changes/test-minimality-naming-hardening/tasks.md
Due: none

chore(openspec): record coverage baseline and resolve TCX cadence decision
  openspec/changes/test-minimality-naming-hardening/audit/coverage-baseline.md
  openspec/changes/test-minimality-naming-hardening/design.md
  openspec/changes/test-minimality-naming-hardening/tasks.md
Due: none

test: fill audit-identified coverage gaps before pruning (group 2)
  openspec/changes/test-minimality-naming-hardening/tasks.md
  packages/cli/src/commands/convert-integration.test.ts
  packages/cli/src/utils/file-handler.test.ts
  packages/core/src/application/round-trip/round-trip-comparison.test.ts
  packages/core/src/domain/validation/validate-krd.test.ts
  packages/mcp/src/tools/convert-from-krd.test.ts
  packages/mcp/src/tools/convert-from-krd.ts
  packages/mcp/src/tools/kaiord-get-hrv-history.test.ts
  packages/mcp/src/tools/kaiord-get-recovery-status.test.ts
  packages/mcp/src/tools/kaiord-get-sleep-history.test.ts
  packages/mcp/src/tools/kaiord-get-weight-history.test.ts
  packages/workout-spa-editor/src/store/clipboard-store.test.ts
Due: core, cli, frontend

test: close coverage-gate gaps and finish change (group 11)
  .changeset/test-minimality-naming-hardening.md
  openspec/changes/test-minimality-naming-hardening/audit/result-summary.md
  openspec/changes/test-minimality-naming-hardening/tasks.md
  packages/core/src/application/round-trip/round-trip-comparison.test.ts
  packages/garmin/src/adapters/converters/target-to-garmin.converter.test.ts
  packages/zwo/src/adapters/duration/original-duration.converter.test.ts
  packages/zwo/src/adapters/interval/steady-state.converter.test.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.test.ts
  packages/zwo/src/adapters/xsd-validator.test.ts
Due: core, zwo, garmin

chore: apply prettier formatting across touched files
  packages/cli/src/commands/config-integration.test.ts
  packages/core/src/domain/schemas/health/health-version-gate.test.ts
  packages/core/src/domain/types/error-classes.test.ts
  packages/core/src/domain/validation/schema-validator.test.ts
  packages/core/src/test-utils/fixtures.test.ts
  packages/fit/scripts/generate-synthetic-body-composition-fixture.mjs
  packages/fit/scripts/generate-synthetic-hrv-fixture.mjs
  packages/fit/src/adapters/duration/duration.converter.test.ts
  packages/garmin-connect/src/adapters/http/garmin-auth-fetch.ts
  packages/garmin-connect/src/adapters/http/oauth-consumer.ts
  packages/garmin/src/adapters/converters/target-to-garmin.converter.ts
  packages/garmin/src/adapters/mappers/target-pace.mapper.ts
  packages/landing/src/install-widget.test.ts
  scripts/check-no-barrel-test-suites.mjs
  scripts/check-no-barrel-test-suites.test.mjs
  scripts/check-ux-glossary-shape.mjs
  scripts/cws-api/cli.mjs
  scripts/cws-api/publish.test.mjs
  scripts/cws-api/state.test.mjs
  scripts/cws-api/stuck-draft-tier.mjs
  scripts/cws-stuck-draft-handler.mjs
  scripts/cws-stuck-draft-handler.test.mjs
  scripts/eslint-rules/no-narrative-comments.mjs
Due: core, fit, garmin, cli

test(cli): surface CLI stderr in conversion exit-code assertions
  packages/cli/src/commands/convert-integration.test.ts
Due: cli

fix: include zwo generated schema folder in CI build artifacts
  .github/workflows/ci.yml
Due: none

chore(openspec): archive test-minimality-naming-hardening
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/.openspec.yaml
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/adapters.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/cli-mcp.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/core.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/coverage-baseline.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/fit.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/naming-core.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/naming-spa.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/result-summary.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/spa.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/design.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/proposal.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/specs/test-minimality/spec.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/test-minimality/spec.md
Due: none

chore(openspec): archive test-minimality-naming-hardening (#754)
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/.openspec.yaml
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/adapters.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/cli-mcp.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/core.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/coverage-baseline.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/fit.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/naming-core.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/naming-spa.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/result-summary.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/audit/spa.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/design.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/proposal.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/specs/test-minimality/spec.md
  openspec/changes/archive/2026-06-11-test-minimality-naming-hardening/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/test-minimality/spec.md
Due: none

chore(openspec): propose code-semantics-hardening change
  openspec/changes/code-semantics-hardening/.openspec.yaml
  openspec/changes/code-semantics-hardening/audit/cli-mcp.md
  openspec/changes/code-semantics-hardening/audit/core.md
  openspec/changes/code-semantics-hardening/audit/fit-garmin-gc.md
  openspec/changes/code-semantics-hardening/audit/spa.md
  openspec/changes/code-semantics-hardening/audit/tcx-zwo-ai.md
  openspec/changes/code-semantics-hardening/design.md
  openspec/changes/code-semantics-hardening/proposal.md
  openspec/changes/code-semantics-hardening/specs/adapter-contracts/spec.md
  openspec/changes/code-semantics-hardening/specs/conversion-loss-honesty/spec.md
  openspec/changes/code-semantics-hardening/specs/failure-semantics/spec.md
  openspec/changes/code-semantics-hardening/tasks.md
Due: none

refactor: code-semantics wave 2 — core/garmin-connect/ai/mcp shared constants and typed errors
  openspec/changes/code-semantics-hardening/tasks.md
  packages/ai/src/evals/assertions.ts
  packages/ai/src/evals/benchmarks.json
  packages/ai/src/evals/types.ts
  packages/core/src/application/round-trip/round-trip-validators.ts
  packages/core/src/application/round-trip/validate-round-trip.test.ts
  packages/core/src/application/round-trip/validate-round-trip.ts
  packages/core/src/domain/schemas/health/body-composition.ts
  packages/core/src/domain/schemas/health/daily.ts
  packages/core/src/domain/schemas/health/hrv.ts
  packages/core/src/domain/schemas/health/index.ts
  packages/core/src/domain/schemas/health/sleep.ts
  packages/core/src/domain/schemas/health/stress.ts
  packages/core/src/domain/schemas/health/version.ts
  packages/core/src/domain/schemas/health/weight.ts
  packages/core/src/domain/schemas/krd/lap.ts
  packages/core/src/domain/schemas/krd/record.ts
  packages/core/src/domain/schemas/krd/session.ts
  packages/core/src/domain/schemas/workout.ts
  packages/core/src/domain/validation/extract-workout.ts
  packages/core/src/protocol/profile-snapshot.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/http/retry-policy.ts
  packages/garmin-connect/src/adapters/http/retry.ts
  packages/garmin-connect/src/adapters/http/sso-oauth.ts
  packages/garmin-connect/src/adapters/http/time.ts
  packages/garmin-connect/src/adapters/http/urls.ts
  packages/garmin-connect/src/adapters/token/token-manager.helpers.ts
  packages/mcp/src/tools/convert-from-krd.ts
  packages/mcp/src/tools/kaiord-get-recovery-status.test.ts
  packages/mcp/src/tools/kaiord-get-recovery-status.ts
  packages/mcp/src/utils/error-classification.ts
  packages/mcp/src/utils/error-formatter.test.ts
  packages/mcp/src/utils/error-formatter.ts
Due: core

refactor(tcx): code-semantics wave 3 — honest intensity loss, decoder renames
  openspec/changes/code-semantics-hardening/tasks.md
  packages/tcx/src/adapters/duration/duration-decoder.converter.test.ts
  packages/tcx/src/adapters/duration/duration-decoder.converter.ts
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.ts
  packages/tcx/src/adapters/target/tcx-target-decoder.converter.test.ts
  packages/tcx/src/adapters/target/tcx-target-decoder.converter.ts
  packages/tcx/src/adapters/workout/duration-to-tcx-encoder.ts
  packages/tcx/src/adapters/workout/step-helpers.test.ts
  packages/tcx/src/adapters/workout/step-helpers.ts
  packages/tcx/src/adapters/workout/step.converter.ts
  packages/tcx/src/adapters/workout/target-with-extensions.helper.ts
Due: tcx

refactor(spa-editor): code-semantics — shared undo window, ItemId brand, honest cast routing
  openspec/changes/code-semantics-hardening/tasks.md
  packages/workout-spa-editor/src/application/auto-match-sessions.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/delete-block-with-toast.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.tsx
  packages/workout-spa-editor/src/hooks/use-delete-cleanup.ts
  packages/workout-spa-editor/src/store/actions/clear-expired-deletes-action.ts
  packages/workout-spa-editor/src/store/actions/copy-step-action.ts
  packages/workout-spa-editor/src/store/actions/create-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/create-step-action.ts
  packages/workout-spa-editor/src/store/actions/delete-step-action.ts
  packages/workout-spa-editor/src/store/actions/delete-undo-constants.ts
  packages/workout-spa-editor/src/store/actions/duplicate-step-in-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/paste-step-action.ts
  packages/workout-spa-editor/src/store/actions/reorder-step-action.ts
  packages/workout-spa-editor/src/store/actions/reorder-steps-in-block-action.ts
  packages/workout-spa-editor/src/store/actions/undo-delete-action.ts
Due: frontend

chore: code-semantics formatting, tcx step split, changeset, result summary
  .changeset/code-semantics-hardening.md
  openspec/changes/code-semantics-hardening/audit/result-summary.md
  openspec/changes/code-semantics-hardening/tasks.md
  packages/ai/src/evals/assertions.ts
  packages/cli/src/utils/error-exit-code.ts
  packages/cli/src/utils/format-registry.test.ts
  packages/cli/src/utils/format-registry.ts
  packages/cli/src/utils/krd-converter.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin/src/adapters/converters/executable-step.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/mappers/condition.mapper.ts
  packages/tcx/src/adapters/target/tcx-target-decoder.converter.test.ts
  packages/tcx/src/adapters/workout/resolve-step-parts.ts
  packages/tcx/src/adapters/workout/step-helpers.test.ts
  packages/tcx/src/adapters/workout/step-helpers.ts
  packages/tcx/src/adapters/workout/step.converter.ts
  packages/workout-spa-editor/src/store/actions/duplicate-step-in-repetition-block-action.ts
Due: tcx, garmin, cli, frontend

docs(openspec): propose train2go-links-and-day-comments
  openspec/changes/train2go-links-and-day-comments/.openspec.yaml
  openspec/changes/train2go-links-and-day-comments/design.md
  openspec/changes/train2go-links-and-day-comments/proposal.md
  openspec/changes/train2go-links-and-day-comments/specs/spa-coaching-day-comments/spec.md
  openspec/changes/train2go-links-and-day-comments/specs/spa-coaching-integration/spec.md
  openspec/changes/train2go-links-and-day-comments/specs/train2go-bridge/spec.md
  openspec/changes/train2go-links-and-day-comments/tasks.md
Due: none

docs(openspec): use repo-relative paths in the spa audit snapshot
  openspec/changes/code-semantics-hardening/audit/spa.md
Due: none

chore(openspec): archive code-semantics-hardening
  openspec/changes/archive/2026-06-13-code-semantics-hardening/.openspec.yaml
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/cli-mcp.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/core.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/fit-garmin-gc.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/result-summary.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/spa.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/tcx-zwo-ai.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/design.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/proposal.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/specs/conversion-loss-honesty/spec.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/specs/failure-semantics/spec.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/conversion-loss-honesty/spec.md
  openspec/specs/failure-semantics/spec.md
Due: none

chore(openspec): record deferred follow-ups on the archived change
  openspec/changes/archive/2026-06-13-code-semantics-hardening/tasks.md
Due: none

chore(openspec): archive code-semantics-hardening (#757)
  openspec/changes/archive/2026-06-13-code-semantics-hardening/.openspec.yaml
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/cli-mcp.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/core.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/fit-garmin-gc.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/result-summary.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/spa.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/audit/tcx-zwo-ai.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/design.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/proposal.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/specs/conversion-loss-honesty/spec.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/specs/failure-semantics/spec.md
  openspec/changes/archive/2026-06-13-code-semantics-hardening/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/conversion-loss-honesty/spec.md
  openspec/specs/failure-semantics/spec.md
Due: none

fix(tcx): validate restored kaiord duration thresholds are positive and finite
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.test.ts
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.ts
Due: tcx

refactor(spa-editor): route read-pattern KRD->Workout casts through the helper
  packages/workout-spa-editor/src/components/pages/use-back-handler.ts
  packages/workout-spa-editor/src/store/actions/_helpers/extract-workout.ts
  packages/workout-spa-editor/src/store/actions/history-actions.ts
  packages/workout-spa-editor/src/store/hydrate-ui-workout.ts
Due: frontend

feat(spa-editor): MatchedSessionsReadModel port for the calendar match hooks
  packages/workout-spa-editor/src/adapters/dexie/dexie-matched-sessions-read-model.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-matched-sessions-read-model.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/hooks/use-activity-match-state.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.test.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions.test.tsx
  packages/workout-spa-editor/src/hooks/use-matched-sessions.ts
  packages/workout-spa-editor/src/ports/matched-sessions-read-model.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-matched-sessions-read-model.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
Due: frontend

chore(tcx): add changeset for restored-threshold validation fix
  .changeset/code-semantics-followups.md
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
