Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

chore(openspec): archive remove-subtabs-unify-calendar; sync spa-routing canonical (#672)
  openspec/changes/add-health-metrics-to-krd/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/design.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/proposal.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none

feat(spa-editor): calendar + chooser — add workout or wellness metric
  .changeset/calendar-add-workout-or-wellness.md
  openspec/changes/calendar-add-workout-or-wellness/design.md
  openspec/changes/calendar-add-workout-or-wellness/proposal.md
  openspec/changes/calendar-add-workout-or-wellness/specs/spa-routing/spec.md
  openspec/changes/calendar-add-workout-or-wellness/tasks.md
  packages/workout-spa-editor/src/application/health/manual-health-metric.ts
  packages/workout-spa-editor/src/application/health/manual-health-payload.mapper.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.test.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.ts
  packages/workout-spa-editor/src/components/molecules/AddEntryChooser/AddEntryChooser.test.tsx
  packages/workout-spa-editor/src/components/molecules/AddEntryChooser/AddEntryChooser.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryDialog.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessMetricField.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/use-save-wellness.ts
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/wellness-import-action.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumnAddButton.tsx
  packages/workout-spa-editor/src/components/pages/CalendarAddEntryDialogs.tsx
  packages/workout-spa-editor/src/components/pages/CalendarBodyView.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.add-entry.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPageView.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekList.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekList.tsx
  packages/workout-spa-editor/src/components/pages/use-add-entry-chooser.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-state.ts
  packages/workout-spa-editor/src/hooks/health/manual-save-refreshes-badge.test.tsx
Due: frontend

test(spa-editor): route empty-day "+" e2e specs through the chooser
  packages/workout-spa-editor/e2e/calendar-workouts.spec.ts
  packages/workout-spa-editor/e2e/library-calendar.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
Due: none

fix(spa-editor): treat a partial wellness save as failure
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/use-save-wellness.ts
Due: frontend

feat(spa-editor): calendar + chooser — add workout or wellness metric (#673)
  .changeset/calendar-add-workout-or-wellness.md
  openspec/changes/calendar-add-workout-or-wellness/design.md
  openspec/changes/calendar-add-workout-or-wellness/proposal.md
  openspec/changes/calendar-add-workout-or-wellness/specs/spa-routing/spec.md
  openspec/changes/calendar-add-workout-or-wellness/tasks.md
  packages/workout-spa-editor/e2e/calendar-workouts.spec.ts
  packages/workout-spa-editor/e2e/library-calendar.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/src/application/health/manual-health-metric.ts
  packages/workout-spa-editor/src/application/health/manual-health-payload.mapper.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.test.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.ts
  packages/workout-spa-editor/src/components/molecules/AddEntryChooser/AddEntryChooser.test.tsx
  packages/workout-spa-editor/src/components/molecules/AddEntryChooser/AddEntryChooser.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryDialog.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessMetricField.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/use-save-wellness.ts
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/wellness-import-action.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumnAddButton.tsx
  packages/workout-spa-editor/src/components/pages/CalendarAddEntryDialogs.tsx
  packages/workout-spa-editor/src/components/pages/CalendarBodyView.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.add-entry.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPageView.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekList.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekList.tsx
  packages/workout-spa-editor/src/components/pages/use-add-entry-chooser.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-state.ts
  packages/workout-spa-editor/src/hooks/health/manual-save-refreshes-badge.test.tsx
Due: frontend

chore(openspec): archive calendar-add-workout-or-wellness; sync spa-routing canonical
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/design.md
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/proposal.md
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): archive calendar-add-workout-or-wellness; sync spa-routing canonical (#674)
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/design.md
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/proposal.md
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-calendar-add-workout-or-wellness/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): sync add-health-metrics-to-krd tasks.md with reality
  openspec/changes/add-health-metrics-to-krd/tasks.md
Due: none

feat(mcp): add 5 health tools — summary, sleep/weight/hrv history, recovery
  openspec/changes/add-health-metrics-to-krd/tasks.md
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tools/health/derive-recovery-status.ts
  packages/mcp/src/tools/health/health-record-filters.ts
  packages/mcp/src/tools/health/parse-health-records.ts
  packages/mcp/src/tools/kaiord-get-health-summary.test.ts
  packages/mcp/src/tools/kaiord-get-health-summary.ts
  packages/mcp/src/tools/kaiord-get-hrv-history.test.ts
  packages/mcp/src/tools/kaiord-get-hrv-history.ts
  packages/mcp/src/tools/kaiord-get-recovery-status.test.ts
  packages/mcp/src/tools/kaiord-get-recovery-status.ts
  packages/mcp/src/tools/kaiord-get-sleep-history.test.ts
  packages/mcp/src/tools/kaiord-get-sleep-history.ts
  packages/mcp/src/tools/kaiord-get-weight-history.test.ts
  packages/mcp/src/tools/kaiord-get-weight-history.ts
Due: none

chore(release): KRD v2.0 — major bumps for 7 packages
  .changeset/add-health-metrics-krd-v2.md
Due: none

docs(openspec): fix message-numbers count (seven→eight; HRV split)
  openspec/changes/add-health-metrics-to-krd/tasks.md
Due: none

feat(mcp): health tools (§10) + KRD v2.0 changeset (§11.3) + tasks.md sync (#675)
  .changeset/add-health-metrics-krd-v2.md
  openspec/changes/add-health-metrics-to-krd/tasks.md
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tools/health/derive-recovery-status.ts
  packages/mcp/src/tools/health/health-record-filters.ts
  packages/mcp/src/tools/health/parse-health-records.ts
  packages/mcp/src/tools/kaiord-get-health-summary.test.ts
  packages/mcp/src/tools/kaiord-get-health-summary.ts
  packages/mcp/src/tools/kaiord-get-hrv-history.test.ts
  packages/mcp/src/tools/kaiord-get-hrv-history.ts
  packages/mcp/src/tools/kaiord-get-recovery-status.test.ts
  packages/mcp/src/tools/kaiord-get-recovery-status.ts
  packages/mcp/src/tools/kaiord-get-sleep-history.test.ts
  packages/mcp/src/tools/kaiord-get-sleep-history.ts
  packages/mcp/src/tools/kaiord-get-weight-history.test.ts
  packages/mcp/src/tools/kaiord-get-weight-history.ts
Due: none

test(fit): add message-numbers + dispatch + body-composition round-trip
  packages/fit/scripts/generate-synthetic-body-composition-fixture.mjs
  packages/fit/src/adapters/health/body-composition/body-composition-round-trip.test.ts
  packages/fit/src/adapters/messages/messages-mapper.dispatch.test.ts
  packages/fit/src/adapters/shared/message-numbers.test.ts
  test-fixtures/fit/HealthBodyComposition.fit
Due: fit

test(fit): add message-numbers + dispatch + body-composition round-trip (#676)
  packages/fit/scripts/generate-synthetic-body-composition-fixture.mjs
  packages/fit/src/adapters/health/body-composition/body-composition-round-trip.test.ts
  packages/fit/src/adapters/messages/messages-mapper.dispatch.test.ts
  packages/fit/src/adapters/shared/message-numbers.test.ts
  test-fixtures/fit/HealthBodyComposition.fit
Due: fit

chore(openspec): archive add-health-metrics-to-krd; sync 5 canonical capabilities
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/.openspec.yaml
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/design.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/proposal.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/health-data/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/krd-format/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/health-data/spec.md
  openspec/specs/krd-format/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): archive add-health-metrics-to-krd; sync 5 canonical capabilities (#686)
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/.openspec.yaml
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/design.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/proposal.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/health-data/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/krd-format/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-add-health-metrics-to-krd/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/health-data/spec.md
  openspec/specs/krd-format/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-routing/spec.md
Due: none

feat(spa-editor): collapse /health trends into stacked synced overlay
  .changeset/health-trends-overlay-single-chart.md
  openspec/changes/health-trends-overlay-single-chart/design.md
  openspec/changes/health-trends-overlay-single-chart/proposal.md
  openspec/changes/health-trends-overlay-single-chart/specs/spa-routing/spec.md
  openspec/changes/health-trends-overlay-single-chart/tasks.md
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendChartsGrid.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendChartsGrid.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendMetricChart.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPaneHeader.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-overlay-sync.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.ts
Due: frontend

docs(openspec): scaffold integration-policy-per-profile-routing
  openspec/changes/integration-policy-per-profile-routing/design.md
  openspec/changes/integration-policy-per-profile-routing/proposal.md
  openspec/changes/integration-policy-per-profile-routing/specs/analytics-port/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/garmin-bridge/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/spa-bridge-protocol/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/spa-garmin-extension/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/spa-train2go-extension/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/train2go-bridge/spec.md
  openspec/changes/integration-policy-per-profile-routing/tasks.md
Due: none

docs(openspec): fix design.md file-count + changeset references
  openspec/changes/health-trends-overlay-single-chart/design.md
Due: none

feat(spa-editor): collapse /health trends into stacked synced overlay (#687)
  .changeset/health-trends-overlay-single-chart.md
  openspec/changes/health-trends-overlay-single-chart/design.md
  openspec/changes/health-trends-overlay-single-chart/proposal.md
  openspec/changes/health-trends-overlay-single-chart/specs/spa-routing/spec.md
  openspec/changes/health-trends-overlay-single-chart/tasks.md
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendChartsGrid.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendChartsGrid.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendMetricChart.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPaneHeader.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-overlay-sync.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.ts
Due: frontend

chore(openspec): archive health-trends-overlay-single-chart; sync spa-routing canonical
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/design.md
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/proposal.md
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/tasks.md
  openspec/changes/archive/README.md
  openspec/changes/health-trends-overlay-single-chart/tasks.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): archive health-trends-overlay-single-chart; sync spa-routing canonical (#689)
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/design.md
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/proposal.md
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-26-health-trends-overlay-single-chart/tasks.md
  openspec/changes/archive/README.md
  openspec/changes/health-trends-overlay-single-chart/tasks.md
  openspec/specs/spa-routing/spec.md
Due: none

feat(core): introduce MANAGED_DATA_REGISTRY + canonical-hash
  .changeset/integration-policy-core-registry.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/managed-data-type-registry.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/core/src/domain/managed-data-type.ts
  packages/core/src/hash/canonical-hash.test.ts
  packages/core/src/hash/canonical-hash.ts
  packages/core/src/index.ts
  packages/mcp/src/tools/health/health-record-filters.ts
  packages/workout-spa-editor/src/application/health/manual-health-metric.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.test.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.ts
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.tsx
  packages/workout-spa-editor/src/hooks/health/manual-save-refreshes-badge.test.tsx
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
Due: core, frontend

feat(spa-editor): single-canvas trends overlay with N native Y axes packed right
  .changeset/single-canvas-trends-overlay.md
  openspec/changes/single-canvas-trends-overlay/design.md
  openspec/changes/single-canvas-trends-overlay/proposal.md
  openspec/changes/single-canvas-trends-overlay/specs/spa-routing/spec.md
  openspec/changes/single-canvas-trends-overlay/tasks.md
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.test.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPaneHeader.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-data.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-data.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-overlay-sync.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.ts
Due: frontend

feat(spa-editor): single-canvas trends overlay with N native Y axes packed right (#697)
  .changeset/single-canvas-trends-overlay.md
  openspec/changes/single-canvas-trends-overlay/design.md
  openspec/changes/single-canvas-trends-overlay/proposal.md
  openspec/changes/single-canvas-trends-overlay/specs/spa-routing/spec.md
  openspec/changes/single-canvas-trends-overlay/tasks.md
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.test.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/EmptyPanePlaceholder.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPane.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendOverlayPaneHeader.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-pane-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-data.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-data.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-overlay-sync.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-dnd.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/use-overlay-pane-order.ts
Due: frontend

chore(openspec): archive single-canvas-trends-overlay; sync spa-routing canonical
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/design.md
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/proposal.md
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): archive single-canvas-trends-overlay; sync spa-routing canonical (#698)
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/design.md
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/proposal.md
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-26-single-canvas-trends-overlay/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none

docs(openspec): address CodeRabbit findings on integration-policy scaffolding
  openspec/changes/integration-policy-per-profile-routing/design.md
  openspec/changes/integration-policy-per-profile-routing/proposal.md
  openspec/changes/integration-policy-per-profile-routing/specs/analytics-port/spec.md
Due: none

docs(openspec): scaffold integration-policy-per-profile-routing (#688)
  openspec/changes/integration-policy-per-profile-routing/design.md
  openspec/changes/integration-policy-per-profile-routing/proposal.md
  openspec/changes/integration-policy-per-profile-routing/specs/analytics-port/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/garmin-bridge/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/spa-bridge-protocol/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/spa-garmin-extension/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/spa-train2go-extension/spec.md
  openspec/changes/integration-policy-per-profile-routing/specs/train2go-bridge/spec.md
  openspec/changes/integration-policy-per-profile-routing/tasks.md
Due: none

fix(core): recursive canonicalization for nested objects and arrays in canonicalHash
  packages/core/src/hash/canonical-hash.ts
Due: core

chore(core): prettier formatting for canonical-hash recursive normalize
  packages/core/src/hash/canonical-hash.ts
Due: core

feat(core): MANAGED_DATA_REGISTRY + canonical-hash (#699)
  .changeset/integration-policy-core-registry.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/managed-data-type-registry.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/core/src/domain/managed-data-type.ts
  packages/core/src/hash/canonical-hash.test.ts
  packages/core/src/hash/canonical-hash.ts
  packages/core/src/index.ts
  packages/mcp/src/tools/health/health-record-filters.ts
  packages/workout-spa-editor/src/application/health/manual-health-metric.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.test.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.ts
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.tsx
  packages/workout-spa-editor/src/hooks/health/manual-save-refreshes-badge.test.tsx
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
Due: core, frontend

feat(spa-editor): provenance fields + IntegrationPolicy/ExportLedger schemas
  .changeset/integration-policy-domain-schemas.md
  packages/core/src/domain/schemas/health/body-composition.ts
  packages/core/src/domain/schemas/health/daily.ts
  packages/core/src/domain/schemas/health/hrv.ts
  packages/core/src/domain/schemas/health/sleep.ts
  packages/core/src/domain/schemas/health/stress.ts
  packages/core/src/domain/schemas/health/weight.ts
  packages/core/src/index.ts
  packages/core/src/ingest/derive-external-id.test.ts
  packages/core/src/ingest/derive-external-id.ts
  packages/workout-spa-editor/src/adapters/train2go/should-fan-out-zones.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-actions-fanout.test.tsx
  packages/workout-spa-editor/src/application/coaching/sync-zones-bands.test.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones.test.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountRow.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountsSection.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/use-linked-account-row.ts
  packages/workout-spa-editor/src/types/coaching-account.ts
  packages/workout-spa-editor/src/types/export-ledger.test.ts
  packages/workout-spa-editor/src/types/export-ledger.ts
  packages/workout-spa-editor/src/types/integration-policy.test.ts
  packages/workout-spa-editor/src/types/integration-policy.ts
Due: core, frontend

fix(spa-editor): strict boolean for syncZones reads + non-empty ledger fields
  packages/workout-spa-editor/src/adapters/train2go/should-fan-out-zones.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountRow.tsx
  packages/workout-spa-editor/src/types/export-ledger.ts
Due: frontend

feat(spa-editor): provenance fields + IntegrationPolicy/ExportLedger schemas (#691)
  .changeset/integration-policy-domain-schemas.md
  packages/core/src/domain/schemas/health/body-composition.ts
  packages/core/src/domain/schemas/health/daily.ts
  packages/core/src/domain/schemas/health/hrv.ts
  packages/core/src/domain/schemas/health/sleep.ts
  packages/core/src/domain/schemas/health/stress.ts
  packages/core/src/domain/schemas/health/weight.ts
  packages/core/src/index.ts
  packages/core/src/ingest/derive-external-id.test.ts
  packages/core/src/ingest/derive-external-id.ts
  packages/workout-spa-editor/src/adapters/train2go/should-fan-out-zones.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-actions-fanout.test.tsx
  packages/workout-spa-editor/src/application/coaching/sync-zones-bands.test.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones.test.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountRow.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/LinkedAccountsSection.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/use-linked-account-row.ts
  packages/workout-spa-editor/src/types/coaching-account.ts
  packages/workout-spa-editor/src/types/export-ledger.test.ts
  packages/workout-spa-editor/src/types/export-ledger.ts
  packages/workout-spa-editor/src/types/integration-policy.test.ts
  packages/workout-spa-editor/src/types/integration-policy.ts
Due: core, frontend

feat(spa-editor): Dexie v17 — integrationPolicies + exportLedger + provenance backfill
  .changeset/integration-policy-dexie-v17-migration.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-cascade.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-cascade.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-health-cleanup-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-provenance-backfill-store.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-provenance-backfill.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-provenance-backfill.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-syncZones-backfill.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-syncZones-backfill.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
Due: frontend

feat(spa-editor): Dexie v17 — integrationPolicies + exportLedger + provenance backfill (#692)
  .changeset/integration-policy-dexie-v17-migration.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-cascade.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-cascade.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-health-cleanup-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-provenance-backfill-store.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-provenance-backfill.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-provenance-backfill.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-syncZones-backfill.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-syncZones-backfill.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
Due: frontend

feat(spa-editor): integration-policy use cases + idempotent export ledger
  .changeset/integration-policy-use-cases.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-imported-record-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-integration-policy-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/health-store-for-type.ts
  packages/workout-spa-editor/src/application/export/export-ledger-repository.port.ts
  packages/workout-spa-editor/src/application/export/record-export-concurrent-trigger.test.ts
  packages/workout-spa-editor/src/application/export/record-export-constraint.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.test.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.ts
  packages/workout-spa-editor/src/application/export/weight-export-aggregation.test.ts
  packages/workout-spa-editor/src/application/import/imported-record-repository.port.ts
  packages/workout-spa-editor/src/application/import/inbound-idempotency.integration.test.ts
  packages/workout-spa-editor/src/application/import/upsert-imported-record.use-case.test.ts
  packages/workout-spa-editor/src/application/import/upsert-imported-record.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/delete-integration-policy.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/delete-integration-policy.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/integration-policy-deps.ts
  packages/workout-spa-editor/src/application/integration-policy/integration-policy-repository.port.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-export-policies.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-export-policies.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-import-policies.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-import-policies.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/upsert-integration-policy.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/upsert-integration-policy.use-case.ts
Due: frontend

feat(spa-editor): integration-policy use cases + idempotent export ledger (#693)
  .changeset/integration-policy-use-cases.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-imported-record-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-integration-policy-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/health-store-for-type.ts
  packages/workout-spa-editor/src/application/export/export-ledger-repository.port.ts
  packages/workout-spa-editor/src/application/export/record-export-concurrent-trigger.test.ts
  packages/workout-spa-editor/src/application/export/record-export-constraint.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.test.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.ts
  packages/workout-spa-editor/src/application/export/weight-export-aggregation.test.ts
  packages/workout-spa-editor/src/application/import/imported-record-repository.port.ts
  packages/workout-spa-editor/src/application/import/inbound-idempotency.integration.test.ts
  packages/workout-spa-editor/src/application/import/upsert-imported-record.use-case.test.ts
  packages/workout-spa-editor/src/application/import/upsert-imported-record.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/delete-integration-policy.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/delete-integration-policy.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/integration-policy-deps.ts
  packages/workout-spa-editor/src/application/integration-policy/integration-policy-repository.port.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-export-policies.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-export-policies.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-import-policies.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/resolve-import-policies.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/upsert-integration-policy.use-case.test.ts
  packages/workout-spa-editor/src/application/integration-policy/upsert-integration-policy.use-case.ts
Due: frontend
