Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

test(spa-editor): add /health/* route refresh e2e tests (#680) (#820)
  packages/workout-spa-editor/e2e/health-routes.spec.ts
Due: none

feat(spa-editor): chat word search across a profile's chats (#819)
  openspec/changes/add-chat-search/.openspec.yaml
  openspec/changes/add-chat-search/design.md
  openspec/changes/add-chat-search/proposal.md
  openspec/changes/add-chat-search/specs/spa-chat-search/spec.md
  openspec/changes/add-chat-search/tasks.md
  packages/workout-spa-editor/src/application/chat/build-snippet.test.ts
  packages/workout-spa-editor/src/application/chat/build-snippet.ts
  packages/workout-spa-editor/src/application/chat/normalize-search-text.test.ts
  packages/workout-spa-editor/src/application/chat/normalize-search-text.ts
  packages/workout-spa-editor/src/application/chat/search-conversation-messages.ts
  packages/workout-spa-editor/src/application/chat/search-conversations.test.ts
  packages/workout-spa-editor/src/application/chat/search-conversations.ts
  packages/workout-spa-editor/src/components/organisms/Chat/ChatConversation.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatMessageList.test.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatMessageList.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatSearchBox.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatSearchResults.test.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatSearchResults.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatWorkspace.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ConversationSidebar.test.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ConversationSidebar.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/SnippetText.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/hooks/use-chat-search-panel.ts
  packages/workout-spa-editor/src/hooks/use-chat-search.test.tsx
  packages/workout-spa-editor/src/hooks/use-chat-search.ts
Due: frontend

feat(spa-editor): preserve Train2Go coach links through import → KRD → export (#816)
  .changeset/train2go-coach-links.md
  docs/krd-format.md
  openspec/changes/train2go-coach-links/.openspec.yaml
  openspec/changes/train2go-coach-links/design.md
  openspec/changes/train2go-coach-links/proposal.md
  openspec/changes/train2go-coach-links/specs/krd-format/spec.md
  openspec/changes/train2go-coach-links/specs/train2go-coach-links/spec.md
  openspec/changes/train2go-coach-links/tasks.md
  packages/core/schema/structured-workout-full.json
  packages/core/schema/workout.json
  packages/core/src/domain/schemas/workout.test.ts
  packages/core/src/domain/schemas/workout.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.converter.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/WorkoutMetadataEditor.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/WorkoutMetadataEditor.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/components/CoachNotesField.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/hooks/useMetadataForm.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/utils/krd-builder.ts
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  packages/workout-spa-editor/src/utils/structured-workout.test.ts
  packages/workout-spa-editor/src/utils/structured-workout.ts
  packages/zwo/src/adapters/krd-to-zwift.converter.ts
  packages/zwo/src/adapters/krd-to-zwift/workout-file-builder.ts
  packages/zwo/src/adapters/krd-to-zwift/workout-properties.ts
  packages/zwo/src/adapters/round-trip/workout-notes-round-trip.test.ts
  packages/zwo/src/adapters/zwift-to-krd.converter.ts
Due: core, fit, zwo, frontend

chore(openspec): archive train2go-coach-links (#816)
  openspec/changes/archive/2026-06-27-train2go-coach-links/.openspec.yaml
  openspec/changes/archive/2026-06-27-train2go-coach-links/design.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/proposal.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/specs/krd-format/spec.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/specs/train2go-coach-links/spec.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/krd-format/spec.md
  openspec/specs/train2go-coach-links/spec.md
Due: none

chore(openspec): archive train2go-coach-links (#816) (#822)
  openspec/changes/archive/2026-06-27-train2go-coach-links/.openspec.yaml
  openspec/changes/archive/2026-06-27-train2go-coach-links/design.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/proposal.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/specs/krd-format/spec.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/specs/train2go-coach-links/spec.md
  openspec/changes/archive/2026-06-27-train2go-coach-links/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/krd-format/spec.md
  openspec/specs/train2go-coach-links/spec.md
Due: none

test(ai): minimize unit tests — dedupe, parametrize, guard vacuous assert
  packages/ai/src/adapters/text-to-workout.test.ts
  packages/ai/src/adapters/validate-input.test.ts
  packages/ai/src/prompts/load-prompt.test.ts
Due: none

test(cli): minimize unit tests — it.each consolidation, drop redundancy, real detectFormat
  packages/cli/src/commands/validate/execute-validation.test.ts
  packages/cli/src/utils/directory-handler.test.ts
  packages/cli/src/utils/error-suggestions.test.ts
  packages/cli/src/utils/format-violations.test.ts
  packages/cli/src/utils/fs-errors.test.ts
  packages/cli/src/utils/logger-factory.test.ts
  packages/cli/src/utils/path-security.test.ts
Due: cli

test(core): minimize unit tests — it.each merges, drop subsumed/trivial tests
  packages/core/src/application/energy/day-balance.test.ts
  packages/core/src/application/energy/ema.test.ts
  packages/core/src/application/energy/expenditure.test.ts
  packages/core/src/application/energy/goal-delta.test.ts
  packages/core/src/application/energy/macro-targets.test.ts
  packages/core/src/application/energy/met-table.test.ts
  packages/core/src/application/from-format.test.ts
  packages/core/src/application/round-trip/round-trip-comparison.test.ts
  packages/core/src/domain/converters/length-unit.converter.test.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/core/src/domain/validation/extract-workout.test.ts
  packages/core/src/protocol/profile-snapshot.test.ts
Due: core

test(fit): minimize unit tests — it.each merges, drop cross-file overlap, +throw test
  packages/fit/src/adapters/event/fit-to-krd-event.converter.test.ts
  packages/fit/src/adapters/event/krd-to-fit-event.converter.test.ts
  packages/fit/src/adapters/garmin-fitsdk.test.ts
  packages/fit/src/adapters/health/body-composition/body-composition-round-trip.test.ts
  packages/fit/src/adapters/health/sleep/sleep-round-trip.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-stroke.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.test.ts
  packages/fit/src/adapters/lap/krd-to-fit-lap.converter.test.ts
  packages/fit/src/adapters/messages/file-type-detection.test.ts
  packages/fit/src/adapters/messages/file-type-routing.test.ts
  packages/fit/src/adapters/shared/message-numbers.test.ts
  packages/fit/src/adapters/target/target-stroke.converter.test.ts
Due: fit

test(garmin-connect): minimize unit tests — merge init cases, un-mock own signer
  packages/garmin-connect/src/adapters/client/garmin-connect-client.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/http/retry.test.ts
  packages/garmin-connect/src/adapters/http/sso-oauth.test.ts
Due: none

test(garmin): minimize unit tests — it.each merges, drop coverage-equivalent dups
  packages/garmin/src/adapters/converters/executable-step.converter.test.ts
  packages/garmin/src/adapters/converters/target-from-garmin.converter.test.ts
  packages/garmin/src/adapters/garmin-writer.health-rejection.test.ts
  packages/garmin/src/adapters/schemas/input/workout-input.schema.test.ts
Due: garmin

test(landing): fold falsy-token noop cases into it.each
  packages/landing/src/adapters/analytics/cloudflare-analytics.test.ts
Due: none

test(mcp): minimize unit tests — it.each merges, un-mock own code, fix vacuous base64 test
  packages/mcp/src/adapters/stderr-logger.test.ts
  packages/mcp/src/tools/diff-compare.test.ts
  packages/mcp/src/tools/kaiord-diff.test.ts
  packages/mcp/src/tools/kaiord-garmin-push.test.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.test.ts
  packages/mcp/src/tools/kaiord-validate.test.ts
  packages/mcp/src/utils/base64.test.ts
  packages/mcp/src/utils/error-formatter.test.ts
  packages/mcp/src/utils/format-registry.test.ts
  packages/mcp/src/utils/resolve-input.test.ts
Due: none

test(tcx): minimize unit tests — kill dead stubs, it.each merges, drop constant dups
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.test.ts
  packages/tcx/src/adapters/duration/duration-standard-converter.test.ts
  packages/tcx/src/adapters/fast-xml-parser.health-rejection.test.ts
  packages/tcx/src/adapters/fast-xml-parser.test.ts
  packages/tcx/src/adapters/target/tcx-target-decoder.converter.test.ts
  packages/tcx/src/adapters/workout/duration-to-tcx-encoder.test.ts
  packages/tcx/src/adapters/workout/metadata-builder.test.ts
  packages/tcx/src/adapters/workout/metadata-extractor.test.ts
  packages/tcx/src/adapters/workout/step-helpers.test.ts
  packages/tcx/src/adapters/workout/tcx.converter.test.ts
  packages/tcx/src/adapters/workout/workout.converter.test.ts
  packages/tcx/src/adapters/xsd-validator.test.ts
Due: tcx

test(zwo): minimize unit tests — heavy it.each consolidation, strengthen weak asserts
  packages/zwo/src/adapters/duration/duration.converter.test.ts
  packages/zwo/src/adapters/duration/original-duration.converter.test.ts
  packages/zwo/src/adapters/fast-xml-parser.health-rejection.test.ts
  packages/zwo/src/adapters/fast-xml-parser.test.ts
  packages/zwo/src/adapters/interval/interval-type-detector.test.ts
  packages/zwo/src/adapters/interval/steady-state.converter.test.ts
  packages/zwo/src/adapters/krd-to-zwift/duration-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/power-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/step-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/target-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/text-events-encoder.test.ts
  packages/zwo/src/adapters/target/pace-cadence.converter.test.ts
  packages/zwo/src/adapters/target/power.converter.test.ts
  packages/zwo/src/adapters/well-formedness-validator.test.ts
  packages/zwo/src/adapters/xsd-validator.test.ts
Due: zwo

test(spa-editor): minimize unit tests (utils/lib/types) — it.each, drop vacuous/flaky/dup
  packages/workout-spa-editor/src/lib/canonicalize-sport.test.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/profile-to-snapshot.test.ts
  packages/workout-spa-editor/src/lib/raw-hash.test.ts
  packages/workout-spa-editor/src/lib/scrub-analytics-string.test.ts
  packages/workout-spa-editor/src/lib/zone-methods.test.ts
  packages/workout-spa-editor/src/types/additive-third-bridge-existing-token.test.ts
  packages/workout-spa-editor/src/types/additive-third-bridge-new-token.test.ts
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
  packages/workout-spa-editor/src/types/calendar-fragments.test.ts
  packages/workout-spa-editor/src/types/energy-target-record.test.ts
  packages/workout-spa-editor/src/types/export-ledger.test.ts
  packages/workout-spa-editor/src/types/krd-guards.test.ts
  packages/workout-spa-editor/src/types/profile.test.ts
  packages/workout-spa-editor/src/types/schemas/repetition-block-id.test.ts
  packages/workout-spa-editor/src/types/session-match-errors.test.ts
  packages/workout-spa-editor/src/types/ui-workout.test.ts
  packages/workout-spa-editor/src/types/validation/formatters.test.ts
  packages/workout-spa-editor/src/types/validation/helpers.test.ts
  packages/workout-spa-editor/src/utils/backup-download.test.ts
  packages/workout-spa-editor/src/utils/calculate-hr-zones.test.ts
  packages/workout-spa-editor/src/utils/calculate-pace-zones.test.ts
  packages/workout-spa-editor/src/utils/calculate-zone-values.test.ts
  packages/workout-spa-editor/src/utils/export-workout.test.ts
  packages/workout-spa-editor/src/utils/file-format-detector.test.ts
  packages/workout-spa-editor/src/utils/format-week-label.test.ts
  packages/workout-spa-editor/src/utils/id-generation.test.ts
  packages/workout-spa-editor/src/utils/import-workout.test.ts
  packages/workout-spa-editor/src/utils/json-parser.test.ts
  packages/workout-spa-editor/src/utils/krd-validator.test.ts
  packages/workout-spa-editor/src/utils/library-storage.test.ts
  packages/workout-spa-editor/src/utils/no-browser-alerts.test.ts
  packages/workout-spa-editor/src/utils/repetition-block-validation.test.ts
  packages/workout-spa-editor/src/utils/workout-stats-duration.test.ts
  packages/workout-spa-editor/src/utils/workout-stats.test.ts
Due: frontend

test(spa-editor): minimize unit tests (store/contexts/routing) — AAA cleanup, strip flaky perf
  packages/workout-spa-editor/src/App.test.tsx
  packages/workout-spa-editor/src/contexts/ThemeContext.test.tsx
  packages/workout-spa-editor/src/contexts/analytics-context.test.tsx
  packages/workout-spa-editor/src/contexts/focus-registry-context.test.tsx
  packages/workout-spa-editor/src/routing/calendar-week-href.test.ts
  packages/workout-spa-editor/src/store/actions/clear-expired-deletes-action.test.ts
  packages/workout-spa-editor/src/store/actions/copy-paste-performance.test.ts
  packages/workout-spa-editor/src/store/actions/create-empty-repetition-block-action.test.ts
  packages/workout-spa-editor/src/store/actions/delete-repetition-block-action.test.ts
  packages/workout-spa-editor/src/store/actions/duplicate-step-action.test.ts
  packages/workout-spa-editor/src/store/actions/performance.test.ts
  packages/workout-spa-editor/src/store/actions/reorder-step-action.test.ts
  packages/workout-spa-editor/src/store/actions/reorder-steps-in-block-action.test.ts
  packages/workout-spa-editor/src/store/actions/ungroup-repetition-block-action.test.ts
  packages/workout-spa-editor/src/store/clipboard-store.test.ts
  packages/workout-spa-editor/src/store/focus/focus-slice.test.ts
  packages/workout-spa-editor/src/store/focus/focus-target.types.test.ts
  packages/workout-spa-editor/src/store/hydrate-ui-workout.test.ts
  packages/workout-spa-editor/src/store/providers/focus-telemetry.test.ts
  packages/workout-spa-editor/src/store/providers/item-id.test.ts
  packages/workout-spa-editor/src/store/storage-store.test.ts
  packages/workout-spa-editor/src/store/strip-ids.test.ts
  packages/workout-spa-editor/src/store/train2go-pii-redaction.test.ts
  packages/workout-spa-editor/src/store/workout-store-modal-actions.test.ts
  packages/workout-spa-editor/src/store/workout-store-undo-history.test.ts
  packages/workout-spa-editor/src/store/workout-store.test.ts
  packages/workout-spa-editor/src/test-utils/console-spy.example.test.tsx
  packages/workout-spa-editor/src/test-utils/fixtures.test.ts
Due: frontend

test(spa-editor): minimize unit tests (adapters/hooks) — AAA cleanup, it.each, fix migration test
  packages/workout-spa-editor/src/adapters/analytics/cloudflare-analytics.test.ts
  packages/workout-spa-editor/src/adapters/bridge/bridge-transport.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-coaching-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-cascade.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v14-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v5-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v9-migration.test.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-telemetry.test.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-record.converter.test.ts
  packages/workout-spa-editor/src/hooks/focus/use-focus-after-action-telemetry.test.tsx
  packages/workout-spa-editor/src/hooks/garmin-bridge-operations.test.ts
  packages/workout-spa-editor/src/hooks/sync-change-token.test.ts
  packages/workout-spa-editor/src/hooks/use-coaching-activities.test.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.test.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-shortcuts.test.ts
  packages/workout-spa-editor/src/hooks/use-latest-ref.test.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.test.tsx
  packages/workout-spa-editor/src/hooks/use-toast.test.ts
Due: frontend

test(spa-editor): minimize unit tests (application) — it.each, AAA, drop redundant
  packages/workout-spa-editor/src/application/ai/clear-all-providers.test.ts
  packages/workout-spa-editor/src/application/analytics-port-events.test.ts
  packages/workout-spa-editor/src/application/auto-match-dismissal.test.ts
  packages/workout-spa-editor/src/application/canonical-sport-family.test.ts
  packages/workout-spa-editor/src/application/chat/chat-message-mapper.test.ts
  packages/workout-spa-editor/src/application/coaching/attempt-link-helpers.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-template.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-transport-port.test.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.test.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test.ts
  packages/workout-spa-editor/src/application/coaching/remove-untouched-coaching-templates.test.ts
  packages/workout-spa-editor/src/application/coaching/zone-table-classifier.test.ts
  packages/workout-spa-editor/src/application/compliance-bucket.test.ts
  packages/workout-spa-editor/src/application/compute-compliance-score.test.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.test.ts
  packages/workout-spa-editor/src/application/get-user-preferences.test.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.test.ts
  packages/workout-spa-editor/src/application/import/upsert-imported-record.use-case.test.ts
  packages/workout-spa-editor/src/application/library/add-template.test.ts
  packages/workout-spa-editor/src/application/nutrition/apply-preset-to-date.use-case.test.ts
  packages/workout-spa-editor/src/application/nutrition/delete-intake-preset.use-case.test.ts
  packages/workout-spa-editor/src/application/nutrition/log-intake-entry.use-case.test.ts
  packages/workout-spa-editor/src/application/nutrition/save-intake-preset.use-case.test.ts
  packages/workout-spa-editor/src/application/on-workout-mutation.test.ts
  packages/workout-spa-editor/src/application/parse-coaching-duration.test.ts
  packages/workout-spa-editor/src/application/profile/create-profile.test.ts
  packages/workout-spa-editor/src/application/profile/zones/zones.test.ts
  packages/workout-spa-editor/src/application/provider-rates.test.ts
  packages/workout-spa-editor/src/application/sanity-checks.test.ts
  packages/workout-spa-editor/src/application/set-calendar-view.test.ts
Due: frontend

test(spa-editor): minimize component tests (atoms/molecules) — AAA cleanup
  packages/workout-spa-editor/src/components/atoms/ErrorMessage/ErrorMessage.test.tsx
  packages/workout-spa-editor/src/components/atoms/Icon/Icon.test.tsx
  packages/workout-spa-editor/src/components/atoms/Input/Input.test.tsx
  packages/workout-spa-editor/src/components/atoms/ThemeToggle/ThemeToggle.test.tsx
  packages/workout-spa-editor/src/components/atoms/Toast/Toast.test.tsx
  packages/workout-spa-editor/src/components/atoms/Tooltip/Tooltip.test.tsx
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/CalendarEmptyStates.test.tsx
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/ConfirmationModal.accessibility.test.tsx
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/ConfirmationModal.test.tsx
  packages/workout-spa-editor/src/components/molecules/CreateRepetitionBlockButton/CreateRepetitionBlockButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/CreateRepetitionBlockDialog/CreateRepetitionBlockDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/ExportFormatSelector.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.test.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUpload.test.tsx
  packages/workout-spa-editor/src/components/molecules/PasteButton/PasteButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockCard.accessibility.test.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockCard.property.test.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockContextMenu.test.tsx
  packages/workout-spa-editor/src/components/molecules/RouteErrorBoundary.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/generate-thumbnail.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/CopyButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/StepCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/StepNotesEditor/StepNotesEditor.test.tsx
  packages/workout-spa-editor/src/components/molecules/StorageAvailabilityBanner/StorageAvailabilityBanner.test.tsx
  packages/workout-spa-editor/src/components/molecules/SwimmingStepEditor/SwimmingStepEditor.test.tsx
  packages/workout-spa-editor/src/components/molecules/TargetPicker/TargetPicker.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/WorkoutMetadataEditor.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutPreview/WorkoutPreview.test.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/MainLayout.test.tsx
Due: frontend

test(spa-editor): minimize component tests (organisms) — AAA cleanup
  packages/workout-spa-editor/src/components/organisms/OnboardingTutorial/OnboardingTutorial.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/UsageTab.test.tsx
  packages/workout-spa-editor/src/components/organisms/StepEditor/FirstTimeHints.test.tsx
  packages/workout-spa-editor/src/components/organisms/StepEditor/StepEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/WorkoutList.multi-selection.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/WorkoutList.selection.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutStats/WorkoutStats.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/ZonesConflictDialog.test.tsx
Due: frontend

test(spa-editor): minimize component tests (pages) — AAA cleanup
  packages/workout-spa-editor/src/components/pages/HelpSection/HelpSection.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.property.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutStepsListActions.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionHandlers.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.test.ts
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.test.tsx
Due: frontend

test(spa-editor): flush toast auto-dismiss timer in LibraryPage test
  openspec/specs/README.md
  packages/workout-spa-editor/src/components/pages/LibraryPage.test.tsx
Due: frontend

fix(spa-editor): clear toast auto-dismiss timers on unmount
  packages/workout-spa-editor/src/hooks/use-toast.ts
Due: frontend

refactor(garmin): remove dead output schemas and unused types
  packages/garmin/src/adapters/schemas/common/index.ts
  packages/garmin/src/adapters/schemas/common/sport-type.schema.ts
  packages/garmin/src/adapters/schemas/common/step-type.schema.ts
  packages/garmin/src/adapters/schemas/index.ts
  packages/garmin/src/adapters/schemas/input/index.ts
  packages/garmin/src/adapters/schemas/input/repeat-input.schema.ts
  packages/garmin/src/adapters/schemas/input/segment-input.schema.ts
  packages/garmin/src/adapters/schemas/input/workout-input.schema.ts
  packages/garmin/src/adapters/schemas/output/author.schema.ts
  packages/garmin/src/adapters/schemas/output/index.ts
  packages/garmin/src/adapters/schemas/output/repeat.schema.ts
  packages/garmin/src/adapters/schemas/output/segment.schema.ts
  packages/garmin/src/adapters/schemas/output/step.schema.ts
  packages/garmin/src/adapters/schemas/output/types.ts
  packages/garmin/src/adapters/schemas/output/workout.schema.ts
Due: garmin

refactor(zwo): remove dead target mappers/schemas, drop unused zod dep
  packages/zwo/package.json
  packages/zwo/src/adapters/AGENTS.md
  packages/zwo/src/adapters/duration/duration.converter.ts
  packages/zwo/src/adapters/duration/duration.mapper.ts
  packages/zwo/src/adapters/interval/index.ts
  packages/zwo/src/adapters/schemas/AGENTS.md
  packages/zwo/src/adapters/schemas/zwift-interval.ts
  packages/zwo/src/adapters/schemas/zwift-sport.ts
  packages/zwo/src/adapters/schemas/zwift-target.ts
  packages/zwo/src/adapters/target/AGENTS.md
  packages/zwo/src/adapters/target/index.ts
  packages/zwo/src/adapters/target/krd-to-zwift.mapper.ts
  packages/zwo/src/adapters/target/target.mapper.ts
  packages/zwo/src/adapters/target/zwift-to-krd.mapper.ts
  pnpm-lock.yaml
Due: zwo

refactor(tcx): remove dead duration schema and unused target type
  packages/tcx/src/adapters/schemas/tcx-duration.ts
  packages/tcx/src/adapters/schemas/tcx-target.ts
Due: tcx

refactor(mcp): remove unused HealthManagedDataType alias
  packages/mcp/src/tools/health/health-record-filters.ts
Due: none

refactor(spa-editor): consolidate workout-record factory and error-recovery twins
  packages/workout-spa-editor/src/application/library/schedule-template.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/persist-scratch-workout.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/build-workout-record.ts
  packages/workout-spa-editor/src/components/pages/use-schedule-template.ts
  packages/workout-spa-editor/src/types/calendar-record.ts
  packages/workout-spa-editor/src/utils/error-recovery.ts
Due: frontend

refactor(fit): remove dead files, re-exports and unused types
  packages/fit/src/adapters/course/course.mapper.ts
  packages/fit/src/adapters/course/index.ts
  packages/fit/src/adapters/event/index.ts
  packages/fit/src/adapters/health/body-composition/index.ts
  packages/fit/src/adapters/health/daily/index.ts
  packages/fit/src/adapters/health/hrv/index.ts
  packages/fit/src/adapters/health/sleep/index.ts
  packages/fit/src/adapters/health/stress/index.ts
  packages/fit/src/adapters/health/weight/index.ts
  packages/fit/src/adapters/lap/index.ts
  packages/fit/src/adapters/length-unit/length-unit.mapper.ts
  packages/fit/src/adapters/messages/activity-validator.ts
  packages/fit/src/adapters/metadata/file-type.mapper.ts
  packages/fit/src/adapters/record/index.ts
  packages/fit/src/adapters/schemas/fit-course-point.ts
  packages/fit/src/adapters/schemas/fit-course.ts
  packages/fit/src/adapters/schemas/fit-duration.ts
  packages/fit/src/adapters/schemas/fit-file-type.ts
  packages/fit/src/adapters/schemas/fit-message-keys.ts
  packages/fit/src/adapters/schemas/fit-target.ts
  packages/fit/src/adapters/session/index.ts
  packages/fit/src/adapters/shared/message-numbers.ts
  packages/fit/src/adapters/shared/type-guards.ts
  packages/fit/src/adapters/shared/types.ts
  packages/fit/src/adapters/sport/sport.ts
  packages/fit/src/adapters/sub-sport/sub-sport.ts
Due: fit

refactor(ai): drop unreachable guard in checkZones
  packages/ai/src/evals/assertions.ts
Due: none

refactor(train2go-bridge): remove dead parser code, dedup numeric match
  packages/train2go-bridge/parser.js
Due: none

refactor(garmin-connect): drop dead re-exports and unused constant
  packages/garmin-connect/src/adapters/client/garmin-connect-client.ts
  packages/garmin-connect/src/adapters/http/garmin-sso.ts
  packages/garmin-connect/src/adapters/http/oauth-signer.ts
  packages/garmin-connect/src/adapters/http/urls.ts
  packages/garmin-connect/src/adapters/schemas/garmin-token.schema.ts
Due: none

refactor(core): drop dead health schema re-export
  packages/cli/src/commands/garmin/index.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/tests/helpers/cli-test-utils.ts
  packages/cli/src/types/plugin.ts
  packages/core/src/domain/schemas/health/index.ts
Due: core, cli

refactor(garmin-bridge): table-drive sport threshold validation
  packages/garmin-bridge/profile-snapshot.js
Due: none

refactor(cli): remove dead command barrels, plugin types and unused helpers
  packages/cli/src/commands/garmin/types.ts
  packages/cli/src/tests/helpers/fixture-paths.ts
  packages/cli/src/utils/error-formatter.ts
  packages/cli/src/utils/file-handler.ts
Due: cli

chore: add changeset for code reduction sweep
  .changeset/code-reduction-sweep.md
Due: none

refactor(fit): restore session barrel KRD-to-FIT re-exports for symmetry
  packages/fit/src/adapters/session/index.ts
Due: fit
