Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

chore(ci): warm the Playwright cache once before the e2e jobs
  .github/workflows/ci.yml
Due: none

chore(ci): cache Playwright browsers and drop the vestigial release build (#1198)
  .github/actions/setup-playwright/action.yml
  .github/workflows/ci.yml
  scripts/changeset-version.sh
Due: none

test(spa-editor): exercise the playwright-cache warming path
  packages/workout-spa-editor/README.md
Due: none

refactor(mcp): inline single-use ParsedHealthRecords return type
  .changeset/mcp-inline-parsed-health-records.md
  packages/mcp/src/tools/health/parse-health-records.ts
Due: none

refactor(mcp): inline single-use ParsedHealthRecords return type (#1206)
  .changeset/mcp-inline-parsed-health-records.md
  packages/mcp/src/tools/health/parse-health-records.ts
Due: none

chore(spa-editor): drop dead exports, unused types, and unreferenced files
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-snapshot.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-upload-constants.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-tab-views.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/index.ts
  packages/workout-spa-editor/src/hooks/use-toast.helpers.ts
  packages/workout-spa-editor/src/lib/secure-storage.ts
  packages/workout-spa-editor/src/store/ai-store-types.ts
  packages/workout-spa-editor/src/types/bridge-schemas.ts
Due: frontend

chore(spa-editor): drop dead exports, unused types, and unreferenced files (#1212)
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-snapshot.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-upload-constants.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-tab-views.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/index.ts
  packages/workout-spa-editor/src/hooks/use-toast.helpers.ts
  packages/workout-spa-editor/src/lib/secure-storage.ts
  packages/workout-spa-editor/src/store/ai-store-types.ts
  packages/workout-spa-editor/src/types/bridge-schemas.ts
Due: frontend

chore(spa-editor): drop unused SUPPORTED_FILE_TYPES constant
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-upload-constants.ts
Due: frontend

refactor(fit): inline single-use type and drop three pass-through barrels
  .changeset/fit-code-reduction.md
  packages/fit/src/adapters/course/index.ts
  packages/fit/src/adapters/event/index.ts
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
  packages/fit/src/adapters/messages/messages.validator.ts
  packages/fit/src/adapters/record/index.ts
Due: fit

refactor(fit): inline single-use type and drop three pass-through barrels (#1213)
  .changeset/fit-code-reduction.md
  packages/fit/src/adapters/course/index.ts
  packages/fit/src/adapters/event/index.ts
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
  packages/fit/src/adapters/messages/messages.validator.ts
  packages/fit/src/adapters/record/index.ts
Due: fit

fix(deps): refresh the stale fast-uri and qs audit overrides
  package.json
  pnpm-lock.yaml
Due: none

chore(ci): raise the @kaiord/ai size-limit baseline to 70 kB
  .size-limit.cjs
Due: none

fix(deps): refresh the stale fast-uri and qs audit overrides (#1214)
  package.json
  pnpm-lock.yaml
Due: none

fix(scripts): map Bing crawlErrors to CrawlErrors, not AllOtherCodes
  scripts/geo/bing-snapshot.mjs
Due: none

chore(ci): run the security audit on every push to main
  .github/workflows/security.yml
Due: none

chore(ci): raise the @kaiord/ai size-limit baseline to 70 kB (#1216)
  .size-limit.cjs
Due: none

fix(scripts): map Bing crawlErrors to CrawlErrors, not AllOtherCodes (#1218)
  scripts/geo/bing-snapshot.mjs
Due: none

chore(ci): run the security audit on every push to main (#1219)
  .github/workflows/security.yml
Due: none

chore(spa-editor): drop unused SUPPORTED_FILE_TYPES constant (#1205)
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-upload-constants.ts
Due: frontend

test(scripts): stop the privacy-surface suite rewriting tracked files
  scripts/check-bridge-privacy-surface.test.mjs
Due: none

test(scripts): stop the privacy-surface suite rewriting tracked files (#1222)
  scripts/check-bridge-privacy-surface.test.mjs
Due: none

test(spa-editor): stop bridge singletons leaking between test files
  packages/workout-spa-editor/src/test-setup.ts
  packages/workout-spa-editor/src/test-utils/reset-bridge-singletons.test.ts
  packages/workout-spa-editor/src/test-utils/reset-bridge-singletons.ts
Due: frontend

test(spa-editor): seed the singleton keys so the guard cannot pass vacuously
  packages/workout-spa-editor/src/test-utils/reset-bridge-singletons.test.ts
  packages/workout-spa-editor/src/test-utils/seed-stale-bridge-singletons.ts
  packages/workout-spa-editor/vitest.config.ts
Due: frontend

test(spa-editor): stop bridge singletons leaking between test files (#1224)
  packages/workout-spa-editor/src/test-setup.ts
  packages/workout-spa-editor/src/test-utils/reset-bridge-singletons.test.ts
  packages/workout-spa-editor/src/test-utils/reset-bridge-singletons.ts
  packages/workout-spa-editor/src/test-utils/seed-stale-bridge-singletons.ts
  packages/workout-spa-editor/vitest.config.ts
Due: frontend

fix(spa-editor): mount global providers in storybook and repair two stale stories
  .design-sync/NOTES.md
  .design-sync/config.json
  packages/workout-spa-editor/.storybook/AGENTS.md
  packages/workout-spa-editor/.storybook/preview.ts
  packages/workout-spa-editor/.storybook/preview.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/WorkoutList.stories.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutStats/WorkoutStats.stories.tsx
Due: frontend

chore(spa-editor): sync the design system to claude.ai/design
  .design-sync/NOTES.md
  .design-sync/build-css.mjs
  .design-sync/config.json
  .design-sync/conventions.md
  .design-sync/gen-entry.mjs
  .design-sync/gen-i18n-resources.mjs
  .design-sync/i18n-resources-static.ts
  .design-sync/inter.css
  .design-sync/previews/ErrorMessage.tsx
  .design-sync/tsconfig.paths.json
  .gitignore
  .prettierignore
  eslint.config.js
  packages/workout-spa-editor/.storybook/main.ts
  packages/workout-spa-editor/design-system.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/tsconfig.app.json
Due: none

chore(ci): scope design-system.ts lint relaxation to two rules
  eslint.config.js
Due: none

chore(spa-editor): sync the design system to claude.ai/design (#1221)
  .design-sync/NOTES.md
  .design-sync/build-css.mjs
  .design-sync/config.json
  .design-sync/conventions.md
  .design-sync/gen-entry.mjs
  .design-sync/gen-i18n-resources.mjs
  .design-sync/i18n-resources-static.ts
  .design-sync/inter.css
  .design-sync/previews/ErrorMessage.tsx
  .design-sync/tsconfig.paths.json
  .gitignore
  .prettierignore
  eslint.config.js
  packages/workout-spa-editor/.storybook/AGENTS.md
  packages/workout-spa-editor/.storybook/main.ts
  packages/workout-spa-editor/.storybook/preview.ts
  packages/workout-spa-editor/.storybook/preview.tsx
  packages/workout-spa-editor/design-system.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/organisms/WorkoutList/WorkoutList.stories.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutStats/WorkoutStats.stories.tsx
  packages/workout-spa-editor/tsconfig.app.json
Due: frontend

fix(ai): stop untrusted text from breaking out of its fence
  .changeset/tidy-fences-hold.md
  packages/ai/src/prompts/fence.test.ts
  packages/ai/src/prompts/fence.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-workouts.test.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-workouts.ts
Due: frontend

feat(trainingpeaks): convert KRD workouts to the TrainingPeaks structure
  .changeset/trainingpeaks-workout-push.md
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-workout.converter.test.ts
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-workout.converter.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-target-band.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-polyline.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-steps.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-targets.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout.test-fixtures.ts
  packages/trainingpeaks/src/adapters/schemas/trainingpeaks-workout.schema.ts
  packages/trainingpeaks/src/index.ts
Due: none

feat(spa-editor): push structured workouts to TrainingPeaks
  packages/workout-spa-editor/src/adapters/trainingpeaks/trainingpeaks-workout-transport.ts
  packages/workout-spa-editor/src/application/connections/bridge-route-types.test.ts
  packages/workout-spa-editor/src/application/trainingpeaks/trainingpeaks-thresholds.test.ts
  packages/workout-spa-editor/src/application/trainingpeaks/trainingpeaks-thresholds.ts
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksSentButton.tsx
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/use-trainingpeaks-gate.ts
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetailFooter.tsx
  packages/workout-spa-editor/src/hooks/trainingpeaks-push-fn.ts
  packages/workout-spa-editor/src/hooks/use-trainingpeaks-push.ts
  packages/workout-spa-editor/src/i18n/locales/en/workout-detail.json
  packages/workout-spa-editor/src/i18n/locales/es/workout-detail.json
  packages/workout-spa-editor/src/integrations/bridge-supported-routes.ts
Due: frontend

feat(trainingpeaks-bridge): add the structured-workout write action
  packages/trainingpeaks-bridge/background.js
  packages/trainingpeaks-bridge/bridge-identity.js
  packages/trainingpeaks-bridge/test/background.test.js
  scripts/fixtures/bridge-privacy-surface.json
Due: none

docs(openspec): propose the TrainingPeaks workout push
  openspec/changes/add-trainingpeaks-workout-push/design.md
  openspec/changes/add-trainingpeaks-workout-push/proposal.md
  openspec/changes/add-trainingpeaks-workout-push/specs/spa-trainingpeaks-extension/spec.md
  openspec/changes/add-trainingpeaks-workout-push/specs/trainingpeaks-bridge/spec.md
  openspec/changes/add-trainingpeaks-workout-push/tasks.md
Due: none

docs(openspec): record why the TrainingPeaks work stops here
  openspec/changes/add-trainingpeaks-workout-push/design.md
  openspec/changes/add-trainingpeaks-workout-push/tasks.md
Due: none

fix(ai): stop untrusted text from breaking out of its fence (#1225)
  .changeset/tidy-fences-hold.md
  packages/ai/src/prompts/fence.test.ts
  packages/ai/src/prompts/fence.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-workouts.test.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-workouts.ts
Due: frontend

fix(spa-editor): repair invalid story fixtures and the Input size type
  packages/workout-spa-editor/src/components/atoms/Input/Input.types.ts
  packages/workout-spa-editor/src/components/atoms/Input/InputElement.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.stories.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.stories.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/StepCard.stories.tsx
  packages/workout-spa-editor/src/components/organisms/StepEditor/StepEditor.stories.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutStats/WorkoutStats.stories.tsx
Due: frontend

chore(ci): add a render probe for storybook stories
  .design-sync/probe-stories.mjs
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
