Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

fix(spa-editor): ImportDropzoneOverlay clears stale currentWorkout on mount (#657)
  .changeset/import-overlay-clears-stale-workout.md
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.tsx
Due: frontend

fix(spa-editor): drop auto-click on ImportDropzoneOverlay mount
  .changeset/remove-import-auto-click.md
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.tsx
Due: frontend

fix(spa-editor): drop auto-click on ImportDropzoneOverlay mount (#658)
  .changeset/remove-import-auto-click.md
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.tsx
Due: frontend

feat(fit): sleep_record bidirectional mapper (PR 2 part 1)
  packages/fit/src/adapters/health/sleep/fit-sleep-level.schema.ts
  packages/fit/src/adapters/health/sleep/fit-to-krd-health-sleep.converter.test.ts
  packages/fit/src/adapters/health/sleep/fit-to-krd-health-sleep.converter.ts
  packages/fit/src/adapters/health/sleep/health-sleep.converter.test.ts
  packages/fit/src/adapters/health/sleep/health-sleep.converter.ts
  packages/fit/src/adapters/health/sleep/index.ts
  packages/fit/src/adapters/health/sleep/krd-health-sleep-to-fit.converter.test.ts
  packages/fit/src/adapters/health/sleep/krd-health-sleep-to-fit.converter.ts
  packages/fit/src/adapters/health/sleep/sleep-message-grouping.ts
  packages/fit/src/adapters/health/sleep/sleep-round-trip.test.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
  packages/fit/src/adapters/schemas/fit-message-keys.ts
  packages/fit/src/adapters/shared/message-numbers.ts
Due: fit

test(fit): add synthetic HRV FIT fixture + reproducible generator
  packages/fit/scripts/generate-synthetic-hrv-fixture.mjs
  test-fixtures/fit/HealthHrvOvernight.fit
Due: none

test(fit): vendor Garmin FIT SDK examples for non-workout coverage
  test-fixtures/README.md
  test-fixtures/fit/Activity.fit
  test-fixtures/fit/DeveloperData.fit
  test-fixtures/fit/MonitoringFile.fit
  test-fixtures/fit/Settings.fit
  test-fixtures/fit/WeightScaleMultiUser.fit
  test-fixtures/fit/WeightScaleSingleUser.fit
  test-fixtures/fit/activity_developerdata.fit
  test-fixtures/fit/activity_multisport.fit
  test-fixtures/fit/activity_poolswim.fit
  test-fixtures/fit/activity_poolswim_with_hr.fit
  test-fixtures/fit/activity_truncated.fit
Due: none

docs(openspec): propose add-health-metrics-to-krd (KRD v2.0)
  openspec/changes/add-health-metrics-to-krd/.openspec.yaml
  openspec/changes/add-health-metrics-to-krd/design.md
  openspec/changes/add-health-metrics-to-krd/proposal.md
  openspec/changes/add-health-metrics-to-krd/specs/adapter-contracts/spec.md
  openspec/changes/add-health-metrics-to-krd/specs/health-data/spec.md
  openspec/changes/add-health-metrics-to-krd/specs/krd-format/spec.md
  openspec/changes/add-health-metrics-to-krd/specs/spa-persistence-port/spec.md
  openspec/changes/add-health-metrics-to-krd/specs/spa-routing/spec.md
  openspec/changes/add-health-metrics-to-krd/tasks.md
Due: none

feat(core)!: KRD v2.0 — health-domain types + tagged extensions (PR 1)
  .changeset/add-health-metrics-to-krd-pr1.md
  docs/krd-format.md
  openspec/changes/add-health-metrics-to-krd/tasks.md
  packages/cli/src/commands/convert-integration.test.ts
  packages/core/docs/ADAPTER-COVERAGE.md
  packages/core/schema/krd.json
  packages/core/src/domain/index.ts
  packages/core/src/domain/schemas/file-type.test.ts
  packages/core/src/domain/schemas/file-type.ts
  packages/core/src/domain/schemas/health/body-composition.test.ts
  packages/core/src/domain/schemas/health/body-composition.ts
  packages/core/src/domain/schemas/health/daily.test.ts
  packages/core/src/domain/schemas/health/daily.ts
  packages/core/src/domain/schemas/health/hrv.test.ts
  packages/core/src/domain/schemas/health/hrv.ts
  packages/core/src/domain/schemas/health/index.ts
  packages/core/src/domain/schemas/health/sleep.test.ts
  packages/core/src/domain/schemas/health/sleep.ts
  packages/core/src/domain/schemas/health/stress.test.ts
  packages/core/src/domain/schemas/health/stress.ts
  packages/core/src/domain/schemas/health/tolerances.ts
  packages/core/src/domain/schemas/health/weight.test.ts
  packages/core/src/domain/schemas/health/weight.ts
  packages/core/src/domain/schemas/index.ts
  packages/core/src/domain/schemas/krd.ts
  packages/core/src/domain/schemas/krd/index.test.ts
  packages/core/src/domain/schemas/krd/index.ts
  packages/core/src/domain/schemas/krd/metadata.ts
  packages/core/src/domain/types/errors.ts
  packages/core/src/domain/types/unsupported-krd-type-error.test.ts
  packages/core/src/domain/types/unsupported-krd-type-error.ts
  packages/core/src/index.ts
  packages/garmin/src/adapters/garmin-writer.health-rejection.test.ts
  packages/garmin/src/adapters/garmin-writer.ts
  packages/tcx/src/adapters/fast-xml-parser.health-rejection.test.ts
  packages/tcx/src/adapters/fast-xml-parser.ts
  packages/zwo/src/adapters/fast-xml-parser.health-rejection.test.ts
  packages/zwo/src/adapters/fast-xml-parser.ts
Due: core, tcx, zwo, garmin, cli

test(fit): vendor real-device health fixtures (sleep + monitoring/stress)
  test-fixtures/README.md
  test-fixtures/fit/HealthMonitoringStressDay.fit
  test-fixtures/fit/HealthMonitoringStressFullDay.fit
  test-fixtures/fit/HealthSleepFullNight.fit
  test-fixtures/fit/HealthSleepOvernight.fit
Due: none

feat(fit): weight_measurement bidirectional mapper (PR 2 part 2)
  packages/fit/src/adapters/health/shared/health-metadata.builder.ts
  packages/fit/src/adapters/health/sleep/fit-to-krd-health-sleep.converter.ts
  packages/fit/src/adapters/health/weight/fit-to-krd-health-weight.converter.test.ts
  packages/fit/src/adapters/health/weight/fit-to-krd-health-weight.converter.ts
  packages/fit/src/adapters/health/weight/fit-weight-scale.schema.ts
  packages/fit/src/adapters/health/weight/health-weight.converter.test.ts
  packages/fit/src/adapters/health/weight/health-weight.converter.ts
  packages/fit/src/adapters/health/weight/index.ts
  packages/fit/src/adapters/health/weight/krd-health-weight-to-fit.converter.test.ts
  packages/fit/src/adapters/health/weight/krd-health-weight-to-fit.converter.ts
  packages/fit/src/adapters/health/weight/weight-message-grouping.ts
  packages/fit/src/adapters/health/weight/weight-round-trip.test.ts
  packages/fit/src/adapters/messages/file-type-detector.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
Due: fit

feat(fit): stress_episode bidirectional mapper (PR 2 part 6)
  packages/fit/src/adapters/health/stress/fit-stress.schema.ts
  packages/fit/src/adapters/health/stress/fit-to-krd-health-stress.converter.test.ts
  packages/fit/src/adapters/health/stress/fit-to-krd-health-stress.converter.ts
  packages/fit/src/adapters/health/stress/health-stress.converter.test.ts
  packages/fit/src/adapters/health/stress/health-stress.converter.ts
  packages/fit/src/adapters/health/stress/index.ts
  packages/fit/src/adapters/health/stress/krd-health-stress-to-fit.converter.test.ts
  packages/fit/src/adapters/health/stress/krd-health-stress-to-fit.converter.ts
  packages/fit/src/adapters/health/stress/stress-message-grouping.ts
  packages/fit/src/adapters/health/stress/stress-round-trip.test.ts
  packages/fit/src/adapters/messages/file-type-detector.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
Due: fit

feat(fit): body_composition bidirectional mapper (PR 2 part 5)
  packages/fit/src/adapters/health/body-composition/body-composition-message-grouping.ts
  packages/fit/src/adapters/health/body-composition/fit-body-composition.schema.ts
  packages/fit/src/adapters/health/body-composition/fit-to-krd-health-body-composition.converter.test.ts
  packages/fit/src/adapters/health/body-composition/fit-to-krd-health-body-composition.converter.ts
  packages/fit/src/adapters/health/body-composition/health-body-composition.converter.test.ts
  packages/fit/src/adapters/health/body-composition/health-body-composition.converter.ts
  packages/fit/src/adapters/health/body-composition/index.ts
  packages/fit/src/adapters/health/body-composition/krd-health-body-composition-to-fit.converter.test.ts
  packages/fit/src/adapters/health/body-composition/krd-health-body-composition-to-fit.converter.ts
  packages/fit/src/adapters/messages/file-type-detector.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
  packages/fit/src/adapters/messages/workout-message-grouping.ts
Due: fit

feat(fit): daily_wellness bidirectional mapper (PR 2 part 4)
  packages/fit/src/adapters/health/daily/daily-message-grouping.ts
  packages/fit/src/adapters/health/daily/daily-round-trip.test.ts
  packages/fit/src/adapters/health/daily/fit-monitoring.schema.ts
  packages/fit/src/adapters/health/daily/fit-to-krd-health-daily.converter.test.ts
  packages/fit/src/adapters/health/daily/fit-to-krd-health-daily.converter.ts
  packages/fit/src/adapters/health/daily/health-daily.converter.test.ts
  packages/fit/src/adapters/health/daily/health-daily.converter.ts
  packages/fit/src/adapters/health/daily/index.ts
  packages/fit/src/adapters/health/daily/krd-health-daily-to-fit.converter.test.ts
  packages/fit/src/adapters/health/daily/krd-health-daily-to-fit.converter.ts
  packages/fit/src/adapters/messages/file-type-detector.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
Due: fit

feat(fit): hrv_summary bidirectional mapper (PR 2 part 3)
  packages/fit/src/adapters/health/hrv/fit-hrv.schema.ts
  packages/fit/src/adapters/health/hrv/fit-to-krd-health-hrv.converter.test.ts
  packages/fit/src/adapters/health/hrv/fit-to-krd-health-hrv.converter.ts
  packages/fit/src/adapters/health/hrv/health-hrv.converter.test.ts
  packages/fit/src/adapters/health/hrv/health-hrv.converter.ts
  packages/fit/src/adapters/health/hrv/hrv-message-grouping.ts
  packages/fit/src/adapters/health/hrv/hrv-round-trip.test.ts
  packages/fit/src/adapters/health/hrv/index.ts
  packages/fit/src/adapters/health/hrv/krd-health-hrv-to-fit.converter.test.ts
  packages/fit/src/adapters/health/hrv/krd-health-hrv-to-fit.converter.ts
  packages/fit/src/adapters/messages/file-type-detector.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
Due: fit

feat(spa-editor): Dexie v15 health-domain stores + cascade cleanup (PR 3 part 1)
  openspec/changes/add-health-metrics-to-krd/tasks.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-health-cleanup-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v16-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.ts
  packages/workout-spa-editor/src/ports/health-cleanup-repository.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
Due: frontend

feat(spa-editor): six useLiveQuery health hooks (PR 3 part 3)
  packages/workout-spa-editor/src/hooks/health/health-live-query.ts
  packages/workout-spa-editor/src/hooks/health/use-health-body-composition-latest-live.test.tsx
  packages/workout-spa-editor/src/hooks/health/use-health-body-composition-latest-live.ts
  packages/workout-spa-editor/src/hooks/health/use-health-daily-today-live.test.tsx
  packages/workout-spa-editor/src/hooks/health/use-health-daily-today-live.ts
  packages/workout-spa-editor/src/hooks/health/use-health-hrv-history-live.test.tsx
  packages/workout-spa-editor/src/hooks/health/use-health-hrv-history-live.ts
  packages/workout-spa-editor/src/hooks/health/use-health-sleep-week-live.test.tsx
  packages/workout-spa-editor/src/hooks/health/use-health-sleep-week-live.ts
  packages/workout-spa-editor/src/hooks/health/use-health-stress-day-live.test.tsx
  packages/workout-spa-editor/src/hooks/health/use-health-stress-day-live.ts
  packages/workout-spa-editor/src/hooks/health/use-health-weight-history-live.test.tsx
  packages/workout-spa-editor/src/hooks/health/use-health-weight-history-live.ts
Due: frontend

feat(spa-editor): six typed health repositories (PR 3 part 2)
  packages/workout-spa-editor/src/adapters/dexie/dexie-health-record-repository.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-health-record-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/ports/health-record-repository.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/ports/simple-repositories.ts
  packages/workout-spa-editor/src/test-utils/in-memory-health-record-repository.test.ts
  packages/workout-spa-editor/src/test-utils/in-memory-health-record-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence-snapshot.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
  packages/workout-spa-editor/src/types/health/health-records.ts
Due: frontend

feat(spa-editor): importHealthFitFile use case (PR 3 part 4 / §9.1-9.2)
  openspec/changes/add-health-metrics-to-krd/tasks.md
  packages/workout-spa-editor/src/application/health/import-health-dispatch.ts
  packages/workout-spa-editor/src/application/health/import-health-errors.ts
  packages/workout-spa-editor/src/application/health/import-health-fit-file.use-case.test.ts
  packages/workout-spa-editor/src/application/health/import-health-fit-file.use-case.ts
Due: frontend

docs(openspec): mark §6.6-6.10 done for add-health-metrics-to-krd
  openspec/changes/add-health-metrics-to-krd/tasks.md
Due: none

fix(spa-editor): unblock tsc -b after KRD v2.0 extensions widening
  packages/workout-spa-editor/src/application/health/import-health-errors.ts
  packages/workout-spa-editor/src/hooks/focus/apply-focus-target.ts
  packages/workout-spa-editor/src/types/ui-workout.ts
Due: frontend

feat(spa-editor): Training / Health / Settings primary nav (§7)
  packages/workout-spa-editor/src/components/templates/MainLayout/MainLayout.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/PRIMARY_NAV_DECISION.md
  packages/workout-spa-editor/src/components/templates/MainLayout/PrimaryNav.test.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/PrimaryNav.tsx
Due: frontend

feat(spa-editor): Health Hub routes + 5 pages MVP (§8.1-8.7)
  packages/workout-spa-editor/src/AppRoutes.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthActivityPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthPageHeader.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthRecoveryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSleepPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthWeightPage.tsx
  packages/workout-spa-editor/src/components/pages/health/health-date-windows.ts
  packages/workout-spa-editor/src/components/pages/health/health-routes.test.tsx
  packages/workout-spa-editor/src/components/pages/health/health-routes.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
Due: frontend

feat(spa-editor): import dispatch routes health KRDs to Health Hub (§9.3)
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/health-destination.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.ts
Due: frontend

docs(openspec): mark §7-9.3 done for add-health-metrics-to-krd
  openspec/changes/add-health-metrics-to-krd/tasks.md
Due: none

chore(spa-editor): prettier format 3 health files
  packages/workout-spa-editor/src/components/pages/health/HealthPageHeader.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthRecoveryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/health-date-windows.ts
Due: frontend

feat(spa-editor): in-app back navigation across create-workout flow
  .changeset/create-workout-back-navigation.md
  packages/workout-spa-editor/src/components/atoms/BackButton/BackButton.test.tsx
  packages/workout-spa-editor/src/components/atoms/BackButton/BackButton.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.test.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/components/pages/EditorPageHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/EditorPageHeader.tsx
  packages/workout-spa-editor/src/components/pages/NewWorkoutPicker.test.tsx
  packages/workout-spa-editor/src/components/pages/NewWorkoutPicker.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-discard-confirmation.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-discard-confirmation.ts
  packages/workout-spa-editor/src/components/pages/use-back-handler.ts
  packages/workout-spa-editor/src/routing/picker-href.test.ts
  packages/workout-spa-editor/src/routing/picker-href.ts
Due: frontend

chore(spa-editor): format use-back-handler.ts
  packages/workout-spa-editor/src/components/pages/use-back-handler.ts
Due: frontend

fix(spa-editor): address CodeRabbit review on PR #661
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.ts
  packages/workout-spa-editor/src/components/pages/health/HealthRecoveryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSleepPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthWeightPage.tsx
  packages/workout-spa-editor/src/components/pages/health/health-routes.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/PrimaryNav.test.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/PrimaryNav.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
Due: frontend

feat(spa-editor): in-app back navigation across create-workout flow (#662)
  .changeset/create-workout-back-navigation.md
  packages/workout-spa-editor/src/components/atoms/BackButton/BackButton.test.tsx
  packages/workout-spa-editor/src/components/atoms/BackButton/BackButton.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.test.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/components/pages/EditorPageHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/EditorPageHeader.tsx
  packages/workout-spa-editor/src/components/pages/NewWorkoutPicker.test.tsx
  packages/workout-spa-editor/src/components/pages/NewWorkoutPicker.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-discard-confirmation.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-discard-confirmation.ts
  packages/workout-spa-editor/src/components/pages/use-back-handler.ts
  packages/workout-spa-editor/src/routing/picker-href.test.ts
  packages/workout-spa-editor/src/routing/picker-href.ts
Due: frontend

feat(spa-editor): Health Hub UI — primary nav + 5 routed pages + import dispatch (§7-9.3) (#661)
  openspec/changes/add-health-metrics-to-krd/tasks.md
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts-snapshots/coaching-sidebar-desktop-chromium-linux.png
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts-snapshots/coaching-sidebar-mobile-chromium-linux.png
  packages/workout-spa-editor/src/AppRoutes.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/health-destination.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.ts
  packages/workout-spa-editor/src/components/pages/health/HealthActivityPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthPageHeader.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthRecoveryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSleepPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthWeightPage.tsx
  packages/workout-spa-editor/src/components/pages/health/health-date-windows.ts
  packages/workout-spa-editor/src/components/pages/health/health-routes.test.tsx
  packages/workout-spa-editor/src/components/pages/health/health-routes.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/MainLayout.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/PRIMARY_NAV_DECISION.md
  packages/workout-spa-editor/src/components/templates/MainLayout/PrimaryNav.test.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/PrimaryNav.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
Due: frontend

chore: snapshot understand-anything knowledge graph for kaiord
  .understand-anything/.understandignore
  .understand-anything/fingerprints.json
  .understand-anything/knowledge-graph.json
  .understand-anything/meta.json
Due: none

wip: park CWS tooling + misc script tweaks (no PR)
  .claude/skills/generate-gcn/zones.md
  packages/fit/scripts/generate-synthetic-hrv-fixture.mjs
  scripts/check-ux-glossary-shape.mjs
  scripts/cws-api/cli.mjs
  scripts/cws-api/publish.test.mjs
  scripts/cws-api/state.test.mjs
  scripts/cws-api/stuck-draft-tier.mjs
  scripts/cws-stuck-draft-handler.mjs
  scripts/cws-stuck-draft-handler.test.mjs
  scripts/eslint-rules/no-narrative-comments.mjs
Due: none

chore: ignore .understand-anything/ tool dir
  .gitignore
Due: none

chore: ignore .understand-anything/ tool dir (#669)
  .gitignore
Due: none

refactor(spa-editor): split mixed value/type import in TrendMetricSelector
  packages/workout-spa-editor/src/components/pages/health/trends/TrendMetricSelector.tsx
Due: frontend

chore(openspec): archive remove-subtabs-unify-calendar; sync spa-routing canonical
  openspec/changes/add-health-metrics-to-krd/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/design.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/proposal.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-25-remove-subtabs-unify-calendar/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none
