Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

fix(landing): add Organization and Chrome-extension SoftwareApplication to the JSON-LD graph
  .changeset/landing-entity-schema.md
  packages/landing/index.html
Due: none

feat(scripts): add SEO/GEO observatory
  .github/workflows/seo-observatory.yml
  .prettierignore
  docs/README.md
  docs/seo-observatory.md
  reports/seo/DASHBOARD.md
  reports/seo/README.md
  reports/seo/directory-status.json
  reports/seo/queries.json
  reports/seo/snapshots/ai-visibility-perplexity-2026-07-22.json
  reports/seo/snapshots/serp-2026-07-22.json
  reports/seo/timeseries/ai-visibility.jsonl
  reports/seo/timeseries/serp.jsonl
  scripts/geo/ai-visibility-probe.mjs
  scripts/geo/bing-snapshot.mjs
  scripts/geo/gsc-snapshot.mjs
  scripts/geo/observatory-lib.mjs
  scripts/geo/seo-dashboard.mjs
  scripts/geo/serp-snapshot.mjs
Due: none

fix(scripts): skip GSC snapshot on 403 (service account not yet authorized)
  scripts/geo/gsc-snapshot.mjs
Due: none

docs: document llms.txt format conventions for agents
  AGENTS.md
Due: none

fix(landing): add Organization and Chrome-extension SoftwareApplication to the JSON-LD graph (#1017)
  .changeset/landing-entity-schema.md
  packages/landing/index.html
Due: none

fix(scripts): resolve CodeQL alerts in observatory collectors
  scripts/geo/ai-visibility-probe.mjs
  scripts/geo/gsc-snapshot.mjs
  scripts/geo/serp-snapshot.mjs
Due: none

docs: document llms.txt format conventions for agents (#1019)
  AGENTS.md
Due: none

feat(scripts): add SEO/GEO observatory (#1018)
  .github/workflows/seo-observatory.yml
  .prettierignore
  docs/README.md
  docs/seo-observatory.md
  reports/seo/DASHBOARD.md
  reports/seo/README.md
  reports/seo/directory-status.json
  reports/seo/queries.json
  reports/seo/snapshots/ai-visibility-perplexity-2026-07-22.json
  reports/seo/snapshots/serp-2026-07-22.json
  reports/seo/timeseries/ai-visibility.jsonl
  reports/seo/timeseries/serp.jsonl
  scripts/geo/ai-visibility-probe.mjs
  scripts/geo/bing-snapshot.mjs
  scripts/geo/gsc-snapshot.mjs
  scripts/geo/observatory-lib.mjs
  scripts/geo/seo-dashboard.mjs
  scripts/geo/serp-snapshot.mjs
Due: none

test: fold redundant unit tests into it.each across core, adapters and spa-editor
  packages/core/src/domain/lab/lab-provenance.test.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-metric.converter.test.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-metrics-to-krd.converter.test.ts
  packages/trainingpeaks/src/adapters/schemas/trainingpeaks-metric.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/resolve-whoop-lab-parameter-key.test.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.test.tsx
  packages/workout-spa-editor/src/integrations/integration-registry-capability-parity.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
Due: core, frontend

test(spa-editor): scope extensions-tab bridge assertions to the status table
  packages/workout-spa-editor/e2e/settings.spec.ts
Due: none

test: nightly minimality sweep (20260723-0315) (#1020)
  packages/core/src/domain/lab/lab-provenance.test.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-metric.converter.test.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-metrics-to-krd.converter.test.ts
  packages/trainingpeaks/src/adapters/schemas/trainingpeaks-metric.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.test.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/resolve-whoop-lab-parameter-key.test.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.test.tsx
  packages/workout-spa-editor/src/integrations/integration-registry-capability-parity.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
Due: core, frontend

test(core): fold lab-flag cases into it.each and drop a redundant map-zod-errors test
  packages/core/src/domain/lab/lab-flag.test.ts
  packages/core/src/domain/validation/map-zod-errors.test.ts
Due: core

test(ai): fold same-behaviour validate-input and model-catalog cases into it.each
  packages/ai/src/adapters/validate-input.test.ts
  packages/ai/src/providers/model-catalog-extract.test.ts
Due: none

test(spa-editor): fold same-behaviour lab/i18n/settings cases into it.each
  packages/workout-spa-editor/src/application/resolve-locale.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/map-extraction-to-draft.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.test.ts
  packages/workout-spa-editor/src/i18n/error-copy.test.ts
Due: frontend

test: nightly minimality sweep (20260709-0315) (#885)
  packages/ai/src/adapters/validate-input.test.ts
  packages/ai/src/providers/model-catalog-extract.test.ts
  packages/core/src/domain/lab/lab-flag.test.ts
  packages/core/src/domain/validation/map-zod-errors.test.ts
  packages/workout-spa-editor/src/application/resolve-locale.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/map-extraction-to-draft.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.test.ts
  packages/workout-spa-editor/src/i18n/error-copy.test.ts
Due: core, frontend

refactor(core): drop single-use pass-through barrels and a dead re-export
  .changeset/core-code-reduction.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/lab/unit-conversion.ts
  packages/core/src/domain/validation/AGENTS.md
  packages/core/src/domain/validation/index.ts
  packages/core/src/domain/zones/AGENTS.md
  packages/core/src/domain/zones/index.ts
Due: core

refactor(core): drop single-use pass-through barrels and a dead re-export (#1021)
  .changeset/core-code-reduction.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/lab/unit-conversion.ts
  packages/core/src/domain/validation/AGENTS.md
  packages/core/src/domain/validation/index.ts
  packages/core/src/domain/zones/AGENTS.md
  packages/core/src/domain/zones/index.ts
Due: core

test: nightly minimality sweep (20260724-0315)
  packages/ai/src/adapters/validate-input.test.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-metrics-to-krd.converter.test.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/map-extraction-to-draft.test.ts
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.test.tsx
  packages/workout-spa-editor/src/i18n/error-copy.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
Due: core, frontend

refactor(fit): consolidate duplicated message grouping and health file_id builders
  .changeset/fit-code-reduction.md
  packages/fit/src/adapters/health/body-composition/body-composition-message-grouping.ts
  packages/fit/src/adapters/health/body-composition/krd-health-body-composition-to-fit.converter.ts
  packages/fit/src/adapters/health/body-composition/krd-to-weight-scale-fit.converter.ts
  packages/fit/src/adapters/health/daily/daily-message-grouping.ts
  packages/fit/src/adapters/health/daily/krd-health-daily-to-fit.converter.ts
  packages/fit/src/adapters/health/hrv/hrv-message-grouping.ts
  packages/fit/src/adapters/health/hrv/krd-health-hrv-to-fit.converter.ts
  packages/fit/src/adapters/health/shared/health-file-id.builder.ts
  packages/fit/src/adapters/health/sleep/krd-health-sleep-to-fit.converter.ts
  packages/fit/src/adapters/health/sleep/sleep-message-grouping.ts
  packages/fit/src/adapters/health/stress/krd-health-stress-to-fit.converter.ts
  packages/fit/src/adapters/health/stress/stress-message-grouping.ts
  packages/fit/src/adapters/health/weight/krd-health-weight-to-fit.converter.ts
  packages/fit/src/adapters/health/weight/weight-message-grouping.ts
  packages/fit/src/adapters/messages/workout-message-grouping.ts
  packages/fit/src/adapters/shared/message-grouping.ts
Due: fit

fix(scripts): author the weekly metrics PR with a PAT when available
  .github/workflows/seo-observatory.yml
  docs/seo-observatory.md
Due: none

docs: describe github.token PR runs as approval-blocked, not untriggered
  .github/workflows/seo-observatory.yml
  docs/seo-observatory.md
Due: none

fix(scripts): author the weekly metrics PR with a PAT when available (#1025)
  .github/workflows/seo-observatory.yml
  docs/seo-observatory.md
Due: none

chore(seo): weekly SEO/GEO observatory snapshot (#1026)
  reports/seo/DASHBOARD.md
  reports/seo/snapshots/ai-visibility-perplexity-2026-07-24.json
Due: none

refactor(tcx): dedupe inline target-value type into a named alias
  .changeset/tcx-code-reduction.md
  packages/tcx/src/adapters/workout/target-to-tcx.converter.ts
Due: tcx

refactor(tcx): dedupe inline target-value type into a named alias (#1027)
  .changeset/tcx-code-reduction.md
  packages/tcx/src/adapters/workout/target-to-tcx.converter.ts
Due: tcx

fix(whoop-bridge): sync prod manifest version and identity-before-core script order
  packages/whoop-bridge/AGENTS.md
  packages/whoop-bridge/manifest.prod.json
  scripts/sync-extension-version.mjs
Due: none

feat(scripts): distinct toolbar icons for whoop, trainingpeaks and tanita
  packages/tanita-bridge/icons/icon128.png
  packages/tanita-bridge/icons/icon16.png
  packages/tanita-bridge/icons/icon48.png
  packages/trainingpeaks-bridge/icons/icon128.png
  packages/trainingpeaks-bridge/icons/icon16.png
  packages/trainingpeaks-bridge/icons/icon48.png
  packages/whoop-bridge/icons/icon128.png
  packages/whoop-bridge/icons/icon16.png
  packages/whoop-bridge/icons/icon48.png
  scripts/build-extension-icons.mjs
  scripts/build-extension-icons.test.mjs
  scripts/check-extension-icons-distinct.mjs
Due: none

fix(ci): run trainingpeaks-bridge and tanita-bridge test suites
  .github/workflows/ci.yml
  CLAUDE.md
  scripts/check-bridge-ci-coverage.test.mjs
Due: none

fix(whoop-bridge): store-readiness hygiene — prod manifest, distinct icons, bridge CI coverage (#1028)
  .github/workflows/ci.yml
  CLAUDE.md
  packages/tanita-bridge/icons/icon128.png
  packages/tanita-bridge/icons/icon16.png
  packages/tanita-bridge/icons/icon48.png
  packages/trainingpeaks-bridge/icons/icon128.png
  packages/trainingpeaks-bridge/icons/icon16.png
  packages/trainingpeaks-bridge/icons/icon48.png
  packages/whoop-bridge/AGENTS.md
  packages/whoop-bridge/icons/icon128.png
  packages/whoop-bridge/icons/icon16.png
  packages/whoop-bridge/icons/icon48.png
  packages/whoop-bridge/manifest.prod.json
  scripts/build-extension-icons.mjs
  scripts/build-extension-icons.test.mjs
  scripts/check-bridge-ci-coverage.test.mjs
  scripts/check-extension-icons-distinct.mjs
  scripts/sync-extension-version.mjs
Due: none

fix(ai): regenerate model catalog and bump size-limit for ai 7.0.14 -> 7.0.34
  .size-limit.cjs
  packages/ai/src/providers/generated/model-catalog.ts
Due: none

fix(deps): resolve high-severity audit findings
  package.json
  packages/tcx/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

fix(scripts): package extension CSS into the store zip
  scripts/package-extension.sh
  scripts/package-extension.test.mjs
Due: none

feat(spa-editor): shortcut catalog and keyboard-shortcuts sheet
  openspec/changes/add-shortcut-catalog-and-sheet/.openspec.yaml
  openspec/changes/add-shortcut-catalog-and-sheet/design.md
  openspec/changes/add-shortcut-catalog-and-sheet/proposal.md
  openspec/changes/add-shortcut-catalog-and-sheet/specs/spa-shortcut-catalog/spec.md
  openspec/changes/add-shortcut-catalog-and-sheet/tasks.md
  packages/workout-spa-editor/e2e/onboarding.spec.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/atoms/KeyChips/KeyChips.tsx
  packages/workout-spa-editor/src/components/atoms/KeyChips/index.ts
  packages/workout-spa-editor/src/components/organisms/ShortcutSheet/ShortcutSheet.test.tsx
  packages/workout-spa-editor/src/components/organisms/ShortcutSheet/ShortcutSheet.tsx
  packages/workout-spa-editor/src/components/organisms/ShortcutSheet/ShortcutSheetGroup.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/AGENTS.md
  packages/workout-spa-editor/src/components/pages/HelpSection/HelpSection.test.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/components/ShortcutRow.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/KeyboardShortcutsSection.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/EditOperationsShortcuts.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/FileOperationsShortcuts.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/SelectionShortcuts.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/ShortcutGroupSection.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/StepManagementShortcuts.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/constants/shortcut-catalog.test.ts
  packages/workout-spa-editor/src/constants/shortcut-catalog.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-edit.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-global.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-steps.ts
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-shortcuts.test.ts
  packages/workout-spa-editor/src/i18n/locales/en/help.json
  packages/workout-spa-editor/src/i18n/locales/es/help.json
  packages/workout-spa-editor/src/utils/is-form-element.ts
  packages/workout-spa-editor/src/utils/platform.test.ts
  packages/workout-spa-editor/src/utils/platform.ts
Due: frontend

fix(deps): sync pnpm-lock.yaml with eslint-plugin-boundaries 7.0.2 bump
  pnpm-lock.yaml
Due: none

fix(deps): resolve high-severity audit findings (#1030)
  package.json
  pnpm-lock.yaml
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
