Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

docs(openspec): sync landing-page spec with the audience-fork redesign (#710)
  openspec/specs/landing-page/spec.md
Due: none

fix(core): make canonicalHash isomorphic (sync SHA-256 via @noble/hashes)
  .changeset/core-isomorphic-canonical-hash.md
  packages/core/package.json
  packages/core/src/hash/canonical-hash.test.ts
  packages/core/src/hash/canonical-hash.ts
  packages/workout-spa-editor/src/lib/node-crypto-browser-stub.ts
  packages/workout-spa-editor/vite.config.ts
  pnpm-lock.yaml
Due: core, frontend

fix(core): make canonicalHash isomorphic (sync SHA-256 via @noble/hashes) (#711)
  .changeset/core-isomorphic-canonical-hash.md
  packages/core/package.json
  packages/core/src/hash/canonical-hash.test.ts
  packages/core/src/hash/canonical-hash.ts
  packages/workout-spa-editor/src/lib/node-crypto-browser-stub.ts
  packages/workout-spa-editor/vite.config.ts
  pnpm-lock.yaml
Due: core, frontend

fix(spa-editor): regenerate coaching-sidebar visual baselines for dark-mode default (#718)
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts-snapshots/coaching-sidebar-desktop-chromium-linux.png
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts-snapshots/coaching-sidebar-mobile-chromium-linux.png
Due: none

feat(spa-editor): cross-device sync Phase 3 — syncWithCloud merge engine
  openspec/changes/google-drive-cross-device-sync/LIFECYCLE.md
  openspec/changes/google-drive-cross-device-sync/tasks.md
  packages/workout-spa-editor/src/application/sync/import-snapshot.test.ts
  packages/workout-spa-editor/src/application/sync/import-snapshot.ts
  packages/workout-spa-editor/src/application/sync/merge-record-key.ts
  packages/workout-spa-editor/src/application/sync/merge-snapshots.test.ts
  packages/workout-spa-editor/src/application/sync/merge-snapshots.ts
  packages/workout-spa-editor/src/application/sync/merge-tombstones.ts
  packages/workout-spa-editor/src/application/sync/prune-tombstones.test.ts
  packages/workout-spa-editor/src/application/sync/prune-tombstones.ts
  packages/workout-spa-editor/src/application/sync/sync-with-cloud.test.ts
  packages/workout-spa-editor/src/application/sync/sync-with-cloud.ts
Due: frontend

feat(spa-editor): cross-device sync Phase 1 — snapshot export/import + tombstones
  openspec/changes/google-drive-cross-device-sync/LIFECYCLE.md
  openspec/changes/google-drive-cross-device-sync/tasks.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-tombstone-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/adapters/with-tombstones.test.ts
  packages/workout-spa-editor/src/adapters/with-tombstones.ts
  packages/workout-spa-editor/src/application/sync/export-snapshot.test.ts
  packages/workout-spa-editor/src/application/sync/export-snapshot.ts
  packages/workout-spa-editor/src/application/sync/import-snapshot.test.ts
  packages/workout-spa-editor/src/application/sync/import-snapshot.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/ports/snapshot-port.ts
  packages/workout-spa-editor/src/ports/tombstone-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence-snapshot.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
  packages/workout-spa-editor/src/test-utils/in-memory-snapshot-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-tombstone-repository.test.ts
  packages/workout-spa-editor/src/test-utils/in-memory-tombstone-repository.ts
  packages/workout-spa-editor/src/types/snapshot.ts
Due: frontend

chore(openspec): unblock Phase 2 — record provisioned OAuth Client ID
  .claude/workflows/openspec-lifecycle.js
  openspec/changes/google-drive-cross-device-sync/tasks.md
Due: none

feat(spa-editor): cross-device sync Phase 2 — CloudSyncPort + Google Drive adapter
  .gitignore
  openspec/changes/google-drive-cross-device-sync/LIFECYCLE.md
  openspec/changes/google-drive-cross-device-sync/tasks.md
  packages/workout-spa-editor/.env
  packages/workout-spa-editor/.env.example
  packages/workout-spa-editor/src/adapters/cloud-sync/drive-multipart.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/drive-rest-endpoints.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/drive-rest.test.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/drive-rest.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/gis-token-client.test.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/gis-token-client.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/google-drive-cloud-sync-adapter.test.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/google-drive-cloud-sync-adapter.ts
  packages/workout-spa-editor/src/lib/cloud-sync/gis-types.ts
  packages/workout-spa-editor/src/lib/cloud-sync/google-oauth-config.test.ts
  packages/workout-spa-editor/src/lib/cloud-sync/google-oauth-config.ts
  packages/workout-spa-editor/src/lib/cloud-sync/load-gis-script.test.ts
  packages/workout-spa-editor/src/lib/cloud-sync/load-gis-script.ts
  packages/workout-spa-editor/src/ports/cloud-sync-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-cloud-sync-port.test.ts
  packages/workout-spa-editor/src/test-utils/in-memory-cloud-sync-port.ts
  packages/workout-spa-editor/src/types/vite-env.d.ts
Due: frontend

feat(spa-editor): cross-device sync Phase 4 — hybrid sync UI
  openspec/changes/google-drive-cross-device-sync/tasks.md
  packages/workout-spa-editor/src/App.analytics.test.tsx
  packages/workout-spa-editor/src/App.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncStatusLine.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncTab.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/types.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-tab-views.tsx
  packages/workout-spa-editor/src/contexts/sync-context.test.tsx
  packages/workout-spa-editor/src/contexts/sync-context.tsx
  packages/workout-spa-editor/src/hooks/sync-engine-types.ts
  packages/workout-spa-editor/src/hooks/use-auto-push.test.tsx
  packages/workout-spa-editor/src/hooks/use-auto-push.ts
  packages/workout-spa-editor/src/hooks/use-sync-auto-push.ts
  packages/workout-spa-editor/src/hooks/use-sync-engine.test.tsx
  packages/workout-spa-editor/src/hooks/use-sync-engine.ts
  packages/workout-spa-editor/src/lib/cloud-sync/device-id.ts
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/src/routes.test.tsx
  packages/workout-spa-editor/src/test-utils.tsx
  packages/workout-spa-editor/src/test-utils/sync-test-provider.tsx
Due: frontend

fix(spa-editor): auto-push on in-place edits, not just row-count changes
  packages/workout-spa-editor/src/hooks/sync-change-token.test.ts
  packages/workout-spa-editor/src/hooks/sync-change-token.ts
  packages/workout-spa-editor/src/hooks/use-sync-auto-push.ts
Due: frontend

feat(spa-editor): cross-device sync Phase 5 — optional E2E encryption
  openspec/changes/google-drive-cross-device-sync/tasks.md
  packages/workout-spa-editor/src/adapters/cloud-sync/encrypting-cloud-sync.test.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/encrypting-cloud-sync.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/EncryptionSection.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/EncryptionSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/use-encryption-section.ts
  packages/workout-spa-editor/src/lib/cloud-sync/encryption-runtime.test.ts
  packages/workout-spa-editor/src/lib/cloud-sync/encryption-runtime.ts
  packages/workout-spa-editor/src/lib/cloud-sync/snapshot-cipher.test.ts
  packages/workout-spa-editor/src/lib/cloud-sync/snapshot-cipher.ts
  packages/workout-spa-editor/src/lib/cloud-sync/sync-encryption-pref.test.ts
  packages/workout-spa-editor/src/lib/cloud-sync/sync-encryption-pref.ts
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/src/types/snapshot.ts
Due: frontend

docs(openspec): cross-device sync Phase 6 — verification, OAuth setup doc, changeset
  .changeset/google-drive-cross-device-sync.md
  docs/google-drive-sync-setup.md
  openspec/changes/google-drive-cross-device-sync/tasks.md
Due: none

fix(spa-editor): fix 3 regressions shipped by the mobile redesign
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
  packages/workout-spa-editor/e2e/garmin-push-via-policy.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/components/pages/Library/LibraryContent.tsx
  packages/workout-spa-editor/src/components/pages/LibraryPage.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.tsx
Due: frontend

fix(spa-editor): address CodeRabbit review on cross-device sync (#719)
  .claude/workflows/openspec-lifecycle.js
  packages/workout-spa-editor/src/adapters/cloud-sync/drive-rest.test.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/drive-rest.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/gis-token-client.ts
  packages/workout-spa-editor/src/adapters/cloud-sync/google-drive-cloud-sync-adapter.ts
  packages/workout-spa-editor/src/adapters/with-tombstones.test.ts
  packages/workout-spa-editor/src/adapters/with-tombstones.ts
  packages/workout-spa-editor/src/application/sync/import-snapshot.test.ts
  packages/workout-spa-editor/src/application/sync/import-snapshot.ts
  packages/workout-spa-editor/src/application/sync/merge-snapshots.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/use-encryption-section.ts
  packages/workout-spa-editor/src/hooks/sync-engine-types.ts
  packages/workout-spa-editor/src/hooks/use-auto-push.test.tsx
  packages/workout-spa-editor/src/hooks/use-auto-push.ts
  packages/workout-spa-editor/src/hooks/use-sync-engine.ts
  packages/workout-spa-editor/src/test-utils.tsx
  packages/workout-spa-editor/src/types/vite-env.d.ts
Due: frontend

chore(openspec): archive google-drive-cross-device-sync after merge
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/.openspec.yaml
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/LIFECYCLE.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/design.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/proposal.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/specs/spa-cloud-sync/spec.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/tasks.md
  openspec/changes/archive/README.md
Due: none

chore(openspec): archive google-drive-cross-device-sync after merge (#722)
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/.openspec.yaml
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/LIFECYCLE.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/design.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/proposal.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/specs/spa-cloud-sync/spec.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-01-google-drive-cross-device-sync/tasks.md
  openspec/changes/archive/README.md
Due: none

chore(spa-editor): add changeset for navigation consistency overhaul
  .changeset/spa-editor-navigation-overhaul.md
Due: none

feat(spa-editor): header active-state/aria-current and week-grid tab highlight (#8 #29 #12 #30)
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-bulk-archive-change/SKILL.md
  .claude/skills/openspec-continue-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-ff-change/SKILL.md
  .claude/skills/openspec-new-change/SKILL.md
  .claude/skills/openspec-onboard/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-verify-change/SKILL.md
  design_handoff_kaiord_landing/Kaiord Landing.html
  design_handoff_kaiord_landing/Landing Hero Variants.html
  design_handoff_kaiord_landing/README.md
  design_handoff_kaiord_landing/design-canvas.jsx
  design_handoff_kaiord_landing/heroes.jsx
  design_handoff_kaiord_landing/kl.jsx
  design_handoff_kaiord_landing/landing-sections.jsx
  design_handoff_kaiord_redesign/Kaiord Redesign.html
  design_handoff_kaiord_redesign/README.md
  design_handoff_kaiord_redesign/app.jsx
  design_handoff_kaiord_redesign/data.jsx
  design_handoff_kaiord_redesign/ios-frame.jsx
  design_handoff_kaiord_redesign/kt.jsx
  design_handoff_kaiord_redesign/screen-athlete.jsx
  design_handoff_kaiord_redesign/screen-create.jsx
  design_handoff_kaiord_redesign/screen-misc.jsx
  design_handoff_kaiord_redesign/tweaks-panel.jsx
  design_handoff_kaiord_redesign/viz.jsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/BottomNav.test.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/bottom-nav-tabs.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-button.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
Due: frontend

feat(spa-editor): clickable week strip, Today Trends card and health sub-route links (#22 #17)
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/src/components/pages/Today/Today.tsx
  packages/workout-spa-editor/src/components/pages/Today/TrendsCard.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/TrendsCard.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStripColumn.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthDashboardPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSubRouteLinks.test.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSubRouteLinks.tsx
Due: frontend

fix(spa-editor): route announcer labels + eager focusable headings (#9 #23 #10 #11 #31 #36)
  packages/workout-spa-editor/src/components/pages/AthletePage/AthletePage.test.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/AthletePage.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/AthletePageBody.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateSheetHeader.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateWorkout.test.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateWorkout.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.test.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
Due: frontend

fix(spa-editor): real Athlete profile entry, remove dead /settings/profile hop (#2 #16 #21 #6)
  packages/workout-spa-editor/src/components/molecules/StatusHeader/ProfileEntryButton.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/components/pages/AthletePage/AthleteEmptyState.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/AthletePage.test.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/AthletePage.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/CreateProfileDialog.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.test.tsx
Due: frontend

chore: drop untracked files accidentally swept into the PR
  .claude/skills/openspec-apply-change/SKILL.md
  .claude/skills/openspec-archive-change/SKILL.md
  .claude/skills/openspec-bulk-archive-change/SKILL.md
  .claude/skills/openspec-continue-change/SKILL.md
  .claude/skills/openspec-explore/SKILL.md
  .claude/skills/openspec-ff-change/SKILL.md
  .claude/skills/openspec-new-change/SKILL.md
  .claude/skills/openspec-onboard/SKILL.md
  .claude/skills/openspec-propose/SKILL.md
  .claude/skills/openspec-sync-specs/SKILL.md
  .claude/skills/openspec-verify-change/SKILL.md
  design_handoff_kaiord_landing/Kaiord Landing.html
  design_handoff_kaiord_landing/Landing Hero Variants.html
  design_handoff_kaiord_landing/README.md
  design_handoff_kaiord_landing/design-canvas.jsx
  design_handoff_kaiord_landing/heroes.jsx
  design_handoff_kaiord_landing/kl.jsx
  design_handoff_kaiord_landing/landing-sections.jsx
  design_handoff_kaiord_redesign/Kaiord Redesign.html
  design_handoff_kaiord_redesign/README.md
  design_handoff_kaiord_redesign/app.jsx
  design_handoff_kaiord_redesign/data.jsx
  design_handoff_kaiord_redesign/ios-frame.jsx
  design_handoff_kaiord_redesign/kt.jsx
  design_handoff_kaiord_redesign/screen-athlete.jsx
  design_handoff_kaiord_redesign/screen-create.jsx
  design_handoff_kaiord_redesign/screen-misc.jsx
  design_handoff_kaiord_redesign/tweaks-panel.jsx
  design_handoff_kaiord_redesign/viz.jsx
Due: none

refactor(spa-editor): remove orphaned NewWorkoutPicker tree (#20)
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/src/components/molecules/AddEntryChooser/AddEntryChooser.tsx
  packages/workout-spa-editor/src/components/molecules/TemplatePickerDialog/TemplatePickerDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/TemplatePickerDialog/TemplatePickerDialog.tsx
  packages/workout-spa-editor/src/components/molecules/TemplatePickerDialog/TemplatePickerList.tsx
  packages/workout-spa-editor/src/components/molecules/TemplatePickerDialog/index.ts
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryDialog.tsx
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/LibraryPage.tsx
  packages/workout-spa-editor/src/components/pages/NewWorkoutPicker.test.tsx
  packages/workout-spa-editor/src/components/pages/NewWorkoutPicker.tsx
  packages/workout-spa-editor/src/components/pages/NewWorkoutPickerTiles.tsx
  packages/workout-spa-editor/src/components/pages/PickerTile.stories.tsx
  packages/workout-spa-editor/src/components/pages/PickerTile.tsx
  packages/workout-spa-editor/src/components/pages/use-picker-schedule.ts
Due: frontend

fix(spa-editor): coherent Go-to-Today labels and wouter Link idiom (#15 #13 #14 #32)
  packages/workout-spa-editor/src/components/molecules/RouteErrorFallback.test.tsx
  packages/workout-spa-editor/src/components/molecules/RouteErrorFallback.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WeekNavigation.tsx
  packages/workout-spa-editor/src/components/pages/EditorLoadingState.tsx
Due: frontend

test(spa-editor): update e2e specs for the new navigation behavior
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/e2e/workout-library.spec.ts
Due: none

fix(spa-editor): header Settings target, Today unification and icon alignment (#7 #33 #27 #35)
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/AvailableRow.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.test.tsx
Due: frontend

feat(spa-editor): origin-aware back navigation via ?from= contract (#4 #19 #28)
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/EmptyWeekState.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-convert.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.ts
  packages/workout-spa-editor/src/components/molecules/RawWorkoutDialog/RawWorkoutContent.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/wellness-import-action.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.ts
  packages/workout-spa-editor/src/components/pages/CalendarPage.add-entry.test.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.test.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/components/pages/LibraryPage.tsx
  packages/workout-spa-editor/src/components/pages/Today/PlannedEmpty.tsx
  packages/workout-spa-editor/src/components/pages/Today/PlannedSessionCard.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetail.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetail.tsx
  packages/workout-spa-editor/src/components/pages/use-add-entry-chooser.ts
  packages/workout-spa-editor/src/components/pages/use-back-handler.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-state.ts
  packages/workout-spa-editor/src/components/pages/use-dialog-handlers.ts
  packages/workout-spa-editor/src/routing/back-origin.test.ts
  packages/workout-spa-editor/src/routing/back-origin.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.ts
  packages/workout-spa-editor/src/routing/with-origin.test.ts
  packages/workout-spa-editor/src/routing/with-origin.ts
Due: frontend

refactor(spa-editor): drop unused ?comments= deep-link param (#18)
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-section.ts
  packages/workout-spa-editor/src/components/pages/use-dialog-handlers.ts
  packages/workout-spa-editor/src/hooks/use-focus-on-section-change.test.tsx
  packages/workout-spa-editor/src/hooks/use-focus-on-section-change.ts
Due: frontend

fix(spa-editor): schedule create flows on chosen date + scratch persist (#1 #5 #3 #37)
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchEditorSurface.test.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchEditorSurface.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchScheduleButton.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/persist-scratch-workout.test.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/persist-scratch-workout.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/use-persist-scratch.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateWorkout.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/build-workout-record.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-create-workout.ts
  packages/workout-spa-editor/src/components/pages/EditorPage.test.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/components/pages/render-new-workout-surface.tsx
  packages/workout-spa-editor/src/new-workout-route.tsx
  packages/workout-spa-editor/src/utils/is-valid-calendar-date.test.ts
  packages/workout-spa-editor/src/utils/is-valid-calendar-date.ts
Due: frontend

fix(spa-editor): tolerate sessionMatches lacking executedWorkoutIds on the calendar
  packages/workout-spa-editor/src/components/pages/calendar-buckets.test.ts
  packages/workout-spa-editor/src/components/pages/calendar-buckets.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate-helpers.test.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate-helpers.ts
Due: frontend

docs(spa-editor): navigation audit, fix plan, readiness & blocker designs
  packages/workout-spa-editor/docs/navigation-blocker-designs.md
  packages/workout-spa-editor/docs/navigation-consistency-audit.md
  packages/workout-spa-editor/docs/navigation-fix-plan.md
  packages/workout-spa-editor/docs/navigation-implementation-readiness.md
  packages/workout-spa-editor/docs/navigation-map.md
Due: none

fix(spa-editor): address PR review feedback
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.test.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/persist-scratch-workout.test.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/persist-scratch-workout.ts
  packages/workout-spa-editor/src/hooks/use-focus-on-section-change.ts
Due: frontend

fix(spa-editor): enforce KRD schema at scratch persist boundary
  packages/workout-spa-editor/docs/navigation-blocker-designs.md
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/persist-scratch-workout.test.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/persist-scratch-workout.ts
Due: frontend

fix(spa-editor): create flows persist and land on the calendar
  .changeset/create-save-lands-on-calendar.md
  packages/workout-spa-editor/e2e/workout-creation.spec.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchEditorSurface.test.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchEditorSurface.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/use-persist-scratch.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateWorkout.test.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateWorkout.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/build-workout-record.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-create-save.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-save-and-push.test.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-save-and-push.ts
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.tsx
  packages/workout-spa-editor/src/new-workout-route.tsx
  packages/workout-spa-editor/src/routing/calendar-week-href.test.ts
  packages/workout-spa-editor/src/routing/calendar-week-href.ts
  packages/workout-spa-editor/src/utils/today-iso-date.test.ts
  packages/workout-spa-editor/src/utils/today-iso-date.ts
Due: frontend

test(spa-editor): guarantee TZ restore with try/finally in week-boundary test
  packages/workout-spa-editor/src/routing/calendar-week-href.test.ts
Due: frontend

fix(spa-editor): create flows persist and land on the calendar (#728)
  .changeset/create-save-lands-on-calendar.md
  packages/workout-spa-editor/e2e/workout-creation.spec.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchEditorSurface.test.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchEditorSurface.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/use-persist-scratch.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateWorkout.test.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/CreateWorkout.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/build-workout-record.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-create-save.ts
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-save-and-push.test.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-save-and-push.ts
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.tsx
  packages/workout-spa-editor/src/new-workout-route.tsx
  packages/workout-spa-editor/src/routing/calendar-week-href.test.ts
  packages/workout-spa-editor/src/routing/calendar-week-href.ts
  packages/workout-spa-editor/src/utils/today-iso-date.test.ts
  packages/workout-spa-editor/src/utils/today-iso-date.ts
Due: frontend

test(spa-editor): stabilize perf-budget tests against CI runner contention
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
  packages/workout-spa-editor/src/utils/json-parser.test.ts
Due: frontend
