Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

test: nightly minimality sweep (20260703-0315) (#847)
  packages/whoop/src/adapters/converters/recovery-to-krd.converter.test.ts
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
  packages/workout-spa-editor/src/application/record-garmin-push.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WellnessBand/WellnessBand.test.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.test.ts
  packages/workout-spa-editor/src/components/organisms/Chat/build-tool-result-links.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
Due: frontend

refactor(tcx): consolidate duplicate type-only imports
  .changeset/tcx-code-reduction.md
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.ts
  packages/tcx/src/adapters/workout/metadata-extractor.ts
Due: tcx

refactor(tcx): consolidate duplicate type-only imports (#848)
  .changeset/tcx-code-reduction.md
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.ts
  packages/tcx/src/adapters/workout/metadata-extractor.ts
Due: tcx

chore(ci): exclude vendored fitsdk-minimal from jscpd duplication scan
  .jscpd.json
Due: none

chore(deps-dev): add changeset for @types/node 26 bump
  .changeset/bump-types-node-26.md
Due: none

chore(deps): add changeset for @noble/hashes 2 bump
  .changeset/bump-noble-hashes-2.md
Due: none

fix(core): use @noble/hashes v2 .js subpath imports
  packages/core/src/domain/hash/canonical-hash.ts
Due: core

chore(deps): add changeset for minor-and-patch group bump
  .changeset/bump-minor-patch-group.md
Due: none

chore(deps): add changeset for ai 7 bump
  .changeset/bump-ai-7.md
Due: none

chore(ci): raise @kaiord/ai size-limit to 60 kB for ai v7
  .size-limit.cjs
Due: none

chore(deps): add changeset for @ai-sdk/anthropic 4 bump
  .changeset/bump-ai-sdk-anthropic-4.md
Due: none

refactor(garmin): reuse GarminWriterOptions in writer, drop duplicate config type
  .changeset/garmin-code-reduction.md
  packages/garmin/src/adapters/garmin-writer.ts
Due: garmin

fix(spa-editor): track @ai-sdk v4 model-id union renames in catalog extractor
  packages/workout-spa-editor/scripts/model-catalog-extract.mjs
  packages/workout-spa-editor/src/lib/generated/model-catalog.ts
Due: frontend

refactor(garmin): reduce to minimal code (#850)
  .changeset/garmin-code-reduction.md
  packages/garmin/src/adapters/garmin-writer.ts
  packages/workout-spa-editor/scripts/model-catalog-extract.mjs
  packages/workout-spa-editor/src/lib/generated/model-catalog.ts
Due: garmin, frontend

refactor(garmin-connect): drop dead type re-exports, merge duplicate imports
  .changeset/garmin-connect-code-reduction.md
  packages/garmin-connect/src/adapters/client/garmin-connect-client.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/oauth-signer.ts
  packages/garmin-connect/src/adapters/http/sso-oauth.ts
Due: none

refactor(garmin-connect): drop dead type re-exports, merge duplicate imports (#851)
  .changeset/garmin-connect-code-reduction.md
  packages/garmin-connect/src/adapters/client/garmin-connect-client.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/oauth-signer.ts
  packages/garmin-connect/src/adapters/http/sso-oauth.ts
Due: none

docs: require full-CI-green (not required subset) in nightly maintenance
  AGENTS.md
Due: none

docs: require full-CI-green (not required subset) in nightly maintenance (#854)
  AGENTS.md
Due: none

feat(spa-editor): stamp provenance on health imports with per-path semantics
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/application/health/health-import-provenance.test.ts
  packages/workout-spa-editor/src/application/health/import-health-dispatch.ts
  packages/workout-spa-editor/src/application/health/import-health-fit-file.use-case.test.ts
  packages/workout-spa-editor/src/application/health/import-health-fit-file.use-case.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.test.ts
  packages/workout-spa-editor/src/application/health/save-manual-health-metric.use-case.ts
  packages/workout-spa-editor/src/application/import/stamp-provenance.test.ts
  packages/workout-spa-editor/src/application/import/stamp-provenance.ts
  packages/workout-spa-editor/src/ports/health-record-repository.ts
  packages/workout-spa-editor/src/ports/health-repositories.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-imported-record-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
Due: frontend

feat(core): add planned-session and activity managed data types
  .changeset/data-hub-domain-types.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/managed-data-hash-projections.ts
  packages/core/src/domain/managed-data-type-registry.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/core/src/domain/managed-data-type.ts
  packages/core/src/domain/schemas/activity.test.ts
  packages/core/src/domain/schemas/activity.ts
  packages/core/src/domain/schemas/index.ts
  packages/core/src/domain/schemas/planned-session.test.ts
  packages/core/src/domain/schemas/planned-session.ts
  packages/core/src/domain/schemas/training-zones.test.ts
  packages/core/src/domain/schemas/training-zones.ts
  packages/core/src/index.ts
Due: core

feat(spa-editor): migrate coaching activities to planned sessions (dexie v27)
  packages/workout-spa-editor/src/adapters/dexie/dexie-health-cleanup-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas-late.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v21-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v22-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v25-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v26-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.test.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsAddDialog.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsGroup.test.tsx
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
  packages/workout-spa-editor/src/types/bridge-schemas.ts
  packages/workout-spa-editor/src/types/integration-policy.test.ts
Due: frontend

feat(spa-editor): transitional dual-write of imported executions to activities
  packages/workout-spa-editor/src/adapters/dexie/dexie-activity-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas-late.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.test.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-refs.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-workouts.test.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-workouts.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.test.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.ts
  packages/workout-spa-editor/src/ports/activity-repository.ts
  packages/workout-spa-editor/src/ports/health-repositories.ts
  packages/workout-spa-editor/src/test-utils/in-memory-activity-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
  packages/workout-spa-editor/src/types/activity-record.ts
  packages/workout-spa-editor/src/utils/classify-imported-krd.test.ts
  packages/workout-spa-editor/src/utils/classify-imported-krd.ts
Due: frontend

feat(spa-editor): unify integration catalogs, derive flows from real capabilities
  packages/workout-spa-editor/e2e/data-flows-density.spec.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectedRow.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectionFlows.test.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectionFlows.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-config.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-config.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-flows.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsAddDialog.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/useDataFlowsAdd.ts
  packages/workout-spa-editor/src/hooks/use-discovered-bridges.ts
  packages/workout-spa-editor/src/integrations/integration-registry-capability-parity.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry.ts
  packages/workout-spa-editor/src/types/connection.ts
Due: frontend

refactor(spa-editor): deterministic executed-match dedup via linkedWorkoutId
  packages/workout-spa-editor/src/application/coaching/match-executed-refs.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-workouts.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.test.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.ts
  packages/workout-spa-editor/src/types/activity-record.ts
Due: frontend

feat(spa-editor): govern workout export push, delete the dead event bus
  packages/workout-spa-editor/src/application/event-bus/event-bus.ts
  packages/workout-spa-editor/src/application/event-bus/workout-event-bus.ts
  packages/workout-spa-editor/src/application/export/execute-workout-push.test.ts
  packages/workout-spa-editor/src/application/export/execute-workout-push.ts
  packages/workout-spa-editor/src/application/export/record-export-constraint.ts
  packages/workout-spa-editor/src/application/export/record-export-post.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.test.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.ts
  packages/workout-spa-editor/src/application/export/save-workout-export-trigger.test.ts
  packages/workout-spa-editor/src/application/export/save-workout-export-trigger.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminExportDisabledButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminNoSessionButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
Due: frontend

feat(spa-editor): add multi-source read resolver for health data (F3.2)
  packages/workout-spa-editor/src/application/data-source-policy/data-type-source-policy-repository.port.ts
  packages/workout-spa-editor/src/application/data-source-policy/resolve-effective-source.use-case.test.ts
  packages/workout-spa-editor/src/application/data-source-policy/resolve-effective-source.use-case.ts
  packages/workout-spa-editor/src/types/data-type-source-policy.test.ts
  packages/workout-spa-editor/src/types/data-type-source-policy.ts
Due: frontend

feat(spa-editor): govern train2go sync + backfill provenance (dexie v28)
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v21-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v22-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v25-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v26-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-telemetry.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-actions.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-data.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-source.ts
  packages/workout-spa-editor/src/adapters/train2go/zones-auto-import.ts
  packages/workout-spa-editor/src/application/coaching/planned-session-import-route.test.ts
  packages/workout-spa-editor/src/application/coaching/planned-session-import-route.ts
  packages/workout-spa-editor/src/application/coaching/sync-week-persist.ts
  packages/workout-spa-editor/src/application/coaching/sync-week.ts
  packages/workout-spa-editor/src/application/coaching/use-cases.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingSyncButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingSyncButton.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingSyncIconButton.tsx
  packages/workout-spa-editor/src/components/pages/CalendarHeader.tsx
  packages/workout-spa-editor/src/hooks/chat/chat-action-ops-impl.ts
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  packages/workout-spa-editor/src/types/coaching-activity-record.ts
  packages/workout-spa-editor/src/types/coaching-source.ts
Due: frontend

feat(spa-editor): provenance badges and resolver-backed readiness (F3.3)
  packages/workout-spa-editor/src/application/data-source-policy/get-health-records-for-day.test.ts
  packages/workout-spa-editor/src/application/data-source-policy/get-health-records-for-day.ts
  packages/workout-spa-editor/src/components/pages/Daily/Daily.test.tsx
  packages/workout-spa-editor/src/components/pages/Daily/ReadinessStat.tsx
  packages/workout-spa-editor/src/components/pages/Daily/pick-effective-health-record.test.ts
  packages/workout-spa-editor/src/components/pages/Daily/pick-effective-health-record.ts
  packages/workout-spa-editor/src/components/pages/Daily/today-readiness.test.ts
  packages/workout-spa-editor/src/components/pages/Daily/today-readiness.ts
  packages/workout-spa-editor/src/components/pages/Daily/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/health/HealthRecoveryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSleepPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthSourceBadge.tsx
  packages/workout-spa-editor/src/components/pages/health/HealthWeightPage.tsx
  packages/workout-spa-editor/src/components/pages/health/HrvHistoryList.tsx
  packages/workout-spa-editor/src/components/pages/health/TodayStressList.tsx
  packages/workout-spa-editor/src/components/pages/health/health-source-badge.test.ts
  packages/workout-spa-editor/src/components/pages/health/health-source-badge.ts
  packages/workout-spa-editor/src/hooks/health/use-effective-health-record-live.ts
Due: frontend

feat(spa-editor): full fail-open policy seeding (dexie v29)
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v21-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v22-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v25-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v26-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
Due: frontend

feat(spa-editor): dataTypeSourcePolicy companion table (dexie v30, F3.1)
  packages/workout-spa-editor/src/adapters/dexie/dexie-data-type-source-policy-repository.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-data-type-source-policy-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas-late.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v21-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v22-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v25-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v26-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/application/data-source-policy/data-type-source-policy-repository.port.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.ts
  packages/workout-spa-editor/src/hooks/health/use-effective-health-record-live.ts
  packages/workout-spa-editor/src/ports/health-repositories.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-data-type-source-policy-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
Due: frontend

feat(spa-editor): data hub matrix data layer (F4.1 increment 1)
  packages/workout-spa-editor/src/application/data-hub/build-data-hub-matrix.test.ts
  packages/workout-spa-editor/src/application/data-hub/build-data-hub-matrix.ts
  packages/workout-spa-editor/src/application/data-hub/data-hub-cell-state.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-matrix.ts
  packages/workout-spa-editor/src/integrations/manual-entry-types.ts
Due: frontend

refactor(spa-editor): fix prettier debt in F1.0 connection/flow helpers
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-config.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/useDataFlowsAdd.ts
Due: frontend

refactor(spa-editor): split integration-registry entries to fix prettier debt
  packages/workout-spa-editor/src/integrations/integration-registry-entries.ts
  packages/workout-spa-editor/src/integrations/integration-registry.ts
Due: frontend

feat(spa-editor): Data Hub matrix surface in Settings (F4.1 increment 2)
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCell.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubColumnHeader.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubLegend.test.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubLegend.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubMatrix.test.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubMatrix.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubMatrixRow.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubTab.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/data-hub-cell-visuals.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/types.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-tab-views.tsx
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-matrix.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-toggle.ts
Due: frontend

feat(spa-editor): Data Hub multi-source priority editor (F4.1)
  packages/workout-spa-editor/src/application/data-hub/source-policy-rows.test.ts
  packages/workout-spa-editor/src/application/data-hub/source-policy-rows.ts
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubSourcePriority.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubTab.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/SourceOrderList.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/SourcePriorityRow.tsx
  packages/workout-spa-editor/src/hooks/data-hub/use-source-policies.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-source-policy-editor.ts
Due: frontend

fix(spa-editor): derive Data Hub bridge state from discovery, not the store
  packages/workout-spa-editor/src/application/data-hub/build-data-hub-matrix.test.ts
  packages/workout-spa-editor/src/application/data-hub/data-hub-cell-state.ts
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubLegend.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/data-hub-cell-visuals.ts
Due: frontend

test(spa-editor): Data Hub matrix e2e (F4.1)
  packages/workout-spa-editor/e2e/data-hub.spec.ts
Due: none

refactor(spa-editor): retire per-flow routing UI from AthleteConnections and ProfileManager (F4.2)
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/e2e/data-flows-density.spec.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/AthleteConnections.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectedRow.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectionFlows.test.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectionFlows.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/FlowRow.stories.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/FlowRow.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-config.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/data-flow-lookup.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/data-flow-lookup.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/use-policy-toggle.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsAddDialog.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsAddDialog.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsAddFields.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsGroup.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsGroup.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsSection.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsSubsection.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/useDataFlowsAdd.ts
  packages/workout-spa-editor/src/hooks/use-bridge-capabilities.ts
Due: frontend

feat(spa-editor): mode-edit/remove menu in Data Hub matrix, retire Data Flows tab (F4.2)
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/src/application/data-hub/build-data-hub-matrix.test.ts
  packages/workout-spa-editor/src/application/data-hub/build-data-hub-matrix.ts
  packages/workout-spa-editor/src/application/data-hub/data-hub-cell-state.ts
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCell.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCellMenu.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCellModeButtons.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubMatrix.test.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubMatrix.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubMatrixRow.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubTab.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsGroup.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsGroup.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsRow.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsRow.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsSection.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsSection.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/DataFlowsSubsection.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileEditView.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileTabs.tsx
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-matrix.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-route-editor.test.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-route-editor.ts
Due: frontend
