Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

test(spa-editor): stabilize perf-budget tests against CI runner contention (#729)
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
  packages/workout-spa-editor/src/utils/json-parser.test.ts
Due: frontend

test(spa-editor): close the bucket-hydration race in use-calendar-page tests
  packages/workout-spa-editor/src/components/pages/use-calendar-page.test.tsx
Due: frontend

test(spa-editor): assert the useMatchedSessions budget on a steady-state re-fire
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
Due: none

test(spa-editor): assert the useMatchedSessions slice via a CI envelope
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
Due: none

test(spa-editor): stabilize use-calendar-page race and calendar-perf boot-window measurement (#730)
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-page.test.tsx
Due: frontend

feat(spa-editor): split Today to /today and make /calendar the week grid
  .changeset/today-route-calendar-week.md
  openspec/specs/spa-calendar/spec.md
  openspec/specs/spa-routing/spec.md
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/src/AppRoutes.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/BottomNav.test.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/BottomNav.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/bottom-nav-tabs.ts
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/CalendarEmptyStates.test.tsx
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/EmptyWeekState.tsx
  packages/workout-spa-editor/src/components/molecules/RouteErrorFallback.test.tsx
  packages/workout-spa-editor/src/components/molecules/RouteErrorFallback.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-active.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/components/pages/CalendarEmptyBanners.tsx
  packages/workout-spa-editor/src/components/pages/CalendarHeader.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/components/pages/EditorLoadingState.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/components/pages/LibraryPage.short-circuit.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetail.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetail.tsx
  packages/workout-spa-editor/src/components/pages/editor-route-params.ts
  packages/workout-spa-editor/src/components/pages/use-back-handler.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-state.ts
  packages/workout-spa-editor/src/components/pages/use-dialog-handlers.ts
  packages/workout-spa-editor/src/components/pages/use-picker-schedule.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/components/HeaderLogo.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.test.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
  packages/workout-spa-editor/src/new-workout-route.tsx
  packages/workout-spa-editor/src/routes.test.tsx
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.ts
  packages/workout-spa-editor/src/routing/with-origin.ts
Due: frontend

test(spa-editor): align spa-route-refresh prod-base spec with the /today split
  packages/workout-spa-editor/e2e/spa-route-refresh.spec.ts
Due: none

refactor(spa-editor): separate type imports in editor-route-params
  packages/workout-spa-editor/src/components/pages/editor-route-params.ts
Due: frontend

feat(spa-editor): make the calendar the default view
  .changeset/default-view-calendar.md
  openspec/specs/spa-calendar/spec.md
  openspec/specs/spa-routing/spec.md
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
  packages/workout-spa-editor/e2e/spa-route-refresh.spec.ts
  packages/workout-spa-editor/src/App.test.tsx
  packages/workout-spa-editor/src/AppRoutes.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/bottom-nav-tabs.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-active.ts
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetail.test.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/HeaderLogo.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.test.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
  packages/workout-spa-editor/src/new-workout-route.tsx
  packages/workout-spa-editor/src/routes.test.tsx
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.ts
Due: frontend

test(spa-editor): retarget logo e2e to the calendar default view
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
Due: none

feat(spa-editor): make the calendar the default view (#732)
  .changeset/default-view-calendar.md
  openspec/specs/spa-calendar/spec.md
  openspec/specs/spa-routing/spec.md
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
  packages/workout-spa-editor/e2e/spa-route-refresh.spec.ts
  packages/workout-spa-editor/src/App.test.tsx
  packages/workout-spa-editor/src/AppRoutes.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/bottom-nav-tabs.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-active.ts
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetail.test.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/HeaderLogo.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.test.tsx
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
  packages/workout-spa-editor/src/new-workout-route.tsx
  packages/workout-spa-editor/src/routes.test.tsx
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.ts
Due: frontend

fix(spa-editor): Today planned section mirrors the calendar day cell
  .changeset/today-planned-mirrors-calendar.md
  packages/workout-spa-editor/src/components/pages/Today/PlannedSession.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/PlannedSession.tsx
  packages/workout-spa-editor/src/components/pages/Today/PlannedSessionCard.tsx
  packages/workout-spa-editor/src/components/pages/Today/Today.tsx
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.test.ts
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-planned-buckets.ts
Due: frontend

fix(spa-editor): Today planned section mirrors the calendar day cell (#733)
  .changeset/today-planned-mirrors-calendar.md
  packages/workout-spa-editor/src/components/pages/Today/PlannedSession.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/PlannedSession.tsx
  packages/workout-spa-editor/src/components/pages/Today/PlannedSessionCard.tsx
  packages/workout-spa-editor/src/components/pages/Today/Today.tsx
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.test.ts
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-planned-buckets.ts
Due: frontend

feat(spa-editor): movable focus day on Today
  .changeset/today-movable-focus-day.md
  packages/workout-spa-editor/src/components/pages/Today/Today.tsx
  packages/workout-spa-editor/src/components/pages/Today/TodayHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/TodayHeader.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStripColumn.tsx
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.test.ts
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/today-dates.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-dates.ts
  packages/workout-spa-editor/src/components/pages/Today/today-focus-date.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-focus-date.ts
  packages/workout-spa-editor/src/components/pages/Today/today-href.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-href.ts
  packages/workout-spa-editor/src/components/pages/Today/today-readiness.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-readiness.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-focus-nav.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-planned-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-route-params.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.ts
  packages/workout-spa-editor/src/routing/with-origin.test.ts
  packages/workout-spa-editor/src/routing/with-origin.ts
Due: frontend

feat(spa-editor): movable focus day on Today (#734)
  .changeset/today-movable-focus-day.md
  packages/workout-spa-editor/src/components/pages/Today/Today.tsx
  packages/workout-spa-editor/src/components/pages/Today/TodayHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/TodayHeader.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStripColumn.tsx
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.test.ts
  packages/workout-spa-editor/src/components/pages/Today/build-today-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/today-dates.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-dates.ts
  packages/workout-spa-editor/src/components/pages/Today/today-focus-date.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-focus-date.ts
  packages/workout-spa-editor/src/components/pages/Today/today-href.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-href.ts
  packages/workout-spa-editor/src/components/pages/Today/today-readiness.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-readiness.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-focus-nav.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-planned-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-route-params.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.ts
  packages/workout-spa-editor/src/routing/with-origin.test.ts
  packages/workout-spa-editor/src/routing/with-origin.ts
Due: frontend

feat(spa-editor): Daily WeekStrip presence/intensity mark + Planned open-in-place
  .changeset/daily-weekstrip-presence-and-open-in-place.md
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/Today/Daily.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStripColumn.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStripColumn.tsx
  packages/workout-spa-editor/src/components/pages/Today/build-week-summary.test.ts
  packages/workout-spa-editor/src/components/pages/Today/build-week-summary.ts
  packages/workout-spa-editor/src/components/pages/Today/day-intensity.ts
  packages/workout-spa-editor/src/components/pages/Today/intensity-bucket.ts
  packages/workout-spa-editor/src/components/pages/Today/today-load.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-load.ts
  packages/workout-spa-editor/src/components/pages/Today/use-daily-entry-open.test.ts
  packages/workout-spa-editor/src/components/pages/Today/use-daily-entry-open.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-planned-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/weekstrip-mark.tsx
  packages/workout-spa-editor/src/components/pages/use-dialog-handlers.ts
Due: frontend

fix(spa-editor): clear the opposite Daily dialog selection on open
  packages/workout-spa-editor/src/components/pages/Today/use-daily-entry-open.test.ts
  packages/workout-spa-editor/src/components/pages/Today/use-daily-entry-open.ts
Due: frontend

feat(spa-editor): Daily WeekStrip presence/intensity mark + Planned open-in-place (#736)
  .changeset/daily-weekstrip-presence-and-open-in-place.md
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/Today/Daily.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStrip.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStripColumn.test.tsx
  packages/workout-spa-editor/src/components/pages/Today/WeekStripColumn.tsx
  packages/workout-spa-editor/src/components/pages/Today/build-week-summary.test.ts
  packages/workout-spa-editor/src/components/pages/Today/build-week-summary.ts
  packages/workout-spa-editor/src/components/pages/Today/day-intensity.ts
  packages/workout-spa-editor/src/components/pages/Today/intensity-bucket.ts
  packages/workout-spa-editor/src/components/pages/Today/today-load.test.ts
  packages/workout-spa-editor/src/components/pages/Today/today-load.ts
  packages/workout-spa-editor/src/components/pages/Today/use-daily-entry-open.test.ts
  packages/workout-spa-editor/src/components/pages/Today/use-daily-entry-open.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Today/use-today-planned-buckets.ts
  packages/workout-spa-editor/src/components/pages/Today/weekstrip-mark.tsx
  packages/workout-spa-editor/src/components/pages/use-dialog-handlers.ts
Due: frontend

fix(spa-editor): carry coaching title + sport into the generated workout KRD
  .changeset/coaching-workout-title-and-sport.md
  packages/workout-spa-editor/src/application/coaching/coaching-template.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-template.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.test.tsx
Due: frontend

fix(spa-editor): carry coaching title + sport into the generated workout KRD (#739)
  .changeset/coaching-workout-title-and-sport.md
  packages/workout-spa-editor/src/application/coaching/coaching-template.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-template.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.test.tsx
Due: frontend

feat(core): widen sport vocabulary to the FIT-anchored taxonomy
  packages/core/schema/krd.json
  packages/core/schema/structured-workout-full.json
  packages/core/schema/workout.json
  packages/core/src/domain/index.ts
  packages/core/src/domain/schemas/index.ts
  packages/core/src/domain/schemas/sport-category.test.ts
  packages/core/src/domain/schemas/sport-category.ts
  packages/core/src/domain/schemas/sport.ts
  packages/core/src/index.ts
  packages/core/src/tests/fixtures/workout/workout.fixtures.ts
Due: core

feat(core): map widened sport vocabulary across fit/tcx/zwo/spa
  .changeset/widen-sport-vocabulary.md
  packages/fit/src/adapters/garmin-fitsdk.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.ts
  packages/fit/src/adapters/lap/fit-to-krd-lap.mapper.ts
  packages/fit/src/adapters/lap/krd-to-fit-lap.mapper.ts
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/round-trip/round-trip-sport.test.ts
  packages/fit/src/adapters/schemas/fit-sport.ts
  packages/fit/src/adapters/session/session.mapper.ts
  packages/fit/src/adapters/shared/type-guards.ts
  packages/fit/src/adapters/sport/sport-map.ts
  packages/fit/src/adapters/sport/sport.mapper.ts
  packages/fit/src/adapters/sport/sport.ts
  packages/tcx/src/adapters/schemas/tcx-sport.ts
  packages/tcx/src/adapters/workout/tcx.converter.test.ts
  packages/tcx/src/adapters/workout/tcx.converter.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-krd-sport.test.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-krd-sport.ts
  packages/workout-spa-editor/src/application/coaching/coaching-template.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-template.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-helpers.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/components/SubSportSelect.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/constants.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutTitle.tsx
  packages/workout-spa-editor/src/lib/athlete/sports.test.ts
  packages/zwo/src/adapters/krd-to-zwift/workout-properties.ts
  packages/zwo/src/adapters/schemas/zwift-sport.ts
  packages/zwo/src/adapters/zwift-round-trip.test.ts
Due: fit, tcx, zwo, frontend

refactor(fit): address review feedback on sport mapping
  packages/fit/src/adapters/round-trip/round-trip-sport.test.ts
  packages/fit/src/adapters/sport/sport-map.ts
  packages/fit/src/adapters/sport/sport.mapper.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutTitle.tsx
  packages/workout-spa-editor/src/lib/format-sport.ts
Due: fit, frontend

feat(spa-editor): defer coaching create until Save, fix AI sport, clean junk
  .changeset/defer-coaching-create-until-save.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-junk-cleanup.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-junk-cleanup.ts
  packages/workout-spa-editor/src/application/coaching/build-coaching-draft-krd.test.ts
  packages/workout-spa-editor/src/application/coaching/build-coaching-draft-krd.ts
  packages/workout-spa-editor/src/application/coaching/coaching-krd-sport.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-error-mapper.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.test.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-idempotency.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test.ts
  packages/workout-spa-editor/src/application/coaching/persist-coaching-workout.test.ts
  packages/workout-spa-editor/src/application/coaching/persist-coaching-workout.ts
  packages/workout-spa-editor/src/application/coaching/remove-untouched-coaching-templates.test.ts
  packages/workout-spa-editor/src/application/coaching/remove-untouched-coaching-templates.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.ts
  packages/workout-spa-editor/src/components/pages/CoachingDraftSurface.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/components/pages/EditorPopulatedBody.tsx
  packages/workout-spa-editor/src/components/pages/editor-route-params.ts
  packages/workout-spa-editor/src/components/pages/use-coaching-draft-save.ts
  packages/workout-spa-editor/src/components/pages/use-coaching-draft.ts
  packages/workout-spa-editor/src/new-workout-route.tsx
Due: frontend

test(spa-editor): update coaching e2e flow (d) for defer-until-save
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
Due: none

fix(spa-editor): address review feedback on defer-coaching-create
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-idempotency.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.ts
Due: frontend

feat(spa-editor): defer coaching create until Save (+ AI sport fix + junk cleanup) (#741)
  .changeset/defer-coaching-create-until-save.md
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-junk-cleanup.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-junk-cleanup.ts
  packages/workout-spa-editor/src/application/coaching/build-coaching-draft-krd.test.ts
  packages/workout-spa-editor/src/application/coaching/build-coaching-draft-krd.ts
  packages/workout-spa-editor/src/application/coaching/coaching-krd-sport.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-error-mapper.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.test.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-idempotency.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test.ts
  packages/workout-spa-editor/src/application/coaching/persist-coaching-workout.test.ts
  packages/workout-spa-editor/src/application/coaching/persist-coaching-workout.ts
  packages/workout-spa-editor/src/application/coaching/remove-untouched-coaching-templates.test.ts
  packages/workout-spa-editor/src/application/coaching/remove-untouched-coaching-templates.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.ts
  packages/workout-spa-editor/src/components/pages/CoachingDraftSurface.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/components/pages/EditorPopulatedBody.tsx
  packages/workout-spa-editor/src/components/pages/editor-route-params.ts
  packages/workout-spa-editor/src/components/pages/use-coaching-draft-save.ts
  packages/workout-spa-editor/src/components/pages/use-coaching-draft.ts
  packages/workout-spa-editor/src/new-workout-route.tsx
Due: frontend

fix(spa-editor): auto-recover from stale lazy chunks after a deploy
  .changeset/chunk-load-recovery.md
  packages/workout-spa-editor/src/components/molecules/RouteErrorBoundary.tsx
  packages/workout-spa-editor/src/lib/chunk-reload.test.ts
  packages/workout-spa-editor/src/lib/chunk-reload.ts
  packages/workout-spa-editor/src/main.tsx
Due: frontend

fix(spa-editor): guard chunk reload against loops when sessionStorage is unavailable
  packages/workout-spa-editor/src/lib/chunk-reload.test.ts
  packages/workout-spa-editor/src/lib/chunk-reload.ts
Due: frontend

fix(spa-editor): auto-recover from stale lazy chunks after a deploy (#742)
  .changeset/chunk-load-recovery.md
  packages/workout-spa-editor/src/components/molecules/RouteErrorBoundary.tsx
  packages/workout-spa-editor/src/lib/chunk-reload.test.ts
  packages/workout-spa-editor/src/lib/chunk-reload.ts
  packages/workout-spa-editor/src/main.tsx
Due: frontend

refactor(core): move ungoverned core/src dirs into declared layers
  .claude/skills/guidelines/architecture-hexagonal/SKILL.md
  openspec/specs/hexagonal-arch/spec.md
  packages/core/src/application/round-trip/AGENTS.md
  packages/core/src/application/round-trip/check-field.ts
  packages/core/src/application/round-trip/compare-krds.ts
  packages/core/src/application/round-trip/compare-laps.ts
  packages/core/src/application/round-trip/compare-records.ts
  packages/core/src/application/round-trip/compare-sessions.ts
  packages/core/src/application/round-trip/validate-round-trip.test.ts
  packages/core/src/application/round-trip/validate-round-trip.ts
  packages/core/src/domain/hash/canonical-hash.test.ts
  packages/core/src/domain/hash/canonical-hash.ts
  packages/core/src/domain/index.ts
  packages/core/src/domain/ingest/derive-external-id.test.ts
  packages/core/src/domain/ingest/derive-external-id.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/core/src/domain/schemas/krd/AGENTS.md
  packages/core/src/index.ts
  packages/core/src/protocol/AGENTS.md
  packages/core/src/protocol/profile-snapshot.test.ts
  packages/core/src/protocol/profile-snapshot.ts
  packages/core/src/test-utils/profile-snapshot-fixtures.ts
  packages/core/src/tests/AGENTS.md
  packages/core/src/tests/round-trip/AGENTS.md
  packages/core/src/tests/round-trip/workout-structure-comparer.ts
  scripts/architecture.vocab.mjs
  scripts/check-architecture.mjs
  scripts/check-architecture.test.mjs
Due: core

feat(core): harden domain validation bounds and range invariants
  docs/krd-format.md
  packages/core/schema/structured-workout-full.json
  packages/core/schema/workout.json
  packages/core/src/domain/schemas/duration.ts
  packages/core/src/domain/schemas/target-values/cadence.ts
  packages/core/src/domain/schemas/target-values/heart-rate.ts
  packages/core/src/domain/schemas/target-values/pace.ts
  packages/core/src/domain/schemas/target-values/power.ts
  packages/core/src/domain/schemas/target-values/range-refinement.ts
  packages/core/src/domain/schemas/target-values/stroke-type.ts
  packages/core/src/domain/schemas/target-values/validation-bounds.test.ts
  packages/core/src/domain/schemas/workout.ts
Due: core

test: close converter coverage gaps across fit, zwo, and cli
  packages/cli/src/tests/cross-format-round-trip.test.ts
  packages/cli/vitest.config.ts
  packages/core/src/domain/validation/schema-validator.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/conditional.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/simple.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-duration.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-duration.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-cadence.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-cadence.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-pace.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-pace.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.ts
  packages/garmin-connect/vitest.config.ts
  packages/zwo/src/adapters/krd-to-zwift/duration-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/power-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/step-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/target-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/text-events-encoder.test.ts
Due: core, fit, zwo, cli

feat: enable noUncheckedIndexedAccess and close tooling gaps
  .changeset/audit-hardening-a-plus.md
  .github/workflows/codeql.yml
  .prettierignore
  README.md
  openspec/specs/README.md
  package.json
  packages/core/src/application/round-trip/compare-entity-fields.ts
  packages/core/src/application/round-trip/compare-laps.ts
  packages/core/src/application/round-trip/compare-records.ts
  packages/core/src/application/round-trip/compare-sessions.ts
  packages/core/src/application/round-trip/validate-round-trip.ts
  packages/core/src/tests/fixtures/workout/duration.fixtures.ts
  packages/core/src/tests/fixtures/workout/target.fixtures.ts
  packages/fit/src/adapters/health/sleep/health-sleep.converter.ts
  packages/fit/src/adapters/krd-to-fit/AGENTS.md
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/workout/repetition.builder.ts
  packages/garmin-connect/README.md
  packages/garmin-connect/src/adapters/http/sso-login.ts
  packages/garmin/src/adapters/mappers/sport.mapper.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v9-migration.ts
  packages/workout-spa-editor/src/application/batch-processor.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-band-writes.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-snapshot-write.ts
  packages/workout-spa-editor/tsconfig.app.json
  packages/zwo/src/adapters/interval/index.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.ts
  packages/zwo/src/adapters/krd-to-zwift/text-events-encoder.ts
  packages/zwo/src/adapters/round-trip/repetition-block-comparer.ts
  packages/zwo/src/adapters/xsd-validator.ts
  scripts/README.md
  scripts/check-bridge-stale-threshold-parity.test.mjs
  scripts/check-specs-inventory.mjs
  scripts/check-specs-inventory.test.mjs
  scripts/generate-specs-inventory.mjs
  scripts/generate-specs-inventory.test.mjs
  tsconfig.base.json
Due: core, fit, zwo, garmin, frontend
