Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

fix(spa-editor): render coaching description bold from <strong> AND **markdown**
  .changeset/coaching-description-bold-rendering.md
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-parts.tsx
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.test.ts
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.ts
Due: frontend

fix(spa-editor): render coaching description bold (handle <strong> AND **markdown**) (#564)
  .changeset/coaching-description-bold-rendering.md
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-parts.tsx
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.test.ts
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.ts
Due: frontend

chore(openspec): promote spa-coaching-integration delta to canonical spec
  openspec/specs/spa-coaching-integration/spec.md
Due: none

refactor(spa-editor): rename SessionMatchSource auto-conversion to auto-coaching (Dexie v11)
  packages/workout-spa-editor/src/adapters/dexie/dexie-v10-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v11-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v11-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.test.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-idempotency.ts
  packages/workout-spa-editor/src/application/convert-and-auto-match.test.ts
  packages/workout-spa-editor/src/application/convert-and-auto-match.ts
  packages/workout-spa-editor/src/application/match-session.test.ts
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/use-coaching-sidebar.ts
  packages/workout-spa-editor/src/types/session-match.test.ts
  packages/workout-spa-editor/src/types/session-match.ts
Due: frontend

fix(spa-editor): abort in-flight AI on coaching-dialog dismiss (Escape, outside-click)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/build-coaching-dialog-close-handler.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/build-coaching-dialog-close-handler.ts
Due: frontend

chore(spa-editor): drop trailing blank line in close-handler test (prettier)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/build-coaching-dialog-close-handler.test.ts
Due: frontend

chore(openspec): promote spa-coaching-integration delta to canonical spec (#566)
  openspec/specs/spa-coaching-integration/spec.md
Due: none

refactor(spa-editor): rename SessionMatchSource auto-conversion to auto-coaching (Dexie v11) (#567)
  packages/workout-spa-editor/src/adapters/dexie/dexie-v10-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v11-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v11-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual.test.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-idempotency.ts
  packages/workout-spa-editor/src/application/convert-and-auto-match.test.ts
  packages/workout-spa-editor/src/application/convert-and-auto-match.ts
  packages/workout-spa-editor/src/application/match-session.test.ts
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/use-coaching-sidebar.ts
  packages/workout-spa-editor/src/types/session-match.test.ts
  packages/workout-spa-editor/src/types/session-match.ts
Due: frontend

fix(spa-editor): abort in-flight AI on coaching-dialog dismiss (closes #551) (#568)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/build-coaching-dialog-close-handler.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/build-coaching-dialog-close-handler.ts
Due: frontend

chore: autonomous-execution settings (bypassPermissions + Task allow + alphabetical)
  .claude/settings.json
Due: none

chore: autonomous-execution settings (bypassPermissions + Task allow + alphabetical) (#569)
  .claude/settings.json
Due: none

chore: ignore .omc/ runtime directory
  .gitignore
Due: none

chore: ignore .omc/ runtime directory (#570)
  .gitignore
Due: none

perf(spa-editor): cut SPA bundle by ~93KB via 4 targeted optimizations
  .changeset/bundle-size-perf.md
  .gitignore
  package.json
  packages/cli/src/utils/krd-converter.ts
  packages/cli/tsup.config.ts
  packages/mcp/src/tools/convert-from-krd.ts
  packages/mcp/src/tools/convert-to-krd.ts
  packages/mcp/src/utils/detect-format-from-path.ts
  packages/mcp/src/utils/format-registry.ts
  packages/mcp/tsup.config.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/atoms/Tooltip/Tooltip.test.tsx
  packages/workout-spa-editor/src/components/atoms/Tooltip/Tooltip.tsx
  packages/workout-spa-editor/src/components/atoms/Tooltip/compute-position.ts
  packages/workout-spa-editor/src/components/atoms/Tooltip/use-tooltip-state.ts
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockHeaderRight.tsx
  packages/workout-spa-editor/src/lib/ai-sdk-gateway-stub.ts
  packages/workout-spa-editor/src/lib/zod-v3-stub.ts
  packages/workout-spa-editor/vite.config.ts
  pnpm-lock.yaml
Due: cli, frontend

docs(cli): clarify load vs ship in changeset (CodeRabbit)
  .changeset/bundle-size-perf.md
Due: none

refactor(cli): address CodeRabbit review
  packages/cli/src/utils/krd-converter.ts
  packages/cli/src/utils/krd-loaders.ts
  packages/mcp/src/tools/convert-to-krd.ts
  packages/workout-spa-editor/src/lib/ai-sdk-gateway-stub.ts
Due: cli, frontend

fix(garmin-bridge): mock Date.now inside JSDOM window for popup tests
  packages/garmin-bridge/test/popup.test.js
Due: none

perf(spa-editor): cut SPA bundle by ~93KB via 4 targeted optimizations (#572)
  .changeset/bundle-size-perf.md
  .gitignore
  package.json
  packages/cli/src/utils/krd-converter.ts
  packages/cli/src/utils/krd-loaders.ts
  packages/cli/tsup.config.ts
  packages/garmin-bridge/test/popup.test.js
  packages/mcp/src/tools/convert-from-krd.ts
  packages/mcp/src/tools/convert-to-krd.ts
  packages/mcp/src/utils/detect-format-from-path.ts
  packages/mcp/src/utils/format-registry.ts
  packages/mcp/tsup.config.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/atoms/Tooltip/Tooltip.test.tsx
  packages/workout-spa-editor/src/components/atoms/Tooltip/Tooltip.tsx
  packages/workout-spa-editor/src/components/atoms/Tooltip/compute-position.ts
  packages/workout-spa-editor/src/components/atoms/Tooltip/use-tooltip-state.ts
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockHeaderRight.tsx
  packages/workout-spa-editor/src/lib/ai-sdk-gateway-stub.ts
  packages/workout-spa-editor/src/lib/zod-v3-stub.ts
  packages/workout-spa-editor/vite.config.ts
  pnpm-lock.yaml
Due: cli, frontend

chore(deps): bump pnpm overrides to clear pnpm audit (high + moderate CVEs)
  package.json
  packages/train2go-bridge/test/popup.test.js
  pnpm-lock.yaml
Due: none

fix(deps): clear pnpm audit (2 high + 12 moderate + 1 low CVEs) (#574)
  package.json
  packages/train2go-bridge/test/popup.test.js
  pnpm-lock.yaml
Due: none

perf(spa-editor): trim @garmin/fitsdk profile.js to drop ~245KB
  packages/workout-spa-editor/.prettierignore
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/scripts/generate-fitsdk-minimal.mjs
  packages/workout-spa-editor/src/lib/fitsdk-minimal/profile.js
  packages/workout-spa-editor/vite.config.ts
Due: frontend

perf(spa-editor): trim @garmin/fitsdk Profile.js to drop ~245KB from kaiord-fit chunk (#575)
  packages/workout-spa-editor/.prettierignore
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/scripts/generate-fitsdk-minimal.mjs
  packages/workout-spa-editor/src/lib/fitsdk-minimal/profile.js
  packages/workout-spa-editor/vite.config.ts
Due: frontend

feat(garmin): add multisport transition flag and faster-first target ordering
  .changeset/multisport-transitions.md
  openspec/changes/add-multisport-transitions/.openspec.yaml
  openspec/changes/add-multisport-transitions/design.md
  openspec/changes/add-multisport-transitions/proposal.md
  openspec/changes/add-multisport-transitions/specs/adapter-contracts/spec.md
  openspec/changes/add-multisport-transitions/tasks.md
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.test.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/mappers/target-from-garmin.mapper.ts
  packages/garmin/src/adapters/mappers/target-pace.mapper.ts
  packages/garmin/src/adapters/mappers/target-to-garmin.mapper.ts
  packages/garmin/src/adapters/mappers/target.converter.test.ts
  packages/garmin/src/adapters/round-trip/round-trip.test.ts
  packages/garmin/src/adapters/schemas/garmin-workout-parse.schema.ts
  packages/garmin/src/adapters/schemas/input/workout-input.schema.test.ts
  packages/garmin/src/adapters/schemas/input/workout-input.schema.ts
  packages/garmin/src/test-utils/constants.ts
  test-fixtures/gcn/WorkoutMultisportTriathlonInput.gcn
  test-fixtures/gcn/WorkoutMultisportTriathlonOutput.gcn
Due: garmin

feat(garmin): add multisport transition flag and faster-first target ordering (#576)
  .changeset/multisport-transitions.md
  openspec/changes/add-multisport-transitions/.openspec.yaml
  openspec/changes/add-multisport-transitions/design.md
  openspec/changes/add-multisport-transitions/proposal.md
  openspec/changes/add-multisport-transitions/specs/adapter-contracts/spec.md
  openspec/changes/add-multisport-transitions/tasks.md
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.test.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/mappers/target-from-garmin.mapper.ts
  packages/garmin/src/adapters/mappers/target-pace.mapper.ts
  packages/garmin/src/adapters/mappers/target-to-garmin.mapper.ts
  packages/garmin/src/adapters/mappers/target.converter.test.ts
  packages/garmin/src/adapters/round-trip/round-trip.test.ts
  packages/garmin/src/adapters/schemas/garmin-workout-parse.schema.ts
  packages/garmin/src/adapters/schemas/input/workout-input.schema.test.ts
  packages/garmin/src/adapters/schemas/input/workout-input.schema.ts
  packages/garmin/src/test-utils/constants.ts
  test-fixtures/gcn/WorkoutMultisportTriathlonInput.gcn
  test-fixtures/gcn/WorkoutMultisportTriathlonOutput.gcn
Due: garmin

docs(garmin): document multisport transition rules + update generate-gcn skill
  .claude/skills/generate-gcn/SKILL.md
  .claude/skills/generate-gcn/multisport.md
  .claude/skills/generate-gcn/reference.md
  openspec/changes/add-multisport-transitions/tasks.md
  packages/garmin/docs/API-FINDINGS.md
  packages/garmin/docs/INPUT-VS-OUTPUT.md
  packages/garmin/docs/MASTER-INDEX.md
  packages/garmin/docs/MULTISPORT-TRANSITIONS.md
Due: none

docs: address CodeRabbit findings on PR #577
  .claude/skills/generate-gcn/multisport.md
  packages/garmin/docs/MULTISPORT-TRANSITIONS.md
Due: none

docs(garmin): multisport transition rules + generate-gcn skill update (#577)
  .claude/skills/generate-gcn/SKILL.md
  .claude/skills/generate-gcn/multisport.md
  .claude/skills/generate-gcn/reference.md
  openspec/changes/add-multisport-transitions/tasks.md
  packages/garmin/docs/API-FINDINGS.md
  packages/garmin/docs/INPUT-VS-OUTPUT.md
  packages/garmin/docs/MASTER-INDEX.md
  packages/garmin/docs/MULTISPORT-TRANSITIONS.md
Due: none

chore(openspec): archive add-multisport-transitions
  openspec/changes/archive/2026-05-10-add-multisport-transitions/.openspec.yaml
  openspec/changes/archive/2026-05-10-add-multisport-transitions/design.md
  openspec/changes/archive/2026-05-10-add-multisport-transitions/proposal.md
  openspec/changes/archive/2026-05-10-add-multisport-transitions/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-05-10-add-multisport-transitions/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
Due: none

chore(openspec): archive add-multisport-transitions (#579)
  openspec/changes/archive/2026-05-10-add-multisport-transitions/.openspec.yaml
  openspec/changes/archive/2026-05-10-add-multisport-transitions/design.md
  openspec/changes/archive/2026-05-10-add-multisport-transitions/proposal.md
  openspec/changes/archive/2026-05-10-add-multisport-transitions/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-05-10-add-multisport-transitions/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
Due: none

test: raise branch coverage 80.32% → 83.53% (+3.21pp) across 3 OMC self-improve rounds
  packages/workout-spa-editor/src/adapters/train2go/use-zones-sync-orchestrator.test.ts
  packages/workout-spa-editor/src/components/atoms/Tooltip/compute-position.test.ts
  packages/workout-spa-editor/src/components/molecules/DurationPicker/advanced/duration-helpers.test.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-parser-error-fallbacks.test.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-parser.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/calculate-duration.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-cadence-pace.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-duration.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-power-hr.test.ts
  packages/workout-spa-editor/src/components/molecules/TargetPicker/helpers-labels.test.ts
  packages/workout-spa-editor/src/components/molecules/TargetPicker/validation-pace-cadence.test.ts
  packages/workout-spa-editor/src/components/molecules/TargetPicker/zone-info-helpers.test.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/hooks/filters/sort-utils.test.ts
Due: frontend

test: raise branch coverage 80.32% → 83.53% (+3.21pp) across 3 OMC self-improve rounds (#580)
  packages/workout-spa-editor/src/adapters/train2go/use-zones-sync-orchestrator.test.ts
  packages/workout-spa-editor/src/components/atoms/Tooltip/compute-position.test.ts
  packages/workout-spa-editor/src/components/molecules/DurationPicker/advanced/duration-helpers.test.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-parser-error-fallbacks.test.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-parser.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/calculate-duration.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-cadence-pace.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-duration.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-power-hr.test.ts
  packages/workout-spa-editor/src/components/molecules/TargetPicker/helpers-labels.test.ts
  packages/workout-spa-editor/src/components/molecules/TargetPicker/validation-pace-cadence.test.ts
  packages/workout-spa-editor/src/components/molecules/TargetPicker/zone-info-helpers.test.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/hooks/filters/sort-utils.test.ts
Due: frontend

test(e2e): skip calendar-performance on non-Chromium engines
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
Due: none

test(e2e): fix mobile hamburger + focus race in library tests
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/workout-library.spec.ts
Due: none

test(e2e): increase expand-file-upload timeouts for webkit/Mobile Safari
  packages/workout-spa-editor/e2e/helpers/expand-file-upload.ts
Due: none

test(e2e): fixme zones-sync auto-sync flows on firefox
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

test(e2e): stabilize flaky E2E clusters across 4 browsers (#581)
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
  packages/workout-spa-editor/e2e/helpers/expand-file-upload.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/workout-library.spec.ts
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

refactor(spa-editor): remove 3 @deprecated type aliases from krd-ui (Pass A)
  packages/workout-spa-editor/src/types/krd-ui.ts
  packages/workout-spa-editor/src/types/krd.ts
  packages/workout-spa-editor/src/types/workout.ts
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
