Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

chore(ci): raise test-frontend job timeout to 15 minutes
  .github/workflows/ci.yml
Due: none

test(spa-editor): cover getStepColor branch logic
  packages/workout-spa-editor/src/utils/step-colors.test.ts
Due: frontend

test(spa-editor): cover getStepColor branch logic (#799)
  packages/workout-spa-editor/src/utils/step-colors.test.ts
Due: frontend

chore(openspec): archive energy-balance-tracking (#801)
  openspec/changes/archive/2026-06-22-energy-balance-tracking/.openspec.yaml
  openspec/changes/archive/2026-06-22-energy-balance-tracking/design.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/proposal.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/energy-balance/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/energy-expenditure/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/energy-goal/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/nutrition-intake/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-ai-chat/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-calendar/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-routing/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/energy-balance/spec.md
  openspec/specs/energy-expenditure/spec.md
  openspec/specs/energy-goal/spec.md
  openspec/specs/nutrition-intake/spec.md
  openspec/specs/spa-ai-chat/spec.md
  openspec/specs/spa-calendar/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): archive energy-balance-tracking (#801) (#802)
  openspec/changes/archive/2026-06-22-energy-balance-tracking/.openspec.yaml
  openspec/changes/archive/2026-06-22-energy-balance-tracking/design.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/proposal.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/energy-balance/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/energy-expenditure/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/energy-goal/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/nutrition-intake/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-ai-chat/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-calendar/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/specs/spa-routing/spec.md
  openspec/changes/archive/2026-06-22-energy-balance-tracking/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/energy-balance/spec.md
  openspec/specs/energy-expenditure/spec.md
  openspec/specs/energy-goal/spec.md
  openspec/specs/nutrition-intake/spec.md
  openspec/specs/spa-ai-chat/spec.md
  openspec/specs/spa-calendar/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): regenerate stale specs inventory (47->51)
  openspec/specs/README.md
Due: none

chore(openspec): regenerate stale specs inventory (47->51) (#803)
  openspec/specs/README.md
Due: none

test(spa-editor): add v15→v16 abort-mid-flight migration test (#678)
  packages/workout-spa-editor/src/adapters/dexie/dexie-v16-migration.test.ts
Due: frontend

test(spa-editor): address CodeRabbit review on v16 abort test
  packages/workout-spa-editor/src/adapters/dexie/dexie-v16-migration.test.ts
Due: frontend

chore(deps): refresh stale pnpm-audit overrides (hono/qs/brace-expansion)
  package.json
  pnpm-lock.yaml
Due: none

test(spa-editor): add v15→v16 abort-mid-flight migration test (#678) (#807)
  packages/workout-spa-editor/src/adapters/dexie/dexie-v16-migration.test.ts
Due: frontend

chore(deps): refresh stale pnpm-audit overrides (hono/qs/brace-expansion) (#808)
  package.json
  pnpm-lock.yaml
Due: none

feat(core): apply activity-level NEAT factor to predicted daily expenditure (#804)
  .changeset/energy-expenditure-activity-factor.md
  openspec/changes/energy-expenditure-activity-factor/proposal.md
  openspec/changes/energy-expenditure-activity-factor/specs/energy-expenditure/spec.md
  openspec/changes/energy-expenditure-activity-factor/tasks.md
  packages/core/src/application/energy/activity-factor.test.ts
  packages/core/src/application/energy/activity-factor.ts
  packages/core/src/application/energy/expenditure.test.ts
  packages/core/src/application/energy/expenditure.ts
  packages/core/src/index.ts
  packages/workout-spa-editor/src/application/energy/resolve-day-expenditure-inputs.ts
  packages/workout-spa-editor/src/application/energy/resolve-goal-maintenance.ts
Due: core, frontend

feat(core): apply NEAT activity-level factor to predicted basal (#804)
  .changeset/energy-neat-baseline.md
  openspec/changes/energy-neat-baseline/.openspec.yaml
  openspec/changes/energy-neat-baseline/proposal.md
  openspec/changes/energy-neat-baseline/specs/energy-expenditure/spec.md
  openspec/changes/energy-neat-baseline/tasks.md
  packages/core/src/application/energy/expenditure.test.ts
  packages/core/src/application/energy/expenditure.ts
  packages/workout-spa-editor/src/application/energy/neat-factor.test.ts
  packages/workout-spa-editor/src/application/energy/neat-factor.ts
  packages/workout-spa-editor/src/application/energy/resolve-day-expenditure-inputs.ts
  packages/workout-spa-editor/src/application/energy/resolve-goal-maintenance.ts
Due: core, frontend

feat(core): apply activity-level NEAT factor to predicted daily expenditure (#804) (#809)
  .changeset/energy-expenditure-activity-factor.md
  openspec/changes/energy-expenditure-activity-factor/proposal.md
  openspec/changes/energy-expenditure-activity-factor/specs/energy-expenditure/spec.md
  openspec/changes/energy-expenditure-activity-factor/tasks.md
  packages/core/src/application/energy/activity-factor.test.ts
  packages/core/src/application/energy/activity-factor.ts
  packages/core/src/application/energy/expenditure.test.ts
  packages/core/src/application/energy/expenditure.ts
  packages/core/src/index.ts
  packages/workout-spa-editor/src/application/energy/resolve-day-expenditure-inputs.ts
  packages/workout-spa-editor/src/application/energy/resolve-goal-maintenance.ts
Due: core, frontend

fix(spa-editor): persist profile physiology edits and use real clock for goal horizon
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileEditView.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileEditView.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileManagerDialog.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.ts
  packages/workout-spa-editor/src/hooks/energy/use-day-energy-balance-clock.test.tsx
  packages/workout-spa-editor/src/hooks/energy/use-day-energy-balance.ts
Due: frontend

fix(spa-editor): persist profile physiology edits and use real clock for goal horizon (#810)
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileEditView.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileEditView.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileManagerDialog.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.ts
  packages/workout-spa-editor/src/hooks/energy/use-day-energy-balance-clock.test.tsx
  packages/workout-spa-editor/src/hooks/energy/use-day-energy-balance.ts
Due: frontend

chore(openspec): archive energy-expenditure-activity-factor
  openspec/changes/archive/2026-06-22-energy-expenditure-activity-factor/proposal.md
  openspec/changes/archive/2026-06-22-energy-expenditure-activity-factor/specs/energy-expenditure/spec.md
  openspec/changes/archive/2026-06-22-energy-expenditure-activity-factor/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/energy-expenditure/spec.md
Due: none

chore(openspec): archive energy-expenditure-activity-factor (#812)
  openspec/changes/archive/2026-06-22-energy-expenditure-activity-factor/proposal.md
  openspec/changes/archive/2026-06-22-energy-expenditure-activity-factor/specs/energy-expenditure/spec.md
  openspec/changes/archive/2026-06-22-energy-expenditure-activity-factor/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/energy-expenditure/spec.md
Due: none

fix(spa-editor): stop infinite render loop opening the Athlete Edit Profile dialog
  packages/workout-spa-editor/src/components/pages/AthletePage/ProfileEditDialog.test.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/ProfileEditDialog.tsx
Due: frontend

fix(spa-editor): stop infinite render loop opening the Athlete Edit Profile dialog (#813)
  packages/workout-spa-editor/src/components/pages/AthletePage/ProfileEditDialog.test.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/ProfileEditDialog.tsx
Due: frontend

fix(spa-editor): add accessible Dialog.Title to profile and coaching dialogs
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-shell.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-shell.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/CreateProfileDialog.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/ProfileEditDialog.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/ThresholdEditDialog.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/dialog-title-a11y.test.tsx
Due: frontend

fix(spa-editor): add accessible Dialog.Title to profile and coaching dialogs (#814)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-shell.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-shell.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/CreateProfileDialog.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/ProfileEditDialog.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/ThresholdEditDialog.tsx
  packages/workout-spa-editor/src/components/pages/AthletePage/dialog-title-a11y.test.tsx
Due: frontend

chore(fit): remove unused synthetic body-composition fixture + generator (#681)
  packages/fit/scripts/generate-synthetic-body-composition-fixture.mjs
  test-fixtures/fit/HealthBodyComposition.fit
Due: none

chore(fit): remove unused synthetic body-composition fixture + generator (#681) (#815)
  packages/fit/scripts/generate-synthetic-body-composition-fixture.mjs
  test-fixtures/fit/HealthBodyComposition.fit
Due: none

feat(spa-editor): preserve Train2Go coach links through import → KRD → export
  .changeset/train2go-coach-links.md
  docs/krd-format.md
  openspec/changes/train2go-coach-links/.openspec.yaml
  openspec/changes/train2go-coach-links/design.md
  openspec/changes/train2go-coach-links/proposal.md
  openspec/changes/train2go-coach-links/specs/krd-format/spec.md
  openspec/changes/train2go-coach-links/specs/train2go-coach-links/spec.md
  openspec/changes/train2go-coach-links/tasks.md
  packages/core/schema/structured-workout-full.json
  packages/core/schema/workout.json
  packages/core/src/domain/schemas/workout.test.ts
  packages/core/src/domain/schemas/workout.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-workout.converter.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/WorkoutMetadataEditor.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/WorkoutMetadataEditor.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/components/CoachNotesField.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/hooks/useMetadataForm.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/utils/krd-builder.ts
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  packages/workout-spa-editor/src/utils/structured-workout.test.ts
  packages/workout-spa-editor/src/utils/structured-workout.ts
  packages/zwo/src/adapters/krd-to-zwift.converter.ts
  packages/zwo/src/adapters/krd-to-zwift/workout-file-builder.ts
  packages/zwo/src/adapters/krd-to-zwift/workout-properties.ts
  packages/zwo/src/adapters/round-trip/workout-notes-round-trip.test.ts
  packages/zwo/src/adapters/zwift-to-krd.converter.ts
Due: core, fit, zwo, frontend

test(spa-editor): assert prefetch-before-convert call ordering
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-manual-handler.test.tsx
Due: frontend

chore(deps): bump @ai-sdk packages and add GatewayError gateway-stub export
  packages/ai/package.json
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/lib/ai-sdk-gateway-stub.ts
  pnpm-lock.yaml
Due: frontend

chore(deps): regenerate model catalog for bumped @ai-sdk type unions
  packages/workout-spa-editor/src/lib/generated/model-catalog.ts
Due: frontend

chore(deps): bump @ai-sdk + add GatewayError gateway-stub export (unblocks #806) (#817)
  packages/ai/package.json
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/lib/ai-sdk-gateway-stub.ts
  packages/workout-spa-editor/src/lib/generated/model-catalog.ts
  pnpm-lock.yaml
Due: frontend

chore(ci): raise Release job timeout 12->20m for full-fleet publishes
  .github/workflows/release.yml
Due: none

chore(ci): raise Release job timeout 12->20m for full-fleet publishes (#818)
  .github/workflows/release.yml
Due: none

docs(openspec): add add-chat-search change (chat word search)
  openspec/changes/add-chat-search/.openspec.yaml
  openspec/changes/add-chat-search/design.md
  openspec/changes/add-chat-search/proposal.md
  openspec/changes/add-chat-search/specs/spa-chat-search/spec.md
  openspec/changes/add-chat-search/tasks.md
Due: none

feat(spa-editor): word search across a profile's chats
  openspec/changes/add-chat-search/tasks.md
  packages/workout-spa-editor/src/application/chat/build-snippet.test.ts
  packages/workout-spa-editor/src/application/chat/build-snippet.ts
  packages/workout-spa-editor/src/application/chat/normalize-search-text.test.ts
  packages/workout-spa-editor/src/application/chat/normalize-search-text.ts
  packages/workout-spa-editor/src/application/chat/search-conversation-messages.ts
  packages/workout-spa-editor/src/application/chat/search-conversations.test.ts
  packages/workout-spa-editor/src/application/chat/search-conversations.ts
  packages/workout-spa-editor/src/components/organisms/Chat/ChatConversation.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatMessageList.test.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatMessageList.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatSearchBox.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatSearchResults.test.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatSearchResults.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatWorkspace.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ConversationSidebar.test.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ConversationSidebar.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/SnippetText.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/hooks/use-chat-search-panel.ts
  packages/workout-spa-editor/src/hooks/use-chat-search.test.tsx
  packages/workout-spa-editor/src/hooks/use-chat-search.ts
Due: frontend

fix(spa-editor): reset chat search messages on profile switch
  packages/workout-spa-editor/src/hooks/use-chat-search.ts
Due: frontend

refactor(spa-editor): make chat search live-while-active via useLiveQuery
  openspec/changes/add-chat-search/design.md
  openspec/changes/add-chat-search/specs/spa-chat-search/spec.md
  openspec/changes/add-chat-search/tasks.md
  packages/workout-spa-editor/src/hooks/use-chat-search.test.tsx
  packages/workout-spa-editor/src/hooks/use-chat-search.ts
Due: frontend

test(spa-editor): add /health/* route refresh e2e tests (#680)
  packages/workout-spa-editor/e2e/health-routes.spec.ts
Due: none
