Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

fix(infra,garmin-connect): address CodeRabbit review feedback
  packages/garmin-connect/src/index.integration.test.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
Due: none

chore: apply lint fixes
  packages/garmin-connect/src/index.integration.test.ts
Due: none

fix(infra): deploy Garmin proxy Lambda to AWS (#186)
  .github/workflows/deploy-infra.yml
  package.json
  packages/garmin-connect/src/index.integration.test.ts
  packages/infra/package.json
  packages/infra/src/stack/garmin-proxy-stack.ts
  packages/tcx/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

feat(garmin-connect)!: redesign auth provider with separated concerns
  .changeset/forty-ducks-notice.md
  openspec/changes/refactor-garmin-auth/design.md
  openspec/changes/refactor-garmin-auth/proposal.md
  openspec/changes/refactor-garmin-auth/specs/garmin-auth/spec.md
  openspec/changes/refactor-garmin-auth/tasks.md
  packages/cli/src/commands/garmin/client-factory.ts
  packages/garmin-connect/README.md
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.test.ts
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.ts
  packages/garmin-connect/src/adapters/client/build-refresh-fn.ts
  packages/garmin-connect/src/adapters/client/garmin-connect-client.ts
  packages/garmin-connect/src/adapters/client/garmin-connect-client.types.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/http/garmin-auth-fetch.test.ts
  packages/garmin-connect/src/adapters/http/garmin-auth-fetch.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.test.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/retry.test.ts
  packages/garmin-connect/src/adapters/http/retry.ts
  packages/garmin-connect/src/adapters/http/token-refresh.test.ts
  packages/garmin-connect/src/adapters/http/token-refresh.ts
  packages/garmin-connect/src/adapters/http/types.ts
  packages/garmin-connect/src/adapters/token/token-manager.helpers.ts
  packages/garmin-connect/src/adapters/token/token-manager.test.ts
  packages/garmin-connect/src/adapters/token/token-manager.ts
  packages/garmin-connect/src/adapters/token/token-manager.types.ts
  packages/garmin-connect/src/index.ts
Due: cli

test(garmin-connect): add missing spec scenario tests
  packages/garmin-connect/src/adapters/client/build-refresh-fn.test.ts
  packages/garmin-connect/src/adapters/client/garmin-connect-client.test.ts
Due: none

fix(garmin-connect): address CodeRabbit review feedback
  openspec/changes/refactor-garmin-auth/design.md
  packages/garmin-connect/README.md
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.test.ts
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.ts
  packages/garmin-connect/src/adapters/client/build-refresh-fn.ts
  packages/garmin-connect/src/adapters/token/token-manager.helpers.ts
  packages/garmin-connect/src/adapters/token/token-manager.test.ts
  packages/garmin-connect/src/adapters/token/token-manager.ts
Due: none

feat(garmin-connect)!: redesign auth provider with separated concerns (#188)
  .changeset/forty-ducks-notice.md
  openspec/changes/refactor-garmin-auth/design.md
  openspec/changes/refactor-garmin-auth/proposal.md
  openspec/changes/refactor-garmin-auth/specs/garmin-auth/spec.md
  openspec/changes/refactor-garmin-auth/tasks.md
  packages/cli/src/commands/garmin/client-factory.ts
  packages/garmin-connect/README.md
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.test.ts
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.ts
  packages/garmin-connect/src/adapters/client/build-refresh-fn.test.ts
  packages/garmin-connect/src/adapters/client/build-refresh-fn.ts
  packages/garmin-connect/src/adapters/client/garmin-connect-client.test.ts
  packages/garmin-connect/src/adapters/client/garmin-connect-client.ts
  packages/garmin-connect/src/adapters/client/garmin-connect-client.types.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/http/garmin-auth-fetch.test.ts
  packages/garmin-connect/src/adapters/http/garmin-auth-fetch.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.test.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/retry.test.ts
  packages/garmin-connect/src/adapters/http/retry.ts
  packages/garmin-connect/src/adapters/http/token-refresh.test.ts
  packages/garmin-connect/src/adapters/http/token-refresh.ts
  packages/garmin-connect/src/adapters/http/types.ts
  packages/garmin-connect/src/adapters/token/token-manager.helpers.ts
  packages/garmin-connect/src/adapters/token/token-manager.test.ts
  packages/garmin-connect/src/adapters/token/token-manager.ts
  packages/garmin-connect/src/adapters/token/token-manager.types.ts
  packages/garmin-connect/src/index.ts
Due: cli

chore: archive refactor-garmin-auth and sync adapter-contracts spec
  openspec/changes/archive/refactor-garmin-auth/design.md
  openspec/changes/archive/refactor-garmin-auth/proposal.md
  openspec/changes/archive/refactor-garmin-auth/specs/garmin-auth/spec.md
  openspec/changes/archive/refactor-garmin-auth/tasks.md
  openspec/specs/adapter-contracts/spec.md
Due: none

fix(ci): route Garmin integration tests through Tailscale exit node
  .github/workflows/ci.yml
Due: none

chore(garmin-connect): trigger integration test in CI
  packages/garmin-connect/src/index.integration.test.ts
Due: none

fix(ci): use separate step for Tailscale exit node configuration
  .github/workflows/ci.yml
Due: none

fix(ci): upgrade Tailscale action to v4 and simplify exit node config
  .github/workflows/ci.yml
Due: none

fix(ci): route Garmin integration tests through Tailscale exit node (#190)
  .github/workflows/ci.yml
  packages/garmin-connect/src/index.integration.test.ts
Due: none

chore: remove openspec artifacts from dependency update branch
  openspec/changes/batch-dependency-update/design.md
  openspec/changes/batch-dependency-update/proposal.md
  openspec/changes/batch-dependency-update/specs/dependency-update.spec.md
  openspec/changes/batch-dependency-update/tasks.md
Due: none

chore: apply prettier formatting fixes
  openspec/changes/batch-dependency-update/proposal.md
  pnpm-lock.yaml
Due: none

chore(deps): batch update CI actions and dev dependencies
  .github/workflows/ci.yml
  .github/workflows/eval.yml
  .github/workflows/metrics-gate.yml
  openspec/changes/batch-dependency-update/design.md
  openspec/changes/batch-dependency-update/proposal.md
  openspec/changes/batch-dependency-update/specs/dependency-update.spec.md
  openspec/changes/batch-dependency-update/tasks.md
  package.json
  packages/infra/package.json
  packages/workout-spa-editor/package.json
  pnpm-lock.yaml
Due: none

chore(deps): batch update CI actions and dev dependencies (#191)
  .github/workflows/ci.yml
  .github/workflows/eval.yml
  .github/workflows/metrics-gate.yml
  package.json
  packages/infra/package.json
  packages/workout-spa-editor/package.json
  pnpm-lock.yaml
Due: none

feat(cli): add extract-workout command for structured workout extraction
  packages/cli/src/bin/register-commands.ts
  packages/cli/src/commands/extract-workout-integration.test.ts
  packages/cli/src/commands/extract-workout/handle-error.ts
  packages/cli/src/commands/extract-workout/index.ts
  packages/cli/src/commands/extract-workout/types.ts
  packages/cli/src/commands/extract-workout/yargs-config.ts
  packages/cli/src/commands/inspect-integration.test.ts
Due: cli

feat(cli): add inspect command for file summary and KRD JSON output
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/bin/register-commands.ts
  packages/cli/src/commands/inspect-integration.test.ts
  packages/cli/src/commands/inspect/build-summary.ts
  packages/cli/src/commands/inspect/handle-error.ts
  packages/cli/src/commands/inspect/index.ts
  packages/cli/src/commands/inspect/types.ts
  packages/cli/src/commands/inspect/yargs-config.ts
Due: cli

feat(mcp): add round-trip validation tool
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.test.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.ts
Due: none

feat(garmin-connect): implement pull and remove workout methods
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/client/pull-workout.ts
  packages/garmin-connect/src/adapters/client/remove-workout.ts
Due: none

style(core): fix prettier formatting in target fixtures
  packages/core/src/tests/fixtures/workout/target.fixtures.ts
Due: core

test(core): add duration and target fixture builders
  package.json
  pnpm-lock.yaml
Due: none

chore: raise MCP coverage threshold to 80%
  .github/workflows/ci.yml
  packages/mcp/vitest.config.ts
Due: none

docs: add api-examples and tree-shaking guides
  docs/api-examples.md
  docs/tree-shaking.md
Due: none

style(garmin-connect): fix prettier formatting
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
Due: none

chore: remove duplicate docs (already exist in packages/core/docs)
  docs/api-examples.md
  docs/tree-shaking.md
Due: none

test(core): add duration and target fixture builders
  .dependency-cruiser.cjs
  .github/workflows/ci.yml
  packages/core/src/test-utils/index.ts
  packages/core/src/tests/fixtures/workout/duration.fixtures.ts
  packages/core/src/tests/fixtures/workout/target.fixtures.ts
Due: core

chore: update lockfile after dependency-cruiser upgrade
  pnpm-lock.yaml
Due: none

fix(cli): address CodeRabbit review feedback
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/extract-workout-integration.test.ts
  packages/cli/src/commands/extract-workout/index.ts
  packages/cli/src/commands/extract-workout/types.ts
  packages/cli/src/commands/inspect-integration.test.ts
  packages/cli/src/commands/inspect/index.ts
  packages/cli/src/commands/inspect/types.ts
Due: cli

feat: quick wins batch (CLI inspect/extract, MCP round-trip, garmin pull/remove) (#193)
  .dependency-cruiser.cjs
  .github/workflows/ci.yml
  package.json
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/bin/register-commands.ts
  packages/cli/src/commands/extract-workout-integration.test.ts
  packages/cli/src/commands/extract-workout/handle-error.ts
  packages/cli/src/commands/extract-workout/index.ts
  packages/cli/src/commands/extract-workout/types.ts
  packages/cli/src/commands/extract-workout/yargs-config.ts
  packages/cli/src/commands/inspect-integration.test.ts
  packages/cli/src/commands/inspect/build-summary.ts
  packages/cli/src/commands/inspect/handle-error.ts
  packages/cli/src/commands/inspect/index.ts
  packages/cli/src/commands/inspect/types.ts
  packages/cli/src/commands/inspect/yargs-config.ts
  packages/core/src/test-utils/index.ts
  packages/core/src/tests/fixtures/workout/duration.fixtures.ts
  packages/core/src/tests/fixtures/workout/target.fixtures.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
  packages/garmin-connect/src/adapters/client/pull-workout.ts
  packages/garmin-connect/src/adapters/client/remove-workout.ts
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.test.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.ts
  packages/mcp/vitest.config.ts
  pnpm-lock.yaml
Due: core, cli

fix(ci): prevent concurrent Garmin integration tests
  .github/workflows/ci.yml
Due: none

fix(spa): add form input guard to Escape handler
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.test.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.ts
Due: frontend

chore: remove stale URL migration and add CodeRabbit review config
  .coderabbit.yaml
  packages/workout-spa-editor/src/store/garmin-store-actions.test.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.ts
Due: frontend

fix(spa): allow native keyboard shortcuts in form inputs
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.test.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.ts
Due: frontend

style: apply lint fix
  packages/workout-spa-editor/src/store/garmin-store-actions.test.ts
Due: frontend

fix: SPA quick fixes (keyboard shortcuts, stale URL, CodeRabbit) (#196)
  .coderabbit.yaml
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.test.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.test.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.ts
Due: frontend

fix(spa): prevent workout action buttons from overflowing at narrow viewports
  packages/workout-spa-editor/e2e/mobile-responsive.spec.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.property.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutHeader.tsx
Due: frontend

chore: apply lint fixes
  packages/workout-spa-editor/e2e/mobile-responsive.spec.ts
Due: none
