Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

feat(spa-editor): Dexie v13 schema + migration for profile-scoped WorkoutRecord
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v13-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v13-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v5-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-workout-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/ports/workout-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-workout-repository.ts
  packages/workout-spa-editor/src/types/calendar-record.ts
  packages/workout-spa-editor/src/types/calendar-schemas.test.ts
Due: frontend

feat(spa-editor): set profileId on every workout writer at create time
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.test.ts
  packages/workout-spa-editor/src/application/coaching/coaching-workout-builder.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test-stubs.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity.ts
  packages/workout-spa-editor/src/application/library/schedule-template.test.ts
  packages/workout-spa-editor/src/application/library/schedule-template.ts
  packages/workout-spa-editor/src/application/test-helpers.ts
  packages/workout-spa-editor/src/components/molecules/EmptyDayDialog/EmptyDayDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/EmptyDayDialog/EmptyDayDialog.tsx
  packages/workout-spa-editor/src/components/pages/use-schedule-template.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.test.ts
Due: frontend

feat(spa-editor): profile-scope the calendar read path + extend cascade to workouts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-state.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.ts
  packages/workout-spa-editor/src/components/pages/CalendarPage.test.tsx
  packages/workout-spa-editor/src/components/pages/LibraryPage.test.tsx
  packages/workout-spa-editor/src/components/pages/calendar-hooks.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-page.test.tsx
  packages/workout-spa-editor/src/components/pages/use-calendar-state.ts
  packages/workout-spa-editor/src/hooks/use-auto-match-suggestions.test.tsx
Due: frontend

test(spa-editor): seed default e2e profile so flows survive Dexie v13
  packages/workout-spa-editor/e2e/helpers/dexie-factories.ts
  packages/workout-spa-editor/e2e/helpers/e2e-defaults.ts
  packages/workout-spa-editor/e2e/helpers/seed-dexie.ts
  packages/workout-spa-editor/e2e/helpers/seed-profile.ts
  packages/workout-spa-editor/e2e/library-calendar.spec.ts
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/workout-lifecycle.spec.ts
Due: none

test(spa-editor): seed Profile.linkedAccounts in e2e helper to avoid runtime crash
  packages/workout-spa-editor/e2e/helpers/seed-profile.ts
Due: none

fix(spa-editor): toast.error on schedule without active profile (CodeRabbit #601)
  packages/workout-spa-editor/src/components/molecules/EmptyDayDialog/EmptyDayDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/EmptyDayDialog/EmptyDayDialog.tsx
  packages/workout-spa-editor/src/components/pages/use-schedule-template.test.tsx
  packages/workout-spa-editor/src/components/pages/use-schedule-template.ts
Due: frontend

test(spa-editor): reorder AAA markers in cascade rollback test (CodeRabbit #601)
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
Due: frontend

test(spa-editor): unit-test WorkoutRepository.deleteByProfile on both adapters (CodeRabbit #601)
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.test.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.test.ts
Due: frontend

chore(spa-editor): address CodeRabbit follow-ups from #601 (UX toast + AAA + unit tests) (#602)
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/molecules/EmptyDayDialog/EmptyDayDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/EmptyDayDialog/EmptyDayDialog.tsx
  packages/workout-spa-editor/src/components/pages/use-schedule-template.test.tsx
  packages/workout-spa-editor/src/components/pages/use-schedule-template.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.test.ts
Due: frontend

fix(docs): drop satisfies UserConfig to bypass deep-type recursion
  packages/docs/.vitepress/config.ts
Due: none

docs(docs-site): extend cspell dictionary for AGENTS.md vocabulary
  packages/docs/.cspell.json
Due: none

chore: ignore .omc/ tooling state in prettier
  .prettierignore
  packages/docs/.prettierignore
Due: none

docs: add empty changeset for AGENTS.md docs PR
  .changeset/small-cooks-fetch.md
Due: none

docs(docs-site): exclude AGENTS.md from VitePress build
  packages/docs/.vitepress/config.ts
Due: none

chore(scripts): ban narrative/history-telling comments
  .changeset/ban-narrative-comments.md
  AGENTS.md
  CLAUDE.md
  eslint.config.js
  package.json
  packages/tcx/src/adapters/duration/duration.converter.ts
  packages/tcx/src/adapters/target/target.converter.ts
  packages/tcx/src/adapters/target/target.mapper.ts
  packages/workout-spa-editor/src/adapters/bridge/bridge-transport.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-data.ts
  packages/workout-spa-editor/src/application/coaching/attempt-link-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-types.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-convert.ts
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/ConfirmationModalPanel.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/thumbnail/step-colors.ts
  packages/workout-spa-editor/src/components/organisms/StepEditor/FirstTimeHints.tsx
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/ConflictGroupHeader.tsx
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/ConflictGroupRadios.tsx
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/DialogShell.tsx
  packages/workout-spa-editor/src/components/pages/calendar-buckets.ts
  packages/workout-spa-editor/src/components/pages/use-batch-runner.ts
  packages/workout-spa-editor/src/hooks/use-auto-match-banner-actions.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.ts
  packages/workout-spa-editor/src/store/actions/create-repetition-block-action.test.ts
  packages/workout-spa-editor/src/store/train2go-ping-result.ts
  packages/workout-spa-editor/src/store/train2go-send-message.ts
  packages/workout-spa-editor/src/test-utils.tsx
  packages/workout-spa-editor/src/types/index.ts
  packages/workout-spa-editor/src/types/krd.ts
  packages/workout-spa-editor/src/types/schemas.ts
  packages/workout-spa-editor/src/types/validation.ts
  packages/workout-spa-editor/src/utils/json-parser.test.ts
  packages/zwo/src/adapters/xsd-validator.test.ts
  scripts/check-session-match-id-shape.mjs
  scripts/eslint-rules/no-narrative-comments.integration.test.mjs
  scripts/eslint-rules/no-narrative-comments.mjs
  scripts/eslint-rules/no-narrative-comments.test.mjs
Due: tcx, zwo, frontend

test(spa-editor): add visual regression snapshots for CoachingSidebar
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts
  packages/workout-spa-editor/playwright.config.ts
Due: none

chore(scripts): address CodeRabbit follow-ups on no-narrative-comments
  scripts/eslint-rules/no-narrative-comments.mjs
  scripts/eslint-rules/no-narrative-comments.test.mjs
Due: none

chore(scripts): ban narrative/history-telling comments via custom ESLint rule (#604)
  .changeset/ban-narrative-comments.md
  AGENTS.md
  CLAUDE.md
  eslint.config.js
  package.json
  packages/tcx/src/adapters/duration/duration.converter.ts
  packages/tcx/src/adapters/target/target.converter.ts
  packages/tcx/src/adapters/target/target.mapper.ts
  packages/workout-spa-editor/src/adapters/bridge/bridge-transport.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-data.ts
  packages/workout-spa-editor/src/application/coaching/attempt-link-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-manual-helpers.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-types.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-convert.ts
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/ConfirmationModalPanel.tsx
  packages/workout-spa-editor/src/components/molecules/ExportFormatSelector/FormatDropdown.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/thumbnail/step-colors.ts
  packages/workout-spa-editor/src/components/organisms/StepEditor/FirstTimeHints.tsx
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/ConflictGroupHeader.tsx
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/ConflictGroupRadios.tsx
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/DialogShell.tsx
  packages/workout-spa-editor/src/components/pages/calendar-buckets.ts
  packages/workout-spa-editor/src/components/pages/use-batch-runner.ts
  packages/workout-spa-editor/src/hooks/use-auto-match-banner-actions.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.ts
  packages/workout-spa-editor/src/store/actions/create-repetition-block-action.test.ts
  packages/workout-spa-editor/src/store/train2go-ping-result.ts
  packages/workout-spa-editor/src/store/train2go-send-message.ts
  packages/workout-spa-editor/src/test-utils.tsx
  packages/workout-spa-editor/src/types/index.ts
  packages/workout-spa-editor/src/types/krd.ts
  packages/workout-spa-editor/src/types/schemas.ts
  packages/workout-spa-editor/src/types/validation.ts
  packages/workout-spa-editor/src/utils/json-parser.test.ts
  packages/zwo/src/adapters/xsd-validator.test.ts
  scripts/check-session-match-id-shape.mjs
  scripts/eslint-rules/no-narrative-comments.integration.test.mjs
  scripts/eslint-rules/no-narrative-comments.mjs
  scripts/eslint-rules/no-narrative-comments.test.mjs
Due: tcx, zwo, frontend

chore(spa-editor): prettier format coaching-sidebar visual spec
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts
Due: none

feat(spa-editor): add unit + e2e tests for in-place AI re-process and coaching dialog AI flows
  .changeset/coaching-dialog-ai-flows.md
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.ts
Due: frontend

feat(spa-editor): add processExistingRawInPlace for in-place raw→structured re-process
  packages/workout-spa-editor/e2e/fixtures/api-mocks.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-idempotency.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.ts
Due: frontend

test(spa-editor): wrap CoachingCard tests with ToastContextProvider
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.states.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
Due: frontend

chore(spa-editor): address CodeRabbit follow-ups on #606
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler-helpers.ts
Due: frontend

feat(spa-editor): in-place AI re-process + coaching dialog AI flow e2e specs (#552, #555) (#606)
  .changeset/coaching-dialog-ai-flows.md
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
  packages/workout-spa-editor/e2e/fixtures/api-mocks.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai-idempotency.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.test.ts
  packages/workout-spa-editor/src/application/coaching/convert-coaching-activity-with-ai.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.states.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
Due: frontend

test(spa-editor): fix flow (g) e2e — matched-card testid + valid stub caps
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub.ts
Due: none

refactor(spa-editor): useGarminPush accepts WorkoutRecord (Option α)
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
Due: frontend

feat(spa-editor): wire Push to Garmin from coaching activity dialog
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.bootstrap.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.states.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/MatchedActions.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/MatchedActions.tsx
Due: frontend

feat(spa-editor): GarminPushButton reads workout from Dexie via useLiveQuery
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
Due: frontend

chore(spa-editor): add changeset for issue #553
  .changeset/coaching-dialog-garmin-push.md
Due: none

fix(spa-editor): correct Db type for state flip in e2e flow (g)
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
Due: none

test(spa-editor): add e2e flow (g) push-to-Garmin from coaching dialog
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
Due: frontend

fix(ci): split cws-publish into decide/act + typed live-version resolver
  .github/workflows/cws-publish.yml
  package.json
  scripts/cws-api.mjs
  scripts/cws-api/cli-live-version.mjs
  scripts/cws-api/cli.mjs
  scripts/cws-api/live-version-status.mjs
  scripts/cws-api/live-version-warnings.mjs
  scripts/cws-api/live-version.mjs
  scripts/cws-api/live-version.test.mjs
  scripts/cws-api/publish.mjs
  scripts/cws-api/state.test.mjs
  scripts/cws-api/stuck-draft-tier.mjs
  scripts/cws-api/stuck-draft-tier.test.mjs
  scripts/cws-stuck-draft-handler.mjs
  scripts/cws-stuck-draft-handler.test.mjs
Due: none

fix(ci): drop matrix context from act job-level if clause
  .github/workflows/cws-publish.yml
Due: none

fix(ci): never silently SYNCED when live-version inputs are absent
  .github/workflows/cws-publish.yml
  scripts/cws-api/cli-live-version.mjs
  scripts/cws-api/cli.mjs
  scripts/cws-api/live-version-status.mjs
  scripts/cws-api/live-version.mjs
  scripts/cws-api/live-version.test.mjs
Due: none

fix(ci): ensure tags+labels exist for cws-publish workflow
  .github/workflows/cws-publish.yml
Due: none

fix(ci): prepend @kaiord/ scope before passing packageName to resolver
  scripts/cws-api/cli-live-version.mjs
Due: none

test(scripts): pin @kaiord/ scope normalization in cli-live-version
  scripts/cws-api/cli-live-version.mjs
  scripts/cws-api/cli-live-version.test.mjs
Due: none
