Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

chore(openspec): archive harden-ai-evals and promote its specs (#1245)
  openspec/changes/archive/2026-09-08-harden-ai-evals/.openspec.yaml
  openspec/changes/archive/2026-09-08-harden-ai-evals/design.md
  openspec/changes/archive/2026-09-08-harden-ai-evals/proposal.md
  openspec/changes/archive/2026-09-08-harden-ai-evals/specs/ai-evals/spec.md
  openspec/changes/archive/2026-09-08-harden-ai-evals/specs/ai-guardrails/spec.md
  openspec/changes/archive/2026-09-08-harden-ai-evals/specs/ai-prompts/spec.md
  openspec/changes/archive/2026-09-08-harden-ai-evals/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/ai-evals/spec.md
  openspec/specs/ai-guardrails/spec.md
  openspec/specs/ai-prompts/spec.md
Due: none

fix(trainingpeaks): never send a band in a metric the workout does not declare
  .changeset/trainingpeaks-workout-push.md
  openspec/changes/add-trainingpeaks-workout-push/design.md
  openspec/changes/add-trainingpeaks-workout-push/proposal.md
  openspec/changes/add-trainingpeaks-workout-push/specs/spa-trainingpeaks-extension/spec.md
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-workout.converter.test.ts
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-workout.converter.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-steps.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-targets.ts
Due: none

feat(ci): owned previews, and a design-system render probe that can fail (#1244)
  .design-sync/NOTES.md
  .design-sync/config.json
  .design-sync/gen-entry.mjs
  .design-sync/measure-grades.mjs
  .design-sync/previews/AiSuccessActions.tsx
  .design-sync/previews/AutoMatchBanner.tsx
  .design-sync/previews/BatchProcessingBanner.tsx
  .design-sync/previews/CreateRepetitionBlockButton.tsx
  .design-sync/previews/EditorStateRibbon.tsx
  .design-sync/previews/GarminPushButton.tsx
  .design-sync/previews/GoalSetupDialog.tsx
  .design-sync/previews/ImportDropzoneOverlay.tsx
  .design-sync/previews/SaveToLibraryButton.tsx
  .design-sync/previews/ScratchEditorSurface.tsx
  .design-sync/previews/StatusHeader.tsx
  .design-sync/previews/StorageAvailabilityBanner.tsx
  .design-sync/previews/Toast.tsx
  .design-sync/previews/WellnessEntryDialog.tsx
  .design-sync/previews/WorkoutPreview.tsx
  .design-sync/probe-stories.mjs
  .design-sync/write-grades.mjs
  eslint.config.js
  packages/workout-spa-editor/.storybook-ds/main.ts
  packages/workout-spa-editor/.storybook-ds/preview.tsx
  packages/workout-spa-editor/design-system-providers.tsx
  packages/workout-spa-editor/design-system.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.stories.tsx
  packages/workout-spa-editor/tsconfig.app.json
  packages/workout-spa-editor/tsconfig.json
  packages/workout-spa-editor/tsconfig.storybook.json
  pnpm-lock.yaml
Due: frontend

test: fold same-behaviour eval and push assertions into it.each
  packages/ai/src/evals/assertions.test.ts
  packages/ai/src/evals/benchmark-invariants.test.ts
  packages/ai/src/evals/chat-tool-assertions.test.ts
  packages/ai/src/evals/reporter.test.ts
  packages/ai/src/prompts/fence.test.ts
  packages/workout-spa-editor/src/hooks/garmin-push-fn.test.ts
Due: frontend

chore(deps): move the whole workspace to vitest 5 (#1243)
  .changeset/vitest-5.md
  packages/ai/package.json
  packages/cli/package.json
  packages/core/package.json
  packages/fit/package.json
  packages/garmin-bridge/package.json
  packages/garmin-connect/package.json
  packages/garmin/package.json
  packages/i18n/package.json
  packages/landing/package.json
  packages/mcp/package.json
  packages/tanita-bridge/package.json
  packages/tanita/package.json
  packages/tcx/package.json
  packages/train2go-bridge/package.json
  packages/trainingpeaks-bridge/package.json
  packages/trainingpeaks/package.json
  packages/whoop-bridge/package.json
  packages/whoop/package.json
  packages/workout-spa-editor/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

feat(trainingpeaks): push AI-structured workouts to the TrainingPeaks calendar (#1226)
  .changeset/trainingpeaks-workout-push.md
  codecov.yml
  openspec/changes/add-trainingpeaks-workout-push/design.md
  openspec/changes/add-trainingpeaks-workout-push/proposal.md
  openspec/changes/add-trainingpeaks-workout-push/specs/spa-trainingpeaks-extension/spec.md
  openspec/changes/add-trainingpeaks-workout-push/specs/trainingpeaks-bridge/spec.md
  openspec/changes/add-trainingpeaks-workout-push/tasks.md
  packages/trainingpeaks-bridge/background.js
  packages/trainingpeaks-bridge/bridge-identity.js
  packages/trainingpeaks-bridge/test/background.test.js
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-workout.converter.test.ts
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-workout.converter.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-target-band.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-polyline.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-steps.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout-targets.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-workout.test-fixtures.ts
  packages/trainingpeaks/src/adapters/schemas/trainingpeaks-workout.schema.ts
  packages/trainingpeaks/src/index.ts
  packages/workout-spa-editor/src/adapters/trainingpeaks/trainingpeaks-workout-transport.test.ts
  packages/workout-spa-editor/src/adapters/trainingpeaks/trainingpeaks-workout-transport.ts
  packages/workout-spa-editor/src/application/connections/bridge-route-types.test.ts
  packages/workout-spa-editor/src/application/trainingpeaks/trainingpeaks-thresholds.test.ts
  packages/workout-spa-editor/src/application/trainingpeaks/trainingpeaks-thresholds.ts
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksSentButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksSentButton.tsx
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/use-trainingpeaks-gate.test.tsx
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/use-trainingpeaks-gate.ts
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetailFooter.tsx
  packages/workout-spa-editor/src/hooks/trainingpeaks-push-fn.test.ts
  packages/workout-spa-editor/src/hooks/trainingpeaks-push-fn.ts
  packages/workout-spa-editor/src/hooks/use-trainingpeaks-push.test.tsx
  packages/workout-spa-editor/src/hooks/use-trainingpeaks-push.ts
  packages/workout-spa-editor/src/i18n/locales/en/workout-detail.json
  packages/workout-spa-editor/src/i18n/locales/es/workout-detail.json
  packages/workout-spa-editor/src/integrations/bridge-supported-routes.ts
  scripts/check-bridge-ci-coverage.test.mjs
  scripts/fixtures/bridge-privacy-surface.json
Due: frontend

test(spa-editor): tighten TrainingPeaks push test minimality
  packages/workout-spa-editor/src/adapters/trainingpeaks/trainingpeaks-workout-transport.test.ts
  packages/workout-spa-editor/src/application/connections/bridge-route-types.test.ts
  packages/workout-spa-editor/src/application/trainingpeaks/trainingpeaks-thresholds.test.ts
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksSentButton.test.tsx
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/use-trainingpeaks-gate.test.tsx
  packages/workout-spa-editor/src/hooks/trainingpeaks-push-fn.test.ts
  packages/workout-spa-editor/src/hooks/use-trainingpeaks-push.test.tsx
Due: frontend

test(spa-editor): tighten TrainingPeaks push test minimality (#1247)
  packages/workout-spa-editor/src/adapters/trainingpeaks/trainingpeaks-workout-transport.test.ts
  packages/workout-spa-editor/src/application/connections/bridge-route-types.test.ts
  packages/workout-spa-editor/src/application/trainingpeaks/trainingpeaks-thresholds.test.ts
  packages/workout-spa-editor/src/components/molecules/TrainingPeaksPushButton/TrainingPeaksSentButton.test.tsx
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/use-trainingpeaks-gate.test.tsx
  packages/workout-spa-editor/src/hooks/trainingpeaks-push-fn.test.ts
  packages/workout-spa-editor/src/hooks/use-trainingpeaks-push.test.tsx
Due: frontend

refactor(garmin): drop dead unit-schema re-exports from common barrel
  .changeset/garmin-code-reduction.md
  packages/garmin/src/adapters/schemas/common/index.ts
  packages/garmin/src/adapters/schemas/common/unit.schema.ts
Due: garmin

refactor(ai): drop unused lab-extraction type re-exports
  .changeset/ai-code-reduction.md
  packages/ai/src/evals/lab-extraction-assertions.ts
Due: none

refactor(ai): drop unused lab-extraction type re-exports (#1249)
  .changeset/ai-code-reduction.md
  packages/ai/src/evals/lab-extraction-assertions.ts
Due: none

refactor(spa-editor): drop dead barrel re-exports and unused selector
  packages/workout-spa-editor/src/components/atoms/Icon/index.ts
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/index.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/index.ts
  packages/workout-spa-editor/src/lib/athlete/index.ts
  packages/workout-spa-editor/src/lib/workout-review/index.ts
  packages/workout-spa-editor/src/store/index.ts
  packages/workout-spa-editor/src/store/selectors/step-selectors.ts
Due: frontend

refactor(spa-editor): drop dead barrel re-exports and unused selector (#1250)
  packages/workout-spa-editor/src/components/atoms/Icon/index.ts
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/index.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/index.ts
  packages/workout-spa-editor/src/lib/athlete/index.ts
  packages/workout-spa-editor/src/lib/workout-review/index.ts
  packages/workout-spa-editor/src/store/index.ts
  packages/workout-spa-editor/src/store/selectors/step-selectors.ts
Due: frontend

chore(ci): fix design-sync previews for fixed overlays and seeded state
  .design-sync/NOTES.md
  .design-sync/config.json
  .design-sync/gen-entry.mjs
  .design-sync/previews/AiWorkoutInput.tsx
  .design-sync/previews/BottomNav.tsx
  .design-sync/previews/ChatFab.tsx
  .design-sync/previews/CommandPalette.tsx
  .design-sync/previews/CreateRepetitionBlockDialog.tsx
  .design-sync/previews/GoalSetupDialog.tsx
  .design-sync/previews/Toast.tsx
  .design-sync/previews/WellnessEntryDialog.tsx
  .design-sync/previews/ZonesConflictDialog.tsx
  packages/workout-spa-editor/design-system.ts
Due: none

chore(ci): verify the remaining design-sync cards and size tall ones
  .design-sync/NOTES.md
  .design-sync/config.json
  .design-sync/previews/RepetitionBlockCard.tsx
  .design-sync/previews/SaveErrorDialog.tsx
  .design-sync/previews/ScratchEditorSurface.tsx
  .design-sync/previews/ZoneEditor.tsx
Due: none

fix(ci): make the overlay anchor wait for the story and track late paint
  .design-sync/NOTES.md
  packages/workout-spa-editor/.storybook-ds/preview.tsx
Due: none

fix(ci): let the design-system comparer see overlay stories
  .design-sync/NOTES.md
  .design-sync/config.json
  .design-sync/previews/BatchProcessingBanner.tsx
  .design-sync/previews/BottomNav.tsx
  .design-sync/previews/StatusHeader.tsx
  .design-sync/previews/Toast.tsx
  packages/workout-spa-editor/.storybook-ds/preview.tsx
  packages/workout-spa-editor/design-system-providers.tsx
  packages/workout-spa-editor/tsconfig.storybook.json
Due: none

fix(spa-editor): let ZoneDist and ZoneProfileBar stories render at a width
  packages/workout-spa-editor/src/components/molecules/ZoneDist/ZoneDist.stories.tsx
  packages/workout-spa-editor/src/components/molecules/ZoneProfileBar/ZoneProfileBar.stories.tsx
Due: frontend

docs(ci): record dark verification pass and paint-the-page convention
  .design-sync/NOTES.md
  .design-sync/conventions.md
Due: none

fix(spa-editor): rewrite BottomNav stories and make the story theme a parameter
  packages/workout-spa-editor/.storybook/preview.tsx
  packages/workout-spa-editor/design-system-providers.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/BottomNav.stories.tsx
Due: frontend

fix(ci): scope the ZoneEditor preview's field lookup to its own story
  .design-sync/previews/ZoneEditor.tsx
Due: none

chore(ci): design-sync wave 3 — full coverage and dark verification (#1262)
  .design-sync/NOTES.md
  .design-sync/config.json
  .design-sync/conventions.md
  .design-sync/gen-entry.mjs
  .design-sync/previews/AiWorkoutInput.tsx
  .design-sync/previews/BatchProcessingBanner.tsx
  .design-sync/previews/BottomNav.tsx
  .design-sync/previews/ChatFab.tsx
  .design-sync/previews/CommandPalette.tsx
  .design-sync/previews/CreateRepetitionBlockDialog.tsx
  .design-sync/previews/GoalSetupDialog.tsx
  .design-sync/previews/RepetitionBlockCard.tsx
  .design-sync/previews/SaveErrorDialog.tsx
  .design-sync/previews/ScratchEditorSurface.tsx
  .design-sync/previews/StatusHeader.tsx
  .design-sync/previews/Toast.tsx
  .design-sync/previews/WellnessEntryDialog.tsx
  .design-sync/previews/ZoneEditor.tsx
  .design-sync/previews/ZonesConflictDialog.tsx
  packages/workout-spa-editor/.storybook-ds/preview.tsx
  packages/workout-spa-editor/.storybook/preview.tsx
  packages/workout-spa-editor/design-system-providers.tsx
  packages/workout-spa-editor/design-system.ts
  packages/workout-spa-editor/src/components/molecules/BottomNav/BottomNav.stories.tsx
  packages/workout-spa-editor/src/components/molecules/ZoneDist/ZoneDist.stories.tsx
  packages/workout-spa-editor/src/components/molecules/ZoneProfileBar/ZoneProfileBar.stories.tsx
  packages/workout-spa-editor/tsconfig.storybook.json
Due: frontend

fix(docs-site): disclose Umami analytics in the privacy policy
  .changeset/privacy-umami-disclosure.md
  openspec/changes/privacy-umami-disclosure/.openspec.yaml
  openspec/changes/privacy-umami-disclosure/proposal.md
  openspec/changes/privacy-umami-disclosure/specs/privacy-policy/spec.md
  openspec/changes/privacy-umami-disclosure/tasks.md
  packages/docs/legal/privacy-policy.md
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
Due: none

fix(ci): run build, lint and test for docs-site and landing changes
  .github/workflows/ci.yml
Due: none

test(docs): PR-vehicle for the docs_site CI gate (do not merge)
  packages/docs/guide/quick-start.md
Due: none

chore(openspec): archive privacy-umami-disclosure and promote its spec
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/.openspec.yaml
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/proposal.md
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/specs/privacy-policy/spec.md
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/privacy-policy/spec.md
Due: none

fix(docs-site): name Umami's surfaces and scope the client-side claim
  packages/docs/legal/privacy-policy.md
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
Due: none

fix(landing): forward kaiord.com/privacy/ to the docs policy and forbid "no analytics" claims
  .changeset/privacy-umami-disclosure.md
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
  packages/landing/public/privacy/index.html
Due: none

fix(analytics): stop sending profileId and record ids to Umami
  .changeset/analytics-redact-identifiers.md
  openspec/changes/analytics-redact-identifiers/.openspec.yaml
  openspec/changes/analytics-redact-identifiers/proposal.md
  openspec/changes/analytics-redact-identifiers/specs/analytics-port/spec.md
  openspec/changes/analytics-redact-identifiers/tasks.md
  packages/workout-spa-editor/src/adapters/analytics/umami-analytics.test.ts
  packages/workout-spa-editor/src/adapters/analytics/umami-analytics.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-telemetry.test.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-telemetry.ts
  packages/workout-spa-editor/src/adapters/train2go/use-expand-callback.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-actions.ts
  packages/workout-spa-editor/src/application/analytics-port-events.test.ts
  packages/workout-spa-editor/src/application/import/upsert-imported-record.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/upsert-integration-policy.use-case.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.test.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.ts
  packages/workout-spa-editor/src/lib/analytics-redaction.test.ts
  packages/workout-spa-editor/src/lib/analytics-redaction.ts
Due: frontend

chore(openspec): archive analytics-redact-identifiers
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/.openspec.yaml
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/proposal.md
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/specs/analytics-port/spec.md
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/analytics-port/spec.md
Due: none

fix(docs-site): read the landing privacy page's visible text with a tokenizer
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
Due: none

fix(spa-editor): merge export-ledger rows by natural key on cloud sync
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-export-ledger-sync.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.ts
  packages/workout-spa-editor/src/adapters/tombstone-coverage.test.ts
  packages/workout-spa-editor/src/application/export/record-export-constraint.ts
  packages/workout-spa-editor/src/application/export/record-export-post.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.test.ts
  packages/workout-spa-editor/src/application/export/record-export.use-case.ts
  packages/workout-spa-editor/src/application/sync/import-snapshot.test.ts
  packages/workout-spa-editor/src/application/sync/import-snapshot.ts
  packages/workout-spa-editor/src/application/sync/merge-row-hooks.test.ts
  packages/workout-spa-editor/src/application/sync/merge-row-hooks.ts
  packages/workout-spa-editor/src/application/sync/merge-snapshots.test.ts
  packages/workout-spa-editor/src/application/sync/merge-snapshots.ts
  packages/workout-spa-editor/src/application/sync/merge-table-rows.test.ts
  packages/workout-spa-editor/src/application/sync/merge-table-rows.ts
  packages/workout-spa-editor/src/ports/snapshot-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-snapshot-port.ts
  packages/workout-spa-editor/src/types/export-ledger.ts
Due: frontend

fix(docs-site): catch every common "no analytics" denial, not two phrasings
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
Due: none

fix(docs-site): validate the landing privacy redirect against live markup
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
Due: none

fix(analytics): redact page-view paths by allowlist, not by denylist
  openspec/specs/analytics-port/spec.md
  packages/workout-spa-editor/src/lib/analytics-redaction.test.ts
  packages/workout-spa-editor/src/lib/analytics-redaction.ts
Due: frontend

fix(analytics): scrub PII out of every event property value
  openspec/specs/analytics-port/spec.md
  packages/workout-spa-editor/src/adapters/analytics/umami-analytics.test.ts
  packages/workout-spa-editor/src/adapters/analytics/umami-analytics.ts
  packages/workout-spa-editor/src/lib/analytics-redaction.test.ts
  packages/workout-spa-editor/src/lib/analytics-redaction.ts
Due: frontend

fix(docs-site): disclose Umami analytics in the privacy policy + docs_site CI gate (#1264)
  .changeset/analytics-redact-identifiers.md
  .changeset/privacy-umami-disclosure.md
  .github/workflows/ci.yml
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/.openspec.yaml
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/proposal.md
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/specs/analytics-port/spec.md
  openspec/changes/archive/2026-09-27-analytics-redact-identifiers/tasks.md
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/.openspec.yaml
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/proposal.md
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/specs/privacy-policy/spec.md
  openspec/changes/archive/2026-09-27-privacy-umami-disclosure/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/analytics-port/spec.md
  packages/docs/legal/privacy-policy.md
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
  packages/landing/public/privacy/index.html
  packages/workout-spa-editor/src/adapters/analytics/umami-analytics.test.ts
  packages/workout-spa-editor/src/adapters/analytics/umami-analytics.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-telemetry.test.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-telemetry.ts
  packages/workout-spa-editor/src/adapters/train2go/use-expand-callback.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-actions.ts
  packages/workout-spa-editor/src/application/analytics-port-events.test.ts
  packages/workout-spa-editor/src/application/import/upsert-imported-record.use-case.ts
  packages/workout-spa-editor/src/application/integration-policy/upsert-integration-policy.use-case.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.test.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.ts
  packages/workout-spa-editor/src/lib/analytics-redaction.test.ts
  packages/workout-spa-editor/src/lib/analytics-redaction.ts
Due: frontend

fix(docs-site): link the editor at /app/ and breadcrumbs only to real pages
  .changeset/fix-legacy-editor-links.md
  packages/docs/.vitepress/config.ts
  packages/docs/convert/fit-to-garmin.md
  packages/docs/convert/fit-to-tcx.md
  packages/docs/convert/fit-to-zwo.md
  packages/docs/convert/garmin-to-fit.md
  packages/docs/convert/garmin-to-tcx.md
  packages/docs/convert/garmin-to-zwo.md
  packages/docs/convert/index.md
  packages/docs/convert/tcx-to-fit.md
  packages/docs/convert/tcx-to-garmin.md
  packages/docs/convert/tcx-to-zwo.md
  packages/docs/convert/zwo-to-fit.md
  packages/docs/convert/zwo-to-garmin.md
  packages/docs/convert/zwo-to-tcx.md
Due: none

feat(spa-editor): add a route-segment registry kept in parity with the router
  packages/workout-spa-editor/src/routing/route-segments.json
  packages/workout-spa-editor/src/routing/route-segments.test.ts
Due: frontend

chore: use canonical LinkedIn profile URL
  packages/docs/.vitepress/config.ts
  packages/landing/index.html
  packages/workout-spa-editor/index.html
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
