Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

fix(spa): store exact decimal percent for power zones
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/parse-zone-field.test.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/parse-zone-field.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/zone-field-access.ts
Due: frontend

chore: apply prettier formatting
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/parse-zone-field.test.ts
Due: frontend

feat(spa): add Polarized 3-zone and Classic 5-zone methods
  packages/workout-spa-editor/src/lib/hr-methods.ts
  packages/workout-spa-editor/src/lib/power-methods.ts
  packages/workout-spa-editor/src/lib/zone-methods.test.ts
Due: frontend

chore: apply prettier formatting
  packages/workout-spa-editor/src/lib/power-methods-advanced.ts
  packages/workout-spa-editor/src/lib/power-methods.ts
Due: frontend

fix(spa): initialize powerZones and paceZones for running/swimming
  packages/workout-spa-editor/src/store/profile-store/helpers/profile-factory.ts
  packages/workout-spa-editor/src/store/profile-store/migration.test.ts
  packages/workout-spa-editor/src/store/profile-store/migration.ts
Due: frontend

refactor(spa): remove legacy profile fields and migration code
  packages/workout-spa-editor/src/components/molecules/TargetPicker/TargetPicker.test.tsx
  packages/workout-spa-editor/src/components/molecules/TargetPicker/hooks/useZoneInfo.ts
  packages/workout-spa-editor/src/components/molecules/TargetPicker/zone-info-helpers.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/ZoneIndicator.test.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/zones-formatter.test.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/zones-formatter.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/ProfileForm.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/ProfileManager.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileFormFields.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileItemInfo.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileActions.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileCRUD.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileCreate.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileImportExport.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/types.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/useProfileManager.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/SportZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/ZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneEditorHeader.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZonePreview.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneEditor.ts
  packages/workout-spa-editor/src/store/profile-store.test.ts
  packages/workout-spa-editor/src/store/profile-store/actions.ts
  packages/workout-spa-editor/src/store/profile-store/actions/zone-actions.ts
  packages/workout-spa-editor/src/store/profile-store/default-sport-zones.test.ts
  packages/workout-spa-editor/src/store/profile-store/helpers/profile-factory.ts
  packages/workout-spa-editor/src/store/profile-store/helpers/profile-updater.ts
  packages/workout-spa-editor/src/store/profile-store/helpers/sport-zone-updater.ts
  packages/workout-spa-editor/src/store/profile-store/initial-state.ts
  packages/workout-spa-editor/src/store/profile-store/migration-helpers.ts
  packages/workout-spa-editor/src/store/profile-store/migration-mode-to-method.ts
  packages/workout-spa-editor/src/store/profile-store/migration.test.ts
  packages/workout-spa-editor/src/store/profile-store/migration.ts
  packages/workout-spa-editor/src/store/profile-store/sport-zone-actions.test.ts
  packages/workout-spa-editor/src/store/profile-store/types.ts
  packages/workout-spa-editor/src/types/profile-defaults.ts
  packages/workout-spa-editor/src/types/profile.ts
  packages/workout-spa-editor/src/types/sport-zones-schemas.ts
  packages/workout-spa-editor/src/utils/profile-storage.test.ts
Due: frontend

chore: apply prettier formatting
  especifico-transicion-2x30-z3.gcn
  transicion-4x600z4-800z2.gcn
Due: none

fix(spa): address CodeRabbit review comments on PR #167
  packages/workout-spa-editor/src/components/molecules/TargetPicker/TargetPicker.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/CreateProfileSection.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/ProfileManagerDialog.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/components/profile-manager-dialog-types.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/SportZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/components/ZoneRow.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useMethodSwitch.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneCallbacks.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/cascade-zones.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/parse-zone-field.test.ts
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/utils/parse-zone-field.ts
  packages/workout-spa-editor/src/store/profile-store/actions/sport-zone-actions.ts
  packages/workout-spa-editor/src/store/profile-store/helpers/profile-factory.ts
  packages/workout-spa-editor/src/store/profile-store/helpers/sport-zone-updater.ts
  packages/workout-spa-editor/src/utils/calculate-hr-zones.test.ts
  packages/workout-spa-editor/src/utils/calculate-hr-zones.ts
  packages/workout-spa-editor/src/utils/calculate-pace-zones.ts
  packages/workout-spa-editor/src/utils/calculate-power-zones.ts
  packages/workout-spa-editor/src/utils/calculate-zone-values.test.ts
  packages/workout-spa-editor/src/utils/calculate-zone-values.ts
Due: frontend

fix(spa): raise json-parser performance threshold from 50ms to 100ms
  packages/workout-spa-editor/src/utils/json-parser.test.ts
Due: frontend

fix(e2e): update profiles tests for redesigned Profile Manager
  packages/workout-spa-editor/e2e/profiles.spec.ts
Due: none

fix(garmin): resolve pace zones to m/s ranges for Garmin Connect
  .claude/skills/generate-gcn/SKILL.md
  .claude/skills/generate-gcn/reference.md
  packages/garmin/src/adapters/converters/garmin-repetition.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.test.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.test.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/garmin-writer.ts
  packages/garmin/src/adapters/mappers/target-from-garmin.mapper.ts
  packages/garmin/src/adapters/mappers/target-to-garmin.mapper.ts
  packages/garmin/src/adapters/mappers/target-types.ts
  packages/garmin/src/adapters/mappers/target.mapper.test.ts
  packages/garmin/src/adapters/mappers/target.mapper.ts
  packages/garmin/src/adapters/round-trip/round-trip.test.ts
  packages/garmin/src/adapters/workout-to-garmin.ts
  packages/garmin/src/index.ts
Due: garmin

chore: fix ESLint warnings across all packages
  packages/fit/src/adapters/course/course-messages.creator.ts
  packages/fit/src/adapters/duration/duration.mapper.ts
  packages/fit/src/adapters/extensions/extensions.extractor.ts
  packages/fit/src/adapters/messages/activity-messages.creator.ts
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/messages/messages.mapper.ts
  packages/fit/src/adapters/messages/messages.validator.ts
  packages/fit/src/adapters/record/record.mapper.ts
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.ts
  packages/garmin-connect/src/adapters/http/garmin-auth-fetch.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.ts
  packages/garmin-connect/src/adapters/http/token-refresh.ts
  packages/garmin/src/adapters/mappers/condition.mapper.ts
  packages/mcp/src/tools/build-inspect-summary.ts
  packages/tcx/src/adapters/workout/step.converter.ts
  packages/tcx/src/adapters/workout/target-to-tcx.converter.ts
  packages/zwo/src/adapters/duration/duration.mapper.ts
  packages/zwo/src/adapters/krd-to-zwift.converter.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.ts
  packages/zwo/src/adapters/krd-to-zwift/workout-file-builder.ts
Due: fit, tcx, zwo, garmin

chore: add changeset for pace zone resolver fix
  .changeset/pace-zone-resolver.md
Due: none

fix: address CodeRabbit review findings
  packages/fit/src/adapters/course/course-messages.creator.ts
  packages/fit/src/adapters/extensions/developer-fields.extractor.ts
  packages/fit/src/adapters/extensions/extensions.extractor.ts
  packages/fit/src/adapters/record/record-from-fit.mapper.ts
  packages/fit/src/adapters/record/record-to-fit.mapper.ts
  packages/fit/src/adapters/record/record.mapper.ts
  packages/garmin-connect/src/adapters/http/garmin-auth-fetch.ts
  packages/garmin/src/adapters/mappers/target-to-garmin.mapper.ts
  packages/garmin/src/adapters/mappers/target.mapper.test.ts
  packages/garmin/src/adapters/utils/is-logger.ts
  packages/garmin/src/adapters/workout-to-garmin.ts
  packages/garmin/src/index.ts
  packages/tcx/src/adapters/workout/step.converter.ts
  packages/tcx/src/adapters/workout/target-to-tcx.converter.ts
  packages/tcx/src/adapters/workout/target-with-extensions.helper.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.ts
Due: fit, tcx, zwo, garmin

chore: archive completed changes and sync domain specs
  openspec/changes/archive/profile-manager-redesign/design.md
  openspec/changes/archive/profile-manager-redesign/proposal.md
  openspec/changes/archive/profile-manager-redesign/specs/profile-manager/spec.md
  openspec/changes/archive/profile-manager-redesign/tasks.md
  openspec/changes/archive/sport-zones/design.md
  openspec/changes/archive/sport-zones/proposal.md
  openspec/changes/archive/sport-zones/specs/sport-zones/spec.md
  openspec/changes/archive/sport-zones/tasks.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/hexagonal-arch/spec.md
  openspec/specs/krd-format/spec.md
Due: none

chore: apply prettier formatting to hexagonal-arch spec
  openspec/specs/hexagonal-arch/spec.md
Due: none

fix(garmin)!: remove workoutToGarmin convenience API
  .changeset/remove-workout-to-garmin.md
  openspec/changes/remove-workout-to-garmin/design.md
  openspec/changes/remove-workout-to-garmin/proposal.md
  openspec/changes/remove-workout-to-garmin/specs/adapter-contracts/spec.md
  openspec/changes/remove-workout-to-garmin/tasks.md
  openspec/specs/adapter-contracts/spec.md
  packages/garmin/src/adapters/workout-to-garmin.test.ts
  packages/garmin/src/adapters/workout-to-garmin.ts
  packages/garmin/src/index.ts
Due: garmin

chore: apply prettier formatting to changeset
  .changeset/remove-workout-to-garmin.md
Due: none

fix(garmin)!: remove workoutToGarmin convenience API (#181)
  .changeset/remove-workout-to-garmin.md
  openspec/changes/remove-workout-to-garmin/design.md
  openspec/changes/remove-workout-to-garmin/proposal.md
  openspec/changes/remove-workout-to-garmin/specs/adapter-contracts/spec.md
  openspec/changes/remove-workout-to-garmin/tasks.md
  openspec/specs/adapter-contracts/spec.md
  packages/garmin/src/adapters/workout-to-garmin.test.ts
  packages/garmin/src/adapters/workout-to-garmin.ts
  packages/garmin/src/index.ts
Due: garmin

chore: archive remove-workout-to-garmin and sync specs
  openspec/changes/archive/remove-workout-to-garmin/design.md
  openspec/changes/archive/remove-workout-to-garmin/proposal.md
  openspec/changes/archive/remove-workout-to-garmin/specs/adapter-contracts/spec.md
  openspec/changes/archive/remove-workout-to-garmin/tasks.md
  openspec/specs/adapter-contracts/spec.md
Due: none

chore: sync domain specs with codebase state
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/hexagonal-arch/spec.md
  openspec/specs/krd-format/spec.md
Due: none

feat(infra)!: deploy Garmin proxy Lambda with OIDC CI/CD
  .changeset/deploy-garmin-proxy-infra.md
  .changeset/deploy-garmin-proxy-spa.md
  .github/workflows/deploy-infra.yml
  .github/workflows/deploy-spa-editor.yml
  .gitignore
  openspec/changes/deploy-garmin-proxy/design.md
  openspec/changes/deploy-garmin-proxy/proposal.md
  openspec/changes/deploy-garmin-proxy/specs/deployment/spec.md
  openspec/changes/deploy-garmin-proxy/tasks.md
  packages/infra/README.md
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/handler.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  packages/workout-spa-editor/e2e/fixtures/api-mocks.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/PushFeedback.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminLambdaInput.tsx
  packages/workout-spa-editor/src/lib/garmin-push.test.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.test.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.ts
  packages/workout-spa-editor/src/store/garmin-store.test.ts
  packages/workout-spa-editor/src/store/garmin-store.ts
Due: frontend

chore: apply prettier formatting to markdown files
  openspec/changes/deploy-garmin-proxy/design.md
  openspec/changes/deploy-garmin-proxy/proposal.md
  packages/infra/README.md
Due: none

fix(spa): set Lambda URL in Garmin push e2e tests
  packages/workout-spa-editor/e2e/garmin-push.spec.ts
Due: none

fix(infra): address CodeRabbit review feedback
  packages/infra/src/lambda/handler.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/PushFeedback.tsx
Due: frontend

chore: archive deploy-garmin-proxy spec
  openspec/changes/archive/deploy-garmin-proxy/design.md
  openspec/changes/archive/deploy-garmin-proxy/proposal.md
  openspec/changes/archive/deploy-garmin-proxy/specs/deployment/spec.md
  openspec/changes/archive/deploy-garmin-proxy/tasks.md
Due: none

feat(infra): deploy Garmin proxy Lambda with OIDC CI/CD (#184)
  .changeset/deploy-garmin-proxy-infra.md
  .changeset/deploy-garmin-proxy-spa.md
  .github/workflows/deploy-infra.yml
  .github/workflows/deploy-spa-editor.yml
  .gitignore
  openspec/changes/archive/deploy-garmin-proxy/design.md
  openspec/changes/archive/deploy-garmin-proxy/proposal.md
  openspec/changes/archive/deploy-garmin-proxy/specs/deployment/spec.md
  openspec/changes/archive/deploy-garmin-proxy/tasks.md
  packages/infra/README.md
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/handler.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  packages/workout-spa-editor/e2e/fixtures/api-mocks.ts
  packages/workout-spa-editor/e2e/garmin-push.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/PushFeedback.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminLambdaInput.tsx
  packages/workout-spa-editor/src/lib/garmin-push.test.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.test.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.ts
  packages/workout-spa-editor/src/store/garmin-store.test.ts
  packages/workout-spa-editor/src/store/garmin-store.ts
Due: frontend

fix(infra): pass --filter flag to pnpm, not to tsup
  .github/workflows/deploy-infra.yml
Due: none

fix(infra): add tsx as devDependency for CDK deploy in CI
  packages/infra/package.json
  pnpm-lock.yaml
Due: none

chore: apply lint fixes to lockfile
  pnpm-lock.yaml
Due: none

fix(infra): parse allowedOrigins context as JSON string
  packages/infra/src/stack/garmin-proxy-stack.ts
Due: none

fix(deps): resolve high severity dependency vulnerabilities
  package.json
  packages/tcx/package.json
  packages/zwo/package.json
  pnpm-lock.yaml
Due: none

chore: temporary debug workflow (will delete)
  .github/workflows/debug-secrets.yml
Due: none

chore: trigger debug on push
  .github/workflows/debug-secrets.yml
Due: none

chore: remove temporary debug workflow
  .github/workflows/debug-secrets.yml
Due: none

fix(garmin-connect): share single login across integration tests
  packages/garmin-connect/src/index.integration.test.ts
Due: none

chore: apply lint fixes
  packages/garmin-connect/src/index.integration.test.ts
Due: none
