Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

chore(ci): convert pre-commit to lint-staged (§2.1)
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

chore(ci): address CodeRabbit findings on §2.1 (#522)
  .husky/pre-commit
  package.json
Due: none

chore(ci): convert pre-commit to lint-staged (§2.1) (#522)
  .husky/pre-commit
  package.json
  pnpm-lock.yaml
Due: none

test(spa-editor): add e2e flows g/h/i + 3-iteration stability gate (closes #508)
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

chore: apply pre-push lint fixes
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

refactor(spa-editor): split types/index into domain-scoped barrels (§4.2)
  packages/workout-spa-editor/src/types/calendar.ts
  packages/workout-spa-editor/src/types/coaching.ts
  packages/workout-spa-editor/src/types/index.ts
  packages/workout-spa-editor/src/types/sync.ts
  packages/workout-spa-editor/src/types/validation-barrel.ts
  packages/workout-spa-editor/src/types/workout.ts
Due: frontend

refactor(spa-editor): split types/index into domain-scoped barrels (§4.2) (#525)
  packages/workout-spa-editor/src/types/calendar.ts
  packages/workout-spa-editor/src/types/coaching.ts
  packages/workout-spa-editor/src/types/index.ts
  packages/workout-spa-editor/src/types/sync.ts
  packages/workout-spa-editor/src/types/validation-barrel.ts
  packages/workout-spa-editor/src/types/workout.ts
Due: frontend

chore(ci): parallelize pnpm lint umbrella (§2.2)
  package.json
  pnpm-lock.yaml
Due: none

chore(ci): parallelize pnpm lint umbrella (§2.2) (#527)
  package.json
  pnpm-lock.yaml
Due: none

chore: apply prettier fixes
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useMethodSwitch.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useSportZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useSportZoneEditorActions.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneValidation.test.tsx
Due: frontend

test(spa-editor): add tests for ZoneEditor/hooks/ (§5.1)
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useMethodSwitch.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useSportZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useSportZoneEditorActions.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneCallbacks.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneValidation.test.tsx
Due: frontend

test(spa-editor): add tests for ZoneEditor/hooks/ (§5.1) (#528)
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useMethodSwitch.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useSportZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useSportZoneEditorActions.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneCallbacks.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneEditor.test.tsx
  packages/workout-spa-editor/src/components/organisms/ZoneEditor/hooks/useZoneValidation.test.tsx
Due: frontend

test(spa-editor): add tests for ProfileManager/hooks/ (§5.2)
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileActions.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileCRUD.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileCreate.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileImportExport.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileSwitch.test.tsx
Due: frontend

test(spa-editor): broaden idempotence assertion + schema-aligned snapshot
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

test(spa-editor): add tests for ProfileManager/hooks/ (§5.2) (#530)
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileActions.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileCRUD.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileCreate.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileEdit.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileImportExport.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileSwitch.test.tsx
Due: frontend

refactor(spa-editor): extract shared repetition-block helpers (§4.1)
  packages/workout-spa-editor/src/store/actions/_helpers/build-krd-with-workout.test.ts
  packages/workout-spa-editor/src/store/actions/_helpers/build-krd-with-workout.ts
  packages/workout-spa-editor/src/store/actions/_helpers/extract-workout.test.ts
  packages/workout-spa-editor/src/store/actions/_helpers/extract-workout.ts
  packages/workout-spa-editor/src/store/actions/_helpers/index.ts
  packages/workout-spa-editor/src/store/actions/_helpers/replace-block-at-position.test.ts
  packages/workout-spa-editor/src/store/actions/_helpers/replace-block-at-position.ts
  packages/workout-spa-editor/src/store/actions/add-step-to-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/create-empty-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/delete-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/duplicate-step-action.ts
  packages/workout-spa-editor/src/store/actions/edit-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/ungroup-repetition-block-action.ts
Due: frontend

refactor(spa-editor): extract shared repetition-block helpers (§4.1) (#533)
  packages/workout-spa-editor/src/store/actions/_helpers/build-krd-with-workout.test.ts
  packages/workout-spa-editor/src/store/actions/_helpers/build-krd-with-workout.ts
  packages/workout-spa-editor/src/store/actions/_helpers/extract-workout.test.ts
  packages/workout-spa-editor/src/store/actions/_helpers/extract-workout.ts
  packages/workout-spa-editor/src/store/actions/_helpers/index.ts
  packages/workout-spa-editor/src/store/actions/_helpers/replace-block-at-position.test.ts
  packages/workout-spa-editor/src/store/actions/_helpers/replace-block-at-position.ts
  packages/workout-spa-editor/src/store/actions/add-step-to-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/create-empty-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/delete-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/duplicate-step-action.ts
  packages/workout-spa-editor/src/store/actions/edit-repetition-block-action.ts
  packages/workout-spa-editor/src/store/actions/ungroup-repetition-block-action.ts
Due: frontend

feat(core): extract power-zone domain helpers (§6.1)
  .changeset/domain-power-zone-helpers.md
  openspec/specs/domain-conversions/spec.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/zones/index.ts
  packages/core/src/domain/zones/power-zones.test.ts
  packages/core/src/domain/zones/power-zones.ts
  packages/core/src/index.ts
Due: core

feat(core): extract power-zone domain helpers (§6.1) (#535)
  .changeset/domain-power-zone-helpers.md
  openspec/specs/domain-conversions/spec.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/zones/index.ts
  packages/core/src/domain/zones/power-zones.test.ts
  packages/core/src/domain/zones/power-zones.ts
  packages/core/src/index.ts
Due: core

test(spa-editor): add tests for WorkoutList/hooks/ (§5.4)
  packages/workout-spa-editor/src/components/organisms/WorkoutList/WorkoutList.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/hooks/use-workout-list-dnd.test.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutList/hooks/use-workout-list-dnd.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutList/use-workout-list-dnd.test.ts
Due: frontend

test(spa-editor): add tests for WorkoutList/hooks/ (§5.4) (#532)
  packages/workout-spa-editor/src/components/organisms/WorkoutList/WorkoutList.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/hooks/use-workout-list-dnd.test.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutList/hooks/use-workout-list-dnd.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutList/use-workout-list-dnd.test.ts
Due: frontend

refactor(spa-editor): split CalendarPage into hook + view (§4.3)
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPageView.tsx
  packages/workout-spa-editor/src/components/pages/use-calendar-page.test.tsx
  packages/workout-spa-editor/src/components/pages/use-calendar-page.ts
Due: frontend

refactor(spa-editor): split CalendarPage into hook + view (§4.3) (#534)
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPageView.tsx
  packages/workout-spa-editor/src/components/pages/use-calendar-page.test.tsx
  packages/workout-spa-editor/src/components/pages/use-calendar-page.ts
Due: frontend

chore(release): add changeset for zwo power-zone migration (§6.2)
  .changeset/zwo-migrate-power-zone-helper.md
Due: none

refactor(zwo): migrate power-zone table to core/domain helper (§6.2)
  packages/zwo/src/adapters/target/power.converter.test.ts
  packages/zwo/src/adapters/target/power.converter.ts
Due: zwo

chore(zwo): apply Prettier to power.converter.ts
  packages/zwo/src/adapters/target/power.converter.ts
Due: zwo

refactor(zwo): migrate power-zone table to core/domain helper (§6.2) (#537)
  .changeset/zwo-migrate-power-zone-helper.md
  packages/zwo/src/adapters/target/power.converter.test.ts
  packages/zwo/src/adapters/target/power.converter.ts
Due: zwo

chore(release): verify W6 round-trip + zone helper integration (§6.3)
  .changeset/w6-roundtrip-verify.md
Due: none

chore(release): verify W6 round-trip + zone helper integration (§6.3) (#539)
  .changeset/w6-roundtrip-verify.md
Due: none

refactor(spa-editor): right-size dexie/save-workout/profile-storage/handlers (§4.5)
  openspec/changes/repo-quality-maintenance-waves/tasks.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.helpers.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.tsx
  packages/workout-spa-editor/src/utils/profile-storage.ts
  packages/workout-spa-editor/src/utils/profile-storage.types.ts
  packages/workout-spa-editor/src/utils/save-workout.helpers.ts
  packages/workout-spa-editor/src/utils/save-workout.ts
Due: frontend

refactor(spa-editor): right-size dexie/save-workout/profile-storage/handlers (§4.5) (#536)
  openspec/changes/repo-quality-maintenance-waves/tasks.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.helpers.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.tsx
  packages/workout-spa-editor/src/utils/profile-storage.ts
  packages/workout-spa-editor/src/utils/profile-storage.types.ts
  packages/workout-spa-editor/src/utils/save-workout.helpers.ts
  packages/workout-spa-editor/src/utils/save-workout.ts
Due: frontend

chore: apply prettier fixes
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardBadges.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardHeader.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/EmptyLibrary.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/TagFilterButtons.test.tsx
Due: frontend

chore(spa-editor): replace eslint-disable with named constants in §5.3 tests
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/DifficultyFilter.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SortBySelect.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SportFilter.test.tsx
Due: frontend

test(spa-editor): add tests for WorkoutLibrary/components/ (§5.3)
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardBadges.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardHeader.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardScheduleAction.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardTags.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardThumbnail.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/DeleteWorkoutDialog.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/EmptyLibrary.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/LibraryFilters.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/TagFilterButtons.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/DifficultyFilter.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SearchInput.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SortBySelect.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SortOrderSelect.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SportFilter.test.tsx
Due: frontend

test(spa-editor): add tests for WorkoutLibrary/components/ (§5.3) (#531)
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardBadges.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardHeader.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardScheduleAction.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardTags.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/CardThumbnail.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/DeleteWorkoutDialog.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/EmptyLibrary.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/LibraryFilters.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/TagFilterButtons.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/DifficultyFilter.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SearchInput.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SortBySelect.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SortOrderSelect.test.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutLibrary/components/filters/SportFilter.test.tsx
Due: frontend

refactor(spa-editor): update use-repetition-block-handlers helpers import
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.helpers.tsx
Due: frontend

refactor(spa-editor): build workout-store selector registry (§4.4)
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/StoreConfirmationModal.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.analytics.test.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.ts
  packages/workout-spa-editor/src/components/pages/LibraryPage.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-discard-confirmation.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionHandlers.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionHandlers.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.tsx
  packages/workout-spa-editor/src/hooks/use-app-keyboard-handlers.ts
  packages/workout-spa-editor/src/hooks/use-context-menu-store.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-store-selectors.ts
  packages/workout-spa-editor/src/hooks/useAppHandlers.ts
  packages/workout-spa-editor/src/store/index.ts
  packages/workout-spa-editor/src/store/selectors/history-selectors.ts
  packages/workout-spa-editor/src/store/selectors/index.ts
  packages/workout-spa-editor/src/store/selectors/modal-selectors.ts
  packages/workout-spa-editor/src/store/selectors/repetition-block-selectors.ts
  packages/workout-spa-editor/src/store/selectors/selection-selectors.ts
  packages/workout-spa-editor/src/store/selectors/step-selectors.ts
  packages/workout-spa-editor/src/store/selectors/use-context-menu-store.ts
  packages/workout-spa-editor/src/store/selectors/use-keyboard-store-selectors.ts
  packages/workout-spa-editor/src/store/selectors/workout-selectors.ts
  packages/workout-spa-editor/src/store/workout-store-selectors.ts
Due: frontend

refactor(spa-editor): build workout-store selector registry (§4.4) (#538)
  packages/workout-spa-editor/src/components/molecules/ConfirmationModal/StoreConfirmationModal.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.analytics.test.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.ts
  packages/workout-spa-editor/src/components/pages/LibraryPage.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-delete-step-with-toast.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-discard-confirmation.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.helpers.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/use-repetition-block-handlers.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionHandlers.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionHandlers.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.test.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/useWorkoutSectionState.tsx
  packages/workout-spa-editor/src/hooks/use-app-keyboard-handlers.ts
  packages/workout-spa-editor/src/hooks/use-context-menu-store.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-store-selectors.ts
  packages/workout-spa-editor/src/hooks/useAppHandlers.ts
  packages/workout-spa-editor/src/store/index.ts
  packages/workout-spa-editor/src/store/selectors/history-selectors.ts
  packages/workout-spa-editor/src/store/selectors/index.ts
  packages/workout-spa-editor/src/store/selectors/modal-selectors.ts
  packages/workout-spa-editor/src/store/selectors/repetition-block-selectors.ts
  packages/workout-spa-editor/src/store/selectors/selection-selectors.ts
  packages/workout-spa-editor/src/store/selectors/step-selectors.ts
  packages/workout-spa-editor/src/store/selectors/use-context-menu-store.ts
  packages/workout-spa-editor/src/store/selectors/use-keyboard-store-selectors.ts
  packages/workout-spa-editor/src/store/selectors/workout-selectors.ts
  packages/workout-spa-editor/src/store/workout-store-selectors.ts
Due: frontend

chore(openspec): close §7.1 — final tally for repo-quality-maintenance-waves
  openspec/changes/repo-quality-maintenance-waves/tasks.md
Due: none

chore(openspec): close §7.1 — final tally for repo-quality-maintenance-waves (#540)
  openspec/changes/repo-quality-maintenance-waves/tasks.md
Due: none
