Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

docs(spa-editor): specify the default local profile and add its changeset
  .changeset/default-local-profile.md
  openspec/changes/archive/2026-10-10-default-local-profile/.openspec.yaml
  openspec/changes/archive/2026-10-10-default-local-profile/proposal.md
  openspec/changes/archive/2026-10-10-default-local-profile/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-10-10-default-local-profile/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-persistence-port/spec.md
Due: none

test(fit): store an activity row from Activity.fit on the production bundle
  packages/workout-spa-editor/e2e/fit-import-prod-bundle.spec.ts
Due: none

test(fit): keep the repeat block and targets when re-importing an exported FIT
  packages/workout-spa-editor/e2e/fit-import-prod-bundle.spec.ts
Due: none

test(spa-editor): drop testTimeout bump, keep deterministic lazy pre-load
  packages/workout-spa-editor/vitest.config.ts
Due: none

fix(fit): drop activity records with a null timestamp too
  packages/fit/src/adapters/lap/fit-to-krd-lap.converter.test.ts
  packages/fit/src/adapters/messages/activity-record-timestamps.test.ts
  packages/fit/src/adapters/messages/activity.mapper.ts
Due: fit

fix(fit): import activity FIT files from the decoder's real message shape (#1308)
  .changeset/fit-activity-import.md
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/.openspec.yaml
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/proposal.md
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/fit/src/adapters/lap/fit-to-krd-lap.converter.test.ts
  packages/fit/src/adapters/lap/fit-to-krd-lap.mapper.ts
  packages/fit/src/adapters/lap/krd-to-fit-lap.converter.test.ts
  packages/fit/src/adapters/lap/krd-to-fit-lap.mapper.ts
  packages/fit/src/adapters/messages/activity-fixtures.test.ts
  packages/fit/src/adapters/messages/activity-record-timestamps.test.ts
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/record/record-from-fit.mapper.ts
  packages/fit/src/adapters/schemas/fit-date-time.ts
  packages/fit/src/adapters/schemas/fit-event.ts
  packages/fit/src/adapters/schemas/fit-lap.ts
  packages/fit/src/adapters/schemas/fit-record.ts
  packages/fit/src/adapters/schemas/fit-session.ts
  packages/fit/src/adapters/session/fit-to-krd-session.converter.test.ts
  packages/fit/src/adapters/session/krd-to-fit-session.converter.test.ts
  packages/fit/src/adapters/session/session.mapper.ts
  packages/fit/src/adapters/shared/fit-timestamp.test.ts
  packages/fit/src/adapters/shared/fit-timestamp.ts
  packages/fit/src/test-utils/constants.ts
  packages/workout-spa-editor/e2e/fit-import-prod-bundle.spec.ts
Due: fit

fix(fit): round-trip structured workouts through the SDK encoder (#1309)
  .changeset/fit-workout-roundtrip.md
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/.openspec.yaml
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/proposal.md
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/fit/src/adapters/duration/duration.converter.test.ts
  packages/fit/src/adapters/duration/duration.converter.ts
  packages/fit/src/adapters/duration/repeat-duration-converters.ts
  packages/fit/src/adapters/garmin-fitsdk.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-duration.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.ts
  packages/fit/src/adapters/krd-to-fit/workout-step-main-fields.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/workout-step-main-fields.converter.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-fixtures.test.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-matrix.test.ts
  packages/fit/src/adapters/shared/canonical-field-order.test.ts
  packages/fit/src/adapters/shared/canonical-field-order.ts
  packages/fit/src/adapters/shared/profile-fields.ts
  packages/fit/src/adapters/shared/types.ts
  packages/fit/src/adapters/target/target-cadence.converter.test.ts
  packages/fit/src/adapters/target/target-cadence.converter.ts
  packages/fit/src/adapters/target/target-pace.converter.test.ts
  packages/fit/src/adapters/target/target-pace.converter.ts
  packages/fit/src/adapters/target/target-stroke.converter.test.ts
  packages/fit/src/adapters/target/target-stroke.converter.ts
  packages/fit/src/adapters/target/target.converter.test.ts
  packages/fit/src/adapters/target/target.types.ts
  packages/fit/src/types/garmin-fitsdk.d.ts
  packages/workout-spa-editor/e2e/fit-import-prod-bundle.spec.ts
Due: fit

feat(tcx): read Repeat_t steps into KRD repetition blocks
  .changeset/tcx-repeat-blocks.md
  packages/cli/src/tests/cross-format-round-trip.test.ts
  packages/tcx/src/adapters/round-trip/repeat-blocks.test.ts
  packages/tcx/src/adapters/round-trip/round-trip.test.ts
  packages/tcx/src/adapters/workout/AGENTS.md
  packages/tcx/src/adapters/workout/repeat-block.converter.test.ts
  packages/tcx/src/adapters/workout/repeat-block.converter.ts
  packages/tcx/src/adapters/workout/step.converter.test.ts
  packages/tcx/src/adapters/workout/step.converter.ts
  packages/tcx/src/adapters/workout/workout.converter.test.ts
  packages/tcx/src/adapters/workout/workout.converter.ts
Due: tcx, cli

feat(spa-editor): tell the user when an import was lossy
  .changeset/spa-import-warnings.md
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUpload.test.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/FileUpload.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-parser.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-upload-handlers.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/report-imported.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/use-file-upload-actions.ts
  packages/workout-spa-editor/src/components/molecules/FileUpload/useFileUpload.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.test.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/ImportDropzoneOverlay.tsx
  packages/workout-spa-editor/src/components/pages/ConvertPage/ConvertFlow.tsx
  packages/workout-spa-editor/src/hooks/use-import-warnings-toast.ts
  packages/workout-spa-editor/src/i18n/locales/en/import.json
  packages/workout-spa-editor/src/i18n/locales/es/import.json
  packages/workout-spa-editor/src/utils/create-warning-logger.test.ts
  packages/workout-spa-editor/src/utils/create-warning-logger.ts
  packages/workout-spa-editor/src/utils/import-tcx-file.ts
  packages/workout-spa-editor/src/utils/import-workout-formats.ts
  packages/workout-spa-editor/src/utils/import-workout.test.ts
  packages/workout-spa-editor/src/utils/import-workout.ts
Due: frontend

test(e2e): import WorkoutRepeatBlocks.tcx through the editor
  packages/workout-spa-editor/e2e/AGENTS.md
  packages/workout-spa-editor/e2e/tcx-repeat-import.spec.ts
Due: none

test(spa-editor): warm lazy page chunks before route tests time out (#1282)
  packages/workout-spa-editor/src/App.test.tsx
  packages/workout-spa-editor/src/routes.test.tsx
Due: frontend

docs(openspec): archive tcx-repeat-blocks
  openspec/changes/archive/2026-10-11-tcx-repeat-blocks/.openspec.yaml
  openspec/changes/archive/2026-10-11-tcx-repeat-blocks/proposal.md
  openspec/changes/archive/2026-10-11-tcx-repeat-blocks/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-11-tcx-repeat-blocks/specs/conversion-loss-honesty/spec.md
  openspec/changes/archive/2026-10-11-tcx-repeat-blocks/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/conversion-loss-honesty/spec.md
Due: none

fix(fit): apply the workoutHr/workoutPower offsets to workout ranges and conditions
  .changeset/fit-workout-hr-power-offsets.md
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/.openspec.yaml
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/proposal.md
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/fit/src/adapters/duration/duration-converters.ts
  packages/fit/src/adapters/duration/duration.converter.test.ts
  packages/fit/src/adapters/duration/repeat-duration-converters.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/conditional.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/conditional.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-duration.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.ts
  packages/fit/src/adapters/round-trip/round-trip-sport.test.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-fixtures.test.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-offsets.test.ts
  packages/fit/src/adapters/target/AGENTS.md
  packages/fit/src/adapters/target/heart-rate-helpers.ts
  packages/fit/src/adapters/target/power-helpers.ts
  packages/fit/src/adapters/target/target-heart-rate.converter.test.ts
  packages/fit/src/adapters/target/target-heart-rate.converter.ts
  packages/fit/src/adapters/target/target.mapper.ts
  packages/fit/src/adapters/workout/step.mapper.ts
  test-fixtures/krd/WorkoutCustomTargetValues.krd
  test-fixtures/krd/WorkoutIndividualSteps.krd
  test-fixtures/krd/WorkoutRepeatGreaterThanStep.krd
  test-fixtures/krd/WorkoutRepeatSteps.krd
Due: fit

test(spa-editor): warm the Health pages before the route tests mount them
  packages/workout-spa-editor/src/components/pages/health/health-routes.test.tsx
Due: frontend

test(tcx): carry TCX repeat blocks through FIT and back
  packages/cli/src/tests/cross-format-round-trip.test.ts
Due: cli

fix(core): compare structured workout steps in compareKRDs
  .changeset/core-compare-krds-steps.md
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/.openspec.yaml
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/proposal.md
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/cli/src/utils/format-violations.test.ts
  packages/cli/src/utils/format-violations.ts
  packages/core/README.md
  packages/core/src/application/round-trip/AGENTS.md
  packages/core/src/application/round-trip/compare-entity-fields.ts
  packages/core/src/application/round-trip/compare-krds.ts
  packages/core/src/application/round-trip/compare-step-duration.ts
  packages/core/src/application/round-trip/compare-step-target.ts
  packages/core/src/application/round-trip/compare-workout-steps.test.ts
  packages/core/src/application/round-trip/compare-workout-steps.ts
  packages/core/src/application/round-trip/step-violations.ts
  packages/core/src/domain/types/error-types.ts
  packages/core/src/domain/validation/AGENTS.md
  packages/core/src/domain/validation/tolerance-checker.test.ts
  packages/core/src/domain/validation/tolerance-checker.ts
  packages/core/src/index.ts
  packages/fit/src/adapters/round-trip/round-trip-compare-krds.test.ts
  packages/garmin/src/adapters/round-trip/round-trip-compare-krds.test.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.test.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.ts
  packages/tcx/src/adapters/round-trip/round-trip-compare-krds.test.ts
  packages/zwo/src/adapters/round-trip/round-trip-compare-krds.test.ts
Due: core, fit, tcx, zwo, garmin, cli

test(spa-editor): rely on the default profile in the prod-bundle FIT import
  packages/workout-spa-editor/e2e/fit-import-prod-bundle.spec.ts
Due: none

fix(tcx): bound nested repeat unrolling to a step budget
  openspec/changes/archive/2026-10-11-tcx-repeat-blocks/specs/adapter-contracts/spec.md
  openspec/specs/adapter-contracts/spec.md
  packages/tcx/src/adapters/workout/repeat-block.converter.test.ts
  packages/tcx/src/adapters/workout/repeat-block.converter.ts
Due: tcx

fix(spa-editor): drop the default profile's tombstones on re-key
  packages/workout-spa-editor/src/application/sync/reconcile-auto-profile.test.ts
  packages/workout-spa-editor/src/application/sync/rekey-snapshot.ts
Due: frontend

fix(spa-editor): keep the default-profile notice dismissal device-local
  packages/workout-spa-editor/src/components/molecules/DefaultProfileNotice/DefaultProfileNotice.test.tsx
  packages/workout-spa-editor/src/components/molecules/DefaultProfileNotice/use-default-profile-notice.ts
Due: frontend

fix(spa-editor): re-key imported records and session matches by natural key
  packages/workout-spa-editor/src/application/sync/auto-profile-rekey-rules.ts
  packages/workout-spa-editor/src/application/sync/rekey-natural-keys.test.ts
  packages/workout-spa-editor/src/application/sync/rekey-profile-rows.ts
Due: frontend

test(spa-editor): check re-key coverage against a hand-written table list
  packages/workout-spa-editor/src/adapters/dexie/default-profile-dexie.test.ts
  packages/workout-spa-editor/src/test-utils/in-memory-snapshot-port.ts
  packages/workout-spa-editor/src/test-utils/per-profile-tables.ts
Due: frontend

fix(spa-editor): never hold database readiness on a catalog fetch
  packages/workout-spa-editor/src/adapters/dexie/default-profile-boot.test.ts
  packages/workout-spa-editor/src/adapters/dexie/default-profile-boot.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.test.tsx
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.ts
  packages/workout-spa-editor/src/i18n/default-profile-name.test.ts
  packages/workout-spa-editor/src/i18n/default-profile-name.ts
  packages/workout-spa-editor/src/i18n/locales/en/athlete.json
  packages/workout-spa-editor/src/i18n/locales/es/athlete.json
Due: frontend

fix(spa-editor): guard cloud sync against pushing an unclaimed profile
  packages/workout-spa-editor/src/application/sync/sync-with-cloud-auto-guard.test.ts
  packages/workout-spa-editor/src/application/sync/sync-with-cloud.ts
  packages/workout-spa-editor/src/test-utils/in-memory-cloud-sync-port.ts
Due: frontend

fix(spa-editor): translate the wellness save toasts
  packages/workout-spa-editor/e2e/default-profile.spec.ts
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.locale.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/use-save-wellness.ts
  packages/workout-spa-editor/src/components/pages/Nutrition/NutritionEmptyState.tsx
  packages/workout-spa-editor/src/i18n/locales/en/calendar.json
  packages/workout-spa-editor/src/i18n/locales/es/calendar.json
Due: frontend

docs(spa-editor): record the default-profile review fixes in the spec
  .changeset/default-local-profile.md
  openspec/changes/archive/2026-10-10-default-local-profile/specs/spa-persistence-port/spec.md
  openspec/specs/spa-persistence-port/spec.md
Due: none

fix(fit): apply the workoutHr/workoutPower offsets to workout ranges and conditions (#1316)
  .changeset/fit-workout-hr-power-offsets.md
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/.openspec.yaml
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/proposal.md
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-11-fix-fit-workout-hr-power-offsets/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/fit/src/adapters/duration/duration-converters.ts
  packages/fit/src/adapters/duration/duration.converter.test.ts
  packages/fit/src/adapters/duration/repeat-duration-converters.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/conditional.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/conditional.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-duration.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.ts
  packages/fit/src/adapters/round-trip/round-trip-sport.test.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-fixtures.test.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-offsets.test.ts
  packages/fit/src/adapters/target/AGENTS.md
  packages/fit/src/adapters/target/heart-rate-helpers.ts
  packages/fit/src/adapters/target/power-helpers.ts
  packages/fit/src/adapters/target/target-heart-rate.converter.test.ts
  packages/fit/src/adapters/target/target-heart-rate.converter.ts
  packages/fit/src/adapters/target/target.mapper.ts
  packages/fit/src/adapters/workout/step.mapper.ts
  packages/workout-spa-editor/src/components/pages/health/health-routes.test.tsx
  test-fixtures/krd/WorkoutCustomTargetValues.krd
  test-fixtures/krd/WorkoutIndividualSteps.krd
  test-fixtures/krd/WorkoutRepeatGreaterThanStep.krd
  test-fixtures/krd/WorkoutRepeatSteps.krd
Due: fit, frontend

test(scripts): keep script-test fixtures out of the real tree
  scripts/build-extension-icons.mjs
  scripts/build-extension-icons.test.mjs
  scripts/check-extension-icons-distinct.mjs
  scripts/check-extension-icons-distinct.test.mjs
  scripts/check-no-pii-leakage.test.mjs
  scripts/check-no-zustand-writethrough.test.mjs
Due: none

fix(spa-editor): reject an out-of-range manual sleep score inline
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryForm.test.tsx
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/sleep-entry-fields.ts
  packages/workout-spa-editor/src/i18n/locales/en/health.json
  packages/workout-spa-editor/src/i18n/locales/es/health.json
Due: frontend

fix(core): compare structured workout steps in compareKRDs (#1317)
  .changeset/core-compare-krds-steps.md
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/.openspec.yaml
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/proposal.md
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-11-fix-core-compare-krds-steps/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/cli/src/utils/format-violations.test.ts
  packages/cli/src/utils/format-violations.ts
  packages/core/README.md
  packages/core/src/application/round-trip/AGENTS.md
  packages/core/src/application/round-trip/compare-entity-fields.ts
  packages/core/src/application/round-trip/compare-krds.ts
  packages/core/src/application/round-trip/compare-step-duration.ts
  packages/core/src/application/round-trip/compare-step-target.ts
  packages/core/src/application/round-trip/compare-workout-steps.test.ts
  packages/core/src/application/round-trip/compare-workout-steps.ts
  packages/core/src/application/round-trip/step-violations.ts
  packages/core/src/domain/types/error-types.ts
  packages/core/src/domain/validation/AGENTS.md
  packages/core/src/domain/validation/tolerance-checker.test.ts
  packages/core/src/domain/validation/tolerance-checker.ts
  packages/core/src/index.ts
  packages/fit/src/adapters/round-trip/round-trip-compare-krds.test.ts
  packages/garmin/src/adapters/round-trip/round-trip-compare-krds.test.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.test.ts
  packages/mcp/src/tools/kaiord-round-trip-validate.ts
  packages/tcx/src/adapters/round-trip/round-trip-compare-krds.test.ts
  packages/zwo/src/adapters/round-trip/round-trip-compare-krds.test.ts
Due: core, fit, tcx, zwo, garmin, cli

feat(spa-editor): export all my data from Settings > Privacy
  .changeset/spa-data-export.md
  packages/workout-spa-editor/src/adapters/dexie/backup-table-policy-coverage.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-energy-balance-repositories.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-energy-balance-repositories.ts
  packages/workout-spa-editor/src/application/AGENTS.md
  packages/workout-spa-editor/src/application/backup/backup-table-policy.test.ts
  packages/workout-spa-editor/src/application/backup/backup-table-policy.ts
  packages/workout-spa-editor/src/application/backup/export-backup.test.ts
  packages/workout-spa-editor/src/application/backup/export-backup.ts
  packages/workout-spa-editor/src/application/profile/claim-auto-profiles.ts
  packages/workout-spa-editor/src/application/profile/ensure-default-profile.test.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/use-export-backup.ts
  packages/workout-spa-editor/src/contexts/sync-context.tsx
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
  packages/workout-spa-editor/src/ports/energy-balance-repositories.ts
  packages/workout-spa-editor/src/test-utils/in-memory-energy-balance-repositories.ts
  packages/workout-spa-editor/src/types/backup.ts
Due: frontend

test(e2e): cover "export my data" from a clean browser
  packages/workout-spa-editor/e2e/data-export.spec.ts
  packages/workout-spa-editor/scripts/verify-prod/checks/export-seed.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/export.mjs
Due: none

docs(openspec): specify and archive the backup export
  openspec/changes/archive/2026-10-11-add-spa-data-export/.openspec.yaml
  openspec/changes/archive/2026-10-11-add-spa-data-export/proposal.md
  openspec/changes/archive/2026-10-11-add-spa-data-export/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-10-11-add-spa-data-export/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-persistence-port/spec.md
Due: none

fix(zwo): keep workout steps in document order and stop losing repeat blocks
  .changeset/zwo-step-order.md
  packages/core/schema/zwift-workout.xsd
  packages/zwo/src/adapters/fast-xml-parser.ts
  packages/zwo/src/adapters/interval/AGENTS.md
  packages/zwo/src/adapters/interval/free-ride.mapper.ts
  packages/zwo/src/adapters/interval/intervals-t-restoration.ts
  packages/zwo/src/adapters/interval/intervals-t.mapper.ts
  packages/zwo/src/adapters/krd-to-zwift.converter.ts
  packages/zwo/src/adapters/krd-to-zwift/AGENTS.md
  packages/zwo/src/adapters/krd-to-zwift/intervals-encoder.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.test.ts
  packages/zwo/src/adapters/krd-to-zwift/intervals-t-encoder.ts
  packages/zwo/src/adapters/krd-to-zwift/ordered-xml.ts
  packages/zwo/src/adapters/krd-to-zwift/workout-file-builder.ts
  packages/zwo/src/adapters/round-trip/krd-zwo-krd-compare.test.ts
  packages/zwo/src/adapters/round-trip/step-order.test.ts
  packages/zwo/src/adapters/zwift-to-krd.converter.ts
  packages/zwo/src/adapters/zwift-to-krd/AGENTS.md
  packages/zwo/src/adapters/zwift-to-krd/intervals-extractor.ts
  packages/zwo/src/schema/zwift-workout.xsd
  test-fixtures/zwo/WorkoutRepeatSteps.zwo
Due: zwo

fix(tcx): drop an empty nested repeat before unrolling it
  packages/tcx/src/adapters/workout/repeat-block.converter.test.ts
  packages/tcx/src/adapters/workout/repeat-block.converter.ts
Due: tcx

test(e2e): match the athlete name exactly in the profile redirect test
  packages/workout-spa-editor/e2e/profiles.spec.ts
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
