Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

test(spa-editor): extend e2e fixture + FTP+power coupling flow (PR 5/6)
  .changeset/zones-method-aware-e2e-flows.md
  packages/workout-spa-editor/e2e/helpers/train2go-bridge-stub.ts
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

chore(spa-editor): apply pre-push lint fixes
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

test(spa-editor): extend e2e fixture + FTP+power coupling flow (PR 5/6) (#506)
  .changeset/zones-method-aware-e2e-flows.md
  packages/workout-spa-editor/e2e/helpers/train2go-bridge-stub.ts
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

chore(openspec): archive zones-method-aware-reconcile (PR 6/6)
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/.openspec.yaml
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/design.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/proposal.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/specs/spa-train2go-extension/spec.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/specs/train2go-zones-sync/spec.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-train2go-extension/spec.md
  openspec/specs/train2go-zones-sync/spec.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-v9-rollback.test.ts
  packages/workout-spa-editor/src/test-utils/v8-reconcile-snapshot.ts
Due: frontend

chore(openspec): apply pre-push lint fixes
  openspec/specs/spa-train2go-extension/spec.md
  openspec/specs/train2go-zones-sync/spec.md
Due: none

chore(openspec): archive zones-method-aware-reconcile (PR 6/6) (#509)
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/.openspec.yaml
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/design.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/proposal.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/specs/spa-train2go-extension/spec.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/specs/train2go-zones-sync/spec.md
  openspec/changes/archive/2026-05-05-zones-method-aware-reconcile/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-train2go-extension/spec.md
  openspec/specs/train2go-zones-sync/spec.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-v9-rollback.test.ts
  packages/workout-spa-editor/src/test-utils/v8-reconcile-snapshot.ts
Due: frontend

fix(train2go-bridge): parse Generic HR block from full HTML
  .changeset/train2go-bridge-generic-outside-hrzones.md
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/test/parser.test.js
Due: none

test(train2go-bridge): use distinct values across cycling vs generic
  packages/train2go-bridge/test/parser.test.js
Due: none

fix(train2go-bridge): parse Generic HR block from full HTML (#510)
  .changeset/train2go-bridge-generic-outside-hrzones.md
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/test/parser.test.js
Due: none

chore(openspec): scaffold repo-quality-maintenance-waves change
  openspec/changes/repo-quality-maintenance-waves/.openspec.yaml
  openspec/changes/repo-quality-maintenance-waves/design.md
  openspec/changes/repo-quality-maintenance-waves/proposal.md
  openspec/changes/repo-quality-maintenance-waves/specs/domain-conversions/spec.md
  openspec/changes/repo-quality-maintenance-waves/specs/scripts-folder-hygiene/spec.md
  openspec/changes/repo-quality-maintenance-waves/tasks.md
Due: none

chore(openspec): scaffold repo-quality-maintenance-waves change (#512)
  openspec/changes/repo-quality-maintenance-waves/.openspec.yaml
  openspec/changes/repo-quality-maintenance-waves/design.md
  openspec/changes/repo-quality-maintenance-waves/proposal.md
  openspec/changes/repo-quality-maintenance-waves/specs/domain-conversions/spec.md
  openspec/changes/repo-quality-maintenance-waves/specs/scripts-folder-hygiene/spec.md
  openspec/changes/repo-quality-maintenance-waves/tasks.md
Due: none

docs: add READMEs for docs/garmin-bridge/landing/train2go-bridge (§1.4)
  packages/docs/README.md
  packages/garmin-bridge/README.md
  packages/landing/README.md
  packages/train2go-bridge/README.md
Due: none

chore: apply lint fixes from pre-push
  openspec/changes/repo-quality-maintenance-waves/design.md
  openspec/changes/repo-quality-maintenance-waves/tasks.md
Due: none

docs: add READMEs for docs/garmin-bridge/landing/train2go-bridge (§1.4) (#513)
  openspec/changes/repo-quality-maintenance-waves/design.md
  openspec/changes/repo-quality-maintenance-waves/tasks.md
  packages/docs/README.md
  packages/garmin-bridge/README.md
  packages/landing/README.md
  packages/train2go-bridge/README.md
Due: none

refactor(spa-editor): inject analytics token at runtime, not build (§1.6)
  .github/workflows/deploy-site.yml
  packages/workout-spa-editor/.env.example
  packages/workout-spa-editor/docs/analytics.md
  packages/workout-spa-editor/e2e/spa-route-refresh.spec.ts
  packages/workout-spa-editor/index.html
  packages/workout-spa-editor/src/lib/runtime-config.test.ts
  packages/workout-spa-editor/src/lib/runtime-config.ts
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/vite.config.ts
Due: frontend

refactor(spa-editor): inject analytics token at runtime, not build (§1.6) (#514)
  .github/workflows/deploy-site.yml
  packages/workout-spa-editor/.env.example
  packages/workout-spa-editor/docs/analytics.md
  packages/workout-spa-editor/e2e/spa-route-refresh.spec.ts
  packages/workout-spa-editor/index.html
  packages/workout-spa-editor/src/lib/runtime-config.test.ts
  packages/workout-spa-editor/src/lib/runtime-config.ts
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/vite.config.ts
Due: frontend

chore(ci): wire jscpd as required check (§1.2)
  .github/workflows/ci.yml
Due: none

chore(ci): serialize pre-commit/pre-push test + tsc runs
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(spa-editor): swimming LTHR + Specific→Generic fallback for all sports
  .changeset/swim-lthr-and-generic-fallback.md
  packages/workout-spa-editor/src/application/coaching/sync-zones-bands.test.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-hr-fallback.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-payload-mapper.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-threshold-fields.ts
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/field-labels.test.ts
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/field-labels.ts
  packages/workout-spa-editor/src/types/coaching-zones.ts
Due: frontend

chore: apply pre-push lint fixes
  .changeset/swim-lthr-and-generic-fallback.md
Due: none

test(spa-editor): clarify LTHR fallback test title and AAA marker
  packages/workout-spa-editor/src/application/coaching/sync-zones-bands.test.ts
Due: frontend

chore(ci): wire jscpd as required check (§1.2) (#515)
  .github/workflows/ci.yml
Due: none

chore(scripts): make size-limit gate functional (§1.1 follow-up)
  .size-limit.cjs
  .size-limit.json
  package.json
  pnpm-lock.yaml
Due: none

chore: apply lint fixes
  .size-limit.cjs
Due: none

chore: apply lint fixes
  packages/cli/src/commands/config-integration.test.ts
Due: cli

chore(ci): wire size-limit as required check (§1.1)
  .github/workflows/ci.yml
  packages/cli/src/commands/config-integration.test.ts
Due: cli

chore(ci): wire size-limit as required check (§1.1) (#516)
  .github/workflows/ci.yml
  .size-limit.cjs
  .size-limit.json
  package.json
  packages/cli/src/commands/config-integration.test.ts
  pnpm-lock.yaml
Due: cli

chore(ci): add timeout-minutes to every workflow job + mechanical guard (§1.3)
  .github/workflows/accessibility-evidence-refresh.yml
  .github/workflows/auto-merge.yml
  .github/workflows/changeset-bot.yml
  .github/workflows/ci-issue-bot-canary.yml
  .github/workflows/ci-issue-bot-success.yml
  .github/workflows/ci.yml
  .github/workflows/cws-publish.yml
  .github/workflows/deploy-site.yml
  .github/workflows/eval.yml
  .github/workflows/metrics-gate.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/workout-spa-editor-e2e.yml
  package.json
  scripts/check-workflow-timeouts.mjs
  scripts/check-workflow-timeouts.test.mjs
Due: none

chore(ci): add timeout-minutes to every workflow job + mechanical guard (§1.3) (#517)
  .github/workflows/accessibility-evidence-refresh.yml
  .github/workflows/auto-merge.yml
  .github/workflows/changeset-bot.yml
  .github/workflows/ci-issue-bot-canary.yml
  .github/workflows/ci-issue-bot-success.yml
  .github/workflows/ci.yml
  .github/workflows/cws-publish.yml
  .github/workflows/deploy-site.yml
  .github/workflows/eval.yml
  .github/workflows/metrics-gate.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/workout-spa-editor-e2e.yml
  package.json
  scripts/check-workflow-timeouts.mjs
  scripts/check-workflow-timeouts.test.mjs
Due: none

test(spa-editor): split combined Arrange+Act marker per AAA convention
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/field-labels.test.ts
Due: frontend

chore(ci): serialize pre-commit/pre-push test + tsc runs (#519)
  .husky/pre-commit
  .husky/pre-push
Due: none

fix(spa-editor): swimming LTHR + Specific→Generic fallback for all sports (#511)
  .changeset/swim-lthr-and-generic-fallback.md
  packages/workout-spa-editor/src/application/coaching/sync-zones-bands.test.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-hr-fallback.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-payload-mapper.ts
  packages/workout-spa-editor/src/application/coaching/sync-zones-threshold-fields.ts
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/field-labels.test.ts
  packages/workout-spa-editor/src/components/organisms/ZonesConflictDialog/field-labels.ts
  packages/workout-spa-editor/src/types/coaching-zones.ts
Due: frontend

chore(ci): make pre-push verify-only (§2.3)
  .husky/pre-push
Due: none

chore(ci): make pre-push verify-only (§2.3) (#521)
  .husky/pre-push
Due: none

chore: apply lint fixes
  openspec/specs/scripts-folder-hygiene/spec.md
  package.json
  scripts/README.md
  scripts/check-overrides-stale.mjs
  scripts/check-overrides-stale.test.mjs
Due: none

chore: apply lint fixes (#518)
  openspec/specs/scripts-folder-hygiene/spec.md
  package.json
  scripts/README.md
  scripts/check-overrides-stale.mjs
  scripts/check-overrides-stale.test.mjs
Due: none

chore(core): address CodeRabbit findings on §3.3 (#523)
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-manufacturer.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-manufacturer.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step-count.helpers.ts
  packages/tcx/src/adapters/target/tcx-to-krd-target.helpers.ts
  packages/zwo/src/adapters/interval/steady-state-target.helpers.ts
Due: fit, tcx, zwo

chore: apply lint fixes
  packages/cli/src/commands/convert/single-file-formats.ts
  packages/cli/src/commands/convert/single-file-reporter.ts
  packages/cli/src/commands/convert/single-file.ts
  packages/cli/src/commands/garmin/yargs-config.ts
  packages/cli/src/commands/garmin/yargs-subcommands.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-manufacturer.mapper.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step-count.helpers.ts
  packages/tcx/src/adapters/target/tcx-to-krd-target.helpers.ts
  packages/tcx/src/adapters/target/tcx-to-krd-target.types.ts
  packages/tcx/src/adapters/target/tcx-to-krd.converter.ts
  packages/zwo/src/adapters/interval/steady-state-target.helpers.ts
  packages/zwo/src/adapters/interval/steady-state.mapper.ts
Due: fit, tcx, zwo, cli

refactor(core): split oversized backend files (§3.3) (#523)
  packages/cli/src/commands/convert/single-file-formats.ts
  packages/cli/src/commands/convert/single-file-reporter.ts
  packages/cli/src/commands/convert/single-file.ts
  packages/cli/src/commands/garmin/yargs-config.ts
  packages/cli/src/commands/garmin/yargs-subcommands.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-manufacturer.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-manufacturer.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step-count.helpers.ts
  packages/tcx/src/adapters/target/tcx-to-krd-target.helpers.ts
  packages/tcx/src/adapters/target/tcx-to-krd-target.types.ts
  packages/tcx/src/adapters/target/tcx-to-krd.converter.ts
  packages/zwo/src/adapters/interval/steady-state-target.helpers.ts
  packages/zwo/src/adapters/interval/steady-state.mapper.ts
Due: fit, tcx, zwo, cli
