Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

fix(spa-editor): resolve tsc -b build errors and prettier debt (QA cycle 1)
  packages/workout-spa-editor/e2e/data-hub.spec.ts
  packages/workout-spa-editor/src/application/data-hub/source-policy-rows.test.ts
  packages/workout-spa-editor/src/application/data-hub/source-policy-rows.ts
  packages/workout-spa-editor/src/application/data-source-policy/get-health-records-for-day.test.ts
  packages/workout-spa-editor/src/application/data-source-policy/get-health-records-for-day.ts
  packages/workout-spa-editor/src/application/data-source-policy/resolve-effective-source.use-case.test.ts
  packages/workout-spa-editor/src/application/data-source-policy/resolve-effective-source.use-case.ts
  packages/workout-spa-editor/src/components/pages/Daily/pick-effective-health-record.ts
  packages/workout-spa-editor/src/components/pages/Daily/use-today-data.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-route-editor.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-source-policies.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-source-policy-editor.ts
  packages/workout-spa-editor/src/integrations/integration-registry-capability-parity.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
Due: frontend

refactor(spa-editor): dedupe Garmin push wiring, drop extraction-narrative comments
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas-late.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-refs.ts
  packages/workout-spa-editor/src/application/coaching/sync-week-persist.ts
  packages/workout-spa-editor/src/application/data-hub/build-data-hub-matrix.ts
  packages/workout-spa-editor/src/application/data-hub/data-hub-cell-state.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingSyncIconButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCellMenu.tsx
  packages/workout-spa-editor/src/components/organisms/DataHub/DataHubCellModeButtons.tsx
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
  packages/workout-spa-editor/src/hooks/garmin-push-fn.ts
  packages/workout-spa-editor/src/integrations/manual-entry-types.ts
  packages/workout-spa-editor/src/utils/classify-imported-krd.ts
Due: frontend

feat(garmin-bridge): announce read:activities capability in lockstep (F5.1)
  packages/garmin-bridge/background.js
  packages/garmin-bridge/kaiord-announce.js
  packages/garmin-bridge/test/background.test.js
  packages/garmin-bridge/test/kaiord-announce.test.js
Due: none

feat(garmin-bridge): read-only Garmin activities pull handler (F5.2)
  packages/garmin-bridge/background.js
  packages/garmin-bridge/content.js
  packages/garmin-bridge/test/background.test.js
  packages/garmin-bridge/test/content.test.js
Due: none

feat(spa-editor): governed Garmin activities pull into v27 activities (F5.3)
  packages/workout-spa-editor/src/adapters/bridge/garmin-activities-transport.ts
  packages/workout-spa-editor/src/application/import/garmin-activity-schema.ts
  packages/workout-spa-editor/src/application/import/map-garmin-activity.test.ts
  packages/workout-spa-editor/src/application/import/map-garmin-activity.ts
  packages/workout-spa-editor/src/application/import/pull-garmin-activities.use-case.test.ts
  packages/workout-spa-editor/src/application/import/pull-garmin-activities.use-case.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-page.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-data-hub-matrix.ts
  packages/workout-spa-editor/src/hooks/data-hub/use-source-sync-state.ts
  packages/workout-spa-editor/src/hooks/use-garmin-activities-pull.ts
  packages/workout-spa-editor/src/types/activity-record.ts
Due: frontend

feat(ai): add chat-tool eval harness for the Data Hub hub tools (F6)
  packages/ai/package.json
  packages/ai/src/evals/AGENTS.md
  packages/ai/src/evals/chat-tool-assertions.test.ts
  packages/ai/src/evals/chat-tool-assertions.ts
  packages/ai/src/evals/chat-tool-benchmarks.json
  packages/ai/src/evals/chat-tool-fixtures.ts
  packages/ai/src/evals/chat-tool-types.ts
  packages/ai/src/evals/load-anthropic-model.ts
  packages/ai/src/evals/run-chat-tool-evals.ts
  packages/ai/src/evals/run-evals.ts
Due: none

feat(spa-editor): Data Hub chat tools — get_data_routes + set_data_route (F6)
  packages/workout-spa-editor/src/application/chat/tools/build-chat-tools.test.ts
  packages/workout-spa-editor/src/application/chat/tools/build-chat-tools.ts
  packages/workout-spa-editor/src/application/chat/tools/chat-tool-deps.ts
  packages/workout-spa-editor/src/application/chat/tools/data-route-answer.test.ts
  packages/workout-spa-editor/src/application/chat/tools/data-route-answer.ts
  packages/workout-spa-editor/src/application/chat/tools/effective-source-today.ts
  packages/workout-spa-editor/src/application/chat/tools/get-data-routes-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/get-data-routes-tool.ts
  packages/workout-spa-editor/src/application/chat/tools/set-data-route-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/set-data-route-tool.ts
  packages/workout-spa-editor/src/application/data-source-policy/get-health-records-for-day.ts
  packages/workout-spa-editor/src/hooks/chat/apply-route-toggle.ts
  packages/workout-spa-editor/src/hooks/chat/build-chat-agent.ts
  packages/workout-spa-editor/src/hooks/chat/build-data-route-signals.test.ts
  packages/workout-spa-editor/src/hooks/chat/build-data-route-signals.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.ts
  packages/workout-spa-editor/src/hooks/chat/do-set-data-route.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-set-data-route.ts
  packages/workout-spa-editor/src/hooks/chat/resolve-integration-key.ts
  packages/workout-spa-editor/src/hooks/use-chat-action-ops.ts
  packages/workout-spa-editor/src/hooks/use-log-ops.ts
  packages/workout-spa-editor/src/hooks/use-set-data-route-op.ts
  packages/workout-spa-editor/src/hooks/use-train2go-coaching-transport.ts
Due: frontend

feat(spa-editor): render + auto-match activities natively on the calendar (F5 GATE A1)
  packages/workout-spa-editor/src/adapters/dexie/dexie-activity-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-matched-sessions-read-model.ts
  packages/workout-spa-editor/src/application/coaching/activity-to-workout-record.test.ts
  packages/workout-spa-editor/src/application/coaching/activity-to-workout-record.ts
  packages/workout-spa-editor/src/components/pages/calendar-buckets.test.ts
  packages/workout-spa-editor/src/components/pages/calendar-buckets.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-buckets-memo.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-page.ts
  packages/workout-spa-editor/src/hooks/use-calendar-activities.ts
  packages/workout-spa-editor/src/hooks/use-calendar-executed.ts
  packages/workout-spa-editor/src/hooks/use-executed-match-auto.ts
  packages/workout-spa-editor/src/ports/activity-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-activity-repository.ts
Due: frontend

refactor(spa-editor): retire transitional dual-write + legacy match heuristic (F5 GATE A1)
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-refs.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-workouts.test.ts
  packages/workout-spa-editor/src/application/coaching/match-executed-workouts.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.test.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/persist-imported-workout.ts
  packages/workout-spa-editor/src/components/organisms/ImportDropzoneOverlay/use-import-on-load.ts
Due: frontend

test(spa-editor): SessionMatch foundational scenario + governed pull E2E (F5.3)
  packages/workout-spa-editor/e2e/garmin-activities-via-policy.spec.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub.ts
  packages/workout-spa-editor/src/application/coaching/session-match-garmin-activity.integration.test.ts
Due: frontend

docs: require removing finished worktrees to keep the workspace clean
  AGENTS.md
Due: none

fix(spa-editor): preview projected activity cards instead of hanging the editor
  packages/workout-spa-editor/src/application/coaching/activity-to-workout-record.test.ts
  packages/workout-spa-editor/src/application/coaching/activity-to-workout-record.ts
  packages/workout-spa-editor/src/components/molecules/ExecutedActivityDialog/ExecutedActivityDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/ExecutedActivityDialog/ExecutedActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/day-column-cards.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/day-column-cards.tsx
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.test.tsx
  packages/workout-spa-editor/src/components/pages/Daily/use-daily-entry-open.test.ts
  packages/workout-spa-editor/src/components/pages/Daily/use-daily-entry-open.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-state.ts
Due: frontend

test(core): cover managed-data hash projections for dedup identity
  packages/core/src/domain/managed-data-hash-projections.test.ts
Due: core

test(spa-editor): enact planned-session route governance in zones-sync e2e
  packages/workout-spa-editor/e2e/zones-sync.spec.ts
Due: none

test(spa-editor): seed workout export policy for coaching-dialog push e2e
  packages/workout-spa-editor/e2e/coaching-dialog-redesign.spec.ts
Due: none

test(garmin-bridge): unify background.js load on require to stabilise coverage
  packages/garmin-bridge/test/profile-snapshot.test.js
Due: none

fix: address Data Hub V2 review findings
  packages/ai/src/evals/load-anthropic-model.ts
  packages/garmin-bridge/background.js
  packages/garmin-bridge/test/background.test.js
  packages/workout-spa-editor/src/adapters/bridge/garmin-activities-transport.ts
  packages/workout-spa-editor/src/application/chat/tools/set-data-route-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/set-data-route-tool.ts
Due: frontend

feat(spa-editor): lab persistence - Dexie v31, repo, transactional use-cases (F1)
  packages/workout-spa-editor/src/adapters/dexie/dexie-lab-repository.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-lab-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas-late.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v21-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v22-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v25-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v26-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v27-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v28-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v31-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/application/lab/delete-lab-report.use-case.test.ts
  packages/workout-spa-editor/src/application/lab/delete-lab-report.use-case.ts
  packages/workout-spa-editor/src/application/lab/get-latest-lab-values.contract.test.ts
  packages/workout-spa-editor/src/application/lab/lab-persistence.ts
  packages/workout-spa-editor/src/application/lab/lab-queries.test.ts
  packages/workout-spa-editor/src/application/lab/lab-queries.ts
  packages/workout-spa-editor/src/application/lab/save-lab-report.use-case.test.ts
  packages/workout-spa-editor/src/application/lab/save-lab-report.use-case.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.ts
  packages/workout-spa-editor/src/ports/lab-repository.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-lab-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence-snapshot.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
Due: frontend

feat(core): lab analytics domain - schemas, catalog, unit conversion, range flags (F0)
  packages/core/src/domain/index.ts
  packages/core/src/domain/lab/catalog/biochemistry.ts
  packages/core/src/domain/lab/catalog/hemogram-differential.ts
  packages/core/src/domain/lab/catalog/hemogram-red.ts
  packages/core/src/domain/lab/catalog/hemogram-white.ts
  packages/core/src/domain/lab/catalog/hepatic.ts
  packages/core/src/domain/lab/catalog/hormones-sports.ts
  packages/core/src/domain/lab/catalog/ions.ts
  packages/core/src/domain/lab/catalog/iron.ts
  packages/core/src/domain/lab/catalog/lipids.ts
  packages/core/src/domain/lab/catalog/thyroid-vitamins.ts
  packages/core/src/domain/lab/index.ts
  packages/core/src/domain/lab/lab-flag.test.ts
  packages/core/src/domain/lab/lab-flag.ts
  packages/core/src/domain/lab/lab-parameter-catalog.test.ts
  packages/core/src/domain/lab/lab-parameter-catalog.ts
  packages/core/src/domain/lab/lab-parameter.ts
  packages/core/src/domain/lab/lab-provenance.ts
  packages/core/src/domain/lab/lab-report.test.ts
  packages/core/src/domain/lab/lab-report.ts
  packages/core/src/domain/lab/lab-value.test.ts
  packages/core/src/domain/lab/lab-value.ts
  packages/core/src/domain/lab/ref-text.ts
  packages/core/src/domain/lab/unit-conversion.test.ts
  packages/core/src/domain/lab/unit-conversion.ts
  packages/core/src/index.ts
Due: core

feat(spa-editor): lab history - list, review, sparklines, delete + shared uplot-base (F3)
  packages/workout-spa-editor/e2e/lab-history.spec.ts
  packages/workout-spa-editor/src/application/lab/lab-queries.ts
  packages/workout-spa-editor/src/components/charts/uplot-base/Sparkline.test.tsx
  packages/workout-spa-editor/src/components/charts/uplot-base/Sparkline.tsx
  packages/workout-spa-editor/src/components/charts/uplot-base/build-sparkline.test.ts
  packages/workout-spa-editor/src/components/charts/uplot-base/build-sparkline.ts
  packages/workout-spa-editor/src/components/charts/uplot-base/uplot-base.test.ts
  packages/workout-spa-editor/src/components/charts/uplot-base/uplot-base.ts
  packages/workout-spa-editor/src/components/charts/uplot-base/uplot-chart.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabFlagBadge.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabHistorySection.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabHistorySection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabLatestValuesList.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabLatestValuesList.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterListItem.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportReview.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportReview.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportRow.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportValueRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportsList.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/build-lab-parameter-summaries.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/build-lab-parameter-summaries.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-flag-display.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-flag-display.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-ref-range-display.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-ref-range-display.ts
  packages/workout-spa-editor/src/components/pages/health/labs/use-lab-history.ts
  packages/workout-spa-editor/src/components/pages/health/trends/UplotChart.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.ts
  packages/workout-spa-editor/src/components/pages/health/trends/trend-metrics.ts
Due: frontend

feat(spa-editor): lab parameter evolution chart with reference band (DoD-2, F4)
  packages/garmin-bridge/icons/icon16.png
  packages/garmin-bridge/icons/icon48.png
  packages/train2go-bridge/icons/icon16.png
  packages/train2go-bridge/icons/icon48.png
  packages/workout-spa-editor/e2e/lab-evolution.spec.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabHistorySection.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabHistorySection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabLatestValuesList.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabLatestValuesSection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterListItem.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-data.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-data.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/reference-band.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/reference-band.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/use-lab-value-series.ts
Due: frontend

feat(spa-editor): lab dashboard - pinned multi-chart with persisted selection (DoD, F5)
  packages/workout-spa-editor/e2e/lab-dashboard.spec.ts
  packages/workout-spa-editor/e2e/lab-dod-journey.spec.ts
  packages/workout-spa-editor/src/application/set-user-preference-fields.test.ts
  packages/workout-spa-editor/src/application/set-user-preference-fields.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabLatestValuesList.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/lab-dashboard-selection.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/lab-dashboard-selection.ts
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.ts
  packages/workout-spa-editor/src/types/user-preferences.test.ts
  packages/workout-spa-editor/src/types/user-preferences.ts
Due: frontend

feat(spa-editor): lab entry form with catalog autocomplete + live conversion (F2)
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
  packages/workout-spa-editor/src/application/lab/build-lab-report-submission.test.ts
  packages/workout-spa-editor/src/application/lab/build-lab-report-submission.ts
  packages/workout-spa-editor/src/application/lab/build-lab-report.test.ts
  packages/workout-spa-editor/src/application/lab/build-lab-report.ts
  packages/workout-spa-editor/src/application/lab/build-lab-value.test.ts
  packages/workout-spa-editor/src/application/lab/build-lab-value.ts
  packages/workout-spa-editor/src/application/lab/parse-optional-number.ts
  packages/workout-spa-editor/src/application/lab/resolve-catalog-ref-range.test.ts
  packages/workout-spa-editor/src/application/lab/resolve-catalog-ref-range.ts
  packages/workout-spa-editor/src/application/lab/resolve-effective-ref-range.test.ts
  packages/workout-spa-editor/src/application/lab/resolve-effective-ref-range.ts
  packages/workout-spa-editor/src/components/atoms/Icon/icon-map.ts
  packages/workout-spa-editor/src/components/atoms/Icon/index.ts
  packages/workout-spa-editor/src/components/atoms/Icon/sport-icon-name.ts
  packages/workout-spa-editor/src/components/pages/health/health-routes.test.tsx
  packages/workout-spa-editor/src/components/pages/health/health-routes.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryForm.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryForm.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryPage.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterIdentityField.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterMeasurementFields.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportHeaderFields.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-row-model.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-row-model.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-row-parameter-selection.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-row-parameter-selection.ts
  packages/workout-spa-editor/src/components/pages/health/labs/use-lab-entry-form.ts
  packages/workout-spa-editor/src/routing/nav-destinations.test.ts
  packages/workout-spa-editor/src/routing/nav-destinations.ts
Due: frontend

fix(spa-editor): correct flag on non-canonical unit + one-sided reference threshold
  packages/workout-spa-editor/e2e/lab-evolution.spec.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas-late.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.test.ts
  packages/workout-spa-editor/src/application/lab/build-lab-value.test.ts
  packages/workout-spa-editor/src/application/lab/resolve-effective-ref-range.test.ts
  packages/workout-spa-editor/src/application/lab/resolve-effective-ref-range.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-data.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-data.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/build-lab-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/reference-band.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/charts/reference-band.ts
Due: frontend

test(spa-editor): make lab dashboard multi-pin assertion wait for async render
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.test.tsx
Due: frontend

refactor(core): drop display text from lab catalog; move to English map in SPA
  packages/core/src/domain/lab/catalog/biochemistry.ts
  packages/core/src/domain/lab/catalog/hemogram-differential.ts
  packages/core/src/domain/lab/catalog/hemogram-red.ts
  packages/core/src/domain/lab/catalog/hemogram-white.ts
  packages/core/src/domain/lab/catalog/hepatic.ts
  packages/core/src/domain/lab/catalog/hormones-sports.ts
  packages/core/src/domain/lab/catalog/ions.ts
  packages/core/src/domain/lab/catalog/iron.ts
  packages/core/src/domain/lab/catalog/lipids.ts
  packages/core/src/domain/lab/catalog/thyroid-vitamins.ts
  packages/core/src/domain/lab/lab-parameter.ts
  packages/workout-spa-editor/e2e/lab-dod-journey.spec.ts
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryForm.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterIdentityField.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-display.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-display.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-row-parameter-selection.test.ts
Due: core, frontend

test(spa-editor): fix TSH label in lab-entry e2e to match English display map
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
Due: none

test: fold report-range cases and drop redundant lab/nav tests
  packages/core/src/domain/lab/lab-flag.test.ts
  packages/core/src/domain/lab/lab-parameter-catalog.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.test.tsx
  packages/workout-spa-editor/src/routing/nav-destinations.test.ts
Due: core, frontend

test: fold report-range cases and drop redundant lab/nav tests (#864)
  packages/core/src/domain/lab/lab-flag.test.ts
  packages/core/src/domain/lab/lab-parameter-catalog.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.test.tsx
  packages/workout-spa-editor/src/routing/nav-destinations.test.ts
Due: core, frontend

refactor(core): language-agnostic lab catalog + English display map in SPA (#863)
  packages/core/src/domain/lab/catalog/biochemistry.ts
  packages/core/src/domain/lab/catalog/hemogram-differential.ts
  packages/core/src/domain/lab/catalog/hemogram-red.ts
  packages/core/src/domain/lab/catalog/hemogram-white.ts
  packages/core/src/domain/lab/catalog/hepatic.ts
  packages/core/src/domain/lab/catalog/hormones-sports.ts
  packages/core/src/domain/lab/catalog/ions.ts
  packages/core/src/domain/lab/catalog/iron.ts
  packages/core/src/domain/lab/catalog/lipids.ts
  packages/core/src/domain/lab/catalog/thyroid-vitamins.ts
  packages/core/src/domain/lab/lab-parameter.ts
  packages/workout-spa-editor/e2e/lab-dod-journey.spec.ts
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabEntryForm.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterIdentityField.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-display.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-display.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-row-parameter-selection.test.ts
Due: core, frontend

test(spa-editor): raise lab-entry save-toast timeout for loaded mobile CI runners
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
Due: none

test(spa-editor): stabilize lab-entry save-toast on mobile CI (#865)
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
Due: none

test(spa-editor): tolerate stacked toasts on mobile in lab save assertions
  packages/workout-spa-editor/e2e/lab-dod-journey.spec.ts
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
Due: none

feat(landing): reposition landing around the training platform
  .changeset/landing-platform-redesign.md
  packages/landing/index.html
Due: none

test(spa-editor): stabilize lab save-toast assertions on mobile CI (#866)
  packages/workout-spa-editor/e2e/lab-dod-journey.spec.ts
  packages/workout-spa-editor/e2e/lab-entry.spec.ts
Due: none

feat(landing): reposition landing around the training platform (#867)
  .changeset/landing-platform-redesign.md
  packages/landing/index.html
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
