Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

chore(cspell): unblock CHANGELOG.md for release PR #325 (#354)
  packages/docs/.cspell.json
Due: none

chore(release): changeset for 7.1.1 patch — TS6 + CI hardening + dep sweep
  .changeset/release-post-ts6-migration.md
Due: none

chore(release): changeset for 7.1.1 patch — TS6 + CI hardening (#356)
  .changeset/release-post-ts6-migration.md
Due: none

feat(workout-spa-editor): wire focus telemetry events into hooks (Phase C)
  openspec/changes/spa-editor-focus-management-hardening/tasks.md
  packages/workout-spa-editor/src/hooks/focus/apply-focus-target.ts
  packages/workout-spa-editor/src/hooks/focus/apply-focus-to-element.ts
  packages/workout-spa-editor/src/hooks/focus/use-focus-after-action-telemetry.test.tsx
  packages/workout-spa-editor/src/hooks/focus/use-focus-after-action.ts
  packages/workout-spa-editor/src/hooks/focus/use-focus-telemetry-emitter.ts
  packages/workout-spa-editor/src/hooks/focus/use-overlay-focus-stash.ts
Due: frontend

chore(openspec): mark verification tasks complete (9.4, 9.5, 9.6)
  openspec/changes/spa-editor-focus-management-hardening/tasks.md
Due: none

docs(workout-spa-editor): quality gates + documentation + changeset (tasks 8.1–9.3)
  .changeset/focus-telemetry-hardening.md
  openspec/changes/spa-editor-focus-management-hardening/tasks.md
  packages/workout-spa-editor/src/components/organisms/WorkoutList/README.md
  packages/workout-spa-editor/src/contexts/focus-telemetry-context.tsx
  packages/workout-spa-editor/src/hooks/focus/use-focus-after-action.ts
  packages/workout-spa-editor/src/store/README.md
  packages/workout-spa-editor/src/store/workout-state.types.ts
Due: frontend

chore(a11y): accessibility evidence directory + quarterly refresh infrastructure (tasks 7.1, 7.5–7.9)
  .github/ISSUE_TEMPLATE/refresh-accessibility-evidence.md
  .github/pull_request_template.md
  .github/workflows/accessibility-evidence-refresh.yml
  openspec/changes/spa-editor-focus-management-hardening/tasks.md
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/README.md
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/nvda-windows.md
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/voiceover-macos.md
Due: none

feat(workout-spa-editor): add focus-management E2E spec and helpers (tasks 5.x)
  .github/workflows/workout-spa-editor-e2e.yml
  openspec/changes/spa-editor-focus-management-hardening/tasks.md
  packages/workout-spa-editor/e2e/fixtures/focus-workout.krd.json
  packages/workout-spa-editor/e2e/focus-management.spec.ts
  packages/workout-spa-editor/e2e/helpers/focus-management-helpers.ts
Due: none

fix(workout-spa-editor): apply Prettier formatting + compact e2e helpers (lint clean)
  .github/ISSUE_TEMPLATE/refresh-accessibility-evidence.md
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/README.md
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/nvda-windows.md
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/screenshots/.gitkeep
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/voiceover-macos.md
  packages/workout-spa-editor/e2e/helpers/focus-management-helpers.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutSection.focus-integration.test.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutSection.tsx
  packages/workout-spa-editor/src/contexts/focus-telemetry-context.test.tsx
  packages/workout-spa-editor/src/hooks/focus/use-focus-after-action-telemetry.test.tsx
  packages/workout-spa-editor/src/store/README.md
  packages/workout-spa-editor/src/store/actions/delete-repetition-block-action.test.ts
  packages/workout-spa-editor/src/store/actions/error-recovery-actions.test.ts
  packages/workout-spa-editor/src/store/actions/performance.test.ts
  packages/workout-spa-editor/src/store/actions/reorder-step-action.test.ts
  packages/workout-spa-editor/src/store/providers/focus-telemetry.ts
  packages/workout-spa-editor/src/store/workout-store-history.test.ts
  packages/workout-spa-editor/src/store/workout-store-history.ts
  packages/workout-spa-editor/src/store/workout-store-undo-history.test.ts
Due: frontend

test(workout-spa-editor): StrictMode re-run of focus integration tests (Phase D, tasks 6.1.a–6.1.d)
  openspec/changes/spa-editor-focus-management-hardening/tasks.md
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutSection.focus-integration.test.tsx
  packages/workout-spa-editor/src/hooks/focus/use-focus-after-action.test.tsx
Due: frontend

fix(workout-spa-editor): replace __dirname with import.meta.url in e2e helper
  packages/workout-spa-editor/e2e/helpers/focus-management-helpers.ts
Due: none

fix(workout-spa-editor): wire Delete/Backspace key to step delete shortcut
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.ts
Due: frontend

fix(workout-spa-editor): fix 4 focus-management E2E test failures
  packages/workout-spa-editor/e2e/fixtures/focus-workout.krd.json
  packages/workout-spa-editor/e2e/helpers/focus-management-helpers.ts
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockCard.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/repetition-block-card.helpers.ts
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/use-repetition-block-state.ts
  packages/workout-spa-editor/src/store/actions/history-actions.ts
Due: frontend

fix(workout-spa-editor): register focus items in layout phase to fix undo/duplicate focus
  packages/workout-spa-editor/src/hooks/focus/use-focus-registration.ts
Due: frontend

fix(workout-spa-editor): address CodeRabbit review comments
  .github/ISSUE_TEMPLATE/refresh-accessibility-evidence.md
  .github/workflows/accessibility-evidence-refresh.yml
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/nvda-windows.md
  packages/workout-spa-editor/docs/accessibility-evidence/2026-04-24-focus-management/voiceover-macos.md
  packages/workout-spa-editor/e2e/fixtures/focus-workout.krd.json
  packages/workout-spa-editor/e2e/helpers/focus-management-helpers.ts
  packages/workout-spa-editor/src/store/workout-store-undo-history.test.ts
Due: frontend

fix(focus): address CodeRabbit review round 2
  .github/workflows/accessibility-evidence-refresh.yml
  packages/workout-spa-editor/src/hooks/focus/apply-focus-target.ts
Due: frontend

chore(openspec): archive spa-editor-focus-management-hardening + sync specs
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/.openspec.yaml
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/design.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/proposal.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/specs/spa-editor-focus-management/spec.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/specs/spa-editor-focus-telemetry/spec.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-editor-focus-management/spec.md
  openspec/specs/spa-editor-focus-telemetry/spec.md
Due: none

chore(openspec): stage deletion of archived change directory
  openspec/changes/spa-editor-focus-management-hardening/.openspec.yaml
  openspec/changes/spa-editor-focus-management-hardening/design.md
  openspec/changes/spa-editor-focus-management-hardening/proposal.md
  openspec/changes/spa-editor-focus-management-hardening/specs/spa-editor-focus-management/spec.md
  openspec/changes/spa-editor-focus-management-hardening/specs/spa-editor-focus-telemetry/spec.md
  openspec/changes/spa-editor-focus-management-hardening/tasks.md
Due: none

chore(gitignore): ignore .claude/scheduled_tasks.lock
  .gitignore
Due: none

chore(openspec): archive spa-editor-focus-management-hardening (#362)
  .gitignore
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/.openspec.yaml
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/design.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/proposal.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/specs/spa-editor-focus-management/spec.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/specs/spa-editor-focus-telemetry/spec.md
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-editor-focus-management/spec.md
  openspec/specs/spa-editor-focus-telemetry/spec.md
Due: none

chore: apply prettier formatting to vite.config.ts
  packages/workout-spa-editor/vite.config.ts
Due: none

chore(openspec): propose analytics-port-adapter change
  openspec/changes/analytics-port-adapter/.openspec.yaml
  openspec/changes/analytics-port-adapter/design.md
  openspec/changes/analytics-port-adapter/proposal.md
  openspec/changes/analytics-port-adapter/specs/analytics-port/spec.md
  openspec/changes/analytics-port-adapter/tasks.md
Due: none

feat(analytics): add Analytics port/adapter with Cloudflare Web Analytics integration
  .changeset/analytics-port-adapter.md
  openspec/changes/analytics-port-adapter/design.md
  openspec/changes/analytics-port-adapter/tasks.md
  packages/core/src/adapters/analytics/noop-analytics.test.ts
  packages/core/src/adapters/analytics/noop-analytics.ts
  packages/core/src/index.ts
  packages/core/src/ports/analytics.ts
  packages/core/src/ports/index.ts
  packages/landing/.env.example
  packages/landing/index.html
  packages/landing/package.json
  packages/landing/src/adapters/analytics/cloudflare-analytics.test.ts
  packages/landing/src/adapters/analytics/cloudflare-analytics.ts
  packages/landing/src/analytics.ts
  packages/landing/src/main.ts
  packages/landing/src/types/cf-beacon.d.ts
  packages/landing/vite.config.ts
  packages/landing/vitest.config.ts
  packages/workout-spa-editor/.env.example
  packages/workout-spa-editor/index.html
  packages/workout-spa-editor/src/App.tsx
  packages/workout-spa-editor/src/adapters/analytics/cloudflare-analytics.test.ts
  packages/workout-spa-editor/src/adapters/analytics/cloudflare-analytics.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/use-save-workout.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.analytics.test.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyInformationSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/contexts/analytics-context.test.tsx
  packages/workout-spa-editor/src/contexts/analytics-context.tsx
  packages/workout-spa-editor/src/contexts/index.ts
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/src/types/cf-beacon.d.ts
  packages/workout-spa-editor/vite.config.ts
  pnpm-lock.yaml
Due: core, frontend

fix(analytics): address CodeRabbit review comments
  openspec/changes/analytics-port-adapter/design.md
  openspec/changes/analytics-port-adapter/tasks.md
  packages/landing/vite.config.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/contexts/analytics-context.test.tsx
  packages/workout-spa-editor/vite.config.ts
Due: frontend

fix(analytics): extract setupAnalytics + fix archive Completed marker
  openspec/changes/archive/2026-04-25-spa-editor-focus-management-hardening/proposal.md
  packages/landing/src/main.ts
  packages/landing/src/setup-analytics.ts
Due: none

chore(openspec): archive analytics-port-adapter + sync domain spec
  openspec/changes/archive/2026-04-25-analytics-port-adapter/.openspec.yaml
  openspec/changes/archive/2026-04-25-analytics-port-adapter/design.md
  openspec/changes/archive/2026-04-25-analytics-port-adapter/proposal.md
  openspec/changes/archive/2026-04-25-analytics-port-adapter/specs/analytics-port/spec.md
  openspec/changes/archive/2026-04-25-analytics-port-adapter/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/analytics-port/spec.md
Due: none

chore: remove analytics-port-adapter from active changes (archived)
  openspec/changes/analytics-port-adapter/.openspec.yaml
  openspec/changes/analytics-port-adapter/design.md
  openspec/changes/analytics-port-adapter/proposal.md
  openspec/changes/analytics-port-adapter/specs/analytics-port/spec.md
  openspec/changes/analytics-port-adapter/tasks.md
Due: none

chore(openspec): archive analytics-port-adapter + sync domain spec (#363)
  openspec/changes/archive/2026-04-25-analytics-port-adapter/.openspec.yaml
  openspec/changes/archive/2026-04-25-analytics-port-adapter/design.md
  openspec/changes/archive/2026-04-25-analytics-port-adapter/proposal.md
  openspec/changes/archive/2026-04-25-analytics-port-adapter/specs/analytics-port/spec.md
  openspec/changes/archive/2026-04-25-analytics-port-adapter/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/analytics-port/spec.md
Due: none

openspec: apply expert-panel feedback on harden-cws-publish
  openspec/changes/harden-cws-publish/design.md
  openspec/changes/harden-cws-publish/specs/cws-auto-publish/spec.md
  openspec/changes/harden-cws-publish/tasks.md
Due: none

openspec: rewrite harden-cws-publish around service-account auth
  openspec/changes/harden-cws-publish/design.md
  openspec/changes/harden-cws-publish/proposal.md
  openspec/changes/harden-cws-publish/specs/cws-auto-publish/spec.md
  openspec/changes/harden-cws-publish/tasks.md
Due: none

chore: apply prettier to design.md
  openspec/changes/harden-cws-publish/design.md
Due: none

chore: prettier pass on proposal rewrite
  openspec/changes/harden-cws-publish/design.md
  openspec/changes/harden-cws-publish/proposal.md
Due: none

openspec: propose harden-cws-publish
  openspec/changes/harden-cws-publish/.openspec.yaml
  openspec/changes/harden-cws-publish/design.md
  openspec/changes/harden-cws-publish/proposal.md
  openspec/changes/harden-cws-publish/specs/cws-auto-publish/spec.md
  openspec/changes/harden-cws-publish/tasks.md
Due: none

openspec: apply round-2 panel feedback on harden-cws-publish
  openspec/changes/harden-cws-publish/specs/cws-auto-publish/spec.md
  openspec/changes/harden-cws-publish/tasks.md
Due: none

chore: prettier pass on design.md after panel fixes
  openspec/changes/harden-cws-publish/design.md
Due: none

openspec: address CodeRabbit feedback on harden-cws-publish
  openspec/changes/harden-cws-publish/specs/cws-auto-publish/spec.md
  openspec/changes/harden-cws-publish/tasks.md
Due: none

openspec: propose harden-cws-publish (service-account migration) (#359)
  openspec/changes/harden-cws-publish/.openspec.yaml
  openspec/changes/harden-cws-publish/design.md
  openspec/changes/harden-cws-publish/proposal.md
  openspec/changes/harden-cws-publish/specs/cws-auto-publish/spec.md
  openspec/changes/harden-cws-publish/tasks.md
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
