Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

feat(whoop): workouts→activity sync + strain field fix (wave 3b)
  .changeset/whoop-workouts-activity.md
  packages/whoop-bridge/background.js
  packages/whoop-bridge/bridge-identity.js
  packages/whoop-bridge/test/background.test.js
  packages/whoop-bridge/test/kaiord-announce.test.js
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.test.ts
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.ts
  packages/whoop/src/adapters/converters/workout-to-activity.converter.test.ts
  packages/whoop/src/adapters/converters/workout-to-activity.converter.ts
  packages/whoop/src/adapters/schemas/whoop-cycles.schema.ts
  packages/whoop/src/adapters/schemas/whoop-sports.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-sports.schema.ts
  packages/whoop/src/adapters/schemas/whoop-workout.schema.ts
  packages/whoop/src/index.ts
  packages/whoop/src/test-utils/cycles-fixture.ts
  packages/whoop/src/test-utils/workout-fixture.ts
  packages/workout-spa-editor/src/application/import/map-whoop-activity.test.ts
  packages/workout-spa-editor/src/application/import/map-whoop-activity.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-cycle-workouts.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-activities.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-activities.use-case.ts
  packages/workout-spa-editor/src/application/whoop/whoop-sport-catalog.ts
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.ts
  packages/workout-spa-editor/src/types/activity-record.ts
Due: frontend

chore(ci): bound Codecov upload so its network tail can't cancel test shards
  .github/workflows/ci.yml
Due: none

fix(whoop): address review — local activity date, robust workout parse
  packages/whoop/src/adapters/converters/workout-to-activity.converter.test.ts
  packages/whoop/src/adapters/converters/workout-to-activity.converter.ts
  packages/whoop/src/adapters/schemas/whoop-workout.schema.ts
  packages/whoop/src/test-utils/workout-fixture.ts
Due: none

fix(fit): stop double-scaling bone/muscle/weight on FIT conversion (#991)
  .changeset/fit-stop-double-scaling-mass.md
  packages/fit/src/adapters/health/body-composition/basal-met-sdk-scale.test.ts
  packages/fit/src/adapters/health/body-composition/health-body-composition.converter.test.ts
  packages/fit/src/adapters/health/body-composition/health-body-composition.converter.ts
  packages/fit/src/adapters/health/weight/fit-to-krd-health-weight.converter.test.ts
  packages/fit/src/adapters/health/weight/fit-weight-scale.schema.ts
  packages/fit/src/adapters/health/weight/health-weight.converter.test.ts
  packages/fit/src/adapters/health/weight/health-weight.converter.ts
  packages/fit/src/adapters/health/weight/krd-health-weight-to-fit.converter.test.ts
Due: fit

feat(tanita): add @kaiord/tanita CSV parser for the MyTANITA export (#987)
  .changeset/config.json
  .changeset/tanita-csv-adapter.md
  .claude/skills/guidelines/git-strategy/SKILL.md
  commitlint.vocab.mjs
  openspec/specs/hexagonal-arch/spec.md
  packages/docs/.cspell.json
  packages/tanita/package.json
  packages/tanita/src/adapters/converters/tanita-csv-to-krd.converter.test.ts
  packages/tanita/src/adapters/converters/tanita-csv-to-krd.converter.ts
  packages/tanita/src/adapters/schemas/tanita-measurement.schema.test.ts
  packages/tanita/src/adapters/schemas/tanita-measurement.schema.ts
  packages/tanita/src/index.ts
  packages/tanita/src/test-utils/tanita-fixture.ts
  packages/tanita/tsconfig.json
  packages/tanita/tsup.config.ts
  packages/tanita/vitest.config.ts
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
Due: none

feat(whoop): workouts→activity sync + strain field fix (wave 3b) (#993)
  .changeset/whoop-workouts-activity.md
  packages/whoop-bridge/background.js
  packages/whoop-bridge/bridge-identity.js
  packages/whoop-bridge/test/background.test.js
  packages/whoop-bridge/test/kaiord-announce.test.js
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.test.ts
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.ts
  packages/whoop/src/adapters/converters/workout-to-activity.converter.test.ts
  packages/whoop/src/adapters/converters/workout-to-activity.converter.ts
  packages/whoop/src/adapters/schemas/whoop-cycles.schema.ts
  packages/whoop/src/adapters/schemas/whoop-sports.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-sports.schema.ts
  packages/whoop/src/adapters/schemas/whoop-workout.schema.ts
  packages/whoop/src/index.ts
  packages/whoop/src/test-utils/cycles-fixture.ts
  packages/whoop/src/test-utils/workout-fixture.ts
  packages/workout-spa-editor/src/application/import/map-whoop-activity.test.ts
  packages/workout-spa-editor/src/application/import/map-whoop-activity.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-cycle-workouts.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-activities.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-activities.use-case.ts
  packages/workout-spa-editor/src/application/whoop/whoop-sport-catalog.ts
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.ts
  packages/workout-spa-editor/src/types/activity-record.ts
Due: frontend

feat(whoop): stress → stress_episode sync (wave 4a)
  .changeset/whoop-stress-episode.md
  packages/whoop-bridge/test/content.test.js
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.test.ts
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.ts
  packages/whoop/src/adapters/schemas/whoop-stress.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-stress.schema.ts
  packages/whoop/src/index.ts
  packages/whoop/src/test-utils/stress-fixture.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress-day.test.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress-day.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress.use-case.ts
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.ts
Due: frontend

fix(whoop): address review — throw-proof stress peak + clamp test
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.test.ts
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.ts
Due: none

feat(fit): encode body composition to weight_scale FIT bytes for upload
  .changeset/fit-body-composition-upload-encode.md
  packages/fit/src/adapters/garmin-fitsdk.ts
  packages/fit/src/adapters/health/body-composition/encode-body-composition-upload.test.ts
  packages/fit/src/adapters/health/body-composition/krd-to-weight-scale-fit.converter.test.ts
  packages/fit/src/adapters/health/body-composition/krd-to-weight-scale-fit.converter.ts
  packages/fit/src/index.ts
Due: fit

feat(spa-editor): recognize the write:body bridge capability
  packages/workout-spa-editor/src/types/bridge-schemas.ts
Due: frontend

feat(garmin-bridge): body-composition upload to Garmin (+ bearer-fetch master)
  .changeset/garmin-bridge-body-composition-upload.md
  openspec/specs/privacy-policy/spec.md
  packages/_shared/bridge-core/bearer-fetch.js
  packages/_shared/bridge-core/test/bearer-fetch.test.js
  packages/docs/legal/privacy-policy.md
  packages/garmin-bridge/background.js
  packages/garmin-bridge/bearer-fetch.js
  packages/garmin-bridge/bridge-identity.js
  packages/garmin-bridge/garmin-oauth.js
  packages/garmin-bridge/test/background.test.js
  packages/garmin-bridge/test/bearer-fetch.test.js
  packages/garmin-bridge/test/garmin-oauth.test.js
  packages/garmin-bridge/test/kaiord-announce.test.js
  scripts/check-bridge-core-parity.test.mjs
  scripts/fixtures/bridge-privacy-surface.json
  scripts/sync-bridge-core.mjs
Due: none

feat(whoop): stress → stress_episode sync (wave 4a) (#997)
  .changeset/whoop-stress-episode.md
  packages/whoop-bridge/test/content.test.js
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.test.ts
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.ts
  packages/whoop/src/adapters/schemas/whoop-stress.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-stress.schema.ts
  packages/whoop/src/index.ts
  packages/whoop/src/test-utils/stress-fixture.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress-day.test.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress-day.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/sync-whoop-stress.use-case.ts
  packages/workout-spa-editor/src/hooks/use-whoop-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-whoop-sync.ts
Due: frontend

feat(garmin-bridge): body-composition upload to Garmin (+ bearer-fetch master) (#998)
  .changeset/fit-body-composition-upload-encode.md
  .changeset/garmin-bridge-body-composition-upload.md
  openspec/specs/privacy-policy/spec.md
  packages/_shared/bridge-core/bearer-fetch.js
  packages/_shared/bridge-core/test/bearer-fetch.test.js
  packages/docs/legal/privacy-policy.md
  packages/fit/src/adapters/garmin-fitsdk.ts
  packages/fit/src/adapters/health/body-composition/encode-body-composition-upload.test.ts
  packages/fit/src/adapters/health/body-composition/krd-to-weight-scale-fit.converter.test.ts
  packages/fit/src/adapters/health/body-composition/krd-to-weight-scale-fit.converter.ts
  packages/fit/src/index.ts
  packages/garmin-bridge/background.js
  packages/garmin-bridge/bearer-fetch.js
  packages/garmin-bridge/bridge-identity.js
  packages/garmin-bridge/garmin-oauth.js
  packages/garmin-bridge/test/background.test.js
  packages/garmin-bridge/test/bearer-fetch.test.js
  packages/garmin-bridge/test/garmin-oauth.test.js
  packages/garmin-bridge/test/kaiord-announce.test.js
  packages/workout-spa-editor/src/types/bridge-schemas.ts
  scripts/check-bridge-core-parity.test.mjs
  scripts/fixtures/bridge-privacy-surface.json
  scripts/sync-bridge-core.mjs
Due: fit, frontend

feat(whoop): Advanced Labs import into the lab domain (wave 4b)
  .changeset/whoop-biomarkers-schema.md
  .changeset/whoop-lab-provenance-source.md
  packages/core/src/domain/lab/lab-provenance.test.ts
  packages/core/src/domain/lab/lab-provenance.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.ts
  packages/whoop/src/index.ts
  packages/whoop/src/test-utils/biomarkers-fixture.ts
  packages/workout-spa-editor/src/application/lab/build-lab-report.ts
  packages/workout-spa-editor/src/application/whoop/import-one-whoop-lab-test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.ts
  packages/workout-spa-editor/src/application/whoop/map-whoop-biomarker-test.ts
  packages/workout-spa-editor/src/application/whoop/resolve-whoop-lab-parameter-key.test.ts
  packages/workout-spa-editor/src/application/whoop/resolve-whoop-lab-parameter-key.ts
  packages/workout-spa-editor/src/application/whoop/whoop-lab-import-types.ts
  packages/workout-spa-editor/src/application/whoop/whoop-lab-provenance.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabImportSection.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabImportSection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/use-whoop-lab-import.ts
  packages/workout-spa-editor/src/i18n/locales/en/labImport.json
  packages/workout-spa-editor/src/i18n/locales/es/labImport.json
Due: core, frontend

fix(whoop): address review — resilient labs import
  packages/workout-spa-editor/src/application/whoop/import-one-whoop-lab-test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.ts
  packages/workout-spa-editor/src/application/whoop/map-whoop-biomarker-test.ts
Due: frontend

fix(whoop): keep labs persistence failures inside the typed result
  packages/workout-spa-editor/src/application/whoop/import-one-whoop-lab-test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.ts
Due: frontend

test: fold same-behaviour whoop/tanita/spa cases into it.each, drop redundant tanita tests
  packages/tanita/src/adapters/converters/tanita-csv-to-krd.converter.test.ts
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.test.ts
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.test.ts
  packages/whoop/src/adapters/converters/workout-to-activity.converter.test.ts
  packages/whoop/src/adapters/schemas/whoop-sports.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-stress.schema.test.ts
  packages/workout-spa-editor/src/application/import/map-whoop-activity.test.ts
Due: frontend

feat(whoop): Advanced Labs import into the lab domain (wave 4b) (#1001)
  .changeset/whoop-biomarkers-schema.md
  .changeset/whoop-lab-provenance-source.md
  packages/core/src/domain/lab/lab-provenance.test.ts
  packages/core/src/domain/lab/lab-provenance.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.ts
  packages/whoop/src/index.ts
  packages/whoop/src/test-utils/biomarkers-fixture.ts
  packages/workout-spa-editor/src/application/lab/build-lab-report.ts
  packages/workout-spa-editor/src/application/whoop/import-one-whoop-lab-test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.ts
  packages/workout-spa-editor/src/application/whoop/map-whoop-biomarker-test.ts
  packages/workout-spa-editor/src/application/whoop/resolve-whoop-lab-parameter-key.test.ts
  packages/workout-spa-editor/src/application/whoop/resolve-whoop-lab-parameter-key.ts
  packages/workout-spa-editor/src/application/whoop/whoop-lab-import-types.ts
  packages/workout-spa-editor/src/application/whoop/whoop-lab-provenance.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabImportSection.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabImportSection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/use-whoop-lab-import.ts
  packages/workout-spa-editor/src/i18n/locales/en/labImport.json
  packages/workout-spa-editor/src/i18n/locales/es/labImport.json
Due: core, frontend

test(docs-site): cover Tanita bridge in the privacy-policy checker fixture
  packages/docs/scripts/check-privacy-policy.test.mjs
Due: none

chore(ci): bound Codecov upload so its network tail can't cancel test shards (#994)
  .github/workflows/ci.yml
Due: none

chore(whoop): closeout — address nitpicks + archive OpenSpec change
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/.openspec.yaml
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/design.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/proposal.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/athlete-connections/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/health-data/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/spa-whoop-extension/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/whoop-bridge/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/whoop-health-adapter/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/athlete-connections/spec.md
  openspec/specs/health-data/spec.md
  openspec/specs/spa-whoop-extension/spec.md
  openspec/specs/whoop-bridge/spec.md
  openspec/specs/whoop-health-adapter/spec.md
  packages/whoop/src/index.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabImportSection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/WhoopImportButton.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/use-whoop-lab-import.ts
Due: frontend

feat(train2go-bridge): migrate relay → service-worker-direct
  .changeset/train2go-sw-direct.md
  packages/train2go-bridge/AGENTS.md
  packages/train2go-bridge/README.md
  packages/train2go-bridge/TESTING.md
  packages/train2go-bridge/background.js
  packages/train2go-bridge/content.js
  packages/train2go-bridge/manifest.json
  packages/train2go-bridge/manifest.prod.json
  packages/train2go-bridge/session-fetch.js
  packages/train2go-bridge/test/AGENTS.md
  packages/train2go-bridge/test/background.test.js
  packages/train2go-bridge/test/content.test.js
  packages/train2go-bridge/vitest.config.js
  scripts/fixtures/bridge-privacy-surface.json
  scripts/sync-bridge-core.mjs
Due: none

chore(whoop): closeout — address nitpicks + archive OpenSpec change (#1004)
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/.openspec.yaml
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/design.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/proposal.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/athlete-connections/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/health-data/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/spa-whoop-extension/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/whoop-bridge/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/specs/whoop-health-adapter/spec.md
  openspec/changes/archive/2026-07-22-rewrite-whoop-session-bridge/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/athlete-connections/spec.md
  openspec/specs/health-data/spec.md
  openspec/specs/spa-whoop-extension/spec.md
  openspec/specs/whoop-bridge/spec.md
  openspec/specs/whoop-health-adapter/spec.md
  packages/whoop/src/index.ts
  packages/workout-spa-editor/src/components/pages/health/labs/LabImportSection.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/WhoopImportButton.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/use-whoop-lab-import.ts
Due: frontend

feat(train2go-bridge): migrate relay → service-worker-direct (#1005)
  .changeset/train2go-sw-direct.md
  packages/train2go-bridge/AGENTS.md
  packages/train2go-bridge/README.md
  packages/train2go-bridge/TESTING.md
  packages/train2go-bridge/background.js
  packages/train2go-bridge/content.js
  packages/train2go-bridge/manifest.json
  packages/train2go-bridge/manifest.prod.json
  packages/train2go-bridge/session-fetch.js
  packages/train2go-bridge/test/AGENTS.md
  packages/train2go-bridge/test/background.test.js
  packages/train2go-bridge/test/content.test.js
  packages/train2go-bridge/vitest.config.js
  scripts/fixtures/bridge-privacy-surface.json
  scripts/sync-bridge-core.mjs
Due: none

feat(trainingpeaks): add pure TrainingPeaks health adapter
  .changeset/trainingpeaks-adapter.md
  packages/trainingpeaks/package.json
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-metric.converter.test.ts
  packages/trainingpeaks/src/adapters/converters/krd-to-trainingpeaks-metric.converter.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-metrics-to-krd.converter.test.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-metrics-to-krd.converter.ts
  packages/trainingpeaks/src/adapters/schemas/trainingpeaks-metric.schema.test.ts
  packages/trainingpeaks/src/adapters/schemas/trainingpeaks-metric.schema.ts
  packages/trainingpeaks/src/index.ts
  packages/trainingpeaks/src/test-utils/trainingpeaks-fixture.ts
  packages/trainingpeaks/tsconfig.json
  packages/trainingpeaks/tsup.config.ts
  packages/trainingpeaks/vitest.config.ts
  pnpm-lock.yaml
Due: none

feat(core): add body-composition export capability (write:body)
  .changeset/core-body-composition-export-capability.md
  packages/core/src/domain/managed-data-type-registry.ts
  packages/core/src/domain/managed-data-type.test.ts
Due: core

feat(spa-editor): Tanita → Garmin body-composition sync
  packages/workout-spa-editor/e2e/fixtures/tanita-export.csv
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub.ts
  packages/workout-spa-editor/e2e/helpers/tanita-bridge-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/tanita-bridge-stub.ts
  packages/workout-spa-editor/e2e/tanita-garmin-sync-via-policy.spec.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/adapters/bridge/bridge-transport.ts
  packages/workout-spa-editor/src/adapters/garmin/garmin-body-composition-transport.test.ts
  packages/workout-spa-editor/src/adapters/garmin/garmin-body-composition-transport.ts
  packages/workout-spa-editor/src/adapters/tanita/tanita-transport.test.ts
  packages/workout-spa-editor/src/adapters/tanita/tanita-transport.ts
  packages/workout-spa-editor/src/application/health/sync-tanita-body-composition-measurements.ts
  packages/workout-spa-editor/src/application/health/sync-tanita-body-composition.use-case.test.ts
  packages/workout-spa-editor/src/application/health/sync-tanita-body-composition.use-case.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ExtensionsTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/TanitaGarminSyncCard.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.ts
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
  packages/workout-spa-editor/src/integrations/integration-registry-capability-parity.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry-entries.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
Due: frontend

feat(spa-editor): Tanita → Garmin body-composition sync UI (#1010)
  .changeset/core-body-composition-export-capability.md
  packages/core/src/domain/managed-data-type-registry.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/workout-spa-editor/e2e/fixtures/tanita-export.csv
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub.ts
  packages/workout-spa-editor/e2e/helpers/tanita-bridge-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/tanita-bridge-stub.ts
  packages/workout-spa-editor/e2e/tanita-garmin-sync-via-policy.spec.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/adapters/bridge/bridge-transport.ts
  packages/workout-spa-editor/src/adapters/garmin/garmin-body-composition-transport.test.ts
  packages/workout-spa-editor/src/adapters/garmin/garmin-body-composition-transport.ts
  packages/workout-spa-editor/src/adapters/tanita/tanita-transport.test.ts
  packages/workout-spa-editor/src/adapters/tanita/tanita-transport.ts
  packages/workout-spa-editor/src/application/health/sync-tanita-body-composition-measurements.ts
  packages/workout-spa-editor/src/application/health/sync-tanita-body-composition.use-case.test.ts
  packages/workout-spa-editor/src/application/health/sync-tanita-body-composition.use-case.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ExtensionsTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/TanitaGarminSyncCard.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.ts
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
  packages/workout-spa-editor/src/integrations/integration-registry-capability-parity.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry-entries.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
  packages/workout-spa-editor/src/types/bridge-schemas.test.ts
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
Due: core, frontend

chore(scripts): enforce English-only bridge _locales
  .changeset/bridge-locales-english-only.md
  packages/garmin-bridge/_locales/es/messages.json
  packages/train2go-bridge/_locales/es/messages.json
  packages/whoop-bridge/_locales/es/messages.json
  scripts/check-bridge-locales-english-only.test.mjs
Due: none

chore(scripts): cap English-only locale guard failure output
  scripts/check-bridge-locales-english-only.test.mjs
Due: none

chore(scripts): enforce English-only bridge _locales (#1012)
  .changeset/bridge-locales-english-only.md
  packages/garmin-bridge/_locales/es/messages.json
  packages/train2go-bridge/_locales/es/messages.json
  packages/whoop-bridge/_locales/es/messages.json
  scripts/check-bridge-locales-english-only.test.mjs
Due: none

fix(docs): emit rel=canonical on every docs page
  .changeset/docs-rel-canonical.md
  packages/docs/.vitepress/config.ts
Due: none

fix(landing): complete social-card metadata and surface the Chrome extension
  .changeset/landing-og-cws.md
  packages/landing/index.html
  packages/landing/public/llms.txt
Due: none

fix(docs): emit rel=canonical on every docs page (#1015)
  .changeset/docs-rel-canonical.md
  packages/docs/.vitepress/config.ts
Due: none

fix(landing): complete social-card metadata and surface the Chrome extension (#1016)
  .changeset/landing-og-cws.md
  packages/landing/index.html
  packages/landing/public/llms.txt
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
