Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

refactor(spa-editor): pass WorkoutActions its props explicitly
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutSection.tsx
Due: frontend

refactor(spa-editor): move PaceZonesUnavailableError to types
  packages/workout-spa-editor/src/application/garmin-placement/placement-phase-one.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.ts
  packages/workout-spa-editor/src/components/organisms/SendWeekPanel/SendWeekItem.tsx
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
  packages/workout-spa-editor/src/types/pace-zones-unavailable-error.ts
  packages/workout-spa-editor/src/utils/export-workout-formats.test.ts
  packages/workout-spa-editor/src/utils/garmin-pace-zones.test.ts
  packages/workout-spa-editor/src/utils/garmin-pace-zones.ts
Due: frontend

test(spa-editor): format the Train2Go link-routes test
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-actions-link-routes.test.tsx
Due: frontend

fix(spa-editor): emphasise the bridge step when it is the next one missing
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/CalendarEmptyStates.test.tsx
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/FirstRunStepCta.tsx
Due: frontend

fix(spa-editor): let a zones mode change clear the Disconnect marker
  packages/workout-spa-editor/src/hooks/athlete/use-zones-auto-import.test.tsx
  packages/workout-spa-editor/src/hooks/athlete/use-zones-auto-import.ts
Due: frontend

fix(spa-editor): keep an enabled route switchable off after its bridge was narrowed
  packages/workout-spa-editor/src/application/connections/data-type-route-toggles.test.ts
  packages/workout-spa-editor/src/application/connections/data-type-route-toggles.ts
Due: frontend

docs(openspec): state how the Disconnect marker travels and what stays off
  openspec/changes/fix-onboarding-routes/proposal.md
Due: none

chore(spa-editor): note what stays off and what stays switchable after upgrade
  .changeset/onboarding-routes.md
Due: none

fix(spa-editor): drop the Disconnect marker on a zones mode change without the upsert's validation
  packages/workout-spa-editor/src/hooks/athlete/use-zones-auto-import.ts
Due: frontend

docs(openspec): accept the mixed-version edge where an old upsert keeps the marker
  openspec/changes/fix-onboarding-routes/proposal.md
Due: none

fix(bridge-core): accept the apex kaiord.com origin in the sender allowlist (#1286)
  .changeset/bridge-apex-origin.md
  packages/_shared/bridge-core/bridge-envelope.js
  packages/_shared/bridge-core/test/bridge-envelope.test.js
  packages/garmin-bridge/bridge-envelope.js
  packages/garmin-bridge/test/bridge-envelope.test.js
  packages/tanita-bridge/bridge-envelope.js
  packages/tanita-bridge/test/bridge-envelope.test.js
  packages/train2go-bridge/bridge-envelope.js
  packages/train2go-bridge/test/bridge-envelope.test.js
  packages/trainingpeaks-bridge/bridge-envelope.js
  packages/trainingpeaks-bridge/test/bridge-envelope.test.js
  packages/whoop-bridge/bridge-envelope.js
  packages/whoop-bridge/test/bridge-envelope.test.js
Due: none

test(spa-editor): split the AAA markers of the tool-count guard
  packages/workout-spa-editor/src/application/chat/tools/chat-tools-provider-schema.test.ts
Due: frontend

fix(spa-editor): unbreak chat with Anthropic (object tool schema), error category and retry (#1287)
  .changeset/ai-chat-invalid-action-call.md
  .changeset/ai-eval-fixture-descriptions.md
  .changeset/ai-eval-fixture-object-schema.md
  .changeset/ai-run-turn-stream-error.md
  .changeset/chat-error-category.md
  .changeset/chat-error-provider-codes.md
  .changeset/chat-retry-no-duplicate.md
  .changeset/chat-tool-action-description.md
  .changeset/chat-tool-object-schema.md
  packages/ai/src/chat/chat-agent.invalid-call.test.ts
  packages/ai/src/chat/classify-turn.test.ts
  packages/ai/src/chat/classify-turn.ts
  packages/ai/src/chat/run-turn.stream-error.test.ts
  packages/ai/src/chat/run-turn.ts
  packages/ai/src/evals/chat-tool-fixtures.test.ts
  packages/ai/src/evals/chat-tool-fixtures.ts
  packages/workout-spa-editor/src/application/chat/tools/chat-tools-provider-schema.test.ts
  packages/workout-spa-editor/src/application/chat/tools/set-data-route-schema.ts
  packages/workout-spa-editor/src/application/chat/tools/set-data-route-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/set-data-route-tool.ts
  packages/workout-spa-editor/src/hooks/chat/chat-error.test.ts
  packages/workout-spa-editor/src/hooks/chat/chat-error.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.test.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.ts
  packages/workout-spa-editor/src/hooks/use-chat-turn-actions.ts
  packages/workout-spa-editor/src/hooks/use-chat-turn.analytics.test.tsx
Due: frontend

feat(ai): share one structured reader for provider errors
  .changeset/provider-error-reader.md
  packages/ai/src/providers/index.ts
  packages/ai/src/providers/model-not-found.test.ts
  packages/ai/src/providers/model-not-found.ts
  packages/ai/src/providers/read-provider-error.test.ts
  packages/ai/src/providers/read-provider-error.ts
  packages/ai/src/test-utils/constants.ts
Due: none

refactor(spa-editor): fold model-not-found into the structured chat classifier
  .changeset/chat-error-model-structured.md
  packages/workout-spa-editor/src/hooks/chat/chat-error.test.ts
  packages/workout-spa-editor/src/hooks/chat/chat-error.ts
Due: frontend

fix(spa-editor): read the download's pace zone profile when clicked
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/use-save-workout.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/use-save-workout.ts
  packages/workout-spa-editor/src/hooks/resolve-export-profile.test.ts
  packages/workout-spa-editor/src/hooks/resolve-export-profile.ts
  packages/workout-spa-editor/src/hooks/use-export-profile.ts
Due: frontend

fix(spa-editor): read the profile only for a GCN download
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/use-save-workout.test.ts
Due: frontend

chore(deps): clear new high-severity pnpm audit advisories
  package.json
  packages/garmin-bridge/package.json
  packages/landing/package.json
  packages/tanita-bridge/package.json
  packages/train2go-bridge/package.json
  packages/trainingpeaks-bridge/package.json
  packages/whoop-bridge/package.json
  packages/workout-spa-editor/package.json
  pnpm-lock.yaml
Due: none

fix(spa-editor): never apply an FTP to a sport without power zones
  packages/workout-spa-editor/src/hooks/garmin-place-record.ftp.test.ts
  packages/workout-spa-editor/src/i18n/locales/en/calendar.json
  packages/workout-spa-editor/src/i18n/locales/es/calendar.json
  packages/workout-spa-editor/src/i18n/placement-failure-copy.test.ts
  packages/workout-spa-editor/src/lib/athlete/workout-ftp.test.ts
  packages/workout-spa-editor/src/lib/athlete/workout-ftp.ts
  packages/workout-spa-editor/src/utils/export-workout-formats.ftp.test.ts
Due: frontend

fix(cli): reject an --ftp that is not a positive number of watts
  .changeset/garmin-percent-ftp-cli.md
  packages/cli/src/commands/convert-ftp-integration.test.ts
  packages/cli/src/commands/convert/yargs-config.ts
  packages/cli/src/commands/garmin/yargs-subcommands.ts
  packages/cli/src/i18n/en.json
  packages/cli/src/i18n/es.json
  packages/cli/src/utils/ftp-option.test.ts
  packages/cli/src/utils/ftp-option.ts
Due: cli

fix(mcp): bump SDK and refresh overrides for new critical/high advisories
  .changeset/mcp-sdk-audit-advisories.md
  package.json
  packages/mcp/package.json
  pnpm-lock.yaml
Due: none

refactor(garmin): move the FTP resolver from mappers to converters
  packages/garmin/src/adapters/converters/target-power.converter.test.ts
  packages/garmin/src/adapters/converters/target-power.converter.ts
  packages/garmin/src/adapters/converters/target-to-garmin.converter.ts
Due: garmin

fix(spa-editor): bundle the FIT SDK profile as published
  .jscpd.json
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/.openspec.yaml
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/proposal.md
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/specs/spa-quality-gates/spec.md
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-quality-gates/spec.md
  packages/workout-spa-editor/.prettierignore
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/scripts/AGENTS.md
  packages/workout-spa-editor/scripts/generate-fitsdk-minimal.mjs
  packages/workout-spa-editor/src/lib/AGENTS.md
  packages/workout-spa-editor/src/lib/fitsdk-minimal/AGENTS.md
  packages/workout-spa-editor/src/lib/fitsdk-minimal/profile.js
  packages/workout-spa-editor/vite.config.ts
Due: frontend

test(e2e): import FIT files through the production bundle
  .github/workflows/ci.yml
  packages/workout-spa-editor/e2e/AGENTS.md
  packages/workout-spa-editor/e2e/fit-import-prod-bundle.spec.ts
Due: none

chore(deploy): publish app/version.json with the build commit
  .github/workflows/deploy-site.yml
Due: none

test(spa-editor): canary, restore the FIT SDK profile trim
  packages/workout-spa-editor/src/lib/fitsdk-minimal/profile.js
  packages/workout-spa-editor/vite.config.ts
Due: frontend

test(scripts): add verify:prod production checks
  eslint.config.js
  package.json
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/scripts/AGENTS.md
  packages/workout-spa-editor/scripts/verify-prod/browser.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/backup-import.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/default-profile.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/empty-states-mobile.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/export.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/fit-import.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/i18n-scan.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/i18n-terms.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/i18n-terms.test.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/manual-first-editor.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/manual-first.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/mobile.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/new-session.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/scheduled-lifecycle-steps.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/scheduled-lifecycle.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/sleep.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/tcx-repeat.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/trends.mjs
  packages/workout-spa-editor/scripts/verify-prod/editor.mjs
  packages/workout-spa-editor/scripts/verify-prod/lib.mjs
  packages/workout-spa-editor/scripts/verify-prod/lib.test.mjs
  packages/workout-spa-editor/scripts/verify-prod/run.mjs
  packages/workout-spa-editor/scripts/verify-prod/steps.mjs
  packages/workout-spa-editor/scripts/verify-prod/wellness.mjs
Due: none

fix(spa-editor): FIT import works in the production bundle (F-21) (#1304)
  .github/workflows/ci.yml
  .github/workflows/deploy-site.yml
  .jscpd.json
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/.openspec.yaml
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/proposal.md
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/specs/spa-quality-gates/spec.md
  openspec/changes/archive/2026-10-10-fix-spa-fit-import-profile/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-quality-gates/spec.md
  packages/workout-spa-editor/.prettierignore
  packages/workout-spa-editor/e2e/AGENTS.md
  packages/workout-spa-editor/e2e/fit-import-prod-bundle.spec.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/scripts/AGENTS.md
  packages/workout-spa-editor/scripts/generate-fitsdk-minimal.mjs
  packages/workout-spa-editor/src/lib/AGENTS.md
  packages/workout-spa-editor/src/lib/fitsdk-minimal/AGENTS.md
  packages/workout-spa-editor/src/lib/fitsdk-minimal/profile.js
  packages/workout-spa-editor/vite.config.ts
Due: frontend

fix(fit): import activity FIT files from the decoder's real message shape
  .changeset/fit-activity-import.md
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/.openspec.yaml
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/proposal.md
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-10-fix-fit-activity-import/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/fit/src/adapters/lap/fit-to-krd-lap.converter.test.ts
  packages/fit/src/adapters/lap/fit-to-krd-lap.mapper.ts
  packages/fit/src/adapters/lap/krd-to-fit-lap.converter.test.ts
  packages/fit/src/adapters/lap/krd-to-fit-lap.mapper.ts
  packages/fit/src/adapters/messages/activity-fixtures.test.ts
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/record/record-from-fit.mapper.ts
  packages/fit/src/adapters/schemas/fit-date-time.ts
  packages/fit/src/adapters/schemas/fit-event.ts
  packages/fit/src/adapters/schemas/fit-lap.ts
  packages/fit/src/adapters/schemas/fit-record.ts
  packages/fit/src/adapters/schemas/fit-session.ts
  packages/fit/src/adapters/session/fit-to-krd-session.converter.test.ts
  packages/fit/src/adapters/session/krd-to-fit-session.converter.test.ts
  packages/fit/src/adapters/session/session.mapper.ts
  packages/fit/src/adapters/shared/fit-timestamp.test.ts
  packages/fit/src/adapters/shared/fit-timestamp.ts
  packages/fit/src/test-utils/constants.ts
Due: fit

fix(fit): round-trip structured workouts through the SDK encoder
  .changeset/fit-workout-roundtrip.md
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/.openspec.yaml
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/proposal.md
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-10-10-fix-fit-workout-roundtrip/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  packages/fit/src/adapters/duration/duration.converter.test.ts
  packages/fit/src/adapters/duration/duration.converter.ts
  packages/fit/src/adapters/duration/repeat-duration-converters.ts
  packages/fit/src/adapters/garmin-fitsdk.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat-hr-power.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat.test.ts
  packages/fit/src/adapters/krd-to-fit/duration-converters/repeat.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-duration.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.ts
  packages/fit/src/adapters/krd-to-fit/workout-step-main-fields.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/workout-step-main-fields.converter.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-fixtures.test.ts
  packages/fit/src/adapters/round-trip/round-trip-workout-matrix.test.ts
  packages/fit/src/adapters/shared/canonical-field-order.test.ts
  packages/fit/src/adapters/shared/canonical-field-order.ts
  packages/fit/src/adapters/shared/profile-fields.ts
  packages/fit/src/adapters/shared/types.ts
  packages/fit/src/adapters/target/target-cadence.converter.test.ts
  packages/fit/src/adapters/target/target-cadence.converter.ts
  packages/fit/src/adapters/target/target-pace.converter.test.ts
  packages/fit/src/adapters/target/target-pace.converter.ts
  packages/fit/src/adapters/target/target-stroke.converter.test.ts
  packages/fit/src/adapters/target/target-stroke.converter.ts
  packages/fit/src/adapters/target/target.converter.test.ts
  packages/fit/src/adapters/target/target.types.ts
  packages/fit/src/types/garmin-fitsdk.d.ts
Due: fit

test(scripts): add verify:prod production checks (#1306)
  eslint.config.js
  package.json
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/scripts/AGENTS.md
  packages/workout-spa-editor/scripts/verify-prod/browser.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/backup-import.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/default-profile.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/empty-states-mobile.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/export.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/fit-import.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/i18n-scan.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/i18n-terms.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/i18n-terms.test.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/manual-first-editor.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/manual-first.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/mobile.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/new-session.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/scheduled-lifecycle-steps.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/scheduled-lifecycle.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/sleep.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/tcx-repeat.mjs
  packages/workout-spa-editor/scripts/verify-prod/checks/trends.mjs
  packages/workout-spa-editor/scripts/verify-prod/editor.mjs
  packages/workout-spa-editor/scripts/verify-prod/lib.mjs
  packages/workout-spa-editor/scripts/verify-prod/lib.test.mjs
  packages/workout-spa-editor/scripts/verify-prod/run.mjs
  packages/workout-spa-editor/scripts/verify-prod/steps.mjs
  packages/workout-spa-editor/scripts/verify-prod/wellness.mjs
Due: none

fix(spa-editor): merge dataTypeSourcePolicy rows by profile and data type
  packages/workout-spa-editor/src/application/sync/merge-record-key.ts
  packages/workout-spa-editor/src/application/sync/merge-snapshots.test.ts
Due: frontend

feat(spa-editor): create a default local profile on a clean browser
  packages/workout-spa-editor/src/adapters/dexie/default-profile-boot.test.ts
  packages/workout-spa-editor/src/adapters/dexie/default-profile-boot.ts
  packages/workout-spa-editor/src/application/profile/claim-auto-profiles.ts
  packages/workout-spa-editor/src/application/profile/ensure-default-profile.test.ts
  packages/workout-spa-editor/src/application/profile/ensure-default-profile.ts
  packages/workout-spa-editor/src/application/profile/helpers/claim-profile.ts
  packages/workout-spa-editor/src/application/profile/helpers/profile-updater.ts
  packages/workout-spa-editor/src/application/profile/helpers/sport-zone-updater.ts
  packages/workout-spa-editor/src/components/molecules/DefaultProfileNotice/DefaultProfileNotice.test.tsx
  packages/workout-spa-editor/src/components/molecules/DefaultProfileNotice/DefaultProfileNotice.tsx
  packages/workout-spa-editor/src/components/molecules/DefaultProfileNotice/use-default-profile-notice.ts
  packages/workout-spa-editor/src/i18n/default-profile-name.ts
  packages/workout-spa-editor/src/i18n/locales/en/athlete.json
  packages/workout-spa-editor/src/i18n/locales/es/athlete.json
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/src/types/profile.ts
Due: frontend

feat(spa-editor): keep the default profile out of Drive until it is claimed
  packages/workout-spa-editor/src/App.tsx
  packages/workout-spa-editor/src/adapters/dexie/default-profile-dexie.test.ts
  packages/workout-spa-editor/src/adapters/dexie/default-profile-sync.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-profile-ops.ts
  packages/workout-spa-editor/src/application/sync/auto-profile-rekey-rules.ts
  packages/workout-spa-editor/src/application/sync/import-reconciled-snapshot.ts
  packages/workout-spa-editor/src/application/sync/reconcile-auto-profile.test.ts
  packages/workout-spa-editor/src/application/sync/reconcile-auto-profile.ts
  packages/workout-spa-editor/src/application/sync/rekey-profile-rows.test.ts
  packages/workout-spa-editor/src/application/sync/rekey-profile-rows.ts
  packages/workout-spa-editor/src/application/sync/rekey-snapshot.ts
  packages/workout-spa-editor/src/application/sync/sync-with-cloud.ts
  packages/workout-spa-editor/src/components/molecules/ProfileChoiceBanner/ProfileChoiceBanner.test.tsx
  packages/workout-spa-editor/src/components/molecules/ProfileChoiceBanner/ProfileChoiceBanner.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SyncTab.tsx
  packages/workout-spa-editor/src/hooks/sync-engine-types.ts
  packages/workout-spa-editor/src/hooks/use-sync-cycle.ts
  packages/workout-spa-editor/src/hooks/use-sync-engine.ts
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
  packages/workout-spa-editor/src/ports/snapshot-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-cloud-sync-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-snapshot-port.ts
Due: frontend

fix(spa-editor): say why scheduling and wellness need a profile
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/use-save-wellness.ts
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchEditorSurface.test.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/ScratchScheduleButton.tsx
  packages/workout-spa-editor/src/components/organisms/ScratchEditorSurface/use-persist-scratch.ts
  packages/workout-spa-editor/src/i18n/locales/en/editor.json
  packages/workout-spa-editor/src/i18n/locales/es/editor.json
Due: frontend

test(spa-editor): cover a clean browser end to end
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/e2e/default-profile.spec.ts
  packages/workout-spa-editor/e2e/profiles.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/App.test.tsx
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
