Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

feat(spa-editor): rebuild calendar card visual language (#411)
  packages/workout-spa-editor/src/components/molecules/CardShell/CardShell.stories.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/CardShell.test.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/CardShell.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/contrast.test.ts
  packages/workout-spa-editor/src/components/molecules/CardShell/shared-visual-contract.test.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/status-tokens.test.ts
  packages/workout-spa-editor/src/components/molecules/CardShell/status-tokens.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.stories.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/matched-session-rows.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/matched-session-text.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WorkoutCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WorkoutCard.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.test.tsx
Due: frontend

test(spa-editor): un-skip masked tests and align guideline docs
  .claude/skills/guidelines/architecture-hexagonal/SKILL.md
  .claude/skills/guidelines/design-principles/SKILL.md
  .claude/skills/guidelines/git-strategy/SKILL.md
  .claude/skills/guidelines/testing-standards/SKILL.md
  .claude/skills/guidelines/xp-tdd-practices/SKILL.md
  openspec/changes/guidelines-compliance-harden/tasks.md
  openspec/specs/hexagonal-arch/spec.md
  package.json
  packages/core/src/tests/fixtures/README.md
  packages/workout-spa-editor/src/components/pages/CalendarPage.test.tsx
  packages/workout-spa-editor/src/utils/json-parser.test.ts
  packages/zwo/src/adapters/xsd-validator.test.ts
  scripts/check-allowlists-empty.mjs
  scripts/check-allowlists-empty.test.mjs
  scripts/check-no-unconditional-skip.mjs
  scripts/check-no-unconditional-skip.test.mjs
Due: core, zwo, frontend

chore: apply lint fixes
  .claude/skills/guidelines/testing-standards/SKILL.md
Due: none

fix(scripts): align CR feedback on PR4 — honest enforcement docs + exit code + minor polish
  .claude/skills/guidelines/testing-standards/SKILL.md
  openspec/specs/hexagonal-arch/spec.md
  packages/core/src/tests/fixtures/README.md
  packages/workout-spa-editor/src/utils/json-parser.test.ts
Due: core, frontend

test(core): cover profile-snapshot circular-ref guard
  packages/core/src/types/profile-snapshot.test.ts
  packages/core/src/types/profile-snapshot.ts
Due: core

test(spa-editor): un-skip masked tests and align guideline docs (#419)
  .claude/skills/guidelines/architecture-hexagonal/SKILL.md
  .claude/skills/guidelines/design-principles/SKILL.md
  .claude/skills/guidelines/git-strategy/SKILL.md
  .claude/skills/guidelines/testing-standards/SKILL.md
  .claude/skills/guidelines/xp-tdd-practices/SKILL.md
  openspec/changes/guidelines-compliance-harden/tasks.md
  openspec/specs/hexagonal-arch/spec.md
  package.json
  packages/core/src/tests/fixtures/README.md
  packages/workout-spa-editor/src/components/pages/CalendarPage.test.tsx
  packages/workout-spa-editor/src/utils/json-parser.test.ts
  packages/zwo/src/adapters/xsd-validator.test.ts
  scripts/check-allowlists-empty.mjs
  scripts/check-allowlists-empty.test.mjs
  scripts/check-no-unconditional-skip.mjs
  scripts/check-no-unconditional-skip.test.mjs
Due: core, zwo, frontend

chore(openspec): archive guidelines-compliance-harden (issue queue zero)
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/.openspec.yaml
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/design.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/proposal.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/specs/hexagonal-arch/spec.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/specs/spa-quality-gates/spec.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/hexagonal-arch/spec.md
  openspec/specs/spa-quality-gates/spec.md
Due: none

chore(openspec): archive guidelines-compliance-harden (issue queue zero) (#420)
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/.openspec.yaml
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/design.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/proposal.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/specs/hexagonal-arch/spec.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/specs/spa-quality-gates/spec.md
  openspec/changes/archive/2026-05-01-guidelines-compliance-harden/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/hexagonal-arch/spec.md
  openspec/specs/spa-quality-gates/spec.md
Due: none

ci(deploy-site): replace JS-dependent smoke probe with mechanical 2-probe contract
  .changeset/fix-deploy-site-smoke-and-trigger.md
  .github/workflows/deploy-site.yml
Due: none

ci(deploy-site): assert HTTP status (200) on smoke probes, not just body
  .github/workflows/deploy-site.yml
Due: none

ci(deploy-site): fix smoke probe + add scripts/inject-spa-fallback.mjs to triggers (#412)
  .changeset/fix-deploy-site-smoke-and-trigger.md
  .github/workflows/deploy-site.yml
Due: none

chore: apply lint fixes
  openspec/changes/spa-route-modal-consistency/design.md
  openspec/changes/spa-route-modal-consistency/proposal.md
  openspec/changes/spa-route-modal-consistency/tasks.md
Due: none

openspec: propose spa-route-modal-consistency
  openspec/changes/spa-route-modal-consistency/design.md
  openspec/changes/spa-route-modal-consistency/proposal.md
  openspec/changes/spa-route-modal-consistency/specs/spa-routing/spec.md
  openspec/changes/spa-route-modal-consistency/tasks.md
Due: none

ci: trigger workflow on rebased branch
  openspec/changes/fix-coaching-dialog-rules-of-hooks/tasks.md
Due: none

openspec: propose spa-route-modal-consistency — kill the Library modal/page split (#421)
  openspec/changes/spa-route-modal-consistency/design.md
  openspec/changes/spa-route-modal-consistency/proposal.md
  openspec/changes/spa-route-modal-consistency/specs/spa-routing/spec.md
  openspec/changes/spa-route-modal-consistency/tasks.md
Due: none

feat(spa-editor): wire matched-session bucket and auto-match banner
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/day-column-cards.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchBanner.test.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchBanner.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchBannerHeader.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchSuggestionRow.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.tsx
  packages/workout-spa-editor/src/hooks/use-auto-match-suggestions.test.tsx
  packages/workout-spa-editor/src/hooks/use-auto-match-suggestions.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions.test.tsx
  packages/workout-spa-editor/src/hooks/use-matched-sessions.ts
Due: frontend

fix(spa-editor): import the renamed converter (was .mapper.ts upstream)
  packages/workout-spa-editor/src/hooks/use-matched-sessions.ts
Due: frontend

ci: trigger via real-content push
  openspec/changes/fix-coaching-dialog-rules-of-hooks/tasks.md
Due: none

feat(spa-editor): wire matched-session bucket and auto-match banner (#415)
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/day-column-cards.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchBanner.test.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchBanner.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchBannerHeader.tsx
  packages/workout-spa-editor/src/components/organisms/AutoMatchBanner/AutoMatchSuggestionRow.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.tsx
  packages/workout-spa-editor/src/hooks/use-auto-match-suggestions.test.tsx
  packages/workout-spa-editor/src/hooks/use-auto-match-suggestions.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions.test.tsx
  packages/workout-spa-editor/src/hooks/use-matched-sessions.ts
Due: frontend

feat(core): ProfileSnapshot DTO + fingerprint + STALE constant (bridge-popup-redesign PR1/7) (#413)
  .changeset/bridge-popup-redesign-core-snapshot-schema.md
  openspec/changes/bridge-popup-redesign/.openspec.yaml
  openspec/changes/bridge-popup-redesign/design.md
  openspec/changes/bridge-popup-redesign/proposal.md
  openspec/changes/bridge-popup-redesign/specs/extension-store-publish/spec.md
  openspec/changes/bridge-popup-redesign/specs/garmin-bridge/spec.md
  openspec/changes/bridge-popup-redesign/specs/spa-bridge-protocol/spec.md
  openspec/changes/bridge-popup-redesign/specs/train2go-bridge/spec.md
  openspec/changes/bridge-popup-redesign/tasks.md
  packages/core/src/index.ts
  packages/core/src/test-utils/index.ts
  packages/core/src/test-utils/profile-snapshot-fixtures.ts
  packages/core/src/types/profile-snapshot.test.ts
  packages/core/src/types/profile-snapshot.ts
Due: core

feat(spa-editor): profile-snapshot push pipeline foundation
  .changeset/bridge-popup-redesign-spa-push-pipeline.md
  packages/workout-spa-editor/src/adapters/bridge/bridge-registry-helpers.ts
  packages/workout-spa-editor/src/adapters/bridge/bridge-types.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-migrations.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v6-migration.test.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/profile-to-snapshot.test.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/profile-to-snapshot.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/snapshot-pusher-types.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/snapshot-pusher.test.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/snapshot-pusher.ts
  scripts/check-no-pii-leakage.mjs
Due: frontend

chore(scripts): close R-NoUnconditionalSkip residuals
  .claude/skills/guidelines/testing-standards/SKILL.md
  openspec/specs/spa-quality-gates/spec.md
  scripts/check-no-unconditional-skip.mjs
  scripts/check-no-unconditional-skip.test.mjs
Due: none

chore(scripts): close R-NoUnconditionalSkip residuals (#422)
  .claude/skills/guidelines/testing-standards/SKILL.md
  openspec/specs/spa-quality-gates/spec.md
  scripts/check-no-unconditional-skip.mjs
  scripts/check-no-unconditional-skip.test.mjs
Due: none

feat(spa-editor): profile-snapshot push pipeline foundation (#424)
  .changeset/bridge-popup-redesign-spa-push-pipeline.md
  packages/workout-spa-editor/src/adapters/bridge/bridge-registry-helpers.ts
  packages/workout-spa-editor/src/adapters/bridge/bridge-types.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-database.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-migrations.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v6-migration.test.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/profile-to-snapshot.test.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/profile-to-snapshot.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/snapshot-pusher-types.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/snapshot-pusher.test.ts
  packages/workout-spa-editor/src/lib/profile-snapshot/snapshot-pusher.ts
  scripts/check-no-pii-leakage.mjs
Due: frontend

refactor(fit): rename krd-to-fit-target.mapper to converter + add tests
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step.mapper.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target.converter.ts
Due: fit

refactor(fit): rename krd-to-fit-target.mapper to converter + add tests (#423)
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-step.mapper.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target.converter.ts
Due: fit

feat(spa-editor): density toggle, week label, and ESLint layer guards
  eslint.config.js
  packages/workout-spa-editor/src/components/molecules/DensityToggle/DensityToggle.test.tsx
  packages/workout-spa-editor/src/components/molecules/DensityToggle/DensityToggle.tsx
  packages/workout-spa-editor/src/components/pages/CalendarHeader.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/hooks/use-set-calendar-density.ts
  packages/workout-spa-editor/src/utils/format-week-label.test.ts
  packages/workout-spa-editor/src/utils/format-week-label.ts
Due: frontend

fix(spa-editor): handle async onToggle rejection in DensityToggle
  packages/workout-spa-editor/src/components/molecules/DensityToggle/DensityToggle.tsx
Due: frontend

fix(spa-editor): update calendar-navigation e2e to match the new week label
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
Due: none

feat(spa-editor): density toggle + week label + ESLint layer guards (#416)
  eslint.config.js
  packages/workout-spa-editor/e2e/calendar-navigation.spec.ts
  packages/workout-spa-editor/src/components/molecules/DensityToggle/DensityToggle.test.tsx
  packages/workout-spa-editor/src/components/molecules/DensityToggle/DensityToggle.tsx
  packages/workout-spa-editor/src/components/pages/CalendarHeader.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/hooks/use-set-calendar-density.ts
  packages/workout-spa-editor/src/utils/format-week-label.test.ts
  packages/workout-spa-editor/src/utils/format-week-label.ts
Due: frontend

openspec: archive calendar-coaching-redesign
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/.openspec.yaml
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/design.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/proposal.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/tasks.md
  openspec/changes/archive/README.md
Due: none

chore(ci): lower codecov patch threshold for bridge packages to 70%
  codecov.yml
Due: none

chore(ci): codecov patch — exclude bridges from default, dedicated 70% check
  codecov.yml
Due: none

feat(garmin-bridge): profile-snapshot action handlers + privacy guard
  .changeset/bridge-popup-redesign-bridge-action-handlers.md
  .prettierignore
  openspec/changes/bridge-popup-redesign/tasks.md
  packages/garmin-bridge/background.js
  packages/garmin-bridge/package.json
  packages/garmin-bridge/profile-snapshot.js
  packages/garmin-bridge/test/chrome-mock.js
  packages/garmin-bridge/test/profile-snapshot.test.js
  packages/train2go-bridge/background.js
  packages/train2go-bridge/manifest.json
  packages/train2go-bridge/manifest.prod.json
  packages/train2go-bridge/package.json
  packages/train2go-bridge/profile-snapshot.js
  packages/train2go-bridge/test/chrome-mock.js
  packages/train2go-bridge/test/profile-snapshot.test.js
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
  scripts/check-bridge-privacy-surface.mjs
  scripts/check-bridge-privacy-surface.test.mjs
  scripts/fixtures/bridge-privacy-surface.json
Due: none

test(garmin-bridge): broaden snapshot-handler coverage; ci: lower bridge coverage threshold to 70
  .github/workflows/ci.yml
  packages/garmin-bridge/test/profile-snapshot.test.js
Due: none

openspec: archive calendar-coaching-redesign (#429)
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/.openspec.yaml
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/design.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/proposal.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/tasks.md
  openspec/changes/archive/README.md
Due: none

chore(ci): bridges patch coverage informational only
  codecov.yml
Due: none

fix(openspec): backfill Completed marker on archived calendar-coaching-redesign
  openspec/changes/archive/2026-05-01-calendar-coaching-redesign/proposal.md
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
