Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

fix(scripts): harden the popup.css archive check per review
  scripts/package-extension.sh
  scripts/package-extension.test.mjs
Due: none

fix(scripts): package extension CSS into the store zip (#1031)
  scripts/package-extension.sh
  scripts/package-extension.test.mjs
Due: none

test: fold same-behaviour whoop/tanita/spa cases into it.each, drop redundant tanita tests (#1002)
  packages/tanita/src/adapters/converters/tanita-csv-to-krd.converter.test.ts
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.test.ts
  packages/whoop/src/adapters/converters/stress-bff-to-episode.converter.test.ts
  packages/whoop/src/adapters/converters/workout-to-activity.converter.test.ts
  packages/whoop/src/adapters/schemas/whoop-sports.schema.test.ts
  packages/whoop/src/adapters/schemas/whoop-stress.schema.test.ts
  packages/workout-spa-editor/src/application/import/map-whoop-activity.test.ts
Due: frontend

fix(spa-editor): address CodeRabbit review on nightly minimality sweep
  packages/ai/src/adapters/validate-input.test.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
Due: frontend

fix(spa-editor): dispatch AltGr-produced characters as plain keys
  openspec/changes/add-shortcut-catalog-and-sheet/design.md
  openspec/changes/add-shortcut-catalog-and-sheet/specs/spa-shortcut-catalog/spec.md
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/modifier-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-shortcuts.test.ts
  packages/workout-spa-editor/src/utils/is-alt-graph-event.ts
Due: frontend

test: nightly minimality sweep (20260724-0315) (#1022)
  packages/ai/src/adapters/validate-input.test.ts
  packages/core/src/domain/managed-data-type.test.ts
  packages/trainingpeaks/src/adapters/converters/trainingpeaks-metrics-to-krd.converter.test.ts
  packages/whoop/src/adapters/schemas/whoop-biomarkers.schema.test.ts
  packages/workout-spa-editor/src/application/whoop/import-whoop-labs.use-case.test.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/map-extraction-to-draft.test.ts
  packages/workout-spa-editor/src/hooks/use-tanita-garmin-sync.test.tsx
  packages/workout-spa-editor/src/i18n/error-copy.test.ts
  packages/workout-spa-editor/src/integrations/integration-registry.test.ts
Due: core, frontend

feat(spa-editor): shortcut catalog and keyboard-shortcuts sheet (Wave K1) (#1035)
  openspec/changes/add-shortcut-catalog-and-sheet/.openspec.yaml
  openspec/changes/add-shortcut-catalog-and-sheet/design.md
  openspec/changes/add-shortcut-catalog-and-sheet/proposal.md
  openspec/changes/add-shortcut-catalog-and-sheet/specs/spa-shortcut-catalog/spec.md
  openspec/changes/add-shortcut-catalog-and-sheet/tasks.md
  packages/workout-spa-editor/e2e/onboarding.spec.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/atoms/KeyChips/KeyChips.tsx
  packages/workout-spa-editor/src/components/atoms/KeyChips/index.ts
  packages/workout-spa-editor/src/components/organisms/ShortcutSheet/ShortcutSheet.test.tsx
  packages/workout-spa-editor/src/components/organisms/ShortcutSheet/ShortcutSheet.tsx
  packages/workout-spa-editor/src/components/organisms/ShortcutSheet/ShortcutSheetGroup.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/AGENTS.md
  packages/workout-spa-editor/src/components/pages/HelpSection/HelpSection.test.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/components/ShortcutRow.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/KeyboardShortcutsSection.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/EditOperationsShortcuts.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/FileOperationsShortcuts.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/SelectionShortcuts.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/ShortcutGroupSection.tsx
  packages/workout-spa-editor/src/components/pages/HelpSection/sections/shortcuts/StepManagementShortcuts.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/constants/shortcut-catalog.test.ts
  packages/workout-spa-editor/src/constants/shortcut-catalog.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-edit.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-global.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-steps.ts
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/modifier-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-shortcuts.test.ts
  packages/workout-spa-editor/src/i18n/locales/en/help.json
  packages/workout-spa-editor/src/i18n/locales/es/help.json
  packages/workout-spa-editor/src/utils/is-alt-graph-event.ts
  packages/workout-spa-editor/src/utils/is-form-element.ts
  packages/workout-spa-editor/src/utils/platform.test.ts
  packages/workout-spa-editor/src/utils/platform.ts
Due: frontend

fix(fit): skip non-object entries in groupMessagesByNumber
  packages/fit/src/adapters/shared/message-grouping.ts
Due: fit

chore(openspec): archive the four UX-redesign wave changes
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/.openspec.yaml
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/design.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/proposal.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/specs/spa-bridge-connection-model/spec.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/specs/spa-bridge-protocol/spec.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/tasks.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/.openspec.yaml
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/design.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/proposal.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/specs/spa-shortcut-catalog/spec.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/tasks.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/.openspec.yaml
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/design.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/proposal.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/specs/spa-integration-adapters/spec.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/specs/spa-tanita-extension/spec.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/specs/spa-trainingpeaks-extension/spec.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/tasks.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/.openspec.yaml
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/design.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/proposal.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/specs/bridge-core/spec.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/tasks.md
  openspec/changes/archive/README.md
Due: none

refactor(fit): reduce to minimal code (#1023)
  .changeset/fit-code-reduction.md
  packages/fit/src/adapters/health/body-composition/body-composition-message-grouping.ts
  packages/fit/src/adapters/health/body-composition/krd-health-body-composition-to-fit.converter.ts
  packages/fit/src/adapters/health/body-composition/krd-to-weight-scale-fit.converter.ts
  packages/fit/src/adapters/health/daily/daily-message-grouping.ts
  packages/fit/src/adapters/health/daily/krd-health-daily-to-fit.converter.ts
  packages/fit/src/adapters/health/hrv/hrv-message-grouping.ts
  packages/fit/src/adapters/health/hrv/krd-health-hrv-to-fit.converter.ts
  packages/fit/src/adapters/health/shared/health-file-id.builder.ts
  packages/fit/src/adapters/health/sleep/krd-health-sleep-to-fit.converter.ts
  packages/fit/src/adapters/health/sleep/sleep-message-grouping.ts
  packages/fit/src/adapters/health/stress/krd-health-stress-to-fit.converter.ts
  packages/fit/src/adapters/health/stress/stress-message-grouping.ts
  packages/fit/src/adapters/health/weight/krd-health-weight-to-fit.converter.ts
  packages/fit/src/adapters/health/weight/weight-message-grouping.ts
  packages/fit/src/adapters/messages/workout-message-grouping.ts
  packages/fit/src/adapters/shared/message-grouping.ts
Due: fit

chore(openspec): archive the four UX-redesign wave changes (#1039)
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/.openspec.yaml
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/design.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/proposal.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/specs/spa-bridge-connection-model/spec.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/specs/spa-bridge-protocol/spec.md
  openspec/changes/archive/2026-07-26-add-bridge-connection-model/tasks.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/.openspec.yaml
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/design.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/proposal.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/specs/spa-shortcut-catalog/spec.md
  openspec/changes/archive/2026-07-26-add-shortcut-catalog-and-sheet/tasks.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/.openspec.yaml
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/design.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/proposal.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/specs/spa-integration-adapters/spec.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/specs/spa-tanita-extension/spec.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/specs/spa-trainingpeaks-extension/spec.md
  openspec/changes/archive/2026-07-26-promote-trainingpeaks-and-tanita-import/tasks.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/.openspec.yaml
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/design.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/proposal.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/specs/bridge-core/spec.md
  openspec/changes/archive/2026-07-26-unify-bridge-popup-shell/tasks.md
  openspec/changes/archive/README.md
Due: none

chore(seo): weekly SEO/GEO observatory snapshot (#1040)
  reports/seo/DASHBOARD.md
  reports/seo/snapshots/ai-visibility-perplexity-2026-07-27.json
  reports/seo/snapshots/serp-2026-07-27.json
  reports/seo/timeseries/ai-visibility.jsonl
  reports/seo/timeseries/serp.jsonl
Due: none

feat(spa-editor): live getting-set-up checklist on Daily
  openspec/changes/add-setup-checklist/.openspec.yaml
  openspec/changes/add-setup-checklist/design.md
  openspec/changes/add-setup-checklist/proposal.md
  openspec/changes/add-setup-checklist/specs/spa-setup-checklist/spec.md
  openspec/changes/add-setup-checklist/tasks.md
  packages/workout-spa-editor/src/application/set-user-preference-fields.ts
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklist.test.tsx
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklist.tsx
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklistProgress.tsx
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklistRow.tsx
  packages/workout-spa-editor/src/components/pages/Daily/Daily.tsx
  packages/workout-spa-editor/src/hooks/use-setup-checklist-facts.ts
  packages/workout-spa-editor/src/hooks/use-setup-checklist.test.tsx
  packages/workout-spa-editor/src/hooks/use-setup-checklist.ts
  packages/workout-spa-editor/src/i18n/locales/en/setup.json
  packages/workout-spa-editor/src/i18n/locales/es/setup.json
  packages/workout-spa-editor/src/lib/setup-checklist.ts
  packages/workout-spa-editor/src/types/user-preferences.ts
Due: frontend

feat(spa-editor): live values on Settings rows, honest privacy copy
  openspec/changes/add-settings-row-values/.openspec.yaml
  openspec/changes/add-settings-row-values/design.md
  openspec/changes/add-settings-row-values/proposal.md
  openspec/changes/add-settings-row-values/specs/spa-settings-shell/spec.md
  openspec/changes/add-settings-row-values/tasks.md
  packages/workout-spa-editor/src/components/atoms/Icon/icon-map.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/UsageTab.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsGroupList.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRow.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRow.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRowBody.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-group-types.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-preference-values.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-preference-values.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-settings-row-values.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-sync-value.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-sync-value.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-usage-value.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-usage-value.ts
  packages/workout-spa-editor/src/hooks/use-usage-summary.test.ts
  packages/workout-spa-editor/src/hooks/use-usage-summary.ts
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
Due: frontend

docs(openspec): correct the module count in the checklist design note
  openspec/changes/add-setup-checklist/design.md
Due: none

feat(spa-editor): command palette, and one exact guard per editor command
  openspec/changes/add-command-palette/.openspec.yaml
  openspec/changes/add-command-palette/design.md
  openspec/changes/add-command-palette/proposal.md
  openspec/changes/add-command-palette/specs/spa-command-palette/spec.md
  openspec/changes/add-command-palette/tasks.md
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPalette.test.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPalette.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteBody.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteFooter.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteInput.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteList.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteRow.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/command-palette-filter.test.ts
  packages/workout-spa-editor/src/components/organisms/CommandPalette/command-palette-filter.ts
  packages/workout-spa-editor/src/components/organisms/CommandPalette/palette-styles.ts
  packages/workout-spa-editor/src/components/organisms/CommandPalette/use-command-palette-nav.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenu.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-props-from-commands.test.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-props-from-commands.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/use-header-overlays.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-global.ts
  packages/workout-spa-editor/src/hooks/build-do-commands.test.ts
  packages/workout-spa-editor/src/hooks/build-do-commands.ts
  packages/workout-spa-editor/src/hooks/build-learn-commands.ts
  packages/workout-spa-editor/src/hooks/editor-command-guards.test.ts
  packages/workout-spa-editor/src/hooks/editor-command-guards.ts
  packages/workout-spa-editor/src/hooks/editor-command.types.ts
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/modifier-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/use-editor-commands.test.ts
  packages/workout-spa-editor/src/hooks/use-editor-commands.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.test.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-shortcuts.test.ts
  packages/workout-spa-editor/src/i18n/locales/en/help.json
  packages/workout-spa-editor/src/i18n/locales/en/palette.json
  packages/workout-spa-editor/src/i18n/locales/es/help.json
  packages/workout-spa-editor/src/i18n/locales/es/palette.json
Due: frontend

feat(spa-editor): live values on Settings rows, honest privacy copy (#1053)
  openspec/changes/add-settings-row-values/.openspec.yaml
  openspec/changes/add-settings-row-values/design.md
  openspec/changes/add-settings-row-values/proposal.md
  openspec/changes/add-settings-row-values/specs/spa-settings-shell/spec.md
  openspec/changes/add-settings-row-values/tasks.md
  packages/workout-spa-editor/src/components/atoms/Icon/icon-map.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/UsageTab.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsGroupList.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRow.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRow.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRowBody.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-group-types.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-preference-values.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-preference-values.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-settings-row-values.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-sync-value.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-sync-value.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-usage-value.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/use-usage-value.ts
  packages/workout-spa-editor/src/hooks/use-usage-summary.test.ts
  packages/workout-spa-editor/src/hooks/use-usage-summary.ts
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
Due: frontend

feat(spa-editor): live getting-set-up checklist on Daily (Wave K3) (#1052)
  openspec/changes/add-setup-checklist/.openspec.yaml
  openspec/changes/add-setup-checklist/design.md
  openspec/changes/add-setup-checklist/proposal.md
  openspec/changes/add-setup-checklist/specs/spa-setup-checklist/spec.md
  openspec/changes/add-setup-checklist/tasks.md
  packages/workout-spa-editor/src/application/set-user-preference-fields.ts
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklist.test.tsx
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklist.tsx
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklistProgress.tsx
  packages/workout-spa-editor/src/components/molecules/SetupChecklist/SetupChecklistRow.tsx
  packages/workout-spa-editor/src/components/pages/Daily/Daily.tsx
  packages/workout-spa-editor/src/hooks/use-setup-checklist-facts.ts
  packages/workout-spa-editor/src/hooks/use-setup-checklist.test.tsx
  packages/workout-spa-editor/src/hooks/use-setup-checklist.ts
  packages/workout-spa-editor/src/i18n/locales/en/setup.json
  packages/workout-spa-editor/src/i18n/locales/es/setup.json
  packages/workout-spa-editor/src/lib/setup-checklist.ts
  packages/workout-spa-editor/src/types/user-preferences.ts
Due: frontend

test(e2e): scope the modal confirm locator to the dialog
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
Due: none

feat(spa-editor): command palette, and one exact guard per editor command (Wave K2) (#1054)
  openspec/changes/add-command-palette/.openspec.yaml
  openspec/changes/add-command-palette/design.md
  openspec/changes/add-command-palette/proposal.md
  openspec/changes/add-command-palette/specs/spa-command-palette/spec.md
  openspec/changes/add-command-palette/tasks.md
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPalette.test.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPalette.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteBody.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteFooter.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteInput.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteList.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/CommandPaletteRow.tsx
  packages/workout-spa-editor/src/components/organisms/CommandPalette/command-palette-filter.test.ts
  packages/workout-spa-editor/src/components/organisms/CommandPalette/command-palette-filter.ts
  packages/workout-spa-editor/src/components/organisms/CommandPalette/palette-styles.ts
  packages/workout-spa-editor/src/components/organisms/CommandPalette/use-command-palette-nav.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenu.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-props-from-commands.test.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-props-from-commands.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/use-header-overlays.ts
  packages/workout-spa-editor/src/constants/shortcut-rows-global.ts
  packages/workout-spa-editor/src/hooks/build-do-commands.test.ts
  packages/workout-spa-editor/src/hooks/build-do-commands.ts
  packages/workout-spa-editor/src/hooks/build-learn-commands.ts
  packages/workout-spa-editor/src/hooks/editor-command-guards.test.ts
  packages/workout-spa-editor/src/hooks/editor-command-guards.ts
  packages/workout-spa-editor/src/hooks/editor-command.types.ts
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/modifier-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/use-editor-commands.test.ts
  packages/workout-spa-editor/src/hooks/use-editor-commands.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.test.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-shortcuts.test.ts
  packages/workout-spa-editor/src/i18n/locales/en/help.json
  packages/workout-spa-editor/src/i18n/locales/en/palette.json
  packages/workout-spa-editor/src/i18n/locales/es/help.json
  packages/workout-spa-editor/src/i18n/locales/es/palette.json
Due: frontend

chore(openspec): archive the K2, K3 and S1 wave changes
  openspec/changes/archive/2026-07-28-add-command-palette/.openspec.yaml
  openspec/changes/archive/2026-07-28-add-command-palette/design.md
  openspec/changes/archive/2026-07-28-add-command-palette/proposal.md
  openspec/changes/archive/2026-07-28-add-command-palette/specs/spa-command-palette/spec.md
  openspec/changes/archive/2026-07-28-add-command-palette/tasks.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/.openspec.yaml
  openspec/changes/archive/2026-07-28-add-settings-row-values/design.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/proposal.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/specs/spa-settings-shell/spec.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/tasks.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/.openspec.yaml
  openspec/changes/archive/2026-07-28-add-setup-checklist/design.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/proposal.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/specs/spa-setup-checklist/spec.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/tasks.md
  openspec/changes/archive/README.md
Due: none

chore(openspec): archive the K2, K3 and S1 wave changes (#1055)
  openspec/changes/archive/2026-07-28-add-command-palette/.openspec.yaml
  openspec/changes/archive/2026-07-28-add-command-palette/design.md
  openspec/changes/archive/2026-07-28-add-command-palette/proposal.md
  openspec/changes/archive/2026-07-28-add-command-palette/specs/spa-command-palette/spec.md
  openspec/changes/archive/2026-07-28-add-command-palette/tasks.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/.openspec.yaml
  openspec/changes/archive/2026-07-28-add-settings-row-values/design.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/proposal.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/specs/spa-settings-shell/spec.md
  openspec/changes/archive/2026-07-28-add-settings-row-values/tasks.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/.openspec.yaml
  openspec/changes/archive/2026-07-28-add-setup-checklist/design.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/proposal.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/specs/spa-setup-checklist/spec.md
  openspec/changes/archive/2026-07-28-add-setup-checklist/tasks.md
  openspec/changes/archive/README.md
Due: none

docs: trim historical narrative from tombstone comments
  openspec/changes/fix-tombstone-wiring/tasks.md
  packages/workout-spa-editor/src/adapters/create-app-persistence.test.ts
  packages/workout-spa-editor/src/adapters/tombstone-coverage.test.ts
  packages/workout-spa-editor/src/ports/health-record-repository.ts
Due: frontend

chore(openspec): archive the tombstone wiring fix
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/.openspec.yaml
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/design.md
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/proposal.md
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/tasks.md
  openspec/changes/archive/README.md
Due: none

chore(openspec): archive the tombstone wiring fix (#1060)
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/.openspec.yaml
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/design.md
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/proposal.md
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-07-28-fix-tombstone-wiring/tasks.md
  openspec/changes/archive/README.md
Due: none

fix(ai): regenerate model catalog for ai 7.0.34 -> 7.0.41 bump
  packages/ai/src/providers/generated/model-catalog.ts
Due: none

fix(spa-editor): stop block-actions menu clicks from also selecting the block
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/repetition-block-card.helpers.ts
Due: frontend

fix(spa-editor): stop block-actions menu clicks from also selecting the block (#1066)
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/RepetitionBlockCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/repetition-block-card.helpers.ts
Due: frontend

fix(spa-editor): tolerate minor pixel diffs in visual regression screenshots
  packages/workout-spa-editor/playwright.config.ts
Due: none

fix(spa-editor): tolerate minor pixel diffs in visual regression screenshots (#1067)
  packages/workout-spa-editor/playwright.config.ts
Due: none

docs(whoop-bridge): add README, TESTING, store-listing, and privacy docs
  packages/whoop-bridge/README.md
  packages/whoop-bridge/TESTING.md
  packages/whoop-bridge/privacy-justification.md
  packages/whoop-bridge/store-listing.md
Due: none

docs(trainingpeaks-bridge): add CHANGELOG and fix false auto-publish claim
  packages/trainingpeaks-bridge/CHANGELOG.md
  packages/trainingpeaks-bridge/store-listing.md
Due: none

docs(tanita-bridge): add CHANGELOG and fix false auto-publish claim
  packages/tanita-bridge/CHANGELOG.md
  packages/tanita-bridge/store-listing.md
Due: none

docs(openspec): fill in whoop spec purposes and correct cws-auto-publish
  openspec/specs/README.md
  openspec/specs/cws-auto-publish/spec.md
  openspec/specs/privacy-policy/spec.md
  openspec/specs/spa-whoop-extension/spec.md
  openspec/specs/whoop-bridge/spec.md
  openspec/specs/whoop-health-adapter/spec.md
Due: none

docs(docs-site): disclose whoop-bridge in the privacy policy and enforce it
  openspec/specs/cws-auto-publish/spec.md
  packages/docs/legal/privacy-policy.md
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
Due: none
