Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

chore(landing): regenerate og-image for platform repositioning
  .changeset/landing-og-image.md
  packages/landing/public/og-image.png
Due: none

chore(landing): regenerate og-image for platform repositioning (#868)
  .changeset/landing-og-image.md
  packages/landing/public/og-image.png
Due: none

chore: refresh docs and editor OG images to match platform brand
  .changeset/og-images-docs-editor.md
  packages/docs/public/og-image-docs.png
  packages/workout-spa-editor/index.html
  packages/workout-spa-editor/public/og-image-editor.png
  packages/workout-spa-editor/scripts/generate-og-image.mjs
Due: none

chore: exit non-zero when OG image generation fails
  packages/docs/scripts/generate-og-image.mjs
  packages/workout-spa-editor/scripts/generate-og-image.mjs
Due: none

chore: refresh docs and editor OG images to match platform brand (#869)
  .changeset/og-images-docs-editor.md
  packages/docs/public/og-image-docs.png
  packages/workout-spa-editor/index.html
  packages/workout-spa-editor/public/og-image-editor.png
  packages/workout-spa-editor/scripts/generate-og-image.mjs
Due: none

feat(core): add stable machine code to ValidationError
  .changeset/i18n-validation-error-codes.md
  packages/core/src/domain/schemas/target-values/cadence.ts
  packages/core/src/domain/schemas/target-values/heart-rate.ts
  packages/core/src/domain/schemas/target-values/pace.ts
  packages/core/src/domain/schemas/target-values/power.ts
  packages/core/src/domain/schemas/target-values/range-refinement.ts
  packages/core/src/domain/schemas/workout-step.ts
  packages/core/src/domain/types/error-types.ts
  packages/core/src/domain/validation/map-zod-errors.test.ts
  packages/core/src/domain/validation/map-zod-errors.ts
Due: core

docs(openspec): add i18n foundation change proposal
  openspec/changes/add-i18n-foundation/.openspec.yaml
  openspec/changes/add-i18n-foundation/design.md
  openspec/changes/add-i18n-foundation/proposal.md
  openspec/changes/add-i18n-foundation/specs/failure-semantics/spec.md
  openspec/changes/add-i18n-foundation/specs/hexagonal-arch/spec.md
  openspec/changes/add-i18n-foundation/specs/i18n/spec.md
  openspec/changes/add-i18n-foundation/specs/spa-user-preferences/spec.md
  openspec/changes/add-i18n-foundation/tasks.md
Due: none

feat(i18n): add framework-agnostic i18n package
  .claude/skills/guidelines/git-strategy/SKILL.md
  commitlint.vocab.mjs
  packages/i18n/package.json
  packages/i18n/src/create-translator.test.ts
  packages/i18n/src/create-translator.ts
  packages/i18n/src/index.ts
  packages/i18n/src/resource-parity.test.ts
  packages/i18n/src/resource-parity.ts
  packages/i18n/src/types.test.ts
  packages/i18n/src/types.ts
  packages/i18n/tsconfig.json
  packages/i18n/tsup.config.ts
  packages/i18n/vitest.config.ts
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
Due: none

feat(scripts): accept static-key t() calls in the PII guard
  scripts/check-no-pii-leakage.mjs
  scripts/check-no-pii-leakage.test.mjs
Due: none

feat(spa-editor): wire runtime locale switching across the app
  packages/workout-spa-editor/src/components/molecules/AddEntryChooser/AddEntryChooser.tsx
  packages/workout-spa-editor/src/components/molecules/TemplatePickerDialog/format-date-label.test.ts
  packages/workout-spa-editor/src/components/molecules/TemplatePickerDialog/format-date-label.ts
  packages/workout-spa-editor/src/components/molecules/WellnessEntryDialog/WellnessEntryDialog.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/LanguageRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PreferencesTab.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PreferencesTab.tsx
  packages/workout-spa-editor/src/components/pages/DateBanner.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterIdentityField.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabParameterListItem.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/LabReportValueRow.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChart.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/charts/LabParameterChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-label.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/TrendSingleChartCard.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.test.ts
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.ts
  packages/workout-spa-editor/src/i18n/LocaleProvider.test.tsx
  packages/workout-spa-editor/src/i18n/LocaleProvider.tsx
  packages/workout-spa-editor/src/main.tsx
Due: frontend

docs(openspec): refresh i18n status header for validation localization
  openspec/changes/add-i18n-foundation/tasks.md
Due: none

docs(openspec): record validation-error localization (6.2/6.4)
  openspec/changes/add-i18n-foundation/tasks.md
Due: none

feat(spa-editor): locale preference and labs i18n dictionaries
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/application/resolve-locale.test.ts
  packages/workout-spa-editor/src/application/resolve-locale.ts
  packages/workout-spa-editor/src/application/set-user-preference-fields.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-abbreviations.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-display.test.ts
  packages/workout-spa-editor/src/components/pages/health/labs/lab-parameter-display.ts
  packages/workout-spa-editor/src/i18n/i18n.ts
  packages/workout-spa-editor/src/i18n/locales/en/common.json
  packages/workout-spa-editor/src/i18n/locales/en/labs.json
  packages/workout-spa-editor/src/i18n/locales/es/common.json
  packages/workout-spa-editor/src/i18n/locales/es/labs.json
  packages/workout-spa-editor/src/i18n/resource-parity.test.ts
  packages/workout-spa-editor/src/i18n/resources.ts
  packages/workout-spa-editor/src/types/user-preferences.ts
Due: frontend

docs(openspec): mark i18n runtime wiring tasks complete
  openspec/changes/add-i18n-foundation/tasks.md
Due: none

feat(spa-editor): localize KRD validation errors by stable code
  packages/workout-spa-editor/src/components/atoms/ErrorMessage/ValidationErrorList.test.tsx
  packages/workout-spa-editor/src/components/atoms/ErrorMessage/ValidationErrorList.tsx
  packages/workout-spa-editor/src/components/molecules/FileUpload/file-parser-error-builders.ts
  packages/workout-spa-editor/src/i18n/error-copy.test.ts
  packages/workout-spa-editor/src/i18n/error-copy.ts
  packages/workout-spa-editor/src/i18n/locales/en/errors.json
  packages/workout-spa-editor/src/i18n/locales/es/errors.json
  packages/workout-spa-editor/src/i18n/resources.ts
Due: frontend

feat(ai): tag input-validation errors with a stable reason and details
  .changeset/i18n-ai-input-error-reasons.md
  packages/ai/src/adapters/validate-input.test.ts
  packages/ai/src/adapters/validate-input.ts
  packages/ai/src/errors.ts
Due: none

feat(spa-editor): localize AI input-validation errors by reason
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/run-ai-generation.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.ts
  packages/workout-spa-editor/src/i18n/error-copy.test.ts
  packages/workout-spa-editor/src/i18n/error-copy.ts
  packages/workout-spa-editor/src/i18n/locales/en/errors.json
  packages/workout-spa-editor/src/i18n/locales/es/errors.json
Due: frontend

test(spa-editor): extend LabDashboardSection multi-card wait timeout
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.test.tsx
Due: frontend

docs(openspec): mark AI input-validation error localization (6.3) done
  openspec/changes/add-i18n-foundation/tasks.md
Due: none

test(spa-editor): raise LabDashboardSection timeout to absorb CI jitter
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.test.tsx
Due: frontend

fix(spa-editor): use concrete dictionary access for AI fallback copy
  packages/workout-spa-editor/src/i18n/error-copy.ts
Due: frontend

chore(ci): run @kaiord/i18n in the CI test and build matrices
  .github/workflows/ci.yml
Due: none

test(e2e): pin Playwright locale to en-US
  packages/workout-spa-editor/playwright.config.ts
Due: none

docs(openspec): scope converter-error localization to the fallback contract
  openspec/changes/add-i18n-foundation/specs/i18n/spec.md
  openspec/changes/add-i18n-foundation/tasks.md
Due: none

test(spa-editor): cover buildChatAgent browser-flag and assembly
  packages/workout-spa-editor/src/hooks/chat/build-chat-agent.test.ts
Due: frontend

perf(spa-editor): module-cache the trend number formatters
  packages/workout-spa-editor/src/components/pages/health/trends/format-pane-value.ts
Due: frontend

refactor(ai): guard createLanguageModel against unknown provider type
  packages/ai/src/providers/create-language-model.test.ts
  packages/ai/src/providers/create-language-model.ts
Due: none

test(spa-editor): stabilize LabDashboardSection multi-card pin test
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.test.tsx
Due: frontend

test(spa-editor): stabilize flaky LabDashboardSection multi-card test (#874)
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/LabDashboardSection.test.tsx
Due: frontend

fix(spa-editor): surface Language in the settings index
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/i18n/locale-switch.integration.test.tsx
Due: frontend

fix(spa-editor): surface Language in the settings index (#875)
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/i18n/locale-switch.integration.test.tsx
Due: frontend

feat(spa-editor): localize the app navigation (nav namespace)
  packages/workout-spa-editor/src/components/molecules/BottomNav/BottomNavTab.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/bottom-nav-tabs.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-button.tsx
  packages/workout-spa-editor/src/i18n/locales/en/nav.json
  packages/workout-spa-editor/src/i18n/locales/es/nav.json
  packages/workout-spa-editor/src/i18n/resources.ts
  packages/workout-spa-editor/src/i18n/use-translate.test.tsx
  packages/workout-spa-editor/src/i18n/use-translate.ts
Due: frontend

feat(spa-editor): localize the app navigation (nav namespace) (#876)
  packages/workout-spa-editor/src/components/molecules/BottomNav/BottomNavTab.tsx
  packages/workout-spa-editor/src/components/molecules/BottomNav/bottom-nav-tabs.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-button.tsx
  packages/workout-spa-editor/src/i18n/locales/en/nav.json
  packages/workout-spa-editor/src/i18n/locales/es/nav.json
  packages/workout-spa-editor/src/i18n/resources.ts
  packages/workout-spa-editor/src/i18n/use-translate.test.tsx
  packages/workout-spa-editor/src/i18n/use-translate.ts
Due: frontend

feat(spa-editor): localize the settings surface (settings namespace)
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/e2e/data-hub.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsGroupList.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRow.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-tab-views.tsx
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
  packages/workout-spa-editor/src/i18n/resources.ts
Due: frontend

feat(spa-editor): localize the settings surface (settings namespace) (#877)
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/e2e/data-hub.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsGroupList.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.test.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsPage.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/SettingsRow.tsx
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-groups.ts
  packages/workout-spa-editor/src/components/pages/SettingsPage/settings-tab-views.tsx
  packages/workout-spa-editor/src/i18n/locales/en/settings.json
  packages/workout-spa-editor/src/i18n/locales/es/settings.json
  packages/workout-spa-editor/src/i18n/resources.ts
Due: frontend

feat(spa-editor): localize the Daily page (daily namespace)
  packages/workout-spa-editor/src/components/pages/Daily/DailyHeader.tsx
  packages/workout-spa-editor/src/components/pages/Daily/EnergyBalanceCard.tsx
  packages/workout-spa-editor/src/components/pages/Daily/EnergyBalanceGated.tsx
  packages/workout-spa-editor/src/components/pages/Daily/EnergyBalanceStats.tsx
  packages/workout-spa-editor/src/components/pages/Daily/PlannedEmpty.tsx
  packages/workout-spa-editor/src/components/pages/Daily/PlannedSession.tsx
  packages/workout-spa-editor/src/components/pages/Daily/ReadinessCard.tsx
  packages/workout-spa-editor/src/components/pages/Daily/TrendsCard.tsx
  packages/workout-spa-editor/src/components/pages/Daily/WeekStrip.tsx
  packages/workout-spa-editor/src/components/pages/Daily/today-readiness.ts
  packages/workout-spa-editor/src/components/pages/Daily/use-today-data.ts
  packages/workout-spa-editor/src/components/pages/Daily/use-today-readiness.ts
  packages/workout-spa-editor/src/i18n/locales/en/daily.json
  packages/workout-spa-editor/src/i18n/locales/es/daily.json
  packages/workout-spa-editor/src/i18n/resources.ts
  packages/workout-spa-editor/src/i18n/use-translate.ts
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
