Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

refactor(landing): dedupe analytics click-tracking into a helper (#922)
  packages/landing/src/setup-analytics.ts
Due: none

fix(spa-editor): do not burn the auto-sync week key on an empty-sources run
  .changeset/coaching-autosync-source-race.md
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync.ts
Due: frontend

test(whoop-bridge): cover announce, identity, and handleAction branches
  packages/whoop-bridge/test/background.test.js
  packages/whoop-bridge/test/kaiord-announce.test.js
Due: none

test(spa-editor): cover garmin activities transport and push/list helpers
  packages/workout-spa-editor/src/adapters/garmin/garmin-activities-transport.test.ts
  packages/workout-spa-editor/src/hooks/garmin-bridge-operations.test.ts
Due: frontend

fix(spa-editor): do not burn the auto-sync week key on an empty-sources run (#925)
  .changeset/coaching-autosync-source-race.md
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync.test.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync.ts
Due: frontend

docs(openspec): propose usage-accounting cutover to the event log
  openspec/changes/cutover-usage-accounting-to-event-log/design.md
  openspec/changes/cutover-usage-accounting-to-event-log/proposal.md
  openspec/changes/cutover-usage-accounting-to-event-log/specs/spa-ai-batch/spec.md
  openspec/changes/cutover-usage-accounting-to-event-log/specs/spa-ai-usage-telemetry/spec.md
  openspec/changes/cutover-usage-accounting-to-event-log/tasks.md
Due: none

fix(spa-editor): address review of the usage-accounting cutover
  packages/workout-spa-editor/src/adapters/dexie/dexie-v33-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v33-migration.ts
  packages/workout-spa-editor/src/application/sync/merge-record-key.ts
  packages/workout-spa-editor/src/application/usage/append-usage-event.test.ts
Due: frontend

test(spa-editor): drop the removed `usage` table from the e2e clearDexie list
  packages/workout-spa-editor/e2e/helpers/seed-dexie.ts
Due: none

docs(openspec): archive cutover-usage-accounting-to-event-log
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/design.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/proposal.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/specs/spa-ai-batch/spec.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/specs/spa-ai-usage-telemetry/spec.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-ai-batch/spec.md
  openspec/specs/spa-ai-usage-telemetry/spec.md
Due: none

docs(openspec): archive cutover-usage-accounting-to-event-log (#928)
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/design.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/proposal.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/specs/spa-ai-batch/spec.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/specs/spa-ai-usage-telemetry/spec.md
  openspec/changes/archive/2026-07-11-cutover-usage-accounting-to-event-log/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-ai-batch/spec.md
  openspec/specs/spa-ai-usage-telemetry/spec.md
Due: none

chore(bridge-core): address CodeRabbit review
  packages/AGENTS.md
  packages/_shared/bridge-core/popup.css
  packages/_shared/bridge-core/test/bridge-envelope.test.js
  packages/garmin-bridge/popup.css
  packages/garmin-bridge/test/background.test.js
  packages/garmin-bridge/test/bridge-envelope.test.js
  packages/garmin-bridge/test/profile-snapshot.test.js
  packages/train2go-bridge/popup.css
  packages/train2go-bridge/test/bridge-envelope.test.js
  packages/whoop-bridge/AGENTS.md
  packages/whoop-bridge/test/bridge-envelope.test.js
Due: none

fix(spa-editor): lab dashboard pin lost-update and threshold e2e race
  .changeset/lab-dashboard-pin-lost-update.md
  packages/workout-spa-editor/e2e/profiles.spec.ts
  packages/workout-spa-editor/src/application/lab/toggle-dashboard-param.test.ts
  packages/workout-spa-editor/src/application/lab/toggle-dashboard-param.ts
  packages/workout-spa-editor/src/application/lab/toggle-lab-dashboard-param.use-case.ts
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.ts
Due: frontend

refactor: migrate brand tokens to light defaults with a dark block
  .changeset/brand-tokens-light-dark.md
  packages/docs/.vitepress/brand-tokens.mjs
  packages/landing/index.html
  packages/workout-spa-editor/scripts/generate-og-image.mjs
  packages/workout-spa-editor/src/index.css
  styles/brand-tokens.css
Due: frontend

fix(spa-editor): lab dashboard pin lost-update and threshold e2e race (#929)
  .changeset/lab-dashboard-pin-lost-update.md
  packages/workout-spa-editor/e2e/profiles.spec.ts
  packages/workout-spa-editor/src/application/lab/toggle-dashboard-param.test.ts
  packages/workout-spa-editor/src/application/lab/toggle-dashboard-param.ts
  packages/workout-spa-editor/src/application/lab/toggle-lab-dashboard-param.use-case.ts
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.test.tsx
  packages/workout-spa-editor/src/components/pages/health/labs/dashboard/use-lab-dashboard-params.ts
Due: frontend

fix(docs): keep content-link underlines visible in the light view
  packages/docs/.vitepress/theme/custom.css
  packages/workout-spa-editor/src/index.css
  styles/brand-tokens.css
Due: frontend

refactor: brand tokens carry light defaults with the dark palette under .dark (#930)
  .changeset/brand-tokens-light-dark.md
  packages/docs/.vitepress/brand-tokens.mjs
  packages/docs/.vitepress/theme/custom.css
  packages/landing/index.html
  packages/workout-spa-editor/scripts/generate-og-image.mjs
  packages/workout-spa-editor/src/index.css
  styles/brand-tokens.css
Due: frontend

docs(openspec): archive add-shared-bridge-core
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/design.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/proposal.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/specs/bridge-core/spec.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/specs/spa-integration-adapters/spec.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/bridge-core/spec.md
  openspec/specs/spa-integration-adapters/spec.md
Due: none

fix(landing): keep the body element through the locale build
  node_modules
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/node_modules
  packages/landing/scripts/build-locales.mjs
  packages/landing/scripts/extract-strings.mjs
Due: none

docs(openspec): archive add-shared-bridge-core (#932)
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/design.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/proposal.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/specs/bridge-core/spec.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/specs/spa-integration-adapters/spec.md
  openspec/changes/archive/2026-07-11-add-shared-bridge-core/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/bridge-core/spec.md
  openspec/specs/spa-integration-adapters/spec.md
Due: none

fix(landing): keep the body element through the locale build (#933)
  node_modules
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/node_modules
  packages/landing/scripts/build-locales.mjs
  packages/landing/scripts/extract-strings.mjs
Due: none

chore: untrack accidentally committed node_modules symlinks
  .gitignore
  node_modules
  packages/landing/node_modules
Due: none

docs(business): add open-core monetization analysis
  docs/business/open-core-monetization-analysis.md
Due: none

chore: untrack accidentally committed node_modules symlinks (#936)
  .gitignore
  node_modules
  packages/landing/node_modules
Due: none

test(spa-editor): fold same-behaviour unit tests into it.each
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v26-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v31-migration.test.ts
  packages/workout-spa-editor/src/adapters/garmin/garmin-activities-transport.test.ts
  packages/workout-spa-editor/src/application/lab/toggle-dashboard-param.test.ts
  packages/workout-spa-editor/src/components/atoms/Pill/Pill.test.tsx
  packages/workout-spa-editor/src/components/molecules/Metric/Metric.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.test.ts
Due: frontend

test(spa-editor): fold same-behaviour unit tests into it.each (#939)
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v26-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v29-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v31-migration.test.ts
  packages/workout-spa-editor/src/adapters/garmin/garmin-activities-transport.test.ts
  packages/workout-spa-editor/src/application/lab/toggle-dashboard-param.test.ts
  packages/workout-spa-editor/src/components/atoms/Pill/Pill.test.tsx
  packages/workout-spa-editor/src/components/molecules/Metric/Metric.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusHeader.test.tsx
  packages/workout-spa-editor/src/components/pages/health/trends/build-trend-chart-options.test.ts
Due: frontend

refactor(core): inline single-use pass-through port/application barrels
  .changeset/core-inline-port-barrels.md
  packages/core/src/application/AGENTS.md
  packages/core/src/application/index.ts
  packages/core/src/index.ts
  packages/core/src/ports/AGENTS.md
  packages/core/src/ports/index.ts
Due: core

refactor(core): inline single-use pass-through port/application barrels (#940)
  .changeset/core-inline-port-barrels.md
  packages/core/src/application/AGENTS.md
  packages/core/src/application/index.ts
  packages/core/src/index.ts
  packages/core/src/ports/AGENTS.md
  packages/core/src/ports/index.ts
Due: core

test(analytics): add Umami smoke e2e (editor-loaded, page view, import, export)
  packages/workout-spa-editor/e2e/umami-smoke.spec.ts
Due: none

test(whoop-bridge): cover MAIN-world interceptor, content relay, and background branches
  packages/whoop-bridge/test/background.test.js
  packages/whoop-bridge/test/content.test.js
  packages/whoop-bridge/test/inject-main.test.js
  packages/workout-spa-editor/src/application/whoop/sync-whoop-cycles.use-case.test.ts
Due: frontend

fix(whoop): address code review — null-tolerant cycle fields + dedup HEALTH_SUFFIX
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.test.ts
  packages/whoop/src/adapters/converters/cycle-to-strain.converter.ts
  packages/whoop/src/adapters/converters/cycle-to-vitals.converter.test.ts
  packages/whoop/src/adapters/converters/cycle-to-vitals.converter.ts
  packages/whoop/src/adapters/schemas/whoop-cycles.schema.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas-late.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
