Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

Add Claude Code GitHub Workflow (#124)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(spa): add clipboard fallback for cross-browser E2E stability (#125)
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/playwright.config.ts
  packages/workout-spa-editor/src/store/actions/copy-step-action.test.ts
  packages/workout-spa-editor/src/store/actions/copy-step-action.ts
  packages/workout-spa-editor/src/store/actions/paste-step-action.test.ts
  packages/workout-spa-editor/src/store/actions/paste-step-helpers.ts
  packages/workout-spa-editor/src/store/clipboard-store.ts
Due: frontend

fix(ci): update claude-code-review workflow to v1 API
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): simplify claude-code-review to fix SDK crash
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): use valid `prompt` input for claude-code-action
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): enable full output for claude-code-review debugging
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): remove debug show_full_output from claude-code-review
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): switch to OAuth token for Claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

chore(ci): temp enable show_full_output for debugging
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): use fetch-depth 0 and remove debug flag in claude-review
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): enable sticky comment for claude-code-review
  .github/workflows/claude-code-review.yml
Due: none

perf(spa): reduce main chunk from 932 kB to 338 kB with code splitting
  eslint.config.js
  packages/core/tsup.config.ts
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/App.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.test.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/utils/export-workout-formats.ts
  packages/workout-spa-editor/src/utils/import-workout-formats.ts
  packages/workout-spa-editor/vite.config.ts
  pnpm-lock.yaml
Due: frontend

chore: add changeset for core build optimization
  .changeset/optimize-bundle-sizes.md
Due: none

chore: apply prettier formatting to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

fix: preserve Radix Dialog close animations with mounted-once pattern
  packages/workout-spa-editor/src/App.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
Due: frontend

refactor: extract useLazyDialog hook and fix lint violations
  packages/workout-spa-editor/src/App.tsx
  packages/workout-spa-editor/src/components/AppKeyboardShortcuts.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/hooks/use-lazy-dialog.test.ts
  packages/workout-spa-editor/src/hooks/use-lazy-dialog.ts
  pnpm-lock.yaml
Due: frontend

fix: address CodeRabbit review findings
  eslint.config.js
  packages/workout-spa-editor/src/App.tsx
Due: frontend

fix(ci): post Claude review as PR comment via github-script
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): dual-strategy for extracting Claude review output
  .github/workflows/claude-code-review.yml
Due: none

chore: apply lint formatting fixes
  packages/mcp/README.md
  packages/mcp/package.json
  pnpm-lock.yaml
Due: none

chore: add changeset for MCP server and Zod v4 upgrade
  .changeset/add-mcp-server.md
Due: none

fix: address CodeRabbit review findings
  packages/core/schema/krd.json
  packages/core/schema/structured-workout-full.json
  packages/core/schema/workout.json
  packages/core/scripts/generate-schema.ts
  packages/mcp/src/utils/file-io.test.ts
  packages/mcp/src/utils/file-io.ts
Due: none

fix(mcp): address CodeRabbit review findings
  packages/mcp/src/tools/convert-to-krd.ts
  packages/mcp/src/utils/resolve-input.ts
Due: none

fix(mcp): address Claude Code review findings
  packages/core/scripts/generate-schema.ts
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tests/helpers/mcp-test-client.ts
  packages/mcp/src/tests/helpers/test-fixtures.ts
  packages/mcp/src/tools/convert-from-krd.test.ts
  packages/mcp/src/tools/convert-to-krd.test.ts
  packages/mcp/src/tools/convert-to-krd.ts
  packages/mcp/src/tools/kaiord-convert.test.ts
  packages/mcp/src/tools/kaiord-diff.test.ts
  packages/mcp/src/tools/kaiord-extract-workout.test.ts
  packages/mcp/src/tools/kaiord-inspect.test.ts
  packages/mcp/src/tools/kaiord-list-formats.test.ts
  packages/mcp/src/tools/kaiord-validate.test.ts
  packages/mcp/src/utils/base64.test.ts
  packages/mcp/src/utils/base64.ts
  packages/mcp/vitest.config.ts
  pnpm-lock.yaml
Due: none

chore: apply Prettier formatting to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

ci: add @kaiord/mcp to release workflow
  .github/workflows/release.yml
Due: none

fix(ci): remove incorrect NPM_TOKEN reference from release workflow
  .github/workflows/release.yml
Due: none

fix(mcp): add patch changeset to republish with resolved deps
  .changeset/fix-mcp-publish.md
Due: none

fix(mcp): remove duplicate shebang causing SyntaxError on npx
  .changeset/fix-mcp-shebang.md
  packages/mcp/src/bin/kaiord-mcp.ts
Due: none

test(mcp): add build artifact test for shebang and ESM validity
  .changeset/add-build-artifact-test.md
  packages/mcp/src/bin/kaiord-mcp.build.test.ts
Due: none

feat(mcp): add kaiord_get_format_spec tool and server instructions
  .changeset/add-format-spec-tool.md
  packages/mcp/src/resources/krd-format-spec.ts
  packages/mcp/src/server/create-server.ts
  packages/mcp/src/tools/kaiord-get-format-spec.test.ts
  packages/mcp/src/tools/kaiord-get-format-spec.ts
  packages/mcp/src/utils/find-spec-file.ts
Due: none

fix(ci): add @kaiord/mcp to GitHub releases script
  scripts/create-github-releases.js
Due: none

fix(core,garmin,cli): phase 1 critical security, type safety, and architecture fixes
  .changeset/phase1-cli-security.md
  .changeset/phase1-core-safety.md
  .changeset/phase1-garmin-zod.md
  .claude/skills/deep-review-fix/SKILL.md
  packages/cli/src/utils/file-handler.test.ts
  packages/cli/src/utils/path-security.ts
  packages/core/src/domain/validation/schema-validator.test.ts
  packages/core/src/domain/validation/schema-validator.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/mappers/intensity.mapper.ts
  packages/garmin/src/adapters/mappers/target.mapper.ts
Due: core, garmin, cli

chore: apply lint formatting fixes
  .claude/settings.local.json
  .claude/skills/deep-review-fix/SKILL.md
Due: none

fix: phase 1 - critical security, type safety, and architecture (#129)
  .changeset/phase1-cli-security.md
  .changeset/phase1-core-safety.md
  .changeset/phase1-garmin-zod.md
  .claude/settings.local.json
  .claude/skills/deep-review-fix/SKILL.md
  packages/cli/src/utils/file-handler.test.ts
  packages/cli/src/utils/path-security.ts
  packages/core/src/domain/validation/schema-validator.test.ts
  packages/core/src/domain/validation/schema-validator.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/mappers/intensity.mapper.ts
  packages/garmin/src/adapters/mappers/target.mapper.ts
Due: core, garmin, cli

refactor: phase 2 - code quality and consistency improvements
  .changeset/phase2-cli-refactor.md
  .changeset/phase2-garmin-split.md
  .changeset/phase2-mcp-nonnull.md
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/convert/yargs-config.ts
  packages/cli/src/commands/diff/yargs-config.ts
  packages/cli/src/commands/validate.ts
  packages/cli/src/commands/validate/execute-validation.ts
  packages/cli/src/commands/validate/format-results.ts
  packages/cli/src/commands/validate/index.ts
  packages/cli/src/commands/validate/types.ts
  packages/cli/src/commands/validate/yargs-config.ts
  packages/core/src/domain/schemas/krd/metadata.ts
  packages/core/src/domain/schemas/krd/session.ts
  packages/garmin/src/adapters/converters/executable-step.converter.ts
  packages/garmin/src/adapters/converters/flatten-segments.converter.ts
  packages/garmin/src/adapters/converters/garmin-pool-info.mapper.ts
  packages/garmin/src/adapters/converters/garmin-repetition.converter.ts
  packages/garmin/src/adapters/converters/garmin-to-krd.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/converters/pool-length.mapper.ts
  packages/garmin/src/adapters/mappers/stroke.mapper.ts
  packages/garmin/src/adapters/schemas/garmin-workout-parse.schema.ts
  packages/mcp/src/utils/resolve-input.ts
Due: core, garmin, cli

style: apply prettier formatting to yargs-config files
  packages/cli/src/commands/convert/yargs-config.ts
  packages/cli/src/commands/validate/yargs-config.ts
Due: cli

fix: address code review feedback on Phase 2
  packages/cli/src/bin/kaiord.ts
  packages/cli/src/commands/diff/yargs-config.ts
  packages/cli/src/commands/validate/handle-error.ts
  packages/cli/src/commands/validate/index.ts
  packages/cli/src/utils/error-exit-code.ts
Due: cli

style: apply prettier formatting to handle-error.ts
  packages/cli/src/commands/validate/handle-error.ts
Due: cli

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
