Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

docs(openspec): make only abandoned Garmin removal entries dismissable
  openspec/changes/add-garmin-calendar-scheduling/design.md
  openspec/changes/add-garmin-calendar-scheduling/specs/spa-garmin-extension/spec.md
  openspec/changes/add-garmin-calendar-scheduling/tasks.md
Due: none

test(spa-editor): dismiss only abandoned entries and exercise the union
  packages/workout-spa-editor/src/application/sync/merge-garmin-ledger-rows.laws.test.ts
Due: frontend

fix(docs-site): hold back the Zwift guide and source the comparison
  packages/docs/.cspell.json
  packages/docs/.vitepress/config.ts
  packages/docs/.vitepress/indexing.mjs
  packages/docs/convert/fit-to-garmin.md
  packages/docs/convert/fit-to-tcx.md
  packages/docs/convert/fit-to-zwo.md
  packages/docs/convert/garmin-to-fit.md
  packages/docs/convert/garmin-to-tcx.md
  packages/docs/convert/garmin-to-zwo.md
  packages/docs/convert/index.md
  packages/docs/convert/tcx-to-fit.md
  packages/docs/convert/tcx-to-garmin.md
  packages/docs/convert/tcx-to-zwo.md
  packages/docs/convert/zwo-to-fit.md
  packages/docs/convert/zwo-to-garmin.md
  packages/docs/convert/zwo-to-tcx.md
  packages/docs/es/guide/ai-planning-byok.md
  packages/docs/es/guide/kaiord-vs-trainingpeaks-intervals-garmin.md
  packages/docs/es/guide/whoop-recovery-in-plan.md
  packages/docs/es/guide/zwift-to-garmin.md
  packages/docs/es/index.md
  packages/docs/guide/ai-planning-byok.md
  packages/docs/guide/kaiord-vs-trainingpeaks-intervals-garmin.md
  packages/docs/guide/whoop-recovery-in-plan.md
  packages/docs/guide/zwift-to-garmin.md
  packages/docs/scripts/dist-no-placeholders.test.mjs
  packages/docs/scripts/dist-seo-uniqueness.test.mjs
  packages/docs/scripts/indexing.test.mjs
Due: none

feat(scripts): fail when a docs page renders no language switcher
  scripts/check-site-links.mjs
  scripts/check-site-links.test.mjs
  scripts/fixtures/site-links/docs/convert/index.html
  scripts/fixtures/site-links/docs/index.html
  scripts/lib/site-links-scan.mjs
Due: none

feat(spa-editor): restrict convert uploads and keep partial links
  packages/workout-spa-editor/src/components/pages/ConvertPage/ConvertFlow.tsx
  packages/workout-spa-editor/src/components/pages/ConvertPage/ConvertFormatPicker.test.tsx
  packages/workout-spa-editor/src/components/pages/ConvertPage/ConvertFormatPicker.tsx
  packages/workout-spa-editor/src/components/pages/ConvertPage/ConvertPage.tsx
  packages/workout-spa-editor/src/i18n/locales/en/editor.json
  packages/workout-spa-editor/src/i18n/locales/es/editor.json
  packages/workout-spa-editor/src/routing/convert-params-partial.test.ts
  packages/workout-spa-editor/src/routing/convert-params.ts
Due: frontend

test(e2e): wait for Dexie and the store in the convert isolation case
  packages/workout-spa-editor/e2e/convert-deep-link.spec.ts
Due: none

fix(landing): drop the Zwift guide card and test locale hrefs
  packages/landing/i18n/en-strings.json
  packages/landing/i18n/es.json
  packages/landing/index.html
  packages/landing/public/llms.txt
  packages/landing/scripts/build-locales.d.mts
  packages/landing/scripts/build-locales.mjs
  packages/landing/src/locale-hrefs.test.ts
Due: none

chore(openspec): three athlete guides, Zwift guide deferred to #1279
  .changeset/converter-deep-link-and-guides.md
  openspec/changes/archive/2026-09-28-converter-deep-link-and-guides/proposal.md
  openspec/changes/archive/2026-09-28-converter-deep-link-and-guides/specs/docs-site/spec.md
  openspec/changes/archive/2026-09-28-converter-deep-link-and-guides/specs/landing-page/spec.md
  openspec/changes/archive/2026-09-28-converter-deep-link-and-guides/specs/spa-routing/spec.md
  openspec/changes/archive/2026-09-28-converter-deep-link-and-guides/tasks.md
  openspec/specs/docs-site/spec.md
  openspec/specs/landing-page/spec.md
  openspec/specs/spa-routing/spec.md
Due: none

feat(core): add MissingFtpError and PushOptions for FTP-aware writers
  .changeset/garmin-percent-ftp-core.md
  packages/core/src/domain/index.ts
  packages/core/src/domain/types/errors.ts
  packages/core/src/domain/types/missing-ftp-error.test.ts
  packages/core/src/domain/types/missing-ftp-error.ts
  packages/core/src/index.ts
  packages/core/src/ports/workout-service.ts
Due: core

fix(garmin): resolve percent_ftp power targets to watts with ftpWatts
  .changeset/garmin-percent-ftp-garmin.md
  packages/garmin/AGENTS.md
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/converters/target-to-garmin.converter.ts
  packages/garmin/src/adapters/converters/target-to-garmin.percent-ftp.test.ts
  packages/garmin/src/adapters/converters/target-types.ts
  packages/garmin/src/adapters/mappers/target-power.mapper.ts
  packages/garmin/src/garmin-writer-ftp.test.ts
  packages/garmin/src/index.ts
  packages/garmin/src/test-utils/constants.ts
Due: garmin

feat(garmin-connect): forward the athlete FTP when pushing workouts
  .changeset/garmin-percent-ftp-garmin-connect.md
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
Due: none

feat(cli): add --ftp to convert and garmin push
  .changeset/garmin-percent-ftp-cli.md
  packages/cli/src/commands/convert-ftp-integration.test.ts
  packages/cli/src/commands/convert/batch-helpers.ts
  packages/cli/src/commands/convert/single-file.ts
  packages/cli/src/commands/convert/types.ts
  packages/cli/src/commands/convert/yargs-config.ts
  packages/cli/src/commands/garmin/push.test.ts
  packages/cli/src/commands/garmin/push.ts
  packages/cli/src/commands/garmin/types.ts
  packages/cli/src/commands/garmin/yargs-subcommands.ts
  packages/cli/src/i18n/en.json
  packages/cli/src/i18n/es.json
  packages/cli/src/utils/error-exit-code.test.ts
  packages/cli/src/utils/error-exit-code.ts
  packages/cli/src/utils/error-suggestions.test.ts
  packages/cli/src/utils/error-suggestions.ts
  packages/cli/src/utils/krd-converter.test.ts
  packages/cli/src/utils/krd-converter.ts
  packages/cli/src/utils/krd-loaders.ts
Due: cli

feat(mcp): add an ftp parameter to kaiord_convert and kaiord_garmin_push
  .changeset/garmin-percent-ftp-mcp.md
  packages/mcp/src/tools/AGENTS.md
  packages/mcp/src/tools/convert-from-krd.test.ts
  packages/mcp/src/tools/convert-from-krd.ts
  packages/mcp/src/tools/kaiord-convert.test.ts
  packages/mcp/src/tools/kaiord-convert.ts
  packages/mcp/src/tools/kaiord-garmin-push.test.ts
  packages/mcp/src/tools/kaiord-garmin-push.ts
  packages/mcp/src/utils/error-classification.ts
  packages/mcp/src/utils/format-registry.ts
Due: none

fix(spa-editor): use the athlete profile FTP for Garmin export and push
  .changeset/garmin-percent-ftp-spa-editor.md
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/SaveButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/use-save-workout.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
  packages/workout-spa-editor/src/hooks/garmin-push-fn.ts
  packages/workout-spa-editor/src/i18n/locales/en/editor.json
  packages/workout-spa-editor/src/i18n/locales/en/workout-detail.json
  packages/workout-spa-editor/src/i18n/locales/es/editor.json
  packages/workout-spa-editor/src/i18n/locales/es/workout-detail.json
  packages/workout-spa-editor/src/lib/athlete/index.ts
  packages/workout-spa-editor/src/lib/athlete/workout-ftp.test.ts
  packages/workout-spa-editor/src/lib/athlete/workout-ftp.ts
  packages/workout-spa-editor/src/utils/export-workout-formats.ts
  packages/workout-spa-editor/src/utils/export-workout.ts
Due: frontend

docs(docs): describe how %FTP power targets reach Garmin Connect
  packages/docs/cli/commands.md
  packages/docs/convert/fit-to-garmin.md
  packages/docs/convert/zwo-to-garmin.md
  packages/docs/mcp/tools.md
Due: none

docs(openspec): archive garmin-percent-ftp-to-watts
  openspec/changes/archive/2026-09-28-garmin-percent-ftp-to-watts/.openspec.yaml
  openspec/changes/archive/2026-09-28-garmin-percent-ftp-to-watts/design.md
  openspec/changes/archive/2026-09-28-garmin-percent-ftp-to-watts/proposal.md
  openspec/changes/archive/2026-09-28-garmin-percent-ftp-to-watts/specs/adapter-contracts/spec.md
  openspec/changes/archive/2026-09-28-garmin-percent-ftp-to-watts/specs/failure-semantics/spec.md
  openspec/changes/archive/2026-09-28-garmin-percent-ftp-to-watts/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/failure-semantics/spec.md
Due: none

docs(openspec): take an id-less placement's supersedes at the claim
  openspec/changes/add-garmin-calendar-scheduling/design.md
  openspec/changes/add-garmin-calendar-scheduling/specs/spa-garmin-extension/spec.md
  openspec/changes/add-garmin-calendar-scheduling/specs/spa-persistence-port/spec.md
  openspec/changes/add-garmin-calendar-scheduling/tasks.md
Due: none

fix(spa-editor): carry the claim's supersedes on an attempting placement
  packages/workout-spa-editor/src/application/export/normalize-garmin-ledger-row.test.ts
  packages/workout-spa-editor/src/application/sync/merge-garmin-ledger-rows.laws.test.ts
  packages/workout-spa-editor/src/types/garmin-ledger.ts
Due: frontend

fix(spa-editor): refuse other formats and stale workouts in the converter
  packages/workout-spa-editor/src/components/pages/ConvertPage/ConvertFlow.test.tsx
  packages/workout-spa-editor/src/components/pages/ConvertPage/ConvertFlow.tsx
  packages/workout-spa-editor/src/i18n/locales/en/editor.json
  packages/workout-spa-editor/src/i18n/locales/es/editor.json
  packages/workout-spa-editor/src/routing/convert-params-partial.test.ts
  packages/workout-spa-editor/src/routing/convert-params.ts
Due: frontend

test(docs-site): check where each hreflang alternate points
  packages/docs/scripts/dist-seo-uniqueness.test.mjs
Due: none

chore(openspec): scope lang="en" to pages outside /docs/es/
  openspec/changes/archive/2026-09-28-converter-deep-link-and-guides/specs/docs-site/spec.md
  openspec/specs/docs-site/spec.md
Due: none

docs(openspec): settle the placement pipeline's open details for T5
  openspec/changes/add-garmin-calendar-scheduling/design.md
Due: none

docs(openspec): settle how the placement pipeline knows A3
  openspec/changes/add-garmin-calendar-scheduling/design.md
Due: none

fix(garmin): round percent-FTP watts as pct * ftp / 100
  packages/garmin/src/adapters/converters/target-to-garmin.percent-ftp.test.ts
  packages/garmin/src/adapters/mappers/target-power.mapper.ts
  packages/garmin/src/garmin-writer-ftp.test.ts
  packages/garmin/src/test-utils/constants.ts
Due: garmin

fix(garmin-connect): keep MissingFtpError unwrapped across core copies
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.ts
Due: none

docs(docs-site): spell the %FTP to watts formula as round(% / 100 x FTP)
  packages/docs/convert/fit-to-garmin.md
  packages/docs/convert/zwo-to-garmin.md
Due: none

docs(core): flag the percent-FTP GCN changesets as a behaviour change
  .changeset/garmin-percent-ftp-cli.md
  .changeset/garmin-percent-ftp-garmin-connect.md
  .changeset/garmin-percent-ftp-garmin.md
  .changeset/garmin-percent-ftp-mcp.md
Due: none

test(cli): cover garmin push of a %FTP workout without --ftp
  packages/cli/src/commands/garmin/push.test.ts
Due: cli

test(spa-editor): warm lazy page chunks before route tests time out
  packages/workout-spa-editor/src/App.test.tsx
  packages/workout-spa-editor/src/routes.test.tsx
  packages/workout-spa-editor/vitest.config.ts
Due: frontend

fix(spa-editor): say when a %FTP workout's sport has no power zones
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.analytics.test.ts
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
  packages/workout-spa-editor/src/i18n/locales/en/editor.json
  packages/workout-spa-editor/src/i18n/locales/en/workout-detail.json
  packages/workout-spa-editor/src/i18n/locales/es/editor.json
  packages/workout-spa-editor/src/i18n/locales/es/workout-detail.json
  packages/workout-spa-editor/src/lib/athlete/index.ts
  packages/workout-spa-editor/src/lib/athlete/workout-ftp.test.ts
  packages/workout-spa-editor/src/lib/athlete/workout-ftp.ts
Due: frontend

fix(spa-editor): read the export FTP from the editor page's profile query
  packages/workout-spa-editor/src/components/molecules/SaveButton/use-save-workout.test.tsx
  packages/workout-spa-editor/src/components/molecules/SaveButton/use-save-workout.ts
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
Due: frontend

docs(spa-editor): mention the sport-without-power-zones message in the changeset
  .changeset/garmin-percent-ftp-spa-editor.md
Due: none

test(mcp): feed the ftp-parameter convert tests KRD instead of ZWO
  packages/mcp/src/tools/kaiord-convert.test.ts
Due: none

feat(spa-editor): wire the Garmin placement pipeline into every push
  packages/workout-spa-editor/src/adapters/bridge/bridge-transport.ts
  packages/workout-spa-editor/src/application/chat/tools/push-to-garmin-tool.ts
  packages/workout-spa-editor/src/application/garmin-placement/placement-result.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/PlacementFeedback.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/PlacementFeedback.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/placement-message.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/placement-message.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPlacement.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPlacement.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPlacementActions.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/molecules/PushButton/PushButton.tsx
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/EditorStateRibbon.tsx
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/contexts/garmin-bridge-context.tsx
  packages/workout-spa-editor/src/contexts/garmin-bridge-types.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
  packages/workout-spa-editor/src/hooks/garmin-bridge-operations.test.ts
  packages/workout-spa-editor/src/hooks/garmin-bridge-operations.ts
  packages/workout-spa-editor/src/hooks/garmin-calendar-operations.test.ts
  packages/workout-spa-editor/src/hooks/garmin-calendar-operations.ts
  packages/workout-spa-editor/src/hooks/garmin-ping-evaluation.ts
  packages/workout-spa-editor/src/hooks/garmin-placement-deps.ts
  packages/workout-spa-editor/src/hooks/garmin-placement-request.ts
  packages/workout-spa-editor/src/hooks/use-garmin-bridge-action-helpers.ts
  packages/workout-spa-editor/src/hooks/use-garmin-bridge-actions.ts
  packages/workout-spa-editor/src/hooks/use-push-to-garmin-op.ts
  packages/workout-spa-editor/src/i18n/locales/en/workout-detail.json
  packages/workout-spa-editor/src/i18n/locales/es/workout-detail.json
  scripts/model-facing-sinks.mjs
Due: frontend

docs(openspec): keep a placement result that needs the athlete on the editor
  openspec/changes/add-garmin-calendar-scheduling/specs/spa-garmin-extension/spec.md
  openspec/changes/add-garmin-calendar-scheduling/tasks.md
Due: none

feat(spa-editor): keep a placement result that needs the athlete on the editor
  packages/workout-spa-editor/src/application/garmin-placement/placement-notice.test.ts
  packages/workout-spa-editor/src/application/garmin-placement/placement-notice.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.stories.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/placement-message.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/placement-message.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPlacement.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPlacement.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPlacementActions.ts
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/EditorStateRibbon.tsx
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/ribbon-content.test.ts
  packages/workout-spa-editor/src/components/organisms/EditorStateRibbon/ribbon-content.ts
  packages/workout-spa-editor/src/components/pages/EditorPage.tsx
  packages/workout-spa-editor/src/contexts/placement-outcome-context.test.tsx
  packages/workout-spa-editor/src/contexts/placement-outcome-context.tsx
  packages/workout-spa-editor/src/hooks/use-garmin-placement-notice.ts
  packages/workout-spa-editor/src/i18n/locales/en/editor.json
  packages/workout-spa-editor/src/i18n/locales/es/editor.json
  packages/workout-spa-editor/src/main.tsx
Due: frontend

fix(spa-editor): offer an unanswered posted attempt as uncertain
  packages/workout-spa-editor/src/application/garmin-placement/garmin-placement-actions.ts
  packages/workout-spa-editor/src/application/garmin-placement/placement-notice.test.ts
  packages/workout-spa-editor/src/application/garmin-placement/placement-notice.ts
  packages/workout-spa-editor/src/application/garmin-placement/push-workout-to-garmin-calendar.ts
  packages/workout-spa-editor/src/application/garmin-placement/record-lock-port.ts
  packages/workout-spa-editor/src/hooks/use-garmin-placement-notice.ts
  packages/workout-spa-editor/src/hooks/use-record-lock-held.test.ts
  packages/workout-spa-editor/src/hooks/use-record-lock-held.ts
Due: frontend

test(e2e): Garmin calendar placement through a stateful bridge stub
  packages/workout-spa-editor/e2e/garmin-calendar-placement.spec.ts
  packages/workout-spa-editor/e2e/helpers/garmin-announce-page-script.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/garmin-bridge-stub.ts
  packages/workout-spa-editor/e2e/helpers/garmin-calendar-stub-page-script.ts
  packages/workout-spa-editor/e2e/helpers/garmin-stub-actions-page-script.ts
Due: none
