Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

fix(train2go-bridge): looped tag strip for anchor labels (CodeQL alert)
  packages/train2go-bridge/parser.js
Due: none

feat(spa-editor): matched-sessions read-model port + read-cast cleanup + tcx restore-honesty (closes #758) (#760)
  .changeset/code-semantics-followups.md
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.test.ts
  packages/tcx/src/adapters/duration/duration-kaiord-restorer.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-matched-sessions-read-model.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-matched-sessions-read-model.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/components/pages/use-back-handler.ts
  packages/workout-spa-editor/src/hooks/use-activity-match-state.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync-helpers.ts
  packages/workout-spa-editor/src/hooks/use-coaching-auto-sync.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.test.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions.test.tsx
  packages/workout-spa-editor/src/hooks/use-matched-sessions.ts
  packages/workout-spa-editor/src/ports/matched-sessions-read-model.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/store/actions/_helpers/extract-workout.ts
  packages/workout-spa-editor/src/store/actions/history-actions.ts
  packages/workout-spa-editor/src/store/hydrate-ui-workout.ts
  packages/workout-spa-editor/src/test-utils/in-memory-matched-sessions-read-model.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
Due: tcx, frontend

fix(spa-editor): keep persistence-port under line cap after #760 merge
  packages/workout-spa-editor/src/adapters/dexie/dexie-coaching-day-notes-repository.ts
  packages/workout-spa-editor/src/application/coaching/expand-day.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-coaching-day-notes-repository.ts
Due: frontend

fix(spa-editor): preserve leading space before bold coaching inlines
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingDayComments.test.tsx
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/coaching-inline.tsx
Due: frontend

chore(openspec): archive train2go-links-and-day-comments
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/.openspec.yaml
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/design.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/proposal.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/specs/spa-coaching-day-comments/spec.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/specs/spa-coaching-integration/spec.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/specs/train2go-bridge/spec.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-coaching-day-comments/spec.md
  openspec/specs/spa-coaching-integration/spec.md
  openspec/specs/train2go-bridge/spec.md
Due: none

chore(openspec): archive train2go-links-and-day-comments (#761)
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/.openspec.yaml
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/design.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/proposal.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/specs/spa-coaching-day-comments/spec.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/specs/spa-coaching-integration/spec.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/specs/train2go-bridge/spec.md
  openspec/changes/archive/2026-06-13-train2go-links-and-day-comments/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-coaching-day-comments/spec.md
  openspec/specs/spa-coaching-integration/spec.md
  openspec/specs/train2go-bridge/spec.md
Due: none

feat(ai): add provider-agnostic chat agent with tool-calling loop
  openspec/changes/add-spa-ai-chatbot/tasks.md
  packages/ai/src/chat/append-tool-result.test.ts
  packages/ai/src/chat/append-tool-result.ts
  packages/ai/src/chat/build-sdk-tools.ts
  packages/ai/src/chat/chat-agent.test.ts
  packages/ai/src/chat/chat-agent.ts
  packages/ai/src/chat/chat-types.ts
  packages/ai/src/chat/classify-turn.test.ts
  packages/ai/src/chat/classify-turn.ts
  packages/ai/src/chat/run-turn.test.ts
  packages/ai/src/chat/run-turn.ts
  packages/ai/src/chat/wrap-tool-execute.test.ts
  packages/ai/src/chat/wrap-tool-execute.ts
  packages/ai/src/index.ts
Due: none

feat(spa-editor): wire interactive chat turns, actions, and usage
  openspec/changes/add-spa-ai-chatbot/tasks.md
  packages/workout-spa-editor/src/application/chat/append-turn-messages.ts
  packages/workout-spa-editor/src/application/chat/record-chat-usage.test.ts
  packages/workout-spa-editor/src/application/chat/record-chat-usage.ts
  packages/workout-spa-editor/src/components/organisms/Chat/ChatComposer.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatConversation.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatErrorNotice.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/PendingActionCard.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/hooks/chat/build-chat-agent.ts
  packages/workout-spa-editor/src/hooks/chat/chat-action-ops-impl.ts
  packages/workout-spa-editor/src/hooks/chat/chat-error.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-context.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.test.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-types.ts
  packages/workout-spa-editor/src/hooks/chat/run-confirmed-tool.ts
  packages/workout-spa-editor/src/hooks/use-chat-action-ops.ts
  packages/workout-spa-editor/src/hooks/use-chat-turn.ts
Due: frontend

fix(spa-editor): satisfy strict build for query-health tool; add changeset
  .changeset/spa-ai-chatbot.md
  openspec/changes/add-spa-ai-chatbot/tasks.md
  packages/workout-spa-editor/src/application/chat/tools/query-health-tool.ts
  packages/workout-spa-editor/src/hooks/chat/chat-error.test.ts
Due: frontend

feat(spa-editor): add chat tools, system prompt, and tool registry
  openspec/changes/add-spa-ai-chatbot/tasks.md
  packages/workout-spa-editor/src/application/chat/chat-system-prompt.test.ts
  packages/workout-spa-editor/src/application/chat/chat-system-prompt.ts
  packages/workout-spa-editor/src/application/chat/tools/action-tools.test.ts
  packages/workout-spa-editor/src/application/chat/tools/action-tools.ts
  packages/workout-spa-editor/src/application/chat/tools/build-chat-tools.test.ts
  packages/workout-spa-editor/src/application/chat/tools/build-chat-tools.ts
  packages/workout-spa-editor/src/application/chat/tools/chat-tool-deps.ts
  packages/workout-spa-editor/src/application/chat/tools/clamp-range.test.ts
  packages/workout-spa-editor/src/application/chat/tools/clamp-range.ts
  packages/workout-spa-editor/src/application/chat/tools/fence.ts
  packages/workout-spa-editor/src/application/chat/tools/get-today-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/get-today-tool.ts
  packages/workout-spa-editor/src/application/chat/tools/query-coaching-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/query-coaching-tool.ts
  packages/workout-spa-editor/src/application/chat/tools/query-health-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/query-health-tool.ts
  packages/workout-spa-editor/src/application/chat/tools/query-workouts-tool.test.ts
  packages/workout-spa-editor/src/application/chat/tools/query-workouts-tool.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-coaching.test.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-coaching.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-health.test.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-health.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-workouts.test.ts
  packages/workout-spa-editor/src/application/chat/tools/summarize-workouts.ts
Due: frontend

feat(spa-editor): add chatMessages store, repository, and cross-device sync
  openspec/changes/add-spa-ai-chatbot/.openspec.yaml
  openspec/changes/add-spa-ai-chatbot/design.md
  openspec/changes/add-spa-ai-chatbot/proposal.md
  openspec/changes/add-spa-ai-chatbot/specs/privacy-policy/spec.md
  openspec/changes/add-spa-ai-chatbot/specs/spa-ai-chat/spec.md
  openspec/changes/add-spa-ai-chatbot/specs/spa-persistence-port/spec.md
  openspec/changes/add-spa-ai-chatbot/specs/spa-routing/spec.md
  openspec/changes/add-spa-ai-chatbot/tasks.md
  packages/workout-spa-editor/src/adapters/dexie/dexie-backfill-linked-accounts.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-chat-message-repository.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-chat-message-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v21-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/chat/clear-conversation.test.ts
  packages/workout-spa-editor/src/application/chat/clear-conversation.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/application/sync/chat-snapshot-sync.test.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.ts
  packages/workout-spa-editor/src/ports/chat-message-repository.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-chat-message-repository.test.ts
  packages/workout-spa-editor/src/test-utils/in-memory-chat-message-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence-snapshot.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
  packages/workout-spa-editor/src/types/chat/chat-message-record.ts
Due: frontend

docs: disclose chat data flow and document chat surfaces
  openspec/changes/add-spa-ai-chatbot/tasks.md
  packages/docs/legal/privacy-policy.md
  packages/docs/scripts/check-privacy-policy.mjs
  packages/docs/scripts/check-privacy-policy.test.mjs
  packages/workout-spa-editor/src/AGENTS.md
  packages/workout-spa-editor/src/application/AGENTS.md
  packages/workout-spa-editor/src/ports/AGENTS.md
Due: frontend

feat(spa-editor): add /chat route and read-only chat page shell
  openspec/changes/add-spa-ai-chatbot/tasks.md
  packages/workout-spa-editor/src/AppRoutes.tsx
  packages/workout-spa-editor/src/adapters/dexie/index.ts
  packages/workout-spa-editor/src/application/chat/chat-message-mapper.test.ts
  packages/workout-spa-editor/src/application/chat/chat-message-mapper.ts
  packages/workout-spa-editor/src/components/organisms/Chat/ChatHeader.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatMessageList.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.test.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/hooks/use-chat-messages-live.test.tsx
  packages/workout-spa-editor/src/hooks/use-chat-messages-live.ts
  packages/workout-spa-editor/src/hooks/use-route-announcer-label.ts
  packages/workout-spa-editor/src/lazy-pages.ts
Due: frontend

fix(spa-editor): keep ports and schemas under line cap after main rebase
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/ports/health-repositories.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
Due: frontend

fix(ci): raise @kaiord/ai size-limit for the chat engine
  .size-limit.cjs
Due: none

refactor: address CodeRabbit review on the chat PR
  packages/ai/src/chat/append-tool-result.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
Due: frontend

chore(openspec): archive add-spa-ai-chatbot
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/.openspec.yaml
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/design.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/proposal.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/privacy-policy/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/spa-ai-chat/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/spa-routing/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/privacy-policy/spec.md
  openspec/specs/spa-ai-chat/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-routing/spec.md
Due: none

chore(openspec): archive add-spa-ai-chatbot (#763)
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/.openspec.yaml
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/design.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/proposal.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/privacy-policy/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/spa-ai-chat/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/specs/spa-routing/spec.md
  openspec/changes/archive/2026-06-14-add-spa-ai-chatbot/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/privacy-policy/spec.md
  openspec/specs/spa-ai-chat/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-routing/spec.md
Due: none

feat(spa-editor): add chat navigation entry (header action + desktop FAB)
  .changeset/chat-nav-entry.md
  packages/workout-spa-editor/src/components/molecules/ChatFab/ChatFab.test.tsx
  packages/workout-spa-editor/src/components/molecules/ChatFab/ChatFab.tsx
  packages/workout-spa-editor/src/components/molecules/ChatFab/index.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/MainLayout.tsx
Due: frontend

refactor(spa-editor): import ChatFab directly (drop barrel)
  packages/workout-spa-editor/src/components/molecules/ChatFab/index.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/MainLayout.tsx
Due: frontend

feat(spa-editor): add chat navigation entry (header + desktop FAB) (#764)
  .changeset/chat-nav-entry.md
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts-snapshots/coaching-sidebar-desktop-chromium-linux.png
  packages/workout-spa-editor/e2e/coaching-sidebar.visual.spec.ts-snapshots/coaching-sidebar-mobile-chromium-linux.png
  packages/workout-spa-editor/src/components/molecules/ChatFab/ChatFab.test.tsx
  packages/workout-spa-editor/src/components/molecules/ChatFab/ChatFab.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/MainLayout.tsx
Due: frontend

docs(train2go-bridge): align cws-privacy-practices.txt with current CWS form
  packages/train2go-bridge/cws-privacy-practices.txt
Due: none

docs(train2go-bridge): align cws-privacy-practices.txt with current CWS form (#765)
  packages/train2go-bridge/cws-privacy-practices.txt
Due: none

feat(spa-editor): per-profile AI model bindings foundation (Dexie v22)
  openspec/changes/per-use-dynamic-model-selection/.openspec.yaml
  openspec/changes/per-use-dynamic-model-selection/design.md
  openspec/changes/per-use-dynamic-model-selection/proposal.md
  openspec/changes/per-use-dynamic-model-selection/specs/spa-ai-chat/spec.md
  openspec/changes/per-use-dynamic-model-selection/specs/spa-ai-model-selection/spec.md
  openspec/changes/per-use-dynamic-model-selection/specs/spa-persistence-port/spec.md
  openspec/changes/per-use-dynamic-model-selection/tasks.md
  packages/workout-spa-editor/src/adapters/dexie/ai-model-binding-repository.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-ai-model-binding-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-persistence-adapter.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-schemas.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-snapshot-port.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v17-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v19-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v21-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v22-migration.test.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-v22-migration.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions-v10-plus.ts
  packages/workout-spa-editor/src/adapters/dexie/register-kaiord-versions.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.test.ts
  packages/workout-spa-editor/src/application/profile/delete-profile-with-cascade.ts
  packages/workout-spa-editor/src/application/profile/delete-profile.cascade.integration.test.ts
  packages/workout-spa-editor/src/application/sync/ai-model-binding-snapshot-sync.test.ts
  packages/workout-spa-editor/src/application/sync/merge-record-key.ts
  packages/workout-spa-editor/src/components/organisms/ProfileManager/hooks/useProfileDelete.ts
  packages/workout-spa-editor/src/ports/ai-model-binding-repository.ts
  packages/workout-spa-editor/src/ports/persistence-port.ts
  packages/workout-spa-editor/src/test-utils/in-memory-ai-model-binding-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence-snapshot.ts
  packages/workout-spa-editor/src/test-utils/in-memory-persistence.ts
  packages/workout-spa-editor/src/types/ai-model-binding.ts
Due: frontend

feat(spa-editor): SDK-sourced model catalog with freshness guard
  eslint.config.js
  openspec/changes/per-use-dynamic-model-selection/tasks.md
  packages/workout-spa-editor/.prettierignore
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/scripts/generate-model-catalog.mjs
  packages/workout-spa-editor/scripts/model-catalog-extract.mjs
  packages/workout-spa-editor/src/lib/generated/model-catalog.ts
  packages/workout-spa-editor/src/lib/model-catalog-extract.test.ts
  packages/workout-spa-editor/src/lib/model-catalog-freshness.test.ts
  packages/workout-spa-editor/src/lib/provider-models.ts
Due: frontend

feat(spa-editor): centralized per-purpose model resolver + binding use-cases
  openspec/changes/per-use-dynamic-model-selection/tasks.md
  packages/workout-spa-editor/src/adapters/dexie/index.ts
  packages/workout-spa-editor/src/application/ai/clear-model-binding.test.ts
  packages/workout-spa-editor/src/application/ai/clear-model-binding.ts
  packages/workout-spa-editor/src/application/ai/resolve-model-for-purpose.test.ts
  packages/workout-spa-editor/src/application/ai/resolve-model-for-purpose.ts
  packages/workout-spa-editor/src/application/ai/set-model-binding.test.ts
  packages/workout-spa-editor/src/application/ai/set-model-binding.ts
  packages/workout-spa-editor/src/hooks/use-ai-model-bindings-live.ts
Due: frontend

feat(spa-editor): route all AI consumers through the per-purpose resolver
  openspec/changes/per-use-dynamic-model-selection/tasks.md
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler-helpers.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-handler.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-helpers.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-ai-helpers.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/run-ai-generation.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.ts
  packages/workout-spa-editor/src/components/organisms/Chat/ChatConversation.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatTurnExtras.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/components/pages/CreateWorkout/use-create-workout.ts
  packages/workout-spa-editor/src/components/pages/batch-prepare.test.ts
  packages/workout-spa-editor/src/components/pages/batch-prepare.ts
  packages/workout-spa-editor/src/components/pages/batch-process-one.ts
  packages/workout-spa-editor/src/components/pages/resolve-chat-models.ts
  packages/workout-spa-editor/src/components/pages/use-batch-runner.test.ts
  packages/workout-spa-editor/src/components/pages/use-batch-runner.ts
  packages/workout-spa-editor/src/components/pages/use-batch-state.test.ts
  packages/workout-spa-editor/src/components/pages/use-batch-state.ts
  packages/workout-spa-editor/src/hooks/chat/build-chat-agent.ts
  packages/workout-spa-editor/src/hooks/chat/chat-action-ops-impl.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.test.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-types.ts
  packages/workout-spa-editor/src/hooks/use-chat-action-ops.ts
  packages/workout-spa-editor/src/hooks/use-chat-turn.ts
  packages/workout-spa-editor/src/lib/generate-workout.test.ts
  packages/workout-spa-editor/src/lib/generate-workout.ts
  packages/workout-spa-editor/src/lib/provider-factory.test.ts
  packages/workout-spa-editor/src/lib/provider-factory.ts
  packages/workout-spa-editor/src/store/ai-store-types.ts
Due: frontend

feat(spa-editor): key-only provider form + per-profile Models settings
  openspec/changes/per-use-dynamic-model-selection/tasks.md
  packages/workout-spa-editor/src/application/ai/add-provider.ts
  packages/workout-spa-editor/src/application/ai/test-fixtures.ts
  packages/workout-spa-editor/src/application/ai/update-provider.test.ts
  packages/workout-spa-editor/src/application/ai/update-provider.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelPicker.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelPicker.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelSelect.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelsSection.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderEditRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderForm.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/use-ai-models-handlers.audit.test.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/use-ai-models-handlers.ts
Due: frontend

chore(spa-editor): drop legacy model from provider row + changeset
  .changeset/per-use-dynamic-model-selection.md
  openspec/changes/per-use-dynamic-model-selection/design.md
  openspec/changes/per-use-dynamic-model-selection/tasks.md
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderRow.tsx
Due: frontend

docs(openspec): mark task 1.2 done (model relaxed to optional in G5)
  openspec/changes/per-use-dynamic-model-selection/tasks.md
Due: none

chore(spa-editor): apply prettier formatting to model-binding files
  packages/workout-spa-editor/src/application/ai/clear-model-binding.test.ts
  packages/workout-spa-editor/src/application/ai/resolve-model-for-purpose.test.ts
  packages/workout-spa-editor/src/application/ai/resolve-model-for-purpose.ts
  packages/workout-spa-editor/src/application/sync/ai-model-binding-snapshot-sync.test.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelPicker.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ModelsSection.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/hooks/use-chat-action-ops.ts
  packages/workout-spa-editor/src/test-utils/in-memory-ai-model-binding-repository.ts
Due: frontend

fix(spa-editor): prefer the provider's stored model in resolver fallback
  openspec/changes/per-use-dynamic-model-selection/specs/spa-ai-model-selection/spec.md
  packages/workout-spa-editor/src/application/ai/resolve-model-for-purpose.test.ts
  packages/workout-spa-editor/src/application/ai/resolve-model-for-purpose.ts
  packages/workout-spa-editor/src/components/pages/resolve-chat-models.ts
Due: frontend

chore(openspec): archive per-use-dynamic-model-selection
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/.openspec.yaml
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/design.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/proposal.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/specs/spa-ai-chat/spec.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/specs/spa-ai-model-selection/spec.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-ai-chat/spec.md
  openspec/specs/spa-ai-model-selection/spec.md
  openspec/specs/spa-persistence-port/spec.md
Due: none

chore(openspec): archive per-use-dynamic-model-selection (#768)
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/.openspec.yaml
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/design.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/proposal.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/specs/spa-ai-chat/spec.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/specs/spa-ai-model-selection/spec.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-06-15-per-use-dynamic-model-selection/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/README.md
  openspec/specs/spa-ai-chat/spec.md
  openspec/specs/spa-ai-model-selection/spec.md
  openspec/specs/spa-persistence-port/spec.md
Due: none

feat(spa-editor): count-only chat analytics events
  .changeset/chat-analytics-events.md
  packages/workout-spa-editor/src/hooks/use-chat-turn-types.ts
  packages/workout-spa-editor/src/hooks/use-chat-turn.analytics.test.tsx
  packages/workout-spa-editor/src/hooks/use-chat-turn.ts
Due: frontend

feat(spa-editor): count-only chat analytics events (#769)
  .changeset/chat-analytics-events.md
  packages/workout-spa-editor/src/hooks/use-chat-turn-types.ts
  packages/workout-spa-editor/src/hooks/use-chat-turn.analytics.test.tsx
  packages/workout-spa-editor/src/hooks/use-chat-turn.ts
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
