Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

fix(ai): address CodeRabbit review feedback
  packages/ai/src/adapters/text-to-workout.test.ts
  packages/ai/src/adapters/text-to-workout.ts
  packages/ai/src/adapters/validate-input.test.ts
  packages/ai/src/adapters/validate-input.ts
  packages/ai/src/prompts/load-prompt.test.ts
  packages/ai/src/prompts/parse-workout.md
Due: none

fix(ai): address deep multi-agent review findings
  .github/workflows/changeset-bot.yml
  .github/workflows/release.yml
  packages/ai/src/adapters/reindex-steps.test.ts
  packages/ai/src/adapters/reindex-steps.ts
  packages/ai/src/adapters/text-to-workout.test.ts
  packages/ai/src/adapters/text-to-workout.ts
  packages/ai/src/adapters/validate-input.test.ts
  packages/ai/src/adapters/validate-input.ts
  packages/ai/src/errors.test.ts
  packages/ai/src/prompts/parse-workout.md
  packages/ai/tsconfig.json
  packages/ai/vitest.config.ts
Due: none

fix(deps): resolve all security audit vulnerabilities
  package.json
  pnpm-lock.yaml
Due: none

fix(deps): resolve security audit vulnerabilities
  .github/workflows/security.yml
  package.json
  pnpm-lock.yaml
Due: none

chore: update pnpm-lock.yaml after dep overrides
  pnpm-lock.yaml
Due: none

feat(gcn): add comprehensive reference and skill documentation for GCN workout generation
  .claude/skills/generate-gcn/SKILL.md
  .claude/skills/generate-gcn/reference.md
  .claude/skills/generate-gcn/zones.md
Due: none

docs(gcn): update GCN skill documentation and zone references
  .claude/skills/generate-gcn/SKILL.md
  .claude/skills/generate-gcn/reference.md
  .claude/skills/generate-gcn/zones.md
Due: none

chore(ai): add Claude Code agents, skills, and quality tool configs
  .claude/agents/architecture-guardian.md
  .claude/agents/bundle-optimizer.md
  .claude/agents/complexity-reducer.md
  .claude/agents/lint-fixer.md
  .claude/agents/test-improver.md
  .claude/skills/garmin-push/SKILL.md
  .dependency-cruiser.cjs
  .gitignore
  .jscpd.json
  .size-limit.json
  knip.json
Due: none

style: format agent definitions and config files per Prettier
  .claude/agents/architecture-guardian.md
  .claude/agents/bundle-optimizer.md
  .claude/agents/complexity-reducer.md
  .claude/agents/lint-fixer.md
  .claude/agents/test-improver.md
  .claude/skills/garmin-push/SKILL.md
  .size-limit.json
  knip.json
Due: none

chore: add .claude/worktrees/ to gitignore
  .gitignore
Due: none

fix: resolve security vulnerabilities and address CodeRabbit review comments
  .claude/agents/bundle-optimizer.md
  .claude/agents/test-improver.md
  .claude/skills/generate-gcn/reference.md
  .claude/skills/generate-gcn/zones.md
  .dependency-cruiser.cjs
  package.json
  packages/ai/src/adapters/reindex-steps.test.ts
  packages/cli/src/commands/config-integration.test.ts
  packages/workout-spa-editor/package.json
  pnpm-lock.yaml
Due: cli

feat(ci): expand test matrix to all packages
  .github/workflows/ci.yml
Due: none

chore: apply prettier formatting to ci.yml
  .github/workflows/ci.yml
Due: none

chore: apply prettier formatting to pnpm-lock.yaml
  pnpm-lock.yaml
Due: none

feat: integrate OpenSpec for spec-driven development
  .claude/agents/orchestrator.md
  .claude/hooks/check-file-size.js
  .claude/skills/opsx-apply/SKILL.md
  .claude/skills/opsx-archive/SKILL.md
  .claude/skills/opsx-explore/SKILL.md
  .claude/skills/opsx-propose/SKILL.md
  .claude/skills/opsx-sync/SKILL.md
  .claude/skills/opsx-verify/SKILL.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  openspec/config.yaml
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/hexagonal-arch/spec.md
  openspec/specs/krd-format/spec.md
  package.json
  pnpm-lock.yaml
  scripts/autonomous-loop.sh
  scripts/prompts/bundles.md
  scripts/prompts/complexity.md
  scripts/prompts/coverage.md
  scripts/prompts/deps.md
  scripts/prompts/lint.md
  scripts/prompts/test.md
Due: none

chore: apply prettier formatting to openspec files
  .claude/skills/opsx-propose/SKILL.md
  CLAUDE.md
  openspec/specs/adapter-contracts/spec.md
  openspec/specs/hexagonal-arch/spec.md
  openspec/specs/krd-format/spec.md
  pnpm-lock.yaml
Due: none

test(garmin-connect): add branch coverage tests for OAuth/SSO flows
  .changeset/openspec-integration.md
  packages/garmin-connect/src/adapters/auth/garmin-auth-provider.test.ts
  packages/garmin-connect/src/adapters/client/garmin-workout-service.test.ts
  packages/garmin-connect/src/adapters/http/garmin-http-client.test.ts
  packages/garmin-connect/src/adapters/http/oauth-consumer.test.ts
  packages/garmin-connect/src/adapters/http/sso-login.test.ts
  packages/garmin-connect/src/adapters/http/sso-oauth.test.ts
  packages/garmin-connect/src/adapters/http/sso-validators.test.ts
  packages/garmin-connect/src/adapters/http/token-refresh.test.ts
Due: none

feat(infra): add @kaiord/infra package with Garmin proxy Lambda + CDK stack
  openspec/changes/nl-to-garmin-web/design.md
  openspec/changes/nl-to-garmin-web/proposal.md
  openspec/changes/nl-to-garmin-web/specs/nl-to-garmin/spec.md
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/infra/README.md
  packages/infra/cdk.json
  packages/infra/package.json
  packages/infra/src/lambda/garmin-push.ts
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/handler.ts
  packages/infra/src/lambda/request-schema.ts
  packages/infra/src/lambda/response.ts
  packages/infra/src/stack/app.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  packages/infra/tsconfig.json
  packages/infra/vitest.config.ts
  pnpm-lock.yaml
Due: none

feat(spa): add encrypted credential storage with Web Crypto API
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/workout-spa-editor/src/lib/crypto.test.ts
  packages/workout-spa-editor/src/lib/crypto.ts
  packages/workout-spa-editor/src/lib/secure-storage.test.ts
  packages/workout-spa-editor/src/lib/secure-storage.ts
Due: frontend

feat(spa): add AI and Garmin Zustand stores
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/workout-spa-editor/src/store/ai-store.test.ts
  packages/workout-spa-editor/src/store/ai-store.ts
  packages/workout-spa-editor/src/store/garmin-store.test.ts
  packages/workout-spa-editor/src/store/garmin-store.ts
Due: frontend

feat(spa): add Settings panel with AI, Garmin, and Privacy tabs
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderForm.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderList.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SettingsPanel.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SettingsPanel.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/TabButton.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/index.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/types.ts
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/HeaderNav.tsx
Due: frontend

feat(spa): add AI workout generation UI with multi-provider support
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.test.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/ModelSelector.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/index.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/zones-formatter.ts
  packages/workout-spa-editor/src/lib/generate-workout.ts
  packages/workout-spa-editor/src/lib/provider-factory.ts
  pnpm-lock.yaml
Due: frontend

feat(spa): add Garmin Push button with Lambda integration
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/index.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutActions.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/lib/garmin-push.ts
  packages/workout-spa-editor/src/store/settings-dialog-store.ts
Due: frontend

feat(ai): add LLM eval suite with 22 benchmarks
  .github/workflows/eval.yml
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/ai/package.json
  packages/ai/src/evals/assertions.ts
  packages/ai/src/evals/benchmarks.json
  packages/ai/src/evals/reporter.ts
  packages/ai/src/evals/run-evals.ts
  packages/ai/src/evals/types.ts
Due: none

docs: add @kaiord/infra to CLAUDE.md packages list
  CLAUDE.md
  openspec/changes/nl-to-garmin-web/tasks.md
Due: none

fix(spa): resolve lint errors - split large files and fix formatting
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.test.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInputEmpty.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/ModelSelector.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/SportSelect.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/useAiGeneration.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderForm.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderList.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SettingsPanel.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SettingsPanel.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/LayoutHeader.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/HeaderNav.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/LayoutHeaderDialogs.tsx
  packages/workout-spa-editor/src/components/templates/MainLayout/components/LibraryButton.tsx
  packages/workout-spa-editor/src/lib/garmin-push.ts
  packages/workout-spa-editor/src/lib/generate-workout.ts
  packages/workout-spa-editor/src/lib/provider-factory.ts
  packages/workout-spa-editor/src/lib/secure-storage.ts
  packages/workout-spa-editor/src/store/ai-store-types.ts
  packages/workout-spa-editor/src/store/ai-store.test.ts
  packages/workout-spa-editor/src/store/ai-store.ts
  packages/workout-spa-editor/src/store/garmin-store.test.ts
  packages/workout-spa-editor/src/store/garmin-store.ts
  packages/workout-spa-editor/src/store/settings-dialog-store.ts
Due: frontend

chore: apply prettier formatting
  openspec/changes/nl-to-garmin-web/design.md
  openspec/changes/nl-to-garmin-web/proposal.md
  openspec/changes/nl-to-garmin-web/specs/nl-to-garmin/spec.md
  packages/infra/README.md
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/response.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  pnpm-lock.yaml
Due: none

feat: complete all remaining tasks for nl-to-garmin-web
  .changeset/config.json
  .changeset/nl-to-garmin-web.md
  .github/workflows/ci.yml
  openspec/changes/nl-to-garmin-web/tasks.md
  packages/ai/README.md
  packages/workout-spa-editor/README.md
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/e2e/fixtures/api-mocks.ts
  packages/workout-spa-editor/e2e/fixtures/lambda-responses.ts
  packages/workout-spa-editor/e2e/fixtures/llm-responses.ts
  packages/workout-spa-editor/e2e/garmin-push.spec.ts
  packages/workout-spa-editor/e2e/helpers/seed-stores.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/lib/provider-factory.test.ts
Due: frontend

chore: apply prettier formatting to README
  .github/workflows/ci.yml
  packages/ai/README.md
Due: none

fix: resolve CI failures and CodeRabbit review issues on PR #164
  .github/workflows/eval.yml
  packages/ai/README.md
  packages/ai/src/evals/reporter.ts
  packages/infra/package.json
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/handler.ts
  packages/infra/src/lambda/request-schema.ts
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/e2e/garmin-push.spec.ts
  packages/workout-spa-editor/e2e/helpers/seed-stores.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/lib/crypto.ts
  packages/workout-spa-editor/src/lib/secure-storage.ts
  packages/workout-spa-editor/src/store/garmin-store.ts
Due: frontend

test(e2e): mark ai-generate test as fixme (AiWorkoutInput not mounted in app yet)
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
Due: none

test(e2e): mark flaky mobile spacing test as fixme (pre-existing failure)
  packages/workout-spa-editor/e2e/button-improvements.spec.ts
Due: none

fix: address 19 deep code review findings from PR #164
  packages/ai/src/evals/run-evals.ts
  packages/infra/README.md
  packages/infra/src/lambda/handler.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/ModelSelector.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/SportSelect.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/AiTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminLambdaInput.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/PrivacyTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ProviderList.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SettingsPanel.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/TabButton.tsx
  packages/workout-spa-editor/src/lib/generate-workout.ts
  packages/workout-spa-editor/src/lib/provider-factory.test.ts
  packages/workout-spa-editor/src/lib/provider-factory.ts
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/src/store/ai-store.ts
  packages/workout-spa-editor/src/store/garmin-store.test.ts
  packages/workout-spa-editor/src/store/garmin-store.ts
Due: frontend

feat(spa): mount AiWorkoutInput in WelcomeSection + add encrypted store persistence
  packages/workout-spa-editor/e2e/ai-generate-workout.spec.ts
  packages/workout-spa-editor/src/App.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.test.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.tsx
  packages/workout-spa-editor/src/components/pages/GettingStartedTips.tsx
  packages/workout-spa-editor/src/components/pages/OrDivider.tsx
  packages/workout-spa-editor/src/components/pages/WelcomeSection.tsx
  packages/workout-spa-editor/src/hooks/use-store-hydration.ts
  packages/workout-spa-editor/src/store/ai-store-actions.ts
  packages/workout-spa-editor/src/store/ai-store-persistence.test.ts
  packages/workout-spa-editor/src/store/ai-store-persistence.ts
  packages/workout-spa-editor/src/store/ai-store-types.ts
  packages/workout-spa-editor/src/store/ai-store.test.ts
  packages/workout-spa-editor/src/store/ai-store.ts
  packages/workout-spa-editor/src/store/garmin-store-actions.ts
  packages/workout-spa-editor/src/store/garmin-store-persistence.test.ts
  packages/workout-spa-editor/src/store/garmin-store-persistence.ts
  packages/workout-spa-editor/src/store/garmin-store.test.ts
  packages/workout-spa-editor/src/store/garmin-store.ts
Due: frontend

fix(infra): disable declarations in tsconfig to fix race condition
  packages/infra/tsconfig.json
Due: none

feat(spa): redesign welcome page with AI as hero, manual as secondary
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutForm.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.test.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.tsx
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInputEmpty.tsx
  packages/workout-spa-editor/src/components/pages/ManualCreateSection.tsx
  packages/workout-spa-editor/src/components/pages/WelcomeSection.tsx
Due: frontend

fix(ai): replace structured output with text+parse for Anthropic compat
  packages/ai/src/adapters/text-to-workout.test.ts
  packages/ai/src/adapters/text-to-workout.ts
  packages/workout-spa-editor/src/components/organisms/AiWorkoutInput/AiWorkoutInput.tsx
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
