Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

refactor(spa-editor): replace getHtmlProps destructure with key-set filter (Pass C)
  packages/workout-spa-editor/src/components/molecules/StepCard/StepCard.tsx
Due: frontend

refactor(spa-editor): simplify isModifierKeyPressed to direct flag read (Pass D)
  packages/workout-spa-editor/src/components/molecules/StepCard/use-modifier-detection.ts
Due: frontend

test(spa-editor): shared download mock helper for utils tests (Pass E)
  packages/workout-spa-editor/src/test-utils/mock-download.ts
  packages/workout-spa-editor/src/utils/backup-download.test.ts
  packages/workout-spa-editor/src/utils/save-workout.test.ts
Due: frontend

refactor(spa-editor): extract getStructuredWorkout helper (Pass F)
  packages/workout-spa-editor/src/components/molecules/SaveButton/save-handler.ts
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/calculate-duration.ts
  packages/workout-spa-editor/src/components/molecules/SaveToLibraryButton/generate-thumbnail.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/hooks/useMetadataForm.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutMetadataEditor/utils/krd-builder.ts
  packages/workout-spa-editor/src/utils/save-workout.ts
  packages/workout-spa-editor/src/utils/structured-workout.ts
Due: frontend

refactor(spa-editor): consolidate DnD wrappers into useDndCardWrapper hook (Pass G)
  packages/workout-spa-editor/src/components/molecules/RepetitionBlockCard/SortableStep.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/SortableRepetitionBlockCard.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/SortableStepCard.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/sortable-repetition-block-card.helpers.ts
  packages/workout-spa-editor/src/hooks/use-dnd-card-wrapper.ts
Due: frontend

refactor(spa-editor): collapse StepCard sub-files (Pass H)
  packages/workout-spa-editor/src/components/molecules/StepCard/StepCard.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/format-cadence-pace.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-cadence-pace.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-helpers.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-power-hr.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-power-hr.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-target-helpers.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-target.test.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/format-target.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/get-step-label.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/render-step-card-content.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/step-card-data.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/use-step-card-data.ts
Due: frontend

fix(spa-editor): type useDndCardWrapper ref as HTMLDivElement to fix tsc -b build
  packages/workout-spa-editor/src/hooks/use-dnd-card-wrapper.ts
Due: frontend

fix(spa-editor): close residual E2E flakes (firefox + Mobile Safari)
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/profiles.spec.ts
  packages/workout-spa-editor/src/hooks/use-focus-on-route-change.ts
Due: frontend

test(spa-editor): bump focus-hook waitFor to 6s for new 5s OBSERVE_TIMEOUT
  packages/workout-spa-editor/src/hooks/use-focus-on-route-change.test.tsx
Due: frontend

test(spa-editor): set 8s vitest test timeout for focus-hook fallback case
  packages/workout-spa-editor/src/hooks/use-focus-on-route-change.test.tsx
Due: frontend

fix(spa-editor): close residual E2E flakes (firefox + Mobile Safari) (#583)
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/profiles.spec.ts
  packages/workout-spa-editor/src/hooks/use-focus-on-route-change.test.tsx
  packages/workout-spa-editor/src/hooks/use-focus-on-route-change.ts
Due: frontend

fix(spa-editor): fixme remaining webkit E2E flakes
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/profiles.spec.ts
Due: none

fix(spa-editor): fixme remaining webkit E2E flakes (#584)
  packages/workout-spa-editor/e2e/library-flows.spec.ts
  packages/workout-spa-editor/e2e/profiles.spec.ts
Due: none

chore(ci): raise SPA E2E job timeout 25 → 35 min (firefox sweep)
  .github/workflows/workout-spa-editor-e2e.yml
Due: none

chore(ci): raise SPA E2E job timeout 25 → 35 min (firefox sweep) (#585)
  .github/workflows/workout-spa-editor-e2e.yml
Due: none

fix(docs): spread llmstxt() tuple to satisfy stricter Vite PluginOption type
  packages/docs/.vitepress/config.ts
Due: none

fix(docs): spread llmstxt() tuple to satisfy stricter Vite PluginOption type (#590)
  packages/docs/.vitepress/config.ts
Due: none

fix(docs): replace defineConfig() helper with satisfies UserConfig to avoid TypeScript 6 crash
  packages/docs/.vitepress/config.ts
Due: none

fix(docs): replace defineConfig() helper with satisfies UserConfig to avoid TypeScript 6 crash (#592)
  packages/docs/.vitepress/config.ts
Due: none

fix(spa-editor): split coaching description on any newline run
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.test.ts
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.ts
Due: frontend

fix(spa-editor): split coaching description on any newline run (#594)
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.test.ts
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.ts
Due: frontend

refactor(spa-editor): introduce toPersistedCoachingActivityId helper for sessionMatches id-shape
  packages/workout-spa-editor/src/types/coaching-activity-record.ts
Due: frontend

fix(spa-editor): canonicalize sessionMatches.coachingActivityId to COMPOSITE (H7)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-auto-heal.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-actions.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-actions.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-state.ts
  packages/workout-spa-editor/src/hooks/use-activity-match-state.ts
Due: frontend

feat(spa-editor): add in-app heal for session-match id-shape orphans
  packages/workout-spa-editor/src/adapters/dexie/dexie-session-match-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-session-match-update.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape-helpers.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape-types.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape.test.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape.ts
  packages/workout-spa-editor/src/ports/session-match-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-session-match-repository.ts
Due: frontend

fix(spa-editor): warn + trigger heal in useMatchedSessions.hydrate (H8)
  packages/workout-spa-editor/src/hooks/use-matched-sessions-heal.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.test.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-query.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions.test.tsx
  packages/workout-spa-editor/src/hooks/use-matched-sessions.ts
Due: frontend

test(spa-editor): add calendar-buckets.test.ts unit coverage
  packages/workout-spa-editor/src/components/pages/calendar-buckets.test.ts
Due: frontend

test(spa-editor): add static guard for SHORT-form coachingActivityId
  CLAUDE.md
  package.json
  scripts/check-session-match-id-shape.mjs
  scripts/check-session-match-id-shape.test.mjs
Due: none

fix(spa-editor): canonicalize sessionMatch id shape; heal Train2Go matched-render 2-card bug (#595)
  CLAUDE.md
  package.json
  packages/workout-spa-editor/src/adapters/dexie/dexie-session-match-repository.ts
  packages/workout-spa-editor/src/adapters/dexie/dexie-session-match-update.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape-helpers.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape-types.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape.test.ts
  packages/workout-spa-editor/src/application/coaching/heal-session-match-id-shape.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-auto-heal.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-actions.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-actions.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-state.ts
  packages/workout-spa-editor/src/components/pages/calendar-buckets.test.ts
  packages/workout-spa-editor/src/hooks/use-activity-match-state.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-heal.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.test.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-hydrate.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions-query.ts
  packages/workout-spa-editor/src/hooks/use-matched-sessions.test.tsx
  packages/workout-spa-editor/src/hooks/use-matched-sessions.ts
  packages/workout-spa-editor/src/ports/session-match-repository.ts
  packages/workout-spa-editor/src/test-utils/in-memory-session-match-repository.ts
  packages/workout-spa-editor/src/types/coaching-activity-record.ts
  scripts/check-session-match-id-shape.mjs
  scripts/check-session-match-id-shape.test.mjs
Due: frontend

chore: apply Prettier formatting across packages
  packages/cli/src/utils/krd-converter.ts
  packages/train2go-bridge/background.js
  packages/train2go-bridge/test/parser.test.js
  packages/workout-spa-editor/src/lib/fitsdk-minimal/profile.js
  packages/workout-spa-editor/vite.config.ts
Due: cli, frontend

chore: add changeset for cli formatting
  .changeset/prettier-formatting-sweep.md
Due: none

chore(spa-editor): address CodeRabbit nits on three-slot grouping PR
  packages/workout-spa-editor/src/adapters/dexie/dexie-v12-migration.test.ts
  packages/workout-spa-editor/src/components/pages/use-calendar-buckets-memo.ts
  packages/workout-spa-editor/src/test-utils/in-memory-session-match-conflicts.ts
  packages/workout-spa-editor/src/test-utils/in-memory-session-match-readers.ts
  packages/workout-spa-editor/src/test-utils/in-memory-session-match-repository.ts
Due: frontend

chore: apply Prettier formatting across packages (#596)
  .changeset/prettier-formatting-sweep.md
  packages/cli/src/utils/krd-converter.ts
  packages/train2go-bridge/background.js
  packages/train2go-bridge/test/parser.test.js
  packages/workout-spa-editor/src/lib/fitsdk-minimal/profile.js
  packages/workout-spa-editor/vite.config.ts
Due: cli, frontend

fix(spa-editor): re-arm fired dedup keys on appendExecutedWorkoutIds rejection
  packages/workout-spa-editor/src/hooks/use-executed-match-auto.ts
Due: frontend

feat(spa-editor): show executed activities in matched coaching dialog
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialogContent.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/ExecutedWorkoutsSection.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/ExecutedWorkoutsSection.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/LinkedWorkoutSection.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-body-props.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-body.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-matched-body.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/linked-workout-utils.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-state.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-state.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-open-executed-handler.ts
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPageView.tsx
Due: frontend

fix(train2go-bridge): preserve <li>/<br> line breaks in coaching description
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/test/parser.test.js
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.test.ts
Due: frontend

feat(spa-editor): show executed activities in matched coaching dialog (#599)
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialogContent.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/ExecutedWorkoutsSection.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/ExecutedWorkoutsSection.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/LinkedWorkoutSection.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-body-props.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-body.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/coaching-dialog-matched-body.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/linked-workout-utils.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-state.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog-state.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-open-executed-handler.ts
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPageView.tsx
Due: frontend

fix(train2go-bridge): preserve <li>/<br> line breaks in coaching description (#600)
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/test/parser.test.js
  packages/workout-spa-editor/src/components/organisms/CoachingSidebar/format-coaching-description.test.ts
Due: frontend
