Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

feat(infra): working SOCKS5 proxy with fetch-socks + full documentation (#215)
  openspec/changes/fork-tailscale-extension/design.md
  openspec/changes/fork-tailscale-extension/proposal.md
  openspec/changes/fork-tailscale-extension/specs/extension/spec.md
  openspec/changes/fork-tailscale-extension/tasks.md
  openspec/changes/lambda-tailscale-exit-node/SOLUTION.md
  packages/infra/package.json
  packages/infra/src/lambda/garmin-push.ts
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/handler.ts
  packages/infra/src/lambda/proxy-fetch.test.ts
  packages/infra/src/lambda/proxy-fetch.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  pnpm-lock.yaml
Due: none

debug(cli): add stderr logging to flaky diff integration tests
  packages/cli/src/commands/diff-integration.test.ts
Due: cli

debug(cli): add stderr logging to flaky diff integration tests (#216)
  packages/cli/src/commands/diff-integration.test.ts
Due: cli

style(spa): fix import order in GarminTab
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
Due: frontend

fix(spa): add Save button for credentials and fix Lambda URL placeholder
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminLambdaInput.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
Due: frontend

chore: sync lockfile after rebase
  openspec/changes/fork-tailscale-extension/design.md
  openspec/changes/fork-tailscale-extension/proposal.md
  openspec/changes/fork-tailscale-extension/specs/extension/spec.md
  openspec/changes/lambda-tailscale-exit-node/SOLUTION.md
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
  pnpm-lock.yaml
Due: frontend

fix(e2e): click Save Credentials in Garmin push test
  packages/workout-spa-editor/e2e/garmin-push.spec.ts
Due: none

fix(spa): Garmin settings Save button and placeholder (#199)
  openspec/changes/fork-tailscale-extension/design.md
  openspec/changes/fork-tailscale-extension/proposal.md
  openspec/changes/fork-tailscale-extension/specs/extension/spec.md
  openspec/changes/lambda-tailscale-exit-node/SOLUTION.md
  packages/workout-spa-editor/e2e/garmin-push.spec.ts
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminLambdaInput.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
  pnpm-lock.yaml
Due: frontend

chore: verify and archive lambda-tailscale-exit-node openspec
  openspec/changes/archive/lambda-tailscale-exit-node/SOLUTION.md
  openspec/changes/archive/lambda-tailscale-exit-node/design.md
  openspec/changes/archive/lambda-tailscale-exit-node/proposal.md
  openspec/changes/archive/lambda-tailscale-exit-node/specs/networking/spec.md
  openspec/changes/archive/lambda-tailscale-exit-node/tasks.md
  openspec/changes/lambda-tailscale-exit-node/tasks.md
Due: none

style: apply lint fix to expand-file-upload helper
  packages/workout-spa-editor/e2e/helpers/expand-file-upload.ts
Due: none

chore: remove temporary GCN workout files
  especifico-transicion-2x30-z3.gcn
  transicion-4x600z4-800z2.gcn
Due: none

fix(ci): E2E Firefox locator fix and upgrade deprecated Node.js 20 actions
  .github/actions/setup-pnpm/action.yml
  .github/workflows/changeset-bot.yml
  .github/workflows/deploy-infra.yml
  .github/workflows/deploy-spa-editor.yml
  .github/workflows/eval.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/workout-spa-editor-e2e.yml
  openspec/changes/fix-e2e-firefox-and-node20-warnings/design.md
  openspec/changes/fix-e2e-firefox-and-node20-warnings/proposal.md
  openspec/changes/fix-e2e-firefox-and-node20-warnings/specs/ci-reliability/spec.md
  openspec/changes/fix-e2e-firefox-and-node20-warnings/tasks.md
Due: none

style: format openspec artifacts with prettier
  openspec/changes/fix-e2e-firefox-and-node20-warnings/design.md
  openspec/changes/fix-e2e-firefox-and-node20-warnings/specs/ci-reliability/spec.md
Due: none

chore(openspec): mark all tasks as completed after verification
  openspec/changes/fix-e2e-firefox-and-node20-warnings/tasks.md
Due: none

chore(openspec): archive fix-e2e-firefox-and-node20-warnings after completion
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/design.md
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/proposal.md
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/specs/ci-reliability/spec.md
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/tasks.md
Due: none

style(openspec): add language tag to fenced code blocks in spec
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/specs/ci-reliability/spec.md
Due: none

fix(ci): E2E Firefox locator fix and upgrade deprecated Node.js 20 actions (#217)
  .github/actions/setup-pnpm/action.yml
  .github/workflows/changeset-bot.yml
  .github/workflows/deploy-infra.yml
  .github/workflows/deploy-spa-editor.yml
  .github/workflows/eval.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/workout-spa-editor-e2e.yml
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/design.md
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/proposal.md
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/specs/ci-reliability/spec.md
  openspec/changes/archive/fix-e2e-firefox-and-node20-warnings/tasks.md
Due: none

fix(spa): stabilize E2E CI with waitFor and increased job timeout
  .github/workflows/workout-spa-editor-e2e.yml
  packages/workout-spa-editor/e2e/helpers/expand-file-upload.ts
Due: none

fix(spa): stabilize E2E CI with waitFor and increased job timeout (#218)
  .github/workflows/workout-spa-editor-e2e.yml
  packages/workout-spa-editor/e2e/helpers/expand-file-upload.ts
Due: none

feat(infra): migrate to forked tailscale-lambda-extension with exit-node and advertise-tags
  .github/workflows/deploy-infra.yml
  openspec/changes/fork-tailscale-extension/specs/extension/spec.md
  packages/infra/package.json
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/handler.ts
  packages/infra/src/lambda/tailscale-exit-node.test.ts
  packages/infra/src/lambda/tailscale-exit-node.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  packages/infra/src/types/tailscale-lambda-extension.d.ts
  pnpm-lock.yaml
Due: none

chore: add changeset for fork-tailscale-extension migration
  .changeset/fork-tailscale-extension.md
Due: none

fix(spa): fix remaining E2E failures on Mobile Chrome, Safari, and WebKit
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/onboarding.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/index.css
Due: frontend

fix(spa): fix remaining E2E failures on Mobile Chrome, Safari, and WebKit (#220)
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/onboarding.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/src/index.css
Due: frontend

feat(infra): switch to forked tailscale-lambda-extension with exit-node and advertise-tags (#219)
  .changeset/fork-tailscale-extension.md
  .github/workflows/deploy-infra.yml
  openspec/changes/fork-tailscale-extension/specs/extension/spec.md
  packages/infra/package.json
  packages/infra/src/lambda/handler.test.ts
  packages/infra/src/lambda/handler.ts
  packages/infra/src/lambda/tailscale-exit-node.test.ts
  packages/infra/src/lambda/tailscale-exit-node.ts
  packages/infra/src/stack/garmin-proxy-stack.ts
  packages/infra/src/types/tailscale-lambda-extension.d.ts
  pnpm-lock.yaml
Due: none

fix(e2e): fix remaining theme toggle, modal, and settings test failures
  packages/workout-spa-editor/e2e/accessibility.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
Due: none

fix(infra): use release tarball for fork dependency and remove manual type declaration
  packages/infra/package.json
  packages/infra/src/types/tailscale-lambda-extension.d.ts
  pnpm-lock.yaml
Due: none

fix(e2e): fix remaining theme toggle, modal, and settings test failures (#221)
  packages/workout-spa-editor/e2e/accessibility.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
Due: none

fix(infra): bump fork to v0.1.1 with exit-node flag fix
  packages/infra/package.json
  pnpm-lock.yaml
Due: none

fix(e2e): fix smooth transitions and mobile viewport test on Mobile Chrome
  packages/workout-spa-editor/e2e/accessibility.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
Due: none

chore: apply prettier formatting to lockfile
  pnpm-lock.yaml
Due: none

fix(e2e): fix smooth transitions and mobile viewport test on Mobile Chrome (#223)
  packages/workout-spa-editor/e2e/accessibility.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
Due: none

chore: archive fork-tailscale-extension openspec
  openspec/changes/archive/fork-tailscale-extension/design.md
  openspec/changes/archive/fork-tailscale-extension/proposal.md
  openspec/changes/archive/fork-tailscale-extension/specs/extension/spec.md
  openspec/changes/archive/fork-tailscale-extension/tasks.md
  openspec/changes/fork-tailscale-extension/tasks.md
Due: none

fix(e2e): retry accordion click to handle React hydration gap on slow CI
  packages/workout-spa-editor/e2e/helpers/expand-file-upload.ts
Due: none

fix(e2e): retry accordion click to handle React hydration gap on slow CI (#225)
  packages/workout-spa-editor/e2e/helpers/expand-file-upload.ts
Due: none

fix(e2e): relax performance thresholds for WebKit CI variability
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
Due: none

fix(e2e): relax performance thresholds for WebKit CI variability (#226)
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
Due: none

fix: address CodeRabbit review feedback
  .github/workflows/eval.yml
  .github/workflows/workout-spa-editor-e2e.yml
  packages/infra/src/stack/alarms.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutList/sortable-repetition-block-card.helpers.ts
Due: frontend

chore: apply lint import order fix
  packages/workout-spa-editor/src/components/organisms/WorkoutList/sortable-repetition-block-card.helpers.ts
Due: frontend
