Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 80%
        threshold: 2%
      frontend:
        target: 70%
        threshold: 2%
        flags:
          - frontend
    patch:
      default:
        target: 80%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  core:
    paths:
      - packages/core/src/
    carryforward: true
  fit:
    paths:
      - packages/fit/src/
    carryforward: true
  tcx:
    paths:
      - packages/tcx/src/
    carryforward: true
  zwo:
    paths:
      - packages/zwo/src/
    carryforward: true
  garmin:
    paths:
      - packages/garmin/src/
    carryforward: true
  cli:
    paths:
      - packages/cli/src/
    carryforward: true
  frontend:
    paths:
      - packages/workout-spa-editor/src/
    carryforward: true

bundle_analysis:
  status: informational

chore: reformat pnpm-lock.yaml after lint:fix
  pnpm-lock.yaml
Due: none

feat(ci): add Codecov Bundle Analysis for SPA (#110)
  .changeset/codecov-bundle-analysis.md
  .github/workflows/ci.yml
  codecov.yml
  package.json
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/vite.config.ts
  pnpm-lock.yaml
Due: none

fix(ci): handle empty version commits in release workflow
  .changeset/codecov-bundle-analysis.md
  .github/workflows/release.yml
Due: none

fix(ci): handle empty version commits in release workflow (#111)
  .changeset/codecov-bundle-analysis.md
  .github/workflows/release.yml
Due: none

fix(spa): suppress adapter logger noise in test output
  packages/workout-spa-editor/src/components/pages/WorkoutSection/workout-section-handlers-helpers.ts
  packages/workout-spa-editor/vitest.config.ts
Due: frontend

chore: apply prettier formatting to vitest config
  packages/workout-spa-editor/vitest.config.ts
Due: none

fix(spa): suppress adapter logger noise in test output (#112)
  packages/workout-spa-editor/src/components/pages/WorkoutSection/workout-section-handlers-helpers.ts
  packages/workout-spa-editor/vitest.config.ts
Due: frontend

fix(spa): remove verification.test.ts breaking Playwright discovery
  packages/workout-spa-editor/e2e/test-utils/verification.test.ts
Due: none

fix(spa): remove verification.test.ts breaking Playwright discovery (#113)
  packages/workout-spa-editor/e2e/test-utils/verification.test.ts
Due: none

fix(ci,spa): build all workspace deps for E2E and suppress console-spy output
  .github/workflows/workout-spa-editor-e2e.yml
  packages/workout-spa-editor/src/test-utils/console-spy.ts
Due: frontend

fix(ci,spa): build all workspace deps for E2E and suppress console-spy output (#114)
  .github/workflows/workout-spa-editor-e2e.yml
  packages/workout-spa-editor/src/test-utils/console-spy.ts
Due: frontend

fix(spa): skip copy-paste E2E tests on mobile viewports
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
Due: none

fix(spa): skip copy-paste E2E tests on mobile viewports (#115)
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
Due: none

fix(spa): stabilize mobile E2E tests across all browsers
  packages/workout-spa-editor/e2e/button-improvements.spec.ts
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/e2e/delete-undo.spec.ts
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/mobile-touch-drag.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
Due: none

fix(spa): stabilize mobile E2E tests across all browsers (#116)
  packages/workout-spa-editor/e2e/button-improvements.spec.ts
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/e2e/delete-undo.spec.ts
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/mobile-touch-drag.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
Due: none

fix(spa): stabilize mobile E2E tests across all browsers
  packages/workout-spa-editor/e2e/button-improvements.spec.ts
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/e2e/delete-undo.spec.ts
  packages/workout-spa-editor/e2e/error-handling.spec.ts
  packages/workout-spa-editor/e2e/mobile-touch-drag.spec.ts
  packages/workout-spa-editor/e2e/modal-interactions.spec.ts
  packages/workout-spa-editor/e2e/repetition-blocks.spec.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/CopyButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/DeleteButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/DuplicateButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/StepCardActions.tsx
  packages/workout-spa-editor/src/components/molecules/delete-button-styling.test.tsx
Due: frontend

docs: rebrand as Open-Source Health & Fitness Data Framework
  CLAUDE.md
  DEPLOYMENT.md
  README.md
  docs/getting-started.md
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/fit/README.md
  packages/fit/package.json
  packages/garmin/README.md
  packages/garmin/package.json
  packages/tcx/README.md
  packages/tcx/package.json
  packages/zwo/README.md
  packages/zwo/package.json
Due: none

fix(spa): migrate remaining toast selectors per CodeRabbit review
  packages/workout-spa-editor/e2e/delete-undo.spec.ts
Due: none

docs: fix CodeRabbit review comments
  DEPLOYMENT.md
  README.md
Due: none

fix(spa): fix root causes of E2E failures on all viewports
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/e2e/delete-undo.spec.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/CopyButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/DeleteButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/DuplicateButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/StepCardActions.tsx
  packages/workout-spa-editor/src/components/molecules/delete-button-styling.test.tsx
Due: frontend

docs: rebrand as Open-Source Health & Fitness Data Framework (#117)
  CLAUDE.md
  DEPLOYMENT.md
  README.md
  docs/getting-started.md
  package.json
  packages/core/README.md
  packages/core/package.json
  packages/fit/README.md
  packages/fit/package.json
  packages/garmin/README.md
  packages/garmin/package.json
  packages/tcx/README.md
  packages/tcx/package.json
  packages/zwo/README.md
  packages/zwo/package.json
Due: none

fix(spa): fix root causes of E2E failures on all viewports (#119)
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/e2e/delete-undo.spec.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/CopyButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/DeleteButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/DuplicateButton.tsx
  packages/workout-spa-editor/src/components/molecules/StepCard/StepCardActions.tsx
  packages/workout-spa-editor/src/components/molecules/delete-button-styling.test.tsx
Due: frontend

fix(spa): fix step card transition-all causing Playwright instability
  .gitignore
  packages/workout-spa-editor/e2e/helpers/load-test-workout.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/use-step-card-classes.ts
Due: frontend

chore: apply prettier formatting to README
  README.md
Due: none

fix(spa): fix step card transition-all causing E2E instability (#121)
  .gitignore
  README.md
  packages/workout-spa-editor/e2e/helpers/load-test-workout.ts
  packages/workout-spa-editor/src/components/molecules/StepCard/use-step-card-classes.ts
Due: frontend

chore: add changesets for npm description update
  .changeset/update-core-description.md
  .changeset/update-fit-description.md
  .changeset/update-garmin-description.md
  .changeset/update-tcx-description.md
  .changeset/update-zwo-description.md
Due: none

chore: add changesets for npm description update (#122)
  .changeset/update-core-description.md
  .changeset/update-fit-description.md
  .changeset/update-garmin-description.md
  .changeset/update-tcx-description.md
  .changeset/update-zwo-description.md
Due: none

fix(spa): keep tutorial dismissed in copy-paste E2E tests
  README.md
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
Due: none

feat(core,garmin): add LLM agent support for structured workouts
  packages/core/schema/krd.json
  packages/core/schema/structured-workout-full.json
  packages/core/scripts/generate-schema.ts
  packages/core/src/domain/converters/workout-to-krd.converter.test.ts
  packages/core/src/domain/converters/workout-to-krd.converter.ts
  packages/core/src/domain/validation/extract-workout.test.ts
  packages/core/src/domain/validation/extract-workout.ts
  packages/core/src/domain/validation/map-zod-errors.ts
  packages/core/src/domain/validation/validate-krd.ts
  packages/core/src/index.ts
  packages/garmin/src/adapters/workout-to-garmin.test.ts
  packages/garmin/src/adapters/workout-to-garmin.ts
  packages/garmin/src/index.ts
Due: core, garmin

fix(core,fit,garmin): use sportSchema/subSportSchema enums in workoutSchema
  packages/core/schema/structured-workout-full.json
  packages/core/schema/workout.json
  packages/core/src/domain/schemas/workout.ts
  packages/core/src/tests/fixtures/workout/swimming-workout.fixtures.ts
  packages/core/src/tests/fixtures/workout/workout.fixtures.ts
  packages/fit/src/adapters/shared/type-guards.ts
  packages/garmin/src/adapters/mappers/sport.mapper.ts
Due: core, fit, garmin

chore: add changeset for LLM agent support
  .changeset/llm-agent-support.md
Due: none

chore: apply prettier formatting
  packages/core/src/domain/schemas/workout.ts
  packages/core/src/tests/fixtures/workout/swimming-workout.fixtures.ts
  packages/core/src/tests/fixtures/workout/workout.fixtures.ts
Due: core

feat(core,garmin): add LLM agent support for structured workouts (#120)
  .changeset/llm-agent-support.md
  packages/core/schema/krd.json
  packages/core/schema/structured-workout-full.json
  packages/core/scripts/generate-schema.ts
  packages/core/src/domain/converters/workout-to-krd.converter.test.ts
  packages/core/src/domain/converters/workout-to-krd.converter.ts
  packages/core/src/domain/schemas/workout.ts
  packages/core/src/domain/validation/extract-workout.test.ts
  packages/core/src/domain/validation/extract-workout.ts
  packages/core/src/domain/validation/map-zod-errors.ts
  packages/core/src/domain/validation/validate-krd.ts
  packages/core/src/index.ts
  packages/core/src/tests/fixtures/workout/swimming-workout.fixtures.ts
  packages/core/src/tests/fixtures/workout/workout.fixtures.ts
  packages/fit/src/adapters/shared/type-guards.ts
  packages/garmin/src/adapters/mappers/sport.mapper.ts
  packages/garmin/src/adapters/workout-to-garmin.test.ts
  packages/garmin/src/adapters/workout-to-garmin.ts
  packages/garmin/src/index.ts
Due: core, fit, garmin

fix(spa): keep tutorial dismissed in copy-paste E2E tests (#123)
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
Due: none

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): address CodeRabbit review issues in Claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

style: apply prettier formatting to Claude workflows
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

fix(spa): add clipboard fallback for cross-browser E2E stability
  packages/workout-spa-editor/e2e/copy-paste.spec.ts
  packages/workout-spa-editor/playwright.config.ts
  packages/workout-spa-editor/src/store/actions/copy-step-action.test.ts
  packages/workout-spa-editor/src/store/actions/copy-step-action.ts
  packages/workout-spa-editor/src/store/actions/paste-step-action.test.ts
  packages/workout-spa-editor/src/store/actions/paste-step-helpers.ts
  packages/workout-spa-editor/src/store/clipboard-store.ts
Due: frontend

chore: apply prettier import ordering
  packages/workout-spa-editor/src/store/actions/copy-step-action.ts
Due: frontend
