Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

chore(openspec): archive spa-calendar-redesign, sync specs to main
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/.openspec.yaml
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/design.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/proposal.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-ai-batch/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-bridge-protocol/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-calendar/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-garmin-extension/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-workout-state-machine/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/tasks.md
  openspec/changes/spa-calendar-redesign/tasks.md
  openspec/specs/spa-ai-batch/spec.md
  openspec/specs/spa-bridge-protocol/spec.md
  openspec/specs/spa-calendar/spec.md
  openspec/specs/spa-garmin-extension/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-workout-state-machine/spec.md
Due: none

fix: address CodeRabbit review on PR #285
  packages/workout-spa-editor/e2e/calendar-workouts.spec.ts
  packages/workout-spa-editor/src/adapters/bridge/operation-queue.test.ts
Due: frontend

test: add missing spec scenario tests for calendar redesign (#285)
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/.openspec.yaml
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/design.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/proposal.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-ai-batch/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-bridge-protocol/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-calendar/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-garmin-extension/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-persistence-port/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/specs/spa-workout-state-machine/spec.md
  openspec/changes/archive/2026-04-13-spa-calendar-redesign/tasks.md
  openspec/changes/spa-calendar-redesign/tasks.md
  openspec/specs/spa-ai-batch/spec.md
  openspec/specs/spa-bridge-protocol/spec.md
  openspec/specs/spa-calendar/spec.md
  openspec/specs/spa-garmin-extension/spec.md
  openspec/specs/spa-persistence-port/spec.md
  openspec/specs/spa-workout-state-machine/spec.md
  packages/garmin-bridge/test/background.test.js
  packages/workout-spa-editor/e2e/calendar-workouts.spec.ts
  packages/workout-spa-editor/src/adapters/bridge/bridge-registry.test.ts
  packages/workout-spa-editor/src/adapters/bridge/operation-queue.test.ts
  packages/workout-spa-editor/src/components/molecules/BatchProcessingBanner/BatchProcessingBanner.test.tsx
  packages/workout-spa-editor/src/components/molecules/RawWorkoutDialog/raw-workout-hooks.test.ts
  packages/workout-spa-editor/src/hooks/garmin-bridge-operations.test.ts
Due: frontend

feat(train2go-bridge): add Chrome extension to read Train2Go training plans
  openspec/changes/train2go-bridge/.openspec.yaml
  openspec/changes/train2go-bridge/design.md
  openspec/changes/train2go-bridge/proposal.md
  openspec/changes/train2go-bridge/specs/spa-train2go-extension/spec.md
  openspec/changes/train2go-bridge/specs/train2go-bridge/spec.md
  openspec/changes/train2go-bridge/tasks.md
  packages/train2go-bridge/background.js
  packages/train2go-bridge/content.js
  packages/train2go-bridge/icons/icon128.png
  packages/train2go-bridge/icons/icon16.png
  packages/train2go-bridge/icons/icon48.png
  packages/train2go-bridge/manifest.json
  packages/train2go-bridge/manifest.prod.json
  packages/train2go-bridge/package.json
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/popup.html
  packages/train2go-bridge/popup.js
  packages/train2go-bridge/test/background.test.js
  packages/train2go-bridge/test/chrome-mock.js
  packages/train2go-bridge/test/content.test.js
  packages/train2go-bridge/test/fixtures/daily.html
  packages/train2go-bridge/test/fixtures/ping-active.json
  packages/train2go-bridge/test/fixtures/ping-expired.json
  packages/train2go-bridge/test/fixtures/weekly.html
  packages/train2go-bridge/test/parser.test.js
  packages/train2go-bridge/tsconfig.json
  packages/train2go-bridge/vitest.config.js
  pnpm-lock.yaml
Due: none

feat(spa): add Train2Go Zustand store and extension detection
  openspec/changes/train2go-bridge/tasks.md
  packages/cli/src/commands/validate-integration.test.ts
  packages/cli/src/tests/cli-smoke.test.ts
  packages/train2go-bridge/TESTING.md
  packages/workout-spa-editor/.env.example
  packages/workout-spa-editor/src/hooks/use-store-hydration.ts
  packages/workout-spa-editor/src/hooks/use-train2go-detection.ts
  packages/workout-spa-editor/src/store/train2go-detect.ts
  packages/workout-spa-editor/src/store/train2go-extension-transport.ts
  packages/workout-spa-editor/src/store/train2go-store-actions.ts
  packages/workout-spa-editor/src/store/train2go-store.ts
Due: cli, frontend

fix(train2go-bridge): export parser functions to service worker globalThis
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/popup.js
Due: none

style: apply prettier formatting to all modified files
  openspec/changes/train2go-bridge/design.md
  openspec/changes/train2go-bridge/proposal.md
  packages/cli/src/tests/cli-smoke.test.ts
  packages/train2go-bridge/background.js
  packages/train2go-bridge/content.js
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/test/background.test.js
  packages/train2go-bridge/test/fixtures/daily.html
  packages/train2go-bridge/test/fixtures/weekly.html
  packages/train2go-bridge/test/parser.test.js
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.test.tsx
  packages/workout-spa-editor/src/store/train2go-detect.test.ts
  pnpm-lock.yaml
Due: cli, frontend

feat(spa): add read:training-plan to bridge capability schema
  packages/workout-spa-editor/src/types/bridge-schemas.ts
Due: frontend

refactor(spa): introduce CoachingSource port and registry pattern
  openspec/changes/train2go-bridge/design.md
  openspec/changes/train2go-bridge/tasks.md
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-source.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingSyncButton.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-context.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  packages/workout-spa-editor/src/main.tsx
  packages/workout-spa-editor/src/test-utils.tsx
  packages/workout-spa-editor/src/types/coaching-source.ts
Due: frontend

test(spa): add detect, CalendarWeekGrid, and CalendarPage tests
  openspec/changes/train2go-bridge/tasks.md
  packages/workout-spa-editor/src/components/pages/CalendarPage.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.test.tsx
  packages/workout-spa-editor/src/store/train2go-detect.test.ts
Due: frontend

chore(spa): lint fixes, changeset, and CLAUDE.md update
  .changeset/train2go-bridge.md
  CLAUDE.md
  openspec/changes/train2go-bridge/tasks.md
  packages/workout-spa-editor/src/adapters/train2go/train2go-sport-map.test.ts
  packages/workout-spa-editor/src/components/molecules/BatchProcessingBanner/BatchMessage.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.tsx
  packages/workout-spa-editor/src/components/pages/CalendarEmptyBanners.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-context.tsx
  packages/workout-spa-editor/src/store/train2go-extension-transport.ts
  packages/workout-spa-editor/src/store/train2go-store-actions.ts
  packages/workout-spa-editor/src/store/train2go-store.ts
Due: frontend

feat(spa): integrate coaching activities into calendar with decoupled architecture
  packages/workout-spa-editor/src/adapters/train2go/train2go-mapper.test.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-mapper.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-sport-map.test.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-sport-map.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  packages/workout-spa-editor/src/types/coaching-activity.ts
Due: frontend

test(spa): improve patch coverage for Train2Go integration
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-source.test.ts
  packages/workout-spa-editor/src/components/molecules/BatchProcessingBanner/BatchMessage.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingSyncButton.test.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.test.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-activities.test.ts
  packages/workout-spa-editor/src/store/train2go-extension-transport.test.ts
  packages/workout-spa-editor/src/store/train2go-store-actions.test.ts
Due: frontend

fix(train2go-bridge): address CodeRabbit review comments on PR #286
  eslint.config.js
  packages/train2go-bridge/parser.js
  packages/train2go-bridge/popup.js
  packages/train2go-bridge/test/fixtures/ping-active.json
  packages/train2go-bridge/test/parser.test.js
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-source.test.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-source.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.tsx
  packages/workout-spa-editor/src/contexts/coaching-registry-bootstrap.tsx
  packages/workout-spa-editor/src/store/train2go-extension-transport.test.ts
  packages/workout-spa-editor/src/store/train2go-extension-transport.ts
  packages/workout-spa-editor/src/store/train2go-store-actions.test.ts
  packages/workout-spa-editor/src/store/train2go-store-actions.ts
Due: frontend

chore(openspec): sync specs and archive train2go-bridge
  openspec/changes/archive/2026-04-13-train2go-bridge/.openspec.yaml
  openspec/changes/archive/2026-04-13-train2go-bridge/design.md
  openspec/changes/archive/2026-04-13-train2go-bridge/proposal.md
  openspec/changes/archive/2026-04-13-train2go-bridge/specs/spa-train2go-extension/spec.md
  openspec/changes/archive/2026-04-13-train2go-bridge/specs/train2go-bridge/spec.md
  openspec/changes/archive/2026-04-13-train2go-bridge/tasks.md
  openspec/specs/spa-train2go-extension/spec.md
  openspec/specs/train2go-bridge/spec.md
Due: none

feat(train2go-bridge): add CWS listing assets and generalize CI publishing
  .changeset/publish-train2go-bridge.md
  .github/workflows/cws-publish.yml
  openspec/changes/publish-train2go-bridge/.openspec.yaml
  openspec/changes/publish-train2go-bridge/design.md
  openspec/changes/publish-train2go-bridge/proposal.md
  openspec/changes/publish-train2go-bridge/specs/cws-train2go-listing/spec.md
  openspec/changes/publish-train2go-bridge/tasks.md
  packages/train2go-bridge/cws-privacy-practices.txt
  packages/train2go-bridge/privacy-justification.md
  packages/train2go-bridge/store-listing.md
  scripts/package-extension.sh
  scripts/sync-extension-version.mjs
Due: none

feat(train2go-bridge): add CWS listing assets and generalize CI publishing (#298)
  .changeset/publish-train2go-bridge.md
  .github/workflows/cws-publish.yml
  openspec/changes/publish-train2go-bridge/.openspec.yaml
  openspec/changes/publish-train2go-bridge/design.md
  openspec/changes/publish-train2go-bridge/proposal.md
  openspec/changes/publish-train2go-bridge/specs/cws-train2go-listing/spec.md
  openspec/changes/publish-train2go-bridge/tasks.md
  packages/train2go-bridge/cws-privacy-practices.txt
  packages/train2go-bridge/privacy-justification.md
  packages/train2go-bridge/store-listing.md
  scripts/package-extension.sh
  scripts/sync-extension-version.mjs
Due: none

chore(openspec): sync specs and archive publish-train2go-bridge
  openspec/changes/archive/2026-04-14-publish-train2go-bridge/.openspec.yaml
  openspec/changes/archive/2026-04-14-publish-train2go-bridge/design.md
  openspec/changes/archive/2026-04-14-publish-train2go-bridge/proposal.md
  openspec/changes/archive/2026-04-14-publish-train2go-bridge/specs/cws-train2go-listing/spec.md
  openspec/changes/archive/2026-04-14-publish-train2go-bridge/tasks.md
  openspec/specs/cws-train2go-listing/spec.md
Due: none

chore(train2go-bridge): add CWS store assets and generation script
  packages/train2go-bridge/assets/marquee-promo-1400x560.png
  packages/train2go-bridge/assets/screenshot-1280x800.png
  packages/train2go-bridge/assets/small-promo-440x280.png
  scripts/generate-train2go-store-assets.mjs
Due: none

chore(openspec): add bridge-runtime-discovery change proposal
  openspec/changes/bridge-runtime-discovery/.openspec.yaml
  openspec/changes/bridge-runtime-discovery/design.md
  openspec/changes/bridge-runtime-discovery/proposal.md
  openspec/changes/bridge-runtime-discovery/specs/bridge-runtime-discovery/spec.md
  openspec/changes/bridge-runtime-discovery/specs/spa-bridge-protocol/spec.md
  openspec/changes/bridge-runtime-discovery/specs/spa-garmin-extension/spec.md
  openspec/changes/bridge-runtime-discovery/specs/spa-train2go-extension/spec.md
  openspec/changes/bridge-runtime-discovery/tasks.md
Due: none

chore(openspec): add settings-train2go-bridge change proposal
  openspec/changes/settings-train2go-bridge/.openspec.yaml
  openspec/changes/settings-train2go-bridge/design.md
  openspec/changes/settings-train2go-bridge/proposal.md
  openspec/changes/settings-train2go-bridge/specs/spa-garmin-extension/spec.md
  openspec/changes/settings-train2go-bridge/specs/spa-train2go-extension/spec.md
  openspec/changes/settings-train2go-bridge/tasks.md
Due: none

style: apply prettier formatting to store assets script
  scripts/generate-train2go-store-assets.mjs
Due: none

feat(spa): add Train2Go status to Settings and rename tab to Extensions
  .changeset/settings-train2go-bridge.md
  openspec/changes/bridge-runtime-discovery/design.md
  openspec/changes/bridge-runtime-discovery/proposal.md
  openspec/changes/bridge-runtime-discovery/specs/bridge-runtime-discovery/spec.md
  openspec/changes/settings-train2go-bridge/tasks.md
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/CalendarEmptyStates.test.tsx
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/FirstVisitState.tsx
  packages/workout-spa-editor/src/components/molecules/CalendarEmptyStates/NoBridgesState.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/BridgeStatusRow.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/BridgeStatusRow.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ExtensionsTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminStatus.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/GarminTab.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SettingsPanel.test.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/SettingsPanel.tsx
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/types.ts
Due: frontend

fix(e2e): update settings test for Extensions tab rename
  packages/workout-spa-editor/e2e/settings.spec.ts
Due: none

chore(openspec): sync specs and archive publish-train2go-bridge
  openspec/changes/bridge-runtime-discovery/design.md
Due: none

chore: apply lint formatting to bridge-runtime-discovery design
  openspec/changes/bridge-runtime-discovery/design.md
Due: none

style: apply prettier formatting
  openspec/changes/bridge-runtime-discovery/design.md
  openspec/changes/bridge-runtime-discovery/proposal.md
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/BridgeStatusRow.test.tsx
Due: frontend

chore(train2go-bridge): add CWS store assets and generation script
  openspec/changes/bridge-runtime-discovery/specs/bridge-runtime-discovery/spec.md
Due: none

chore(openspec): sync specs for multi-extension CWS publishing
  openspec/specs/cws-auto-publish/spec.md
  openspec/specs/cws-train2go-listing/spec.md
  openspec/specs/extension-store-publish/spec.md
Due: none

chore(openspec): sync specs and archive settings-train2go-bridge
  openspec/changes/archive/2026-04-15-settings-train2go-bridge/.openspec.yaml
  openspec/changes/archive/2026-04-15-settings-train2go-bridge/design.md
  openspec/changes/archive/2026-04-15-settings-train2go-bridge/proposal.md
  openspec/changes/archive/2026-04-15-settings-train2go-bridge/specs/spa-garmin-extension/spec.md
  openspec/changes/archive/2026-04-15-settings-train2go-bridge/specs/spa-train2go-extension/spec.md
  openspec/changes/archive/2026-04-15-settings-train2go-bridge/tasks.md
  openspec/specs/spa-garmin-extension/spec.md
  openspec/specs/spa-train2go-extension/spec.md
Due: none

fix(e2e): resolve Mobile Safari strict mode violation and timing flake
  packages/workout-spa-editor/e2e/calendar-empty-states.spec.ts
  packages/workout-spa-editor/e2e/helpers/mobile-menu.ts
Due: none

fix(e2e): improve flake fixes from review feedback
  packages/workout-spa-editor/e2e/calendar-empty-states.spec.ts
  packages/workout-spa-editor/e2e/helpers/mobile-menu.ts
  packages/workout-spa-editor/playwright.config.ts
Due: none

fix(e2e): use exact match for bridge status text in settings test
  packages/workout-spa-editor/e2e/settings.spec.ts
Due: none

fix(e2e): resolve Mobile Safari strict mode and timing flake (#291)
  packages/workout-spa-editor/e2e/helpers/mobile-menu.ts
  packages/workout-spa-editor/e2e/settings.spec.ts
  packages/workout-spa-editor/playwright.config.ts
Due: none

fix(spa): context-aware keyboard shortcuts and custom context menu
  .changeset/fix-keyboard-shortcut-hijacking.md
  openspec/changes/fix-keyboard-shortcut-hijacking/.openspec.yaml
  openspec/changes/fix-keyboard-shortcut-hijacking/design.md
  openspec/changes/fix-keyboard-shortcut-hijacking/proposal.md
  openspec/changes/fix-keyboard-shortcut-hijacking/specs/spa-editor-context-menu/spec.md
  openspec/changes/fix-keyboard-shortcut-hijacking/tasks.md
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditActions.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenu.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenuContent.test.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenuContent.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorMenuItem.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/StructuralActions.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-content.types.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-styles.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/index.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutList/SortableRepetitionBlockCard.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/SortableStepCard.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutStepsList.tsx
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/modifier-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/use-app-keyboard-handlers.ts
  packages/workout-spa-editor/src/hooks/use-context-menu-store.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-store-selectors.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.test.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.ts
  packages/workout-spa-editor/src/store/clipboard-store.test.ts
  packages/workout-spa-editor/src/store/clipboard-store.ts
  packages/workout-spa-editor/src/utils/build-clipboard-handlers.ts
  packages/workout-spa-editor/src/utils/build-keyboard-handlers.test.ts
  packages/workout-spa-editor/src/utils/build-keyboard-handlers.ts
  packages/workout-spa-editor/src/utils/build-step-handlers.ts
  packages/workout-spa-editor/src/utils/keyboard-handler-deps.ts
  packages/workout-spa-editor/src/utils/platform.ts
  pnpm-lock.yaml
Due: frontend

chore: apply lint fixes
  openspec/changes/fix-keyboard-shortcut-hijacking/design.md
  pnpm-lock.yaml
Due: none

fix(spa): address CodeRabbit review feedback
  openspec/changes/fix-keyboard-shortcut-hijacking/design.md
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenu.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-styles.ts
  packages/workout-spa-editor/src/utils/platform.ts
Due: frontend

chore: apply prettier formatting to design.md
  openspec/changes/fix-keyboard-shortcut-hijacking/design.md
Due: none

fix(spa): context-aware keyboard shortcuts and custom context menu (#300)
  .changeset/fix-keyboard-shortcut-hijacking.md
  openspec/changes/fix-keyboard-shortcut-hijacking/.openspec.yaml
  openspec/changes/fix-keyboard-shortcut-hijacking/design.md
  openspec/changes/fix-keyboard-shortcut-hijacking/proposal.md
  openspec/changes/fix-keyboard-shortcut-hijacking/specs/spa-editor-context-menu/spec.md
  openspec/changes/fix-keyboard-shortcut-hijacking/tasks.md
  packages/workout-spa-editor/package.json
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditActions.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenu.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenuContent.test.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorContextMenuContent.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/EditorMenuItem.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/StructuralActions.tsx
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-content.types.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/context-menu-styles.ts
  packages/workout-spa-editor/src/components/organisms/EditorContextMenu/index.ts
  packages/workout-spa-editor/src/components/organisms/WorkoutList/SortableRepetitionBlockCard.tsx
  packages/workout-spa-editor/src/components/organisms/WorkoutList/SortableStepCard.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutSection/WorkoutStepsList.tsx
  packages/workout-spa-editor/src/hooks/keyboard-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/modifier-shortcut-handlers.ts
  packages/workout-spa-editor/src/hooks/use-app-keyboard-handlers.ts
  packages/workout-spa-editor/src/hooks/use-context-menu-store.ts
  packages/workout-spa-editor/src/hooks/use-editor-context-menu.ts
  packages/workout-spa-editor/src/hooks/use-keyboard-store-selectors.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.test.ts
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.ts
  packages/workout-spa-editor/src/store/clipboard-store.test.ts
  packages/workout-spa-editor/src/store/clipboard-store.ts
  packages/workout-spa-editor/src/utils/build-clipboard-handlers.ts
  packages/workout-spa-editor/src/utils/build-keyboard-handlers.test.ts
  packages/workout-spa-editor/src/utils/build-keyboard-handlers.ts
  packages/workout-spa-editor/src/utils/build-step-handlers.ts
  packages/workout-spa-editor/src/utils/keyboard-handler-deps.ts
  packages/workout-spa-editor/src/utils/platform.ts
  pnpm-lock.yaml
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
