Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

test(zwo): serialize vitest files to fix flaky XSD validation under load
  .changeset/zwo-xsd-serialize.md
  packages/zwo/vitest.config.ts
Due: none

test(zwo): serialize vitest files to fix flaky XSD validation under load (#837)
  .changeset/zwo-xsd-serialize.md
  packages/zwo/vitest.config.ts
Due: none

test(spa-editor): assert unique center position mapping in OnboardingTutorial
  packages/workout-spa-editor/src/components/organisms/OnboardingTutorial/OnboardingTutorial.test.tsx
Due: frontend

chore(core): reduce to minimal source code
  packages/core/scripts/generate-schema.ts
  packages/core/src/domain/index.ts
  packages/core/src/domain/schemas/index.ts
  packages/core/src/domain/schemas/krd.ts
  packages/core/src/domain/schemas/target-values.ts
Due: core

chore(core): reduce to minimal code
  packages/core/src/domain/converters/workout-to-krd.converter.ts
  packages/core/src/domain/schemas/target-values/cadence.ts
  packages/core/src/domain/schemas/target-values/heart-rate.ts
  packages/core/src/domain/schemas/target-values/pace.ts
  packages/core/src/domain/schemas/target-values/power.ts
  packages/core/src/domain/schemas/target-values/range-refinement.ts
  packages/core/src/domain/validation/extract-workout.ts
  packages/core/src/domain/validation/parse-workout.ts
Due: core

chore(core): add changeset for minimization
  .changeset/smart-masks-pull.md
Due: none

chore(core): reduce to minimal source code (#840)
  packages/core/scripts/generate-schema.ts
  packages/core/src/domain/index.ts
  packages/core/src/domain/schemas/index.ts
  packages/core/src/domain/schemas/krd.ts
  packages/core/src/domain/schemas/target-values.ts
Due: core

chore(core): consolidate duplicated error classes onto shared base classes
  .changeset/core-error-base-dedup.md
  packages/core/src/domain/types/fit-errors.ts
  packages/core/src/domain/types/garmin-errors.ts
  packages/core/src/domain/types/krd-errors.ts
  packages/core/src/domain/types/shared-errors.ts
  packages/core/src/domain/types/tcx-errors.ts
  packages/core/src/domain/types/zwift-errors.ts
Due: core

docs(core): correct FormatParsingError subclass list in doc comment
  packages/core/src/domain/types/shared-errors.ts
Due: core

refactor(core): reduce to minimal code (#841)
  .changeset/core-error-base-dedup.md
  packages/core/src/domain/types/fit-errors.ts
  packages/core/src/domain/types/garmin-errors.ts
  packages/core/src/domain/types/krd-errors.ts
  packages/core/src/domain/types/shared-errors.ts
  packages/core/src/domain/types/tcx-errors.ts
  packages/core/src/domain/types/zwift-errors.ts
Due: core

refactor(fit): dedupe FIT time helper and drop pass-through re-exports
  .changeset/fit-code-reduction.md
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/record/AGENTS.md
  packages/fit/src/adapters/record/fit-to-krd-record.converter.ts
  packages/fit/src/adapters/record/krd-to-fit-record.converter.ts
  packages/fit/src/adapters/record/record.mapper.ts
  packages/fit/src/adapters/session/index.ts
Due: fit

feat(spa-editor): unify nav destinations in one registry and dedupe the mobile header
  packages/workout-spa-editor/src/components/atoms/Icon/icon-map.ts
  packages/workout-spa-editor/src/components/molecules/BottomNav/bottom-nav-tabs.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusHeader.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-button.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/routing/nav-destinations.test.ts
  packages/workout-spa-editor/src/routing/nav-destinations.ts
Due: frontend

feat: add structured telemetry to swallowed bridge errors
  packages/garmin-bridge/background.js
  packages/garmin-bridge/test/background.test.js
  packages/train2go-bridge/background.js
  packages/train2go-bridge/test/background.test.js
Due: none

fix(spa-editor): surface garmin push failures and persist the push outcome
  docs/garmin-push-smoke.md
  packages/workout-spa-editor/src/application/record-garmin-push.test.ts
  packages/workout-spa-editor/src/application/record-garmin-push.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/contexts/garmin-bridge-types.ts
  packages/workout-spa-editor/src/hooks/garmin-bridge-operations.ts
  packages/workout-spa-editor/src/hooks/garmin-push-id.test.ts
  packages/workout-spa-editor/src/hooks/garmin-push-id.ts
  packages/workout-spa-editor/src/hooks/use-garmin-bridge-action-helpers.ts
Due: frontend

feat(spa-editor): deep-link chat tool results and add conversational garmin push
  packages/workout-spa-editor/src/application/chat/append-turn-messages.ts
  packages/workout-spa-editor/src/application/chat/chat-message-mapper.test.ts
  packages/workout-spa-editor/src/application/chat/chat-message-mapper.ts
  packages/workout-spa-editor/src/application/chat/tools/build-chat-tools.test.ts
  packages/workout-spa-editor/src/application/chat/tools/build-chat-tools.ts
  packages/workout-spa-editor/src/application/chat/tools/chat-tool-deps.ts
  packages/workout-spa-editor/src/application/chat/tools/push-to-garmin-tool.ts
  packages/workout-spa-editor/src/components/organisms/Chat/ChatComposer.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatConversation.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatMessageList.test.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatMessageList.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ChatWorkspace.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/ToolResultLinks.tsx
  packages/workout-spa-editor/src/components/organisms/Chat/build-tool-result-links.test.ts
  packages/workout-spa-editor/src/components/organisms/Chat/build-tool-result-links.ts
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/components/pages/WorkoutDetail/WorkoutDetailFooter.tsx
  packages/workout-spa-editor/src/hooks/chat/chat-action-ops-impl.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-resume.ts
  packages/workout-spa-editor/src/hooks/chat/chat-turn-runner.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.test.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
  packages/workout-spa-editor/src/hooks/use-chat-action-ops.ts
  packages/workout-spa-editor/src/routing/adjust-with-ai-href.test.ts
  packages/workout-spa-editor/src/routing/adjust-with-ai-href.ts
  packages/workout-spa-editor/src/routing/back-origin.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.ts
  packages/workout-spa-editor/src/types/chat/chat-message-record.ts
Due: frontend

feat(spa-editor): drive connections UI from verified bridge capabilities
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectedRow.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectionFlows.test.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/ConnectionFlows.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/FlowRow.stories.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/FlowRow.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-config.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-config.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.ts
  packages/workout-spa-editor/src/hooks/use-bridge-capabilities.ts
Due: frontend

feat(whoop): add WHOOP health adapter and OAuth bridge extension
  packages/whoop-bridge/background.js
  packages/whoop-bridge/kaiord-announce.js
  packages/whoop-bridge/manifest.json
  packages/whoop-bridge/package.json
  packages/whoop-bridge/popup.css
  packages/whoop-bridge/popup.html
  packages/whoop-bridge/popup.js
  packages/whoop-bridge/test/chrome-mock.js
  packages/whoop-bridge/test/whoop-oauth.test.js
  packages/whoop-bridge/vitest.config.js
  packages/whoop-bridge/whoop-oauth.js
  packages/whoop/package.json
  packages/whoop/src/adapters/client/recovery-rhr-index.ts
  packages/whoop/src/adapters/client/whoop-health-mappers.ts
  packages/whoop/src/adapters/client/whoop-health-service.test.ts
  packages/whoop/src/adapters/client/whoop-health-service.ts
  packages/whoop/src/adapters/client/whoop-pagination.ts
  packages/whoop/src/adapters/converters/recovery-to-krd.converter.test.ts
  packages/whoop/src/adapters/converters/recovery-to-krd.converter.ts
  packages/whoop/src/adapters/converters/sleep-stages.builder.ts
  packages/whoop/src/adapters/converters/sleep-to-krd.converter.test.ts
  packages/whoop/src/adapters/converters/sleep-to-krd.converter.ts
  packages/whoop/src/adapters/converters/whoop-health-metadata.builder.ts
  packages/whoop/src/adapters/http/types.ts
  packages/whoop/src/adapters/http/urls.ts
  packages/whoop/src/adapters/schemas/whoop-paginated.schema.ts
  packages/whoop/src/adapters/schemas/whoop-recovery.schema.ts
  packages/whoop/src/adapters/schemas/whoop-sleep.schema.ts
  packages/whoop/src/index.ts
  packages/whoop/src/test-utils/fixtures.ts
  packages/whoop/tsconfig.json
  packages/whoop/tsup.config.ts
  packages/whoop/vitest.config.ts
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
Due: none

docs: document the bridge js carve-out and refresh navigation docs
  CLAUDE.md
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/src/routing/AGENTS.md
Due: frontend

feat(spa-editor): show session lifecycle badges on the calendar
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/matched-session-rows.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/DayColumn.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/SessionLifecycleBadges.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/SessionLifecycleBadges.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WellnessBand/WellnessBand.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WellnessBand/WellnessBand.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WorkoutCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WorkoutCard.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/session-lifecycle-defs.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/session-lifecycle.test.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/session-lifecycle.ts
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekList.test.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekList.tsx
Due: frontend

chore: enable knip on the spa workspace and jscpd for plain js
  .jscpd.json
  knip.json
Due: none

fix(whoop-bridge): pin external message origins and normalize fetch paths
  packages/whoop-bridge/background.js
  packages/whoop-bridge/test/background.test.js
Due: none

fix(spa-editor): validate tool-result date type before building calendar link
  packages/workout-spa-editor/src/components/organisms/Chat/build-tool-result-links.ts
Due: frontend

refactor: satisfy spa lint budgets and whoop lint hygiene
  packages/whoop/src/adapters/client/whoop-health-service.test.ts
  packages/whoop/src/adapters/converters/recovery-to-krd.converter.test.ts
  packages/whoop/src/adapters/converters/sleep-to-krd.converter.test.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-config.ts
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/connection-flows.ts
  packages/workout-spa-editor/src/components/organisms/Chat/ChatWorkspace.tsx
  packages/workout-spa-editor/src/components/pages/ChatPage.tsx
  packages/workout-spa-editor/src/hooks/use-chat-action-ops.ts
  packages/workout-spa-editor/src/hooks/use-chat-prefill.ts
  packages/workout-spa-editor/src/hooks/use-push-to-garmin-op.ts
Due: frontend

chore(whoop-bridge): add the bridge tsconfig required by the pre-push typecheck
  packages/whoop-bridge/tsconfig.json
Due: none

refactor(fit): dedupe FIT time helper and drop pass-through re-exports (#843)
  .changeset/fit-code-reduction.md
  packages/fit/src/adapters/messages/activity.mapper.ts
  packages/fit/src/adapters/record/AGENTS.md
  packages/fit/src/adapters/record/fit-to-krd-record.converter.ts
  packages/fit/src/adapters/record/krd-to-fit-record.converter.ts
  packages/fit/src/adapters/record/record.mapper.ts
  packages/fit/src/adapters/session/index.ts
Due: fit

fix(spa-editor): type lifecycle badge icons as LucideIcon
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/session-lifecycle-defs.ts
Due: frontend

fix: address PR review findings across bridges, whoop, and spa
  .changeset/config.json
  openspec/specs/hexagonal-arch/spec.md
  packages/garmin-bridge/background.js
  packages/train2go-bridge/background.js
  packages/whoop-bridge/background.js
  packages/whoop-bridge/popup.js
  packages/whoop-bridge/whoop-oauth.js
  packages/whoop/package.json
  packages/whoop/src/adapters/client/whoop-health-service.ts
  packages/whoop/src/adapters/client/whoop-pagination.ts
  packages/workout-spa-editor/docs/navigation-map.md
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/status-entry-defs.ts
  packages/workout-spa-editor/src/hooks/chat/do-push-to-garmin.ts
  packages/workout-spa-editor/src/hooks/use-chat-prefill.ts
  packages/workout-spa-editor/src/routing/nav-destinations.ts
Due: frontend

chore: sync pnpm-lock.yaml with the whoop workspace:* reference
  pnpm-lock.yaml
Due: none

chore: register whoop scopes in the commitlint vocabulary
  .claude/skills/guidelines/git-strategy/SKILL.md
  commitlint.vocab.mjs
Due: none

perf(spa-editor): cache lifecycle badge rows by facet bitmask
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/SessionLifecycleBadges.tsx
Due: frontend

fix(spa-editor): stop persisting push state from useGarminPush
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.ts
Due: frontend

fix(ci): tolerate the CWS PUBLISHED-projection 400 in wait-published
  scripts/cws-api.test.mjs
  scripts/cws-api/poll.mjs
Due: none

fix(ci): tolerate the CWS PUBLISHED-projection 400 in wait-published (#844)
  scripts/cws-api.test.mjs
  scripts/cws-api/poll.mjs
Due: none

chore: add routines to agents
  AGENTS.md
Due: none

chore: add routines to agents (#846)
  AGENTS.md
Due: none

test(spa-editor): fold same-behaviour cases into it.each and drop redundant tests
  packages/whoop/src/adapters/converters/recovery-to-krd.converter.test.ts
  packages/workout-spa-editor/src/application/record-garmin-push.test.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/GarminPushButton.test.tsx
  packages/workout-spa-editor/src/components/molecules/GarminPushButton/useGarminPush.test.ts
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/StatusHeader/StatusEntryButtons.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WellnessBand/WellnessBand.test.tsx
  packages/workout-spa-editor/src/components/organisms/AthleteConnections/flow-availability.test.ts
  packages/workout-spa-editor/src/components/organisms/Chat/build-tool-result-links.test.ts
  packages/workout-spa-editor/src/routing/resolve-back-target.test.ts
Due: frontend

test(spa-editor): stabilize calendar-perf useMatchedSessions via min-of-N re-fire
  packages/workout-spa-editor/e2e/calendar-performance.spec.ts
Due: none

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
