Repository pablo-albaladejo/kaiord: changes, and which Codecov flags are due for each by the changed paths.
All: core, fit, tcx, zwo, garmin, cli, frontend

fix(spa-editor): redirect legacy SPA bookmarks to /editor/<path> (#406)
  .changeset/fix-spa-legacy-route-redirect.md
  scripts/inject-spa-fallback.mjs
  scripts/inject-spa-fallback.test.mjs
Due: none

openspec: archive fix-spa-router-basename
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/design.md
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/proposal.md
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none

chore: apply lint fixes
  openspec/specs/spa-routing/spec.md
Due: none

openspec: archive fix-spa-router-basename (#408)
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/design.md
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/proposal.md
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/specs/spa-routing/spec.md
  openspec/changes/archive/2026-05-01-fix-spa-router-basename/tasks.md
  openspec/changes/archive/README.md
  openspec/specs/spa-routing/spec.md
Due: none

openspec: propose calendar-coaching-redesign
  openspec/changes/calendar-coaching-redesign/.openspec.yaml
  openspec/changes/calendar-coaching-redesign/design.md
  openspec/changes/calendar-coaching-redesign/proposal.md
  openspec/changes/calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/calendar-coaching-redesign/tasks.md
Due: none

openspec: propose calendar-coaching-redesign (#409)
  openspec/changes/calendar-coaching-redesign/.openspec.yaml
  openspec/changes/calendar-coaching-redesign/design.md
  openspec/changes/calendar-coaching-redesign/proposal.md
  openspec/changes/calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/calendar-coaching-redesign/tasks.md
Due: none

chore(openspec): propose guidelines-compliance-harden
  openspec/changes/guidelines-compliance-harden/.openspec.yaml
  openspec/changes/guidelines-compliance-harden/design.md
  openspec/changes/guidelines-compliance-harden/proposal.md
  openspec/changes/guidelines-compliance-harden/specs/hexagonal-arch/spec.md
  openspec/changes/guidelines-compliance-harden/specs/spa-quality-gates/spec.md
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

chore(openspec): propose guidelines-compliance-harden (#407)
  openspec/changes/guidelines-compliance-harden/.openspec.yaml
  openspec/changes/guidelines-compliance-harden/design.md
  openspec/changes/guidelines-compliance-harden/proposal.md
  openspec/changes/guidelines-compliance-harden/specs/hexagonal-arch/spec.md
  openspec/changes/guidelines-compliance-harden/specs/spa-quality-gates/spec.md
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

chore: apply pre-push formatting
  openspec/changes/fix-coaching-dialog-rules-of-hooks/design.md
  openspec/changes/fix-coaching-dialog-rules-of-hooks/proposal.md
  openspec/changes/fix-coaching-dialog-rules-of-hooks/specs/spa-quality-gates/spec.md
  scripts/check-hook-collection-map-naming.mjs
  scripts/check-hook-collection-map-naming.test.mjs
Due: none

fix(spa-editor): coaching dialog rules-of-hooks crash + react-hooks lint gate
  eslint.config.js
  openspec/changes/fix-coaching-dialog-rules-of-hooks/.openspec.yaml
  openspec/changes/fix-coaching-dialog-rules-of-hooks/design.md
  openspec/changes/fix-coaching-dialog-rules-of-hooks/proposal.md
  openspec/changes/fix-coaching-dialog-rules-of-hooks/specs/analytics-port/spec.md
  openspec/changes/fix-coaching-dialog-rules-of-hooks/specs/spa-coaching-integration/spec.md
  openspec/changes/fix-coaching-dialog-rules-of-hooks/specs/spa-quality-gates/spec.md
  openspec/changes/fix-coaching-dialog-rules-of-hooks/tasks.md
  package.json
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.bootstrap.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityDialog.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/use-coaching-dialog.ts
  packages/workout-spa-editor/src/components/pages/CalendarDialogs.tsx
  packages/workout-spa-editor/src/components/pages/CalendarPage.tsx
  packages/workout-spa-editor/src/hooks/use-coaching-activities.ts
  pnpm-lock.yaml
  scripts/check-hook-collection-map-naming.mjs
  scripts/check-hook-collection-map-naming.test.mjs
  scripts/check-no-pii-leakage.mjs
  scripts/check-no-pii-leakage.test.mjs
Due: frontend

fix(spa-editor): address CodeRabbit findings on PR #405
  eslint.config.js
  openspec/changes/fix-coaching-dialog-rules-of-hooks/tasks.md
  packages/workout-spa-editor/src/components/organisms/SettingsPanel/ExtensionsTab.tsx
  packages/workout-spa-editor/src/contexts/garmin-bridge-context.tsx
  packages/workout-spa-editor/src/hooks/useKeyboardShortcuts.ts
  packages/workout-spa-editor/src/hooks/useToast.ts
  scripts/check-hook-collection-map-naming.mjs
  scripts/check-hook-collection-map-naming.test.mjs
Due: frontend

chore: apply prettier drift on rebased openspec files
  openspec/changes/calendar-coaching-redesign/design.md
  openspec/changes/calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/calendar-coaching-redesign/tasks.md
Due: none

chore: apply prettier drift on rebased openspec files
  openspec/changes/guidelines-compliance-harden/design.md
  openspec/changes/guidelines-compliance-harden/specs/hexagonal-arch/spec.md
  openspec/changes/guidelines-compliance-harden/specs/spa-quality-gates/spec.md
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

chore: apply prettier drift on rebased openspec files
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

chore: revert openspec drift on unrelated changes
  openspec/changes/calendar-coaching-redesign/design.md
  openspec/changes/calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/calendar-coaching-redesign/tasks.md
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

feat(core): add ProfileSnapshot DTO + fingerprint + STALE constant
  .changeset/bridge-popup-redesign-core-snapshot-schema.md
  openspec/changes/bridge-popup-redesign/.openspec.yaml
  openspec/changes/bridge-popup-redesign/design.md
  openspec/changes/bridge-popup-redesign/proposal.md
  openspec/changes/bridge-popup-redesign/specs/extension-store-publish/spec.md
  openspec/changes/bridge-popup-redesign/specs/garmin-bridge/spec.md
  openspec/changes/bridge-popup-redesign/specs/spa-bridge-protocol/spec.md
  openspec/changes/bridge-popup-redesign/specs/train2go-bridge/spec.md
  openspec/changes/bridge-popup-redesign/tasks.md
  packages/core/src/index.ts
  packages/core/src/test-utils/index.ts
  packages/core/src/test-utils/profile-snapshot-fixtures.ts
  packages/core/src/types/profile-snapshot.test.ts
  packages/core/src/types/profile-snapshot.ts
Due: core

chore: apply prettier drift from calendar-coaching-redesign
  openspec/changes/calendar-coaching-redesign/design.md
  openspec/changes/calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/calendar-coaching-redesign/tasks.md
Due: none

chore: apply prettier whitespace fixes to spec docs
  openspec/changes/calendar-coaching-redesign/design.md
  openspec/changes/calendar-coaching-redesign/specs/spa-calendar/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-coaching-integration/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-session-match/spec.md
  openspec/changes/calendar-coaching-redesign/specs/spa-user-preferences/spec.md
  openspec/changes/calendar-coaching-redesign/tasks.md
Due: none

chore: apply prettier whitespace fixes to unrelated openspec docs
  openspec/changes/guidelines-compliance-harden/design.md
  openspec/changes/guidelines-compliance-harden/specs/hexagonal-arch/spec.md
  openspec/changes/guidelines-compliance-harden/specs/spa-quality-gates/spec.md
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

chore(scripts): mapper-no-tests, converter-has-tests, husky-no-bypass guards (PR1 partial)
  .husky/pre-commit
  openspec/changes/guidelines-compliance-harden/tasks.md
  package.json
  scripts/check-converter-has-tests.mjs
  scripts/check-converter-has-tests.test.mjs
  scripts/check-husky-no-bypass-hint.mjs
  scripts/check-husky-no-bypass-hint.test.mjs
  scripts/check-mapper-no-tests.mjs
  scripts/check-mapper-no-tests.test.mjs
  scripts/lib/find-package-files.mjs
Due: none

chore(scripts): package-deps guard + architecture vocab module (PR1 partial)
  .claude/skills/guidelines/architecture-hexagonal/SKILL.md
  openspec/changes/guidelines-compliance-harden/tasks.md
  package.json
  scripts/architecture.vocab.mjs
  scripts/check-package-deps.mjs
  scripts/check-package-deps.test.mjs
Due: none

chore(scripts): architecture boundary guard (PR1 partial)
  openspec/changes/guidelines-compliance-harden/tasks.md
  package.json
  scripts/check-architecture.mjs
  scripts/check-architecture.test.mjs
Due: none

chore(scripts): no-unconditional-skip guard (PR1 partial)
  openspec/changes/guidelines-compliance-harden/tasks.md
  package.json
  scripts/check-no-unconditional-skip.mjs
  scripts/check-no-unconditional-skip.test.mjs
Due: none

chore(scripts): prettier tasks.md formatting
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

chore(scripts): commitlint + allowlists-empty + CI backstop (PR1 final)
  .claude/skills/guidelines/git-strategy/SKILL.md
  .github/workflows/ci.yml
  .husky/commit-msg
  commitlint.config.mjs
  commitlint.vocab.mjs
  openspec/changes/guidelines-compliance-harden/tasks.md
  package.json
  pnpm-lock.yaml
  scripts/check-allowlists-empty.mjs
  scripts/check-allowlists-empty.test.mjs
  scripts/check-commitlint-config.test.mjs
Due: none

chore(scripts): prettier idempotent fixes
  openspec/changes/guidelines-compliance-harden/tasks.md
Due: none

chore(scripts): apply prettier formatting fixes
  .claude/skills/guidelines/architecture-hexagonal/SKILL.md
  .claude/skills/guidelines/git-strategy/SKILL.md
  openspec/changes/guidelines-compliance-harden/tasks.md
  scripts/check-allowlists-empty.mjs
  scripts/check-allowlists-empty.test.mjs
  scripts/check-architecture.mjs
  scripts/check-architecture.test.mjs
  scripts/check-commitlint-config.test.mjs
  scripts/check-converter-has-tests.mjs
  scripts/check-husky-no-bypass-hint.test.mjs
  scripts/check-mapper-no-tests.mjs
  scripts/check-no-unconditional-skip.mjs
  scripts/check-no-unconditional-skip.test.mjs
  scripts/check-package-deps.mjs
  scripts/check-package-deps.test.mjs
Due: none

fix(scripts): filter check-package-deps freshness test by package.json presence
  scripts/check-package-deps.test.mjs
Due: none

fix(ci): deep-clone in lint job so commitlint backstop has revision range
  .github/workflows/ci.yml
Due: none

chore(scripts): mechanical guards for guideline rules (#414)
  .claude/skills/guidelines/architecture-hexagonal/SKILL.md
  .claude/skills/guidelines/git-strategy/SKILL.md
  .github/workflows/ci.yml
  .husky/commit-msg
  .husky/pre-commit
  commitlint.config.mjs
  commitlint.vocab.mjs
  openspec/changes/guidelines-compliance-harden/tasks.md
  package.json
  pnpm-lock.yaml
  scripts/architecture.vocab.mjs
  scripts/check-allowlists-empty.mjs
  scripts/check-allowlists-empty.test.mjs
  scripts/check-architecture.mjs
  scripts/check-architecture.test.mjs
  scripts/check-commitlint-config.test.mjs
  scripts/check-converter-has-tests.mjs
  scripts/check-converter-has-tests.test.mjs
  scripts/check-husky-no-bypass-hint.mjs
  scripts/check-husky-no-bypass-hint.test.mjs
  scripts/check-mapper-no-tests.mjs
  scripts/check-mapper-no-tests.test.mjs
  scripts/check-no-unconditional-skip.mjs
  scripts/check-no-unconditional-skip.test.mjs
  scripts/check-package-deps.mjs
  scripts/check-package-deps.test.mjs
  scripts/lib/find-package-files.mjs
Due: none

refactor(core): relocate FIT SDK ambient types to fit package
  openspec/changes/guidelines-compliance-harden/tasks.md
  packages/core/src/types/garmin-fitsdk.d.ts
  scripts/check-architecture.mjs
  scripts/check-architecture.test.mjs
Due: core

refactor(core): relocate FIT SDK ambient types to fit package (#417)
  openspec/changes/guidelines-compliance-harden/tasks.md
  packages/core/src/types/garmin-fitsdk.d.ts
  scripts/check-architecture.mjs
  scripts/check-architecture.test.mjs
Due: core

chore(scripts): mapper-to-converter rename driven by guideline guards
  openspec/changes/guidelines-compliance-harden/tasks.md
  packages/fit/src/adapters/course/course-messages.creator.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target.mapper.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.ts
  packages/fit/src/adapters/messages/activity-messages.creator.ts
  packages/garmin/docs/IMPLEMENTATION.md
  packages/garmin/docs/README.md
  packages/garmin/src/adapters/converters/executable-step.converter.ts
  packages/garmin/src/adapters/converters/garmin-repetition.converter.test.ts
  packages/garmin/src/adapters/converters/garmin-repetition.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.test.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/garmin-writer.ts
  packages/garmin/src/adapters/mappers/target.converter.test.ts
  packages/garmin/src/adapters/mappers/target.converter.ts
  packages/garmin/src/index.ts
  packages/tcx/src/adapters/duration/duration-walker.converter.test.ts
  packages/tcx/src/adapters/duration/duration-walker.converter.ts
  packages/tcx/src/adapters/target/target.mapper.ts
  packages/tcx/src/adapters/target/tcx-target-walker.converter.test.ts
  packages/tcx/src/adapters/target/tcx-target-walker.converter.ts
  packages/tcx/src/adapters/workout/step.converter.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-record-to-activity.converter.test.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-record-to-activity.converter.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-record.converter.test.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-source.ts
  packages/zwo/src/adapters/krd-to-zwift.converter.test.ts
  packages/zwo/src/adapters/zwift-to-krd.converter.test.ts
  scripts/check-converter-has-tests.mjs
  scripts/check-converter-has-tests.test.mjs
  scripts/check-mapper-no-tests.mjs
  scripts/check-mapper-no-tests.test.mjs
Due: fit, tcx, zwo, garmin, frontend

test(zwo): tighten zwift-to-krd characterization on author/description
  packages/zwo/src/adapters/zwift-to-krd.converter.test.ts
Due: zwo

fix(scripts): preserve original extension in R-ConverterHasTests diagnostic
  scripts/check-converter-has-tests.mjs
Due: none

chore(scripts): mapper-to-converter rename driven by guideline guards (#418)
  openspec/changes/guidelines-compliance-harden/tasks.md
  packages/fit/src/adapters/course/course-messages.creator.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-metadata.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-heart-rate.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.test.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target-power.converter.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit-target.mapper.ts
  packages/fit/src/adapters/krd-to-fit/krd-to-fit.converter.ts
  packages/fit/src/adapters/messages/activity-messages.creator.ts
  packages/garmin/docs/IMPLEMENTATION.md
  packages/garmin/docs/README.md
  packages/garmin/src/adapters/converters/executable-step.converter.ts
  packages/garmin/src/adapters/converters/garmin-repetition.converter.test.ts
  packages/garmin/src/adapters/converters/garmin-repetition.converter.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.test.ts
  packages/garmin/src/adapters/converters/garmin-workout-step.converter.ts
  packages/garmin/src/adapters/converters/krd-to-garmin.converter.ts
  packages/garmin/src/adapters/garmin-writer.ts
  packages/garmin/src/adapters/mappers/target.converter.test.ts
  packages/garmin/src/adapters/mappers/target.converter.ts
  packages/garmin/src/index.ts
  packages/tcx/src/adapters/duration/duration-walker.converter.test.ts
  packages/tcx/src/adapters/duration/duration-walker.converter.ts
  packages/tcx/src/adapters/target/target.mapper.ts
  packages/tcx/src/adapters/target/tcx-target-walker.converter.test.ts
  packages/tcx/src/adapters/target/tcx-target-walker.converter.ts
  packages/tcx/src/adapters/workout/step.converter.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-record-to-activity.converter.test.ts
  packages/workout-spa-editor/src/adapters/train2go/coaching-record-to-activity.converter.ts
  packages/workout-spa-editor/src/adapters/train2go/train2go-record.converter.test.ts
  packages/workout-spa-editor/src/adapters/train2go/use-train2go-source.ts
  packages/zwo/src/adapters/krd-to-zwift.converter.test.ts
  packages/zwo/src/adapters/zwift-to-krd.converter.test.ts
  scripts/check-converter-has-tests.mjs
  scripts/check-converter-has-tests.test.mjs
  scripts/check-mapper-no-tests.mjs
  scripts/check-mapper-no-tests.test.mjs
Due: fit, tcx, zwo, garmin, frontend

feat(spa-editor): rebuild calendar card visual language (CardShell + 3 variants)
  packages/workout-spa-editor/src/components/molecules/CardShell/CardShell.stories.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/CardShell.test.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/CardShell.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/contrast.test.ts
  packages/workout-spa-editor/src/components/molecules/CardShell/shared-visual-contract.test.tsx
  packages/workout-spa-editor/src/components/molecules/CardShell/status-tokens.test.ts
  packages/workout-spa-editor/src/components/molecules/CardShell/status-tokens.ts
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/CoachingCard/CoachingActivityCard.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.stories.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/MatchedSessionCard.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/matched-session-rows.tsx
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/matched-session-text.ts
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WorkoutCard.test.tsx
  packages/workout-spa-editor/src/components/molecules/WorkoutCard/WorkoutCard.tsx
  packages/workout-spa-editor/src/components/pages/CalendarWeekGrid.test.tsx
Due: frontend

fix(spa-editor): apply CodeRabbit review on cards
  packages/workout-spa-editor/src/components/molecules/CardShell/status-tokens.ts
  packages/workout-spa-editor/src/components/molecules/MatchedSessionCard/matched-session-rows.tsx
Due: frontend

Path conditions:
  core: any of: packages/core/src/
  fit: any of: packages/fit/src/
  tcx: any of: packages/tcx/src/
  zwo: any of: packages/zwo/src/
  garmin: any of: packages/garmin/src/
  cli: any of: packages/cli/src/
  frontend: any of: packages/workout-spa-editor/src/
